[2022-02-03 20:28] mousaq92 opened #901 "Netlists Do Not Match"
Hello,

I am trying to run the openlane flow on a small design using the Skywater PDK. I get a "Netlists do not match" error. How can I resolve this issue?

Thanks,

Mousa

[2022-02-03 20:40] armleo commented on #901
More information is required. Please follow the issue template. We can't help because: We dont have any information about you design, tool versions, openlane version, etc

[2022-02-03 20:50] mousaq92 commented on #901
Thank you for your reply. There are LVS errors in the design according to Netgen LVS. I am not sure where to find the issue template. I'm assuming that this issue is because of device merging. It is unable to recognize some of the devices in Sky130. I pulled openlane this week.

[2022-02-03 20:52] armleo commented on #901
When you click on "new issue" you can see two options. Select the one matching the bug. In the created window it will have title / description. Fill out all the information in description including your tarball containing your design.

[2022-02-04 00:53] d-m-bailey commented on #901
@mousaq92 can you post your LVS results file or maybe your repo so we can duplicate the results?

[2022-02-04 18:08] dralabeing commented on #901
@mousaq92 Please resubmit your testcase based on the required input template format

[2022-02-07 19:45] maliberty opened #906 "sky130hs fails on diode error"
### Description
If I run gcd with sky130hs (using #905 ) I get:

[code]
### Environment
Head of master

### Reproduction Material
In description / GH

### Expected behavior
No error

### Logs

[2022-02-07 19:46] tdene commented on #906
I believe this is caused by [https://github.com/google/skywater-pdk/issues/358](https://github.com/google/skywater-pdk/issues/358)

[2022-02-07 20:05] tdene opened #907 "Add "quick_run" recipe to Makefile to allow for easy outside scripting"
### Prompt
The OpenLane flow works well from inside its Docker container.

A valuable use-case, however, is running OpenLane via script, for example on procedurally-generated designs.

The current way of running OpenLane on a design is:

`make mount`
`./flow.tcl -design X`

This can be simplified down to a single Makefile recipe.

At the same time, as far as the submitter of this issue can see, th

[2022-02-07 20:31] mithro commented on #907
FYI - @proppy @ethanmoon

[2022-02-07 21:29] QuantamHD commented on #907
@mithro I don't own @EthanMoon

[2022-02-09 04:53] armleo opened #909 "[mpw5a] OpenLane global router segfaults"
### Description
I don't really know why but Global Router is crashing if there is a pin in top level verilog that has the same name as the pin in .def.

Logically if the pin does not exist in .def then it has to be placed, and if it exists in .def but not on top level, it should issue a warning. However in this edge case, we specify in .def and in top level a pin that matches power/ground. Generat

[2022-02-09 05:29] maliberty commented on #909
Please package a reproducable test case per https://github.com/The-OpenROAD-Project/OpenLane/blob/master/docs/source/using_or_issue.md

@donn I thought this was autogenerated now with a message?

[2022-02-09 05:37] donn commented on #909
@maliberty This is on the mpw-5a, a version from November. We'd have to reproduce this on a reasonably recent version first.

[2022-02-09 05:39] donn commented on #907
Good changes, can you please put them in a PR?

[2022-02-09 05:39] donn commented on #901
You're all very diplomatic. Here's how I deal with issues that ignore the template:

[2022-02-09 05:39] #901 closed

[2022-02-09 05:42] donn commented on #898
Magic will need a little more doing. I've went ahead and upped netgen for now.

[2022-02-09 11:15] tdene commented on #907
Thanks @donn !
See #910

[2022-02-10 01:09] mballance opened #911 "[mpw-4] Memory corruption in openroad triggered by changing density target"
### Description
I'm sweeping the target density on a register RAM using the mpw-4 snapshot of Openlane. When I have the target density at 0.55, there is insufficient space in the area I've specified (fine). When I increase the target density to 0.65, openroad reports memory corruption during the "report_tns" step:

[code]

### Environment
[code]

### Reproduction Material
I'm attaching the reprodu

[2022-02-10 04:50] armleo commented on #909
[RUN_2022.02.09_04.44.48_groute_packaged.tar.gz](https://github.com/The-OpenROAD-Project/OpenLane/files/8038121/RUN_2022.02.09_04.44.48_groute_packaged.tar.gz)

IDK what this gives, but here it is. my zip contained all of the files in question anyway.

[2022-02-10 17:20] armleo opened #912 "[mpw-5] OpenLane errors out: [ERROR DRT-0074] No ap for PIN/fastio_in[16]."
### Description
mpw5a caravel based OpenLane installation.
OpenLane errors out: [ERROR DRT-0074] No ap for PIN/fastio_in[16].

I examined DEF/GDS and everything. There seems no reason for this to happen.

Things I checked:
1. Pin is located inside die area from config.tcl or def die area, which are exactly the same.
2. I suspected that the pin was too small, but increasing or decreasing pin width

[2022-02-10 19:57] maliberty commented on #912
Your pin is off the manufacturing grid:

    - fastio_in[16] + NET fastio_in[16] + DIRECTION INPUT + USE SIGNAL
      + PORT
        + LAYER met2 ( -140 -2000 ) ( 140 2000 )
        + FIXED ( 122434 **3193985** ) N ;

See "MANUFACTURINGGRID 0.005 ;" in your LEF.  Since the pin shape itself is illegal no valid access can be made to it.

[2022-02-10 19:59] maliberty commented on #912
How was your pin placement generated?

[2022-02-10 20:20] maliberty commented on #912
Your script is quite complicated and hard to follow.  However 122.434 from DEF  is nowhere near
puts [expr 329.99000 - 189.52 + 69.785 + 0.28]
210.535

So you must have a bug.  That isn't rounding error.

[2022-02-10 20:23] maliberty commented on #912
I think you are looking at the wrong pin:

 puts [expr 241.89 - 189.52 + 69.785 + 0.28]
122.43499999999997

shows the issue.  Try
set pos [expr 241.89 - 189.52 + 69.785 + 0.28]
puts [expr round($pos * 1000) / 1000.0]
122.435

[2022-02-10 20:25] armleo commented on #912
I think it was fixed. Found the code line: https://github.com/The-OpenROAD-Project/OpenROAD/blob/9afb4fd0ca5fe8568c32aac33847211b9689800a/src/ppl/src/IOPlacer.tcl#L288

How to know if this commit made to the OpenRoad used by me?

[2022-02-10 21:33] maliberty commented on #912
EDA layout tools generally use integer DBU to avoid such floating point issues (see https://github.com/The-OpenROAD-Project/OpenROAD/blob/master/docs/contrib/DatabaseMath.md).

The router has an internal check but it is more to make sure that it isn't creating such problems rather than checking user inputs.  We could apply it to the user pins as a pre-check.  I'll open an issue for that.

I'm not

[2022-02-10 21:36] maliberty commented on #912
https://github.com/The-OpenROAD-Project/OpenROAD/issues/1634

[2022-02-11 05:14] citdemond opened #913 "run_cts error on OpenLane design backend implementation using techno Tower 180nm PDK"
### Description
Used OpenLane interactive flow. prep -design, run_synthesis, run_floorplan and run_placement finished OK but run_cts failed.

### Environment
[code]
Add any relevant logs here. Please do ensure they're enclosed by the triple-backticks.
[code]

[2022-02-11 05:18] maliberty commented on #913
Please package a standalone test case with https://github.com/The-OpenROAD-Project/OpenLane/blob/master/docs/source/using_or_issue.md

[2022-02-11 06:30] citdemond commented on #913
Hi maliberty,
Thank you for your quick response in this matter.

As you requested here is attached the "a standalone test case with https://github.com/The-OpenROAD-Project/OpenLane/blob/master/docs/source/using_or_issue.md"

[build.zip](https://github.com/The-OpenROAD-Project/OpenLane/files/8046340/build.zip)

Best Regards

[2022-02-11 06:32] citdemond commented on #913
Sorry, I closed this issue by mistake. It is still open .....

[2022-02-11 07:22] maliberty commented on #913
You have
`export CTS_CLK_BUFFER_LIST='CLKBUF_X2_18_SVT_WB CLKBUF_X4_18_SVT_WB CLKBUF_X8_18_SVT_WB CLKBUF_X16_18_SVT_WB';
`
but in LIB_CTS (='./tmp/cts/cts.lib') you have no such cells as they are marked:
`  /* removed CLKBUF_X2_18_SVT_WB */
...
`

We should have a proper error message but your cts.lib is messed up.

[2022-02-11 07:23] maliberty commented on #913
@eder-matheus please improve the error handling

[2022-02-11 07:25] maliberty commented on #913
Just out of curiosity, what process is this?

[2022-02-11 09:00] #913 closed

[2022-02-11 09:56] vijayank88 opened #914 "Yosys crashes when reading abc.script with return code: 134"
### Description
run_synthesis failed while executing abc.script

### Environment
[code]

### Reproduction Material
* Upload a tarball containing the relevant design.
[multi_encoder_prj.zip](https://github.com/The-OpenROAD-Project/OpenLane/files/8047575/multi_encoder_prj.zip)

* List the commands used to run the design.
Extract zip file and place `multi_encoder_prj` inside OpenLane/designs/
Inside

[2022-02-11 16:03] jimbo1990 opened #915 "PDK installation error"
### Description
I am having problems installing the PDKs it seems as thought it is trying to install the pdks to /home/username/OpenLane/pdks/skywater-pdk/ instead of  /home/username/OpenLane/pdks/sky130A, hence it gives me an error. Im not expert in linux at all so any help would be appreciated .

Thanks

### Environment
`Kernel: Linux v5.10.16.3-microsoft-standard-WSL2
Distribution: opensuse-lea

[2022-02-12 06:49] vijayank88 commented on #915
@jimbo1990 Try this documentation https://github.com/The-OpenROAD-Project/OpenLane/blob/master/docs/source/manual_pdk_installation.md

[2022-02-12 14:17] proppy commented on #898
@donn what would be missing to update magic (I'd be happy to help).
@antonblanchard can you detail the LVS issue you're hitting (I'm getting some to using w/ the latest version of `magic` + `open_pdks` and I'm curious if those are related)

[2022-02-12 19:16] armleo commented on #912
@maliberty

Hi,

Issue still persists. Called:

[code]

Which results in following lines in DEF:

[code]

[2022-02-13 04:25] donn commented on #915
We'd need the logs for `make pdk` as well, plus what steps you're executing exactly.

The PDK builds in two steps: skywater-pdk and then sky130 pdk. It will thus create multiple folders.

[2022-02-13 04:32] #514 closed

[2022-02-13 05:24] maliberty commented on #912
I just tried

[code]
and see
[code]
so I can't reproduce your issue.  Please try with the latest openroad.

[2022-02-13 05:36] donn commented on #898
@proppy See my PR

[2022-02-13 14:20] armleo commented on #912
Could you try the mpw5a version? I am not not upstream version.

[2022-02-13 15:28] armleo commented on #912
Okay. Just so you know, this is not critical right now, as a workaround has been made.
For upstream I will implement a warning for this in the current apply def template. As for OpenRoad, you already created an issue.

[2022-02-14 12:43] donn commented on #146
Klayout's been built as an OpenLane tool proper. That was the last obstacle- now I need to just boot up the Graviton instance and test...

[2022-02-14 16:24] maliberty commented on #909
- VPWR + NET VPWR + DIRECTION INOUT + USE SIGNAL  <- INTENTIONALLY DECLARED

This should be USE POWER not USE SIGNAL.  I think want pdngen to build a power grid not a signal router to make point to point connections.

[2022-02-14 16:49] armleo commented on #909
This issue is about segfault. "OpenLane should not crash no matter how bad the input is". There is multiple solutions to this otherwise.

[2022-02-14 17:01] maliberty commented on #909
When run with the latest OR there is no segv so there is nothing to fix.  I was just pointing out this probably won't do what you want in any case.

[2022-02-14 17:10] donn commented on #909
We'll keep the issue open for reference until mpw-5a is over.

[2022-02-14 18:54] mdzakirhussain opened #920 "Updating OpenLane not working"
### Description
I am just follwing the steps to update openlane. But it fails.

### Environment

[code]

### Logs
[code]

[2022-02-14 20:05] tdene opened #921 "Running `make pdk` causes an error if the PDK is already installed"
### Description
Upon cloning the OpenLane repo, one of the steps that must be done is `make pdk`.

This Makefile recipe clones the correct repository and installs a PDK locally.

Attempting to run this Makefile recipe again, such as for the purposes of installing a new PDK or updating, leads to an error.
This is due to the old PDK installation now existing, blocking the Makefile recipe [here](http

[2022-02-14 20:14] tdene commented on #920
This seems related to #921, and thus also linked to #922

[2022-02-14 20:46] #921 closed

[2022-02-14 21:05] RTimothyEdwards opened #923 "OpenLane fails when used with pre-built PDK"
### Description

Setup: Caravel user project is configured with PDK_ROOT pointed to a pre-installed version of the sky130 PDK from open_pdks

Problem: When running "make user_proj_example", I get the error shown in "Logs", below.

The problem is that OpenLane is looking for a file called SOURCES in directory sky130A. There is no such file created by or installed by open_pdks. OpenLane may not just

[2022-02-14 23:28] tdene commented on #920
@mdzakirhussain This issue seems to have been resolved with #922 on my end

Can you confirm as well?

[2022-02-15 02:49] mdzakirhussain commented on #920
I am still getting the following

student@student-VirtualBox:~/openlane$ sudo make test
[sudo] password for student:
cd /home/student/openlane && \
	docker run --rm -v /home/student/openlane:/openlane -v /home/student/openlane/designs:/openlane/install -v /home/student/openlane/pdks:/home/student/openlane/pdks -e PDK_ROOT=/home/student/openlane/pdks -e STD_CELL_LIBRARY=sky130_fd_sc_hd --user 0:0 -

[2022-02-15 05:28] vijayank88 commented on #920
@mdzakirhussain
[ERROR]: Tool klayout is required by the flow scripts being used, but appears to not be installed in the environment.

Install klayout and try again

[2022-02-15 05:43] mdzakirhussain commented on #920
@vijayank88

The whole tools comes inside the flow called openlane, this openlane runs in a docker container. Though I have in my system klayout installed, that klayout should come inside the docker container.  It means when we clone the openlane repository and follow installation, klayout needs to be included in that repository so that it comes inside the docker container.

[2022-02-15 07:41] vijayank88 commented on #920
@mdzakirhussain
please try `make mount` followed by `./flow.tcl -design spm` works or not?

[2022-02-15 09:13] mdzakirhussain commented on #920
@vijayank88,

I already had tried that, but ended up with the same problem.

[2022-02-15 09:14] mdzakirhussain commented on #920
@vijayank88,

I already had tried that, but ended up with the same problem.

[2022-02-15 09:53] vijayank88 commented on #920
@mdzakirhussain
We are not able to reproduce this issue at our end.
Please try to install in new directory, if same issue repeats provide detailed installation steps and logs

[2022-02-16 15:22] kareefardi opened #925 "Add more files to finishing directory"
### Prompt

These are the files in finishing directory:
[code]
Some views/artifacts are missing, such as `.v`, `.sdc` and `.sdf`.

### Proposal

Add missing views/artifacts to finishing directory.

[2022-02-16 23:51] kareefardi opened #927 "pins placed by ./scripts/io_place.py are not always equally spaced"
### Description
When setting `FP_PIN_ORDER_CFG`, ./scripts/io_place.py runs. In (rare) cases, the pins placed are not equidistant from each other.

### Environment
[code]

### Reproduction Material
Extract the contents of the attached tarball to `openlane/designs/housekeeping`. Then, run the flow normally till floorplan stage.
West-side pins aren't equidistant. The distance between pin is alternat

[2022-02-17 00:04] kareefardi opened #928 "openroad detailed router crash"
### Description
Crash at detailed routing.

### Environment
[code]

### Reproduction Material
`openroad_issue_reproducible.tar.gz` automatically created by openlane.

### Expected behavior
An actual error message.

### Logs
A section of the detailed router log:
[code]
[openroad_issue_reproducible.tar.gz](https://github.com/The-OpenROAD-Project/OpenLane/files/8084430/openroad_issue_reproducible.tar

[2022-02-17 10:52] nguyendao-uom opened #929 "[mpw-5] Segmentation fault during repair_antennas"
### Description
Segmentation fault during groute without any further warnings/errors for debugging

### Environment
[code]

### Reproduction Material
Run command:
1. make mount
2. bash-4.2$ ./flow.tcl -design fabric_3x4 -tag fabric_3x4 -overwrite

[fabric_3x4_groute_packaged.tar.gz](https://github.com/The-OpenROAD-Project/OpenLane/files/8087973/fabric_3x4_groute_packaged.tar.gz)

### Expected beha

[2022-02-17 11:01] nguyendao-uom commented on #929
Hi @maliberty,
It seems that the recent OpenLane version still doesn't resolve the routing problem for FPGA fabric designs. I'm trying to stitch a small fabric but couldn't pass the groute step. There is no helpful warnings/errors that can be used for debugging. Please check the testcase and let me know what's wrong with the design/flow? Thanks.

[2022-02-17 11:37] vijayank88 commented on #929
@nguyendao-uom
`OpenLane Git Version: 2021.11.23_01.42.34` its an older version. Please try with latest version `[2022.02.16_01.55.24](https://github.com/The-OpenROAD-Project/OpenLane/releases/tag/2022.02.16_01.55.24)`and still facing the issue, do attach updated tar file.

[2022-02-17 11:46] nguyendao-uom commented on #929
Hi @vijayank88, I used all default tags mpw-5a from caravel_user_project, also there is a suggestion on Slack that we should not change openlane version otherwise the flow can be broken(?)

[2022-02-17 11:50] nguyendao-uom commented on #929
Sorry, please ignore the above comment, that's applied for the pdks only. I'll update the openlane and re-run the test.

[2022-02-17 12:06] vijayank88 commented on #929
@nguyendao-uom thanks for the update.
@maliberty  @donn
Even with latest OR App error repeats.
[code]

[2022-02-17 19:09] mousaq92 opened #930 "Choosing a Synthesis Strategy"
Hello,

Below is a screenshot of a synthesis exploration that I have done on spm. According to the OpenLane documentation, there is a SYNTH_STRATEGY variable that can be used in config.tcl to choose a synthesis strategy. This SYNTH_STRATEGY variable can only be set using "DELAY 0" or "AREA 1" for example.

My question is: how can I choose any of the strategies in the image below? For example how c

[2022-02-17 23:38] maliberty commented on #930
I ran into the same question today.  The strategies are poorly labelled but  there seem to be 4 delay and 3 area strategies in that order.  I think the labelling should be

DELAY 1
DELAY 2
DELAY 3
DELAY 4
AREA 1
AREA 2
AREA 3

I haven't tested it yet though.

[2022-02-17 23:39] maliberty commented on #930
@donn This looks like both a doc issue and an enhancement to the labelling.

Also the docs says "summary report under reports that compares the 4 outputs." which there are now 7 outputs.

[2022-02-18 04:01] antonblanchard opened #932 "Update OpenROAD to fix LVS issue"
Hi @donn, I hate to ask for yet another update, but I'm hitting the following OpenROAD issue on a few of my designs:

https://github.com/The-OpenROAD-Project/OpenROAD/issues/1577

This is now fixed upstream so an update of OpenROAD should fix it.

[2022-02-18 11:18] #909 closed

[2022-02-18 11:18] #932 closed

[2022-02-18 11:26] donn commented on #932
Never apologize for being helpful. Thank you.

[2022-02-18 14:02] #898 closed

[2022-02-18 14:05] donn commented on #920
Fixed in master- for your specific situation, just `rm -rf /home/student/openlane2/OpenLane/pdks/skywater-pdk`.

[2022-02-18 14:05] #920 closed

[2022-02-18 14:05] donn commented on #925
So, I forgot that I created a folder called "final" that does exactly that.

Oops.

[2022-02-18 14:05] #925 closed

[2022-02-18 14:07] #911 closed

[2022-02-18 19:47] tdene opened #934 "OpenLane causing magic version mis-match due to lack of updated docker image"
### Description
Commit 58f206f updates OpenLane to depend on more recent versions of its requirements.<br>
It, however, is not accompanied by a tag.

Under the current environment, a fresh pull of OpenLane will use the docker image at tag [2022.02.18_02.15.00](https://github.com/The-OpenROAD-Project/OpenLane/releases/tag/2022.02.18_02.15.00), but require the more recent versions of open_pdks and m

[2022-02-18 21:09] allanjimegonza opened #935 "Issue setting up sky130 PDK (make pdk)"
Hi! I was wondering if someone else is having trouble setting up sky130 in the installation process (running "make pdk"). The error I'm having is related with the the magic version. Here is the output of the console:

Adding Tcl script options from file custom/scripts/gds_import_setup.tcl
Migrating GDS files to layout.
Searching for supported devices in PDK script /home/allan/Desktop/ALS/OpenLane/

[2022-02-18 22:35] antonblanchard opened #936 "ECO flow doesn't place fill cells"
The ECO flow doesn't place fill cells. Looking at the GDS:

![nofill](https://user-images.githubusercontent.com/2029971/154768454-e50c1528-05c5-49f9-8913-c8f9b8f24430.png)

The flow disables fill insertion while in the ECO loop:

[code]

We disable fill cell insertion because the ECO loop is going to insert buffers. The issue is we never call routing a final time with `ECO_FINISH=1` so that fill i

[2022-02-18 22:38] tdene commented on #935
I believe that
[code]

[2022-02-18 22:43] msaligane commented on #936
I like the idea of inserting fills before DRT, remove them during ECO + insert buffers then insert fills.

[2022-02-19 03:29] allanjimegonza commented on #935
Oh, I definitely missed that issue, thaks a lot for the help!

[2022-02-19 04:36] msaligane commented on #936
That's actually what I typed on the slack channel just now. @antonblanchard have you tested just adding the fills manually after DRT. You can test DRC/LVS. I don't think you ll have any issues.

The cleaner way to do this, is when we place the inserted buffer, we do a localized removal of the fills. and then run fills again.

[2022-02-19 10:31] antonblanchard commented on #936
@maliberty I was under the impression we could not add fill cells after DRT. Openlane adds them before detailed routing, and even has a comment about wanting to add them before global routing where possible. I assumed that was because routing might place tracks on layers that fill cells use.

@msaligane localised removal of fills sounds good, but we'd need to ensure enough fill is removed on a hig

[2022-02-19 10:56] antonblanchard commented on #932
Thanks @donn!

[2022-02-19 15:22] maliberty commented on #936
In sky130 the stdcell pins are on li1 which is not used as a routing layer due to its high resistance.  So the fill cells have no effect on routing.

[2022-02-19 21:58] donnie-j commented on #859
Thanks @RTimothyEdwards

I can't speak to the specific cause of the issue @antonblanchard ran into, but I can confirm that I ran into this issue, and updating magic and (perhaps) rebuilding Open PDK fixes it.

[2022-02-20 02:52] RTimothyEdwards commented on #859
Good to know, thanks.

[2022-02-20 08:29] #936 closed

[2022-02-20 10:24] osamahammad21 commented on #928
looking into it

[2022-02-20 12:22] osamahammad21 commented on #928
After some debugging here is what I've got:
The problem is in the following nets:
- vccd1 ( user1_vssd_lvclamp_pad VCCD1 ) ( user1_vccd_lvclamp_pad VCCD1 ) + USE SIGNAL ;
- vccd2 ( user2_vssd_lvclamp_pad VCCD1 ) ( user2_vccd_lvclamp_pad VCCD1 ) + USE SIGNAL ;
- vssd1 ( user1_vssd_lvclamp_pad VSSD1 ) ( user1_vccd_lvclamp_pad VSSD1 ) + USE SIGNAL ;
- vssd2 ( user2_vssd_lvclamp_pad VSSD1 ) ( user2_vc

[2022-02-20 12:59] kareefardi commented on #928
Thanks for tracking it down. I will check what went wrong in generating the def. If this is easily detectable, exiting with an error message would be much more helpful.

[2022-02-20 13:16] kareefardi commented on #928
On second thoughts, I wonder why it crashed in the first place. I agree that it's odd for these nets to be found in the nets section but if, for instance, these nets aren't routable by tritonRoute, shouldn't openroad report that ?

[2022-02-20 18:04] osamahammad21 commented on #928
The problem here is that the nets are ill defined. They should be supply nets with the proper use defined. But here they are signal nets having power/ground pins connected to them.
TritonRoute should be able to route signal nets but here it's not really a signal net.
However, if you change the use of the nets to power and ground nets without making them special, it will also crash which should be

[2022-02-20 20:59] antonblanchard opened #942 "ECO flow doesn't use latest STA output"
On one of my designs the ECO flow fails to fix all the violations. Looking at the logs, we have a new STA output for each iteration as expected:

[code]

But the ECO flow seems to randomly pick up a few of them (24, 34, 34, 34, 64, 64, 64, 64, 64, 64, 64):

[code]

We just seem to be taking the last entry in `glob -directory` which I don't think is sorted in any way:

[code]

[2022-02-21 00:27] antonblanchard commented on #942
A potential fix: #944

[2022-02-21 03:39] maliberty commented on #928
@osamahammad21 please fix the crash you mentioned and also add a warning for any net to be routed that is connected to a mterm that has USE pwr/gnd (presumably that happens in this case).

[2022-02-21 08:59] snmarathe opened #945 "Flow fails during groute - "Run global_route before repair_antennas""
### Description
Flow fails during groute on one of my designs with the error "Run global_route before repair_antennas".
### Environment
[code]

### Reproduction Material
Commands -
[code]
Design - [processor_design.tar.gz](https://github.com/The-OpenROAD-Project/OpenLane/files/8107556/processor_design.tar.gz)

Issue reproducible - [processor_issue.tar.gz](https://github.com/The-OpenROAD-Project/Op

[2022-02-21 09:47] vijayank88 commented on #945
@snmarathe
No standard cells to route here.

[2022-02-21 12:33] snmarathe commented on #945
Error resolved. Thanks a lot, @vijayank88

[2022-02-21 12:33] #945 closed

[2022-02-22 12:01] vijayank88 opened #948 "Detailed placement failed"
### Description
GDS file generated successfully with OL tag: [2022.02.16_01.55.24](https://github.com/The-OpenROAD-Project/OpenLane/releases/tag/2022.02.16_01.55.24) but for latest OL tag: [2022.02.21_02.33.47](https://github.com/The-OpenROAD-Project/OpenLane/releases/tag/2022.02.21_02.33.47) detailed placement got failed.

### Environment
[code]

### Reproduction Material
* Upload a tarball conta

[2022-02-22 12:35] vijayank88 commented on #948
@maliberty FYI

[2022-02-22 15:03] nguyendao-uom commented on #929
@donn @maliberty have you had a look on this issue? Any suggestions?
The issue still remains with the latest openlane version (2022.02.21_02.33.47)
[openroad_issue_reproducible.tar.gz](https://github.com/The-OpenROAD-Project/OpenLane/files/8117728/openroad_issue_reproducible.tar.gz)

[2022-02-22 15:35] tdene commented on #934
Issue was resolved a few hours after this thread was made. Closing.

[2022-02-22 15:35] #934 closed, assigned to nobody

[2022-02-23 00:50] maliberty commented on #929
@eder-matheus this crash is in the dreaded order_wires code called on the groute generated segments inside antenna fixing.  The input is odd in that I see 7 segments for a simple two pin net (Tile_X1Y0_S2BEG\[0\]):

![image](https://user-images.githubusercontent.com/761514/155244514-d88af14d-c715-414b-ad04-d5f477ef38ae.png)

The segments are overlapping eachother in odd ways.  If we can fix this a

[2022-02-23 04:26] maliberty commented on #948
The density is too high.  You should either add the diode to the padding exclude list or use a lower density during global placement.  I would do the former.

[2022-02-23 07:52] vijayank88 opened #954 "Flow Failed with Magic DRC Violations"
### Description
Flow got completed successfully with OL tag: [2022.02.16_01.55.24](https://github.com/The-OpenROAD-Project/OpenLane/releases/tag/2022.02.16_01.55.24). Same design got failed with Magic DRC violations with OL tag: [2022.02.21_02.33.47](https://github.com/The-OpenROAD-Project/OpenLane/releases/tag/2022.02.21_02.33.47)

### Environment
[code]

### Reproduction Material
* Upload a tarb

[2022-02-23 10:06] vijayank88 opened #955 "Routing congestion too high error during global routing"
### Description
Its a successful MPW-4 precheck passed design. Now failing with routing congestion too high error during global routing.

### Environment
[code]

### Reproduction Material
* Upload a tarball containing the relevant design.
[flexbex_Routing_issue.zip](https://github.com/The-OpenROAD-Project/OpenLane/files/8123388/flexbex_Routing_issue.zip)

* List the commands used to run the design

[2022-02-23 11:36] vijayank88 commented on #955
Configuration file used for OpenLane flow: https://github.com/phthinh/soric_project/blob/master/openlane/flexbex_core/config.tcl
If I use default `set ::env(SYNTH_STRATEGY)` flow not throwing congestion issue.
If I use user defined `set ::env(SYNTH_STRATEGY) "DELAY 2"` its failing with congestion issue.

[2022-02-23 17:25] dralabeing commented on #948
@vijayank88 looks like this is resolved now for both the options.

[2022-02-23 17:25] #948 closed

[2022-02-23 18:12] eder-matheus commented on #929
It happens because this routing connects two macro pins. Grt creates the fake pins for them and add the guides that connect the real pin position to the routing. I'll try to enhance the function that merge the segments to avoid these odd routes.

[2022-02-23 18:27] nguyendao-uom commented on #929
Thanks @eder-matheus, can you also check if the tool supports channel less placement of blocks?

[2022-02-23 18:58] maliberty commented on #929
@eder-matheus I don't believe OL uses macro pin extension - are you saying grt always creates fake pins?

@nguyendao-uom there is nothing to route in channel-less placement so I'm not sure what needs checking.

[2022-02-23 21:19] maliberty commented on #954
What sort of violations are they?

[2022-02-23 22:27] dralabeing commented on #930
@mousaq92 there isn't clear documentation nor is the scope for choosing the best strategy fully tested yet. The definition is here https://github.com/The-OpenROAD-Project/OpenLane/blob/master/scripts/yosys/synth.tcl which allows you to access multiple synthesis scripts/recipes for abc based on area, delay settings. The number in the synthesis strategy (as in 5 in S5) is an index into the list (are

[2022-02-23 23:36] eder-matheus commented on #955
@vijayank88 I think it is a placement issue. Grt didn't have any update regarding how it handles the congestion, so the degradation should be in the early stages of the flow. Also, I've tried to run the global router of a commercial tool on this design, and it also reports high congestion.

[2022-02-24 01:58] d-m-bailey commented on #878
@donn This is also the case when io is unconnected. For example, in https://efabless.com/projects/474

The rtl for `user_proj_example` uses 16 bits of `la_data_out`.
[code]
 The other 112 unused bits are synthesized as connected to ground in the gl netlist.
[code]
This may be a bit more that simply tri-state I/O not being supported.

[2022-02-24 02:06] d-m-bailey commented on #878
@armleo Is it necessary to connect macro1's output to macro2's unconnected output? Maybe the simplest solution would be not to connect to unused outputs. At least until yosys is fixed.

[2022-02-24 05:34] vijayank88 commented on #954
@mithro Your view on this?

[2022-02-24 05:37] vijayank88 commented on #954
@maliberty can we link this issue to https://github.com/RTimothyEdwards/magic/issues ?

[2022-02-24 06:01] armleo commented on #878
What I am trying to do is create a wrapper like caravan. It uses faster IO and is called carrack. It is placed inside Caravan.

I wanted to place pins in the wrapper that were analog, but unfortunately they were tied low with conb as they were left unconnected.

For temporary workaround I removed all analog connections and left only digital ones.

The macro1 and 2 was just an example that showed t

[2022-02-24 06:40] maliberty commented on #954
Do we know it is a magic issue?  Maybe there really are minarea problems.

[2022-02-24 06:48] vijayank88 commented on #954
@maliberty Last two OL tags producing this issue.
Here is user repo: https://github.com/mxiangyue/caravel_user_project/blob/main/openlane/user_proj_example/config.tcl

[2022-02-24 10:53] nguyendao-uom commented on #929
Hi @eder-matheus, seems the issue have not resolved with the updated openlane 2022.02.23_02.50.41?
Can you check again? Thanks
[openroad_issue_reproducible.tar.gz](https://github.com/The-OpenROAD-Project/OpenLane/files/8131879/openroad_issue_reproducible.tar.gz)

[2022-02-24 13:21] maliberty commented on #954
@vijayank88 can you investigate and see if these are correct or not based on the LEF rules?

[2022-02-24 13:26] eder-matheus commented on #929
The latest openlane is probably not using my last commits on the OpenROAD repository. I've tested your testcase locally and I don't see the segfault.

[2022-02-24 13:46] donn commented on #929
That may have something to do with the fact OpenLane has not been updated to the latest version of OpenROAD yet. This is a manual process that someone has to do (@openlane-bot makes it easier, but doesn't automatically apply it.)

If you do any critical fixes in OpenROAD, please just @ me or a member of the OpenLane team who is not on vacation atm.

[2022-02-24 13:47] eder-matheus commented on #929
Got it, I'll do it next time I have a critical update regarding OpenLane flow. Thanks.

[2022-02-24 13:54] RTimothyEdwards commented on #878
@armleo :  Please keep in touch with me about this, because my intention for the next-generation Caravan chip is to be able to directly swap I/O pads through a user-level configuration file.  Currently, as you know, the drawbacks of the Caravan layout is that the analog pads have no ESD, and user-created ESD structures can't be placed close enough to the pad for optimal performance, because nothin

[2022-02-24 17:35] armleo commented on #878
"directly swap I/O pads through a user-level configuration file". So you want to use OpenLane for that, correct?

For that purpose, I have three proposals.

1. Add pre-post hooks for each flow step. This will allow modifying the DEF with custom power/analog routing with custom scripts from tcl/python without keeping custom "interactive tcl". It will also allow to modify the DEF to mark power as US

[2022-02-24 21:21] jimbo1990 opened #958 "STA hangs at report_clock_skew"
### Description
Synthesis hangs at report_clock_skew and never continues passed that point. No errors are given it simply doesnt print and then doesnt proceed forward.

### Environment
[code]

### Reproduction Material
![image](https://user-images.githubusercontent.com/23194856/155609674-204f4b3e-bb03-473a-9dd5-5f064c79e9c8.png)

### Expected behavior
Should print clock skew report and continue sy

[2022-02-24 21:35] maliberty commented on #958
There is no attached test case so this is unactionable.  Including the tool output is not a method of reproduction.   Please see https://github.com/The-OpenROAD-Project/OpenLane/blob/master/docs/source/using_or_issue.md

[2022-02-24 21:53] jimbo1990 commented on #958
Thanks. The only problem is the tool never fails so I don't think that or_issue.py ever executes.

[2022-02-24 22:18] maliberty commented on #958
You can run it yourself

[2022-02-25 05:27] vijayank88 commented on #958
@jimbo1990
If synthesis issue you need provide your `config.tcl` and source .v/.sv files  to check it our end.

[2022-02-25 07:58] jimbo1990 commented on #958
Thanks, I will leave the files here if someone would be kind enough to try and run it to see if it passes the clock_skew_report on their side.

[Top_cell.zip](https://github.com/The-OpenROAD-Project/OpenLane/files/8139477/Top_cell.zip)
,

[2022-02-25 09:48] vijayank88 commented on #954
@maliberty
I just diff both LEF files and seen
![Screenshot from 2022-02-25 14-58-31](https://user-images.githubusercontent.com/85787913/155693395-eaff37ff-aeeb-483a-ac3f-cc62cc040eb5.png)

[2022-02-25 10:47] vijayank88 commented on #958
@jimbo1990
Yes getting same issue at my end.
we had same issue with previous shuttle and project called `sta_hangs`. I'll try to get that project and its solutions and let you know.

[2022-02-25 11:50] donn commented on #912
wrong issue. sorry.

[2022-02-25 11:52] donn commented on #929
Fixed in 161699a68bf82102f66f9d588d3a83e626cc5d05. This issue will remain open as it is still relevant for the mpw-5 version of OpenLane and it documents a workaround.

[2022-02-25 11:53] proppy commented on #923
@donn is that something I could take on? that's would also help me for the [conda packaging stuff](https://github.com/hdl/conda-eda/pulls?q=+is%3Apr+author%3Aproppy+) I've been working on.

[2022-02-25 11:55] vijayank88 commented on #955
@eder-matheus
If I use `set ::env(SYNTH_STRATEGY) "DELAY 1"` placement congestion still looks high, but passed routing stage and flow got complete successfully.
Any idea how this synthesis strategy working?

[2022-02-25 12:46] jimbo1990 commented on #958
Thanks for your help. This has been driving me mad.

[2022-02-25 13:44] #928 closed

[2022-02-25 15:42] jjcherry56 opened #960 "placement.tcl removes resizer buffers"
In run_placement scripts/tcl_commands/placement.tcl
    run_resizer_design

    if { [info exists ::env(DONT_BUFFER_PORTS) ]} {
        remove_buffers
    }

This undoes any buffers inserted for long wire, max slew, max cap design rule repair done by repair_design
in run_resizer_design.
The buffers should be removed BEFORE repair to removes buffers inserted by synthesis.

[2022-02-25 15:59] vijayank88 commented on #958
@mattvenn
I think for one of the design, you are raised such STA hangs issue.
I don't remember the issue tag. Do you have any solution/workaround for this issue?
Thanks...

[2022-02-25 16:03] jimbo1990 commented on #958
Is it possible to turn off the clock reporting? It's not really a solution but possibly to see if synthesis continues

[2022-02-25 18:13] mousaq92 commented on #958
I am having the same issue with a different design. Stuck at report_clock_skew

[2022-02-25 18:59] antonblanchard commented on #960
I've often wondered what `remove_buffers` is trying to achieve. In particular it seems to completely remove buffer tree insertion by abc, and OpenROAD has nothing similar to replace it with. Do we have evidence of abc over buffering designs?

[2022-02-25 22:03] mousaq92 commented on #955
Hello, I was facing a similar issue with a design that I am working on. I'm not sure if my response will resolve your issue.

First, make sure that you set all the variables ie FP_CORE_UTIL, PL_TARGET_DENSITY in config.tcl. For some reason if you create a file called config2.tcl, and try to use ./flow.tcl -design my_design config2.tcl, config2.tcl will not be used.

Second, try to change PL_TARGET

[2022-02-25 22:55] mousaq92 commented on #958
Hello,

Here is how I temporarily fixed this issue.

Comment the report_clock_skew line in /tools/OpenLane/openroad/sta.tcl and rerun.

This is definitely not the right way to do this, but the flow is moving for me. I hope this helps.

[2022-02-26 01:00] maliberty commented on #958
This is still not a well package test case.  Please provide a single self-contained invocation of the tool that fails rather than a pile of files.

[2022-02-26 01:14] maliberty commented on #960
@antonblanchard abc is buffering based on wire load models and may not do a good job because of it.  Trying to have the resizer fix their buffer trees hasn't worked well in the past.  The best solution would be to have resizer have a stronger buffer tree capability rather than rely on the abc buffering.  In any case it seems a bad idea to remove the resizer results.

[2022-02-26 07:17] armleo commented on #955
Try reducing the core util/target density. This worked for me in the past. This should resolve it, but it's still not clear why is the congestion so high.

[2022-02-26 15:21] jimbo1990 commented on #958
I fixed temporarily solved this problem as suggested in a previous post by commenting out the report_clock_skew from the sta.tcl and also from the multiple_cornes.tcl. obviously not ideal however at least the flow finished.

Probably IMPORTANT is that in the SDA.tcl file there is a comment which states that the function will hang if a clock less design is detected. What I don't get is why it doesn

[2022-02-26 22:17] msaideroglu opened #963 "make pull-openlane fails on centos7"
When I'm trying to run make pull-openlane command on my centos7 machine, it gives this error:

[synopsys@localhost OpenLane]$ make pull-openlane
Cannot determine git branch. Please specify OPENLANE_IMAGE_NAME manually.
Full output: error: unknown option `show-current'
usage: git branch [options] [-r | -a] [--merged | --no-merged]
   or: git branch [options] [-l] [-f] <branchname> [<start-point>]

[2022-02-27 01:27] mithro commented on #958
Hi @jimbo1990 and @vijayank88,

There are instructions in the issue template to create the items required by the developers to fix this problem. I have included these instructions below for your convenience too;

If one of you can provide a tarball containing the relevant design, I'm sure someone like @maliberty or @donn will be able to fix the `report_clock_skew` to not hang on your design. This

[2022-02-27 16:07] chenliyumich commented on #963
I also got this issue. Is git version 1.8.3.1 new enough?

[2022-02-27 16:09] msaideroglu commented on #963
I upgraded git to 2.35 from 1.8, and it worked. Thanks.

[2022-02-27 16:09] #963 closed

[2022-02-28 06:25] vijayank88 commented on #958
@maliberty
or_issue.py used to reproduce issue tar file only for OpenRoad flow stage fails only. For synthesis stage if flow fails we normally upload source RTL files with config.tcl.
Steps to reproduce the issue:
1. Unzip Top_cell.zip
2. place Top_cell directory inside OpenLane/designs/
3. Goto OpenLane Root directory and excute following steps:
4. make mount
5. OpenLane Container (161699a): ./fl

[2022-02-28 07:26] vijayank88 commented on #958
@maliberty  @donn
Here's standalone testcase for sta hangs:
[run3_sta_packaged.zip](https://github.com/The-OpenROAD-Project/OpenLane/files/8151319/run3_sta_packaged.zip)
Steps to reproduce the issue:
-Goto OpenLane directory
-unzip the attached file inside OpenLane/_build
-Do `make mount` from `OpenLane` directory
-cd _build/run3_sta_packaged
-sta
%source opensta.tcl

This will hang during report_

[2022-02-28 12:01] donn commented on #935
I'm gonna go ahead and assume this is solved now- Thanks @tdene for the PR.

[2022-02-28 12:01] #935 closed

[2022-02-28 12:04] donn commented on #915
Alright, well, feel free to open another issue if you need one.

[2022-02-28 12:04] #915 closed

[2022-02-28 12:10] donn commented on #958
Issue confirmed... @maliberty Be aware that the issue is packaged a bit differently and so the usual run scripts are not functional here.

[2022-02-28 12:22] donn commented on #923
No, I know exactly what this is. I'll attend to it.

[2022-02-28 12:24] donn commented on #881
Thank you for the issue and thank you for contributing. Most users don't get this far. :)

[2022-02-28 12:24] #881 closed

[2022-02-28 12:30] donn opened #966 "Integrate Fault"
### Prompt
OpenLane is currently missing scan-chain insertion capabilities during synthesis.

### Proposal
The tool https://github.com/Cloud-V/Fault was developed earlier for exactly such a purpose. It needs some minor tweaking to work with sky130, but should suffice.

[2022-02-28 12:40] armleo commented on #892
Currently with the Pull request accepted this has been partially resolved. However multiple pins are still not handled properly. Please don't close this, so I can fix this.

[2022-02-28 12:42] donn commented on #892
I have no intention to, don't worry.

[2022-02-28 15:26] maliberty commented on #958
I packaged it myself and have reported it.  @donn please address this hold in packaging test cases.

[2022-02-28 15:31] maliberty commented on #958
@Manarabdelaty when you did this in sta.tcl you should have filed a bug report:
# report clock skew if the clock port is defined
# OR hangs if this command is run on clockless designs
[https://github.com/The-OpenROAD-Project/OpenLane/pull/674]

[2022-02-28 15:57] chenliyumich opened #968 "ConfigurationLoadError: Unable to load configuration file. When make pdk"
### Description
Running make pdk under OpenLane failed
### Environment
[code]

### Expected behavior
Install pdks successfully

### Logs
ConfigurationLoadError: Unable to load configuration file.
  path: /home/chenliyu/OpenLane/pdks/skywater-pdk/env/conda/.condarc
  reason: invalid yaml at line 3, column 0

[2022-02-28 18:13] mousaq92 commented on #958
How did you package the case? Thanks

[2022-02-28 18:14] maliberty commented on #958
By hand, just looked at the sta.tcl and pulled out the relevant parts.  I'll upload my test case for comparison.

[2022-02-28 18:16] maliberty commented on #958
[bug.zip](https://github.com/The-OpenROAD-Project/OpenLane/files/8155671/bug.zip)

[2022-02-28 23:23] #968 closed

[2022-02-28 23:56] jjcherry56 commented on #958
@Manarabdelaty this comment is wrong. report_clock_skew works just find if there are no clocks defined.

The issue has nothing to do with whether or not clocks are defined. It is a bug dealing with combinational feedback loops. OpenSTA has already been fixed but has not been integrated into openroad yet because of all the required verification steps.

[2022-03-01 01:44] donn commented on #958
@jjcherry56 @maliberty @Manarabdelaty is no longer with us aside from informal consultations. If you have any comments or observations, you tell me.

[2022-03-01 14:01] jjcherry56 commented on #958
OpenROAD e3315ba41 fixes it on our end

[2022-03-01 18:33] dralabeing commented on #955
@vijayank88 - this is a placement issue Please report after trying a different placement density. Also it looks like AREA=0 synthesis strategy resolves the congestion problem.

[2022-03-02 06:22] vijayank88 commented on #955
@dralabeing
I confirmed already this issue get resolved with DELAY=1/AREA=0. But MPW user passed this successfully with DELAY=2.
So just wanted to understand how this `SYNTHESIS_STRATEGY` works. That's why I kept open this issue.

[2022-03-02 08:30] Sya0 opened #974 "magic error"
[code]
I have an error during openlane which is below:
[code]

[2022-03-02 10:33] Sya0 commented on #974
@vijayank88, the error is not coming from OpenROAD, it is from magic scripts so or_issue script is not working for my situation but I have attached my last log file.
[20-gds_ptrs.log](https://github.com/The-OpenROAD-Project/OpenLane/files/8168806/20-gds_ptrs.log)

[2022-03-02 10:57] vijayank88 commented on #974
@Sya0
Please find gds_pointers.tcl [here](https://github.com/The-OpenROAD-Project/OpenLane/blob/master/scripts/magic/gds_pointers.tcl)
Attach file : ..../results/finishing/<name>.magic.gds
1.source the above tcl file and add required input files in separate folder
2. If issue re-produced locally with *.gds file, attach the test case here

[2022-03-02 11:02] Sya0 commented on #974
I fixed above issue but new errors from OpenROAD.
[openroad_issue_reproducible.tar.gz](https://github.com/The-OpenROAD-Project/OpenLane/files/8169014/openroad_issue_reproducible.tar.gz)
[11-global.log](https://github.com/The-OpenROAD-Project/OpenLane/files/8169034/11-global.log)

[2022-03-02 11:09] vijayank88 commented on #974
@Sya0
Are you using mpw-5c tag right?

[2022-03-02 11:09] Sya0 commented on #974
@vijayank88, yes

[2022-03-02 11:30] vijayank88 commented on #974
@Sya0  can you share your repo details to clone and test it locally?

[2022-03-02 11:51] vijayank88 commented on #974
@Sya0
Found your problem. Plz update your `config.tcl` for following variables:
[code]
to
[code]
works fine at my end.

[2022-03-02 12:32] vijayank88 commented on #954
@donn  still the DRC issue exists.

[2022-03-02 12:49] Sya0 commented on #974
@vijayank88
Interesting.. The error of first message is repeated on my local. It is stopped at step 20 which is gds_ptrs again.
[code]
By the way, how could you fix such problems? I could not guess that the previous error was due to the `set ::env(RT_MAX_LAYER) {5};` line. Is there any approach that you specifically apply ?

[2022-03-02 13:05] vijayank88 commented on #974
attach required files based on this script @Sya0

[2022-03-02 13:09] vijayank88 commented on #974
From the error log
[code]
max routing layer to 5 is an integer value. Tool not able to use right metal layer. So the right name is `met5`.
check min routing layer to `met1`

[2022-03-02 13:39] Sya0 commented on #974
@vijayank88, sorry but I can't understand what to do. Should I attach .magic.gds and .tcl file?

[2022-03-02 13:58] njkrichardson opened #975 "Running global placement through detailed routing given only lef/def"
Hi there,

Many of the global/detailed placement tools (e.g., RePlAce, OpenDP) and global/detailed routing tools (e.g., cu-gr, TritonRoute) are designed with submission to ISPD competitions in mind. Typically these competitions are not concerned with chip synthesis; and provide only an lef/def.

Given just an lef/def for a design, how can I run global placement, detailed placement, global routing,

[2022-03-02 14:30] maliberty commented on #975
For the tools that are part of openroad you can just use it directly if you want to benchmark.  For example we regularly run the ispd routing benchmarks with https://github.com/The-OpenROAD-Project/OpenROAD/blob/master/src/drt/test/run-ispd.py

[2022-03-02 17:04] mousaq92 commented on #955
Hello,

Unfortunately, I do not have OP’s RTL, but I would like to participate in this issue. I will do my analysis on SPM. One very nice feature in OpenLane is that it allows its users to do synthesis exploration. Below is a screenshot of a synthesis exploration that I conducted on spm.

![image](https://user-images.githubusercontent.com/98984518/156410469-f52a6c78-4fc5-4e78-b063-796c6c2dc9fd.png

[2022-03-02 18:45] njkrichardson commented on #975
Cheers for the response. Two follow up questions if you don't mind.

1. I've built the OpenLane project but not OpenRoad, is it possible to run the script you link using OpenLane, or do I additionally need to build OpenRoad?
2. I appreciate the benchmark script, although for further context I have my own lef/def pairs for custom chip designs that I'd like to place and route. Is there a way to acco

[2022-03-02 19:10] maliberty commented on #975
OL includes OR so you can use it from there.  I'm just saying you don't need to use the OL flow scripts.

The script shows the TCL script it generates to run the benchmark at https://github.com/The-OpenROAD-Project/OpenROAD/blob/944855835623e651e7b9c7c50efcce1fb04b4fee/src/drt/test/run-ispd.py#L83

you can do something similar with your lef/def.

[2022-03-02 19:30] njkrichardson commented on #975
Thanks again very much. I just attempted to run the script using `OpenROAD/src/drt/test` as the benchmark directory, but it seems ispd18_test1 is missing. Is there an additional step required to download and/or configure the benchmarks?

[2022-03-02 19:34] njkrichardson commented on #975
Also, can you confirm whether this script just routes, or places and routes? Thank you!

[2022-03-02 19:39] #958 closed

[2022-03-02 19:52] maliberty commented on #975
That script just routes.   It wouldn't be hard to add placement commands to it.

You can get the test cases from https://ispd.cc/ispd2022/index.php?page=contests  (2018 & 2019 are routing).

[2022-03-03 00:22] dralabeing commented on #955
@vijayank88 It looks like there is no longer a congestion issues-hence marking this closed.
@mousaq92 There is no other way to pick a good synthesis strategy other than to run the slew of explorations and choose one as you have done. If you find an error during the explorations as you describe- please file a separate GH issue.

[2022-03-03 00:22] #955 closed

[2022-03-03 06:17] vijayank88 commented on #974
@Sya0
Attach  `results/finishing/<name>.magic.gds`

[2022-03-03 07:19] Sya0 commented on #974
@vijayank88, I think, my file is not small enough, because it gives me error. github/hub/issues/1479, it is common problem.
I give you drive [link](https://drive.google.com/file/d/1xZShDq-EzU87-LOEhg75fSCNGiCg373Z/view?usp=sharing).

[2022-03-03 09:53] vijayank88 commented on #954
@maliberty
Added Magic DRC violation details here:

Here is `drc.rpt`
[code]
`drc.tcl` generated by magic tool
[code]
OL tag 2022.02.16_01.55.24 which passed without any magic DRC violation.
Magic commit: `0bb6ac1fa98b5371c73156b6e876925397fb7cbc`
open_pdks commit: `476f7428f7f686de51a5164c702629a9b9f2da46`
Corresponding bbox location screenshot:
![no-error](https://user-images.githubusercontent.c

[2022-03-03 10:51] vijayank88 commented on #974
@Sya0
I don't have any issues while running `gds_pointers.tcl`  in batch mode.
Can you try once again ?
Check parallel how much RAM used while running your design.

[2022-03-03 11:05] vijayank88 commented on #974
Inside OpenLane Docker the command I tried:
[code]
`gds_pointers.tcl` as follows:
[code]

[2022-03-03 11:07] Sya0 commented on #974
You used efabless/openlane:latest, right ?

[2022-03-03 11:30] vijayank88 commented on #974
@Sya0
I've tested with latest tag  2022.03.02_02.59.05.
I'll install mpw-5c and let you know...

[2022-03-03 12:42] donn commented on #923
blocked on https://github.com/RTimothyEdwards/open_pdks/issues/233

[2022-03-03 14:35] vijayank88 commented on #974
@Sya0
mpw-5c is efabless/openlane:2022.02.23_02.50.41
I'm not able to reproduce issue at our end.

Create a valid test case and re-open this issue.
Thanks...

[2022-03-03 16:26] #974 closed

[2022-03-03 16:58] mattvenn opened #977 "mpw-5c are very noisy for output logs"
### Prompt

running make user_project_wrapper generates 100k lines of logs

### Proposal

show only errors and top level information. Each tool can log into the log directories as before.

[2022-03-03 17:28] kareefardi commented on #977
I believe that's not an openlane issue. It's rather openlane _usage_ issue. Openlane has `-disable_output` in which it only prints the contents of `openlane.log`. Also for mpw-5c, there is a bug where `make user_project_wrapper` or `make user_project_example` or any `make <block>` will actually run all the blocks, fixed here https://github.com/efabless/caravel_user_project/pull/89/. That's one mor

[2022-03-04 06:06] ratul619 opened #979 "Openlane not considering initial MACRO placement ?"
### Description

I am providing an input DEF where MACROS are arranged in array fashion and are designated as FIXED. like below
as an input in config.tcl with below var :

set ::env(FP_DEF_TEMPLATE)  "./designs/XYZ/top.def"

 - XYZ.abc\[0\].sram\[0\].U_sram_64_128_sky130A sram_64_128_sky130A + FIXED ( 0 0  ) N ;
 - XYZ.abc\[0\].sram\[1\].U_sram_64_128_sky130A sram_64_128_sky130A + FIXED ( 0 100000

[2022-03-04 06:48] kunalg123 commented on #979
We had done 2 Macro based PNR using OpenLane. You might want to take a look
https://github.com/manili/VSDBabySoC
https://github.com/vsdip/VSDMemSoC

[2022-03-04 06:49] vijayank88 commented on #979
@ratul619
Missing issue reproducible tar file. Check your run directory or Please package a standalone test case with https://github.com/The-OpenROAD-Project/OpenLane/blob/master/docs/source/using_or_issue.md

[2022-03-04 06:54] Sya0 opened #980 "Detailed Placement Error"
[code]

I have tried to harden my design but I have got below problem. My tcl scripts look ok, however, it still gives me error. I saw the same issue [here](https://github.com/The-OpenROAD-Project/OpenLane/issues/810). They patched openroad for that issue and mine is newer version of openlane.
[openroad_issue_reproducible.tar.gz](https://github.com/The-OpenROAD-Project/OpenLane/files/8183649/openr

[2022-03-04 07:02] vijayank88 commented on #980
@Sya0
Update your `config.tcl` with below variable and run again.. it will resolve the issue.
[code]

[2022-03-04 07:12] vijayank88 commented on #954
Here is Magic DRC highlight:
![Magic_view_DRC](https://user-images.githubusercontent.com/85787913/156716607-9abae1cf-2a1d-47d5-9136-9e393fca2176.png)

[2022-03-04 07:21] Sya0 commented on #980
which config ?

[2022-03-04 07:32] vijayank88 commented on #980
@Sya0
Its a MPW project. Check https://github.com/efabless/caravel_user_project/tree/main/openlane/user_project_*/config.tcl
Update the `config.tcl`

[2022-03-04 07:37] Sya0 commented on #980
In `user_project_wrapper/config.tcl` there is no line for `CELL_PAD`. I added to config.tcl `set ::env(CELL_PAD) 2` but same error occured.

[2022-03-04 07:41] vijayank88 commented on #980
@Sya0
If you do hardening first you have to run `make user_proj_example` then you've to run `make user_project_wrapper`.

During which command the attached openroad_issue_reproducible.zip generated?

[2022-03-04 08:53] #980 closed

[2022-03-04 09:27] vijayank88 commented on #954
![metal3_area](https://user-images.githubusercontent.com/85787913/156735847-d0c761a7-d2a7-4887-85e0-90e910e1d1f8.png)
In the attached screenshot, metal3 width is 0.025um. So its less than 0.25um. Why magic reports this as violation?

[2022-03-04 09:34] kauser-rl opened #981 "Flow crashes at the detailed routing stage."
### Description
I'm running my design through the latest version of Openlane and it crashes at the detailed routing phase.

### Environment
[code]

### Reproduction Material
You can download the tarball from the link [here](https://transfer.sh/tsMj3p/openroad_issue_reproducible.tgz).

### Expected behavior
The design hasn't changed. I was re-running a regression after updating the version of Openl

[2022-03-04 09:40] vijayank88 commented on #981
@kauser-rl
May i know system RAM size currently used for this design run?

[2022-03-04 09:44] kauser-rl commented on #981
RAM: 16GB.
I tried the link again, it seems to work for me.
![image](https://user-images.githubusercontent.com/86838646/156739564-0a56a908-0d7d-43a9-8713-506488b38ded.png)

[2022-03-04 09:45] vijayank88 commented on #981
Secure Connection Failed

An error occurred during a connection to transfer.sh.

    The page you are trying to view cannot be shown because the authenticity of the received data could not be verified.
    Please contact the website owners to inform them of this problem.

[2022-03-04 09:49] kauser-rl commented on #981
[openroad_issue_reproducible.zip](https://github.com/The-OpenROAD-Project/OpenLane/files/8184760/openroad_issue_reproducible.zip)
Here you go.

[2022-03-04 10:17] vijayank88 commented on #981
@kauser-rl
Even I've faced same issue with 2 routing cores with 16GB. How many core does your CPU have?
My cloud server running good with your design routing.
[code]
See the Peak Memory close to 15GB. Stop backend RAM usage if any other process running. Re-try again, its your system resource issue, not the tool issue.

[2022-03-04 10:24] kauser-rl commented on #981
Thanks @vijayank88. In case you are interested to know the config-
[code]
I'm happy for you to say it is not a tool issue. Sadly this is the machine I have for now so perhaps I'll have to explore alternatives. My question would be, the design hasn't changed in the last few months and I simply updated the Openlane version. The tool was comfortably able to route the design in the same machine before

[2022-03-04 10:30] vijayank88 commented on #981
@kauser-rl
As I said try to stop backend process(close all application other the OpenLane flow)
8 CORES you have. Try setting below variable in config.tcl and try once
[code]

[2022-03-04 10:57] vijayank88 commented on #981
@donn Please share your view on RAM usage.

[2022-03-04 11:41] donn commented on #981
@vijayank88 @kauser-rl If you have concerns about RAM usage, the best approach is a [local install](https://github.com/The-OpenROAD-Project/OpenLane/blob/master/docs/source/local_installs.md), bypassing the Docker container entirely.

Otherwise, not much that can be done on our side. The tools do require some RAM.

[2022-03-04 11:48] vijayank88 commented on #981
@kauser-rl
Hope above solution will help to fix your system resource. So closing this issue. If any other issue feel free to re-open this.

[2022-03-04 11:48] #981 closed

[2022-03-04 12:05] kauser-rl commented on #981
I tried with 6 cores and I'm still hitting the same issue. Looks like the options I have is to either not use the Docker image (which is what I'm going to try next) or find the cash for a beefier machine 🤑.

[2022-03-04 12:05] kauser-rl commented on #981
Thanks for the help.

[2022-03-04 14:42] donn commented on #977
Still, the default should be the saner option. `-disable_output` should be inverted into `-verbose`.

[2022-03-04 16:39] ratul619 commented on #979
[openroad_issue_reproducible.tar.gz](https://github.com/The-OpenROAD-Project/OpenLane/files/8187380/openroad_issue_reproducible.tar.gz)

[2022-03-04 17:01] nguyendao-uom opened #983 "[mpw-5] repair_antennas error during groute"
### Description
Error: groute.tcl, 75 TypeError in method 'repair_antennas', argument 1 of type 'LibertyPort *'

### Environment
[code]

### Reproduction Material
Run command:
$ ./flow.tcl -design eFPGA_top_innovus -tag std_mux4 -overwrite
[openroad_issue_reproducible.tar.gz](https://github.com/The-OpenROAD-Project/OpenLane/files/8187499/openroad_issue_reproducible.tar.gz)

### Expected behavior
T

[2022-03-05 09:54] vijayank88 commented on #983
@nguyendao-uom
Missing library `Error: groute.tcl, 19 cannot read file openlane/designs/eFPGA_top_fabric/macros/lib/S_term_single.lib.`
Run locally and add all missing files.
seems missing below list
[code]

[2022-03-05 09:56] vijayank88 commented on #983
@nguyendao-uom
To test locally and verify goto `openroad_issue_reproducible` directory, run below command:
% openroad

[2022-03-05 10:15] vijayank88 commented on #983
@donn
In this attached zip file, for each `.lib` saved as sub-directory. Tool not able to read, while running `source run.tcl`.

Can you please have look into that?

[2022-03-05 11:19] vijayank88 commented on #979
@ratul619
missing library files from your attachment.
[code]

[2022-03-05 14:08] nguyendao-uom commented on #983
@vijayank88 I still using mpw-5a tag. The .lib files are set as same as the .lef file in config.tcl?
[code]

[2022-03-05 14:19] ratul619 commented on #979
[sram_64_128_sky130A_SS_1p8V_25C.zip](https://github.com/The-OpenROAD-Project/OpenLane/files/8190825/sram_64_128_sky130A_SS_1p8V_25C.zip)
[sram_64_128_sky130A.zip](https://github.com/The-OpenROAD-Project/OpenLane/files/8190826/sram_64_128_sky130A.zip)

[2022-03-05 14:19] ratul619 commented on #979
uploaded in zip files

[2022-03-05 14:23] ratul619 commented on #979
Quick help will be highly appreciated !

[2022-03-07 05:37] vijayank88 commented on #983
@nguyendao-uom
Zip the macros/lib and attach here.

[2022-03-07 06:45] vijayank88 commented on #979
@ratul619
If it's a MPW-5 design, share your repo details.
I'm facing issue while loading DEF file in OpenROAD GUI.

[2022-03-07 07:02] vijayank88 commented on #979
@ratul619
Child killed signal is related to system resources not enough to run your design.
My local machine with 16GB got hanged for your design, but cloud server with 128GB RAM able to complete PDN stage. Here's logs:
[code]

[2022-03-07 07:16] ratul619 commented on #979
Hi , Havent made any repo yet  ; my local machine is 24GB , does not hang though and i am using docker..

What is your suggestion ?

What is your recommendation ?

[2022-03-07 07:36] vijayank88 commented on #979
@ratul619
Try to update openlane latest version and try again

[2022-03-07 07:41] ratul619 commented on #979
I just reduced the size of the die and seems PDN stage went ahead. but stuck in resizer step.
I am attaching the tar file in sometime

[2022-03-07 07:43] ratul619 commented on #979
also can u share steps for loading and viewing the DEF in openroad GUI.

I suspect some issue in the DEF macro placements

[2022-03-07 07:46] vijayank88 commented on #979
Inside OL Container:
%openroad -gui
or
%openroad
openroad > gui::show

[2022-03-07 09:18] vijayank88 commented on #979
Have you updated the OpenLane Tag?

[2022-03-07 09:20] nguyendao-uom commented on #983
Hi @vijayank88, attached below
[macro_lib.tar.gz](https://github.com/The-OpenROAD-Project/OpenLane/files/8196401/macro_lib.tar.gz)

[2022-03-07 10:32] vijayank88 commented on #983
@nguyendao-uom
Default `set ::env(DIODE_INSERTION_STRATEGY) {3};` causing the issue.
Here, you have four options to choose from and they are controlled by setting `DIODE_INSERTION_STRATEGY` to one of the following values: (0, 1, 2, 3, 4, 5). Other than  `3` try to use any of`1/2/4/5` working fine.

Keep this issue open till strategy `3` to works without fail.

[2022-03-07 10:43] vijayank88 commented on #983
Attached updated tar file to reproduce the issue here:
[openroad_issue_reproducible.zip](https://github.com/The-OpenROAD-Project/OpenLane/files/8196985/openroad_issue_reproducible.zip)

[2022-03-07 10:47] nguyendao-uom commented on #983
Thanks @vijayank88, I have tried with `set ::env(DIODE_INSERTION_STRATEGY) {1}`, but now it fails at droute step. Can you have a look on the errors? Thanks
[code]
[openroad_issue_reproducible.tar.gz](https://github.com/The-OpenROAD-Project/OpenLane/files/8197024/openroad_issue_reproducible.tar.gz)

[2022-03-07 11:02] vijayank88 commented on #983
@nguyendao-uom
- Tile_X9Y9_RAM_IO RAM_IO + FIXED ( 2100840 851140 ) N ;
  `  - _1_ sky130_fd_sc_hd__conb_1 + PLACED ( 22540 179520 ) N ; `  (Due to _1_ instance its got failed. Check your in.def file)
END COMPONENTS
PINS 1393 ;
Run the flow with `set ::env(DIODE_INSERTION_STRATEGY) 4` and try it.

[2022-03-07 20:41] dralabeing commented on #979
@vijayank88 Why is this an Openlane release issue? Can you check the DEF file and see if there are any issues with placement
@ratul619 You need to ensure you have an you X11 server up and configure the DISPLAY option.  Refer to this pr for setup details: https://github.com/The-OpenROAD-Project/OpenLane/pull/740. Unfortunately, there isn't sufficient documentation on this.

[2022-03-08 04:59] vijayank88 commented on #983
@nguyendao-uom can you share your mpw repo?

[2022-03-08 05:45] vijayank88 commented on #979
@ratul619
Just viewed your raw DEF file. Seems DIE AREA is smaller than your fixed MACRO placements.
`DIEAREA ( 0 0 ) ( 50000000 50000000 ) ;`
[code]
Please make sure your macros should place inside core area.
Do correct your macro placement or DIE area and re-try again.

[2022-03-08 05:47] vijayank88 commented on #979
@dralabeing
Latest version of OpenLane configured to load OpenRoad GUI inside docker itself.

In my GCP not able to load DEF file.

Its got struck during power domain creation, as macros not placed properly.

[2022-03-08 05:54] vijayank88 commented on #979
Something wrong with your design configuration.
![979_issue](https://user-images.githubusercontent.com/85787913/157175163-6f4d0bc6-265a-46ca-a88a-4a0bbe03353c.png)

[2022-03-09 10:35] #975 closed

[2022-03-09 11:29] mattvenn opened #987 "add back the symlink lef file to the output results directories where def files are"
### Prompt
A clear and concise description of what shortcoming you feel OpenLane has.

I used to be able to use klayout to open def files, but now the tmp-merged.lef is no longer symlinked, the cells aren't shown and there are a lot of warnings on the command line

### Proposal

put back the tmp-merged.lef file symlink wherever there are def files.

[2022-03-09 13:10] mattvenn opened #988 "run_designs.py fails without a --threads argument"
### Description

run_designs.py <my design>

### Environment

[code]

### Reproduction Material

* List the commands used to run the design.

./run_designs <some design name>

### Expected behavior

run as before

### Logs
[code]

[2022-03-09 13:27] ratul619 commented on #979
HI ,

Now i fixed the DEF and coodrinates for the macros.

Also updated to latest openlane version

But still failing , not sure why .

DIEAREA ( 0 0 ) ( 375000 375000 ) ;
COMPONENTS 1653 ;
    - U_controller.lane\[0\].sram\[0\].U_sram_64_128_sky130A sram_64_128_sky130A + FIXED ( 1000 3000 ) N ;
    - U_controller.lane\[0\].sram\[1\].U_sram_64_128_sky130A sram_64_128_sky130A + FIXED ( 1000 5000 )

[2022-03-09 16:43] dralabeing commented on #979
@vijayank88 Can you help isolate the macro placement problem separately without the GUI to see where and why pdn  is hanging? That should help clarify the root cause of this problem. Thanks

[2022-03-09 19:30] luis201420 commented on #955
@vijayank88 Could you upload the tarball containing the stage before the global placement?

[2022-03-09 19:44] EmJunaid opened #992 "Getting error in openroad/opendp.tcl"
[openroad_issue_reproducible (1).zip](https://github.com/The-OpenROAD-Project/OpenLane/files/8217579/openroad_issue_reproducible.1.zip)
What I have done so far is that I have not make any github repo yet I have just clone caravel_user_project complete repo and install all requirements and were able to run counter example as well. Now I just want to run my own design so what I did is that i just pl

[2022-03-10 01:13] nguyendao-uom commented on #983
Hi @vijayank88, sorry for the delay.
I have revised the RTL and now it only can pass the flow with following constraints:
[code]
** Our design has lot of big macros (CLB, DSP, REGFILE and BRAM blocks)**

I have created a repo for it (https://github.com/nguyendao-uom/mpw5-eFPGA.git) but failed to clone the openlane from this https://github.com/efabless/caravel_user_project/blob/main/docs/source/qui

[2022-03-10 05:54] vijayank88 commented on #992
@EmJunaid
CLOCK_NET is the clock input port used in Clock Tree synthesis. If you make it empty CTS stage will be skipped.
Refer this: https://github.com/The-OpenROAD-Project/OpenLane/search?l=Markdown&q=CLOCK_NET

[2022-03-10 06:05] vijayank88 commented on #992
@EmJunaid
While file a github issue please follow issue template and provide all inputs for what's the exact issue with the log files.
As per slack channel message: https://skywater-pdk.slack.com/archives/C016UL7AQ73/p1646827636470839
The error log is:

[code]
To fix above issue set following variable in `user_proj_example/config.tcl`
[code]

[2022-03-10 06:36] vijayank88 commented on #979
@ratul619
Your floorplan seems have issue:
![979_floorplan-issue](https://user-images.githubusercontent.com/85787913/157602848-41393fcd-5e80-46c1-850c-a55ee2384d14.png)

Still your macro placed outside die area.
If I try to run through GUI getting following error:
[code]

Are you running `flow.tcl` with automated mode or interactive stage?
Share your input DB (RTL/macros/config.tcl) as a zip file

[2022-03-10 07:06] ratul619 commented on #979
Are you running flow.tcl with automated mode or interactive stage?
-- Running in automated mode.

Since i am not able to open the GUI, hence difficult to check .

Sharing the config.tcl

[2022-03-10 07:14] ratul619 commented on #979
[RTL.tar.gz](https://github.com/The-OpenROAD-Project/OpenLane/files/8221116/RTL.tar.gz)
[config.tcl.tar.gz](https://github.com/The-OpenROAD-Project/OpenLane/files/8221118/config.tcl.tar.gz)

[macros.tar.gz](https://github.com/The-OpenROAD-Project/OpenLane/files/8221117/macros.tar.gz)

[2022-03-10 07:16] vijayank88 commented on #979
@ratul619
For standalone to openROAD GUI install this: https://github.com/The-OpenROAD-Project/OpenROAD-flow-scripts
Instruction for installation: https://openroad.readthedocs.io/en/latest/user/BuildLocally.html
Invoke GUI : OpenROAD-flow-scripts/tools/install/OpenROAD/bin/openroad -gui

[2022-03-10 07:24] vijayank88 commented on #979
@ratul619  macros.cfg missing

[2022-03-10 07:58] ratul619 commented on #979
U_controller.lane\[0\].sram\[0\].U_sram_64_128_sky130A   1 3   N
U_controller.lane\[0\].sram\[1\].U_sram_64_128_sky130A   1 5   N
U_controller.lane\[0\].sram\[2\].U_sram_64_128_sky130A   1 7   N
U_controller.lane\[0\].sram\[3\].U_sram_64_128_sky130A   1 10   N
U_controller.lane\[1\].sram\[0\].U_sram_64_128_sky130A   3 3   N
U_controller.lane\[1\].sram\[1\].U_sram_64_128_sky130A   3 5   N
U_control

[2022-03-10 09:14] EmJunaid commented on #992
@vijayank88
Again getting the same exact error even after defining the above variable

[2022-03-10 09:41] vijayank88 commented on #979
@ratul619
Have you explored how to do macro placement with OpenLane flow? example here https://github.com/The-OpenROAD-Project/OpenLane/tree/master/designs/manual_macro_placement_test
The tool will automatically will place macros if you define `set ::env(EXTRA_LIBS)` and `set ::env(EXTRA_LEFS)`.
Other way manually place based on macro size with fixed locations.

Also while updating configuration v

[2022-03-10 10:20] ratul619 commented on #979
Ok. Now even im confused.

Are you saying if i include below two lines , tool WILL ignore the macro.cfg file which has placement information for macros ?

set ::env(EXTRA_LIBS) $::env(DESIGN_DIR)/macros/sram_64_128_sky130A_SS_1p8V_25C.lib
set ::env(EXTRA_LEFS) $::env(DESIGN_DIR)/macros/sram_64_128_sky130A.lef

If i need to resolve the LEF and LIB for the macro , what variables should i use then?

[2022-03-10 10:26] vijayank88 commented on #979
macro.cfg is user fixed location for macro placement. If you define `set ::env(MACRO_PLACEMENT_CFG) [glob $::env(DESIGN_DIR)/macro.cfg]` tool will give priority for user input.

The above set variables are right for user LEF/LIB. You can modify the path as per your need and proceed.

[2022-03-10 10:40] vijayank88 commented on #992
Here's log. No errors with setting CELL_PAD=2
[code]

[2022-03-10 10:46] vijayank88 commented on #992
@EmJunaid
what is CORE_UTIL and PL_DENSITY?
There are plenty free space in your Core.
![992_DPL_error](https://user-images.githubusercontent.com/85787913/157645946-ac658d4d-2913-4107-88a7-c77f6b275a96.png)

[2022-03-10 10:47] ratul619 commented on #979
Now stopping at placement stage

NesterovSolve] Iter: 2120 overflow: 249.471 HPWL: 4132759579
[NesterovSolve] Iter: 2130 overflow: 249.47 HPWL: 4133815412
[NesterovSolve] Iter: 2140 overflow: 249.47 HPWL: 4134563060
[NesterovSolve] Iter: 2150 overflow: 249.471 HPWL: 4135514266
[NesterovSolve] Iter: 2160 overflow: 249.47 HPWL: 4136322386
[NesterovSolve] Iter: 2170 overflow: 249.471 HPWL: 4137213283

[2022-03-10 10:48] ratul619 commented on #979
[openroad_issue_reproducible.tar.gz](https://github.com/The-OpenROAD-Project/OpenLane/files/8222641/openroad_issue_reproducible.tar.gz)

[2022-03-10 10:49] armleo commented on #979
Wait, how big is the sram? No way they are 1um x 1um? The srams in the def you provided are definitely overlapping.

[2022-03-10 10:56] vijayank88 commented on #979
@ratul619  Are you able to install OpenROAD for GUI usage?
Still macro placement going wrong. Please load your DEF file KLayout/OpenROAD GUI and check it how your macros got placed.

[2022-03-10 10:56] vijayank88 commented on #979
how you generated this SRAM module?

[2022-03-10 11:00] armleo commented on #979
You sure the lef is correct? Its size (assuming the same dbu per micron) is 1.2um by 0.4um which seems wrong

[2022-03-10 11:03] ratul619 commented on #979
The original LEF version below (generated from compiler)

VERSION 5.4 ;
NAMESCASESENSITIVE ON ;
BUSBITCHARS "[]" ;
DIVIDERCHAR "/" ;
UNITS
  DATABASE MICRONS 2000 ;
END UNITS
MACRO sram_64_128_sky130A
   CLASS BLOCK ;
   SIZE 1011.05 BY 444.61 ;
   SYMMETRY X Y R90 ;
   PIN din0[0]
      DIRECTION INPUT ;
      PORT
         LAYER met4 ;
         RECT  159.46 0.0 160.2 1.93 ;
      END
   END din0

[2022-03-10 11:05] armleo commented on #979
lef is definitely wrong. The placement seems to be wrong.

Fix this before proceeding with openlane

[2022-03-10 11:06] ratul619 commented on #979
Yes. Combinations of ALL inputs files dont seem to be in SYNC.

@vijayank88  - let me install and check.

I am closing this for now.

Thanks all for the help.

[2022-03-10 11:06] #979 closed

[2022-03-10 11:44] vijayank88 commented on #983
@donn
comment on this. seems installation issue.

[2022-03-10 16:00] nguyendao-uom commented on #983
Hi @vijayank88, I can install openlane separately (git clone ... && make pull-openlane), but got error when try to do `make user_project_wrapper`
[code]
couldn't find any solutions for it. Can you help me with this? Thanks

[2022-03-10 23:38] donn commented on #983
If you need help with caravel makefiles, file an issue in the caravel repository.

[2022-03-10 23:39] #992 closed

[2022-03-10 23:56] #988 closed

[2022-03-12 19:07] abdullahyildiz opened #996 "OpenLane flow causes segfaults during groute"
### Description
I get the following error during groute:
`[ERROR]: during executing openroad script /openlane/scripts/openroad/groute.tcl`

### Environment
OpenLane environment has been installed as part of
[Caravel User Project - mpw-5c release](https://github.com/efabless/caravel_user_project/tree/mpw-5c)
[code]

Commands used to run the design:
`make oc_can MGMT_AREA_ROOT=$UPRJ_ROOT/mgmt_core_w

[2022-03-14 10:09] donn commented on #977
Issue fixed in main- as this will continue to affect mpw-5c, the issue will remain open for documentation purposes.

[2022-03-14 10:34] Sukru-Uzun opened #997 "GND and VCC short circuit error"
[code]

I have tried to run openlane flow for my design but it has below strange error. It gave me lvs error due to short circuit of vcc and gnd. I could not find what causes that situation. GL and RTL verilog files seems connected correctly. Besides, I run `make user_proj_example` command to synthesize inherent modules. However, the error was from `user_project_wrapper`.

[code]

[2022-03-14 10:43] vijayank88 commented on #997
@Sukru-Uzun
Can you attach issue_reproducible based on the issue: https://github.com/The-OpenROAD-Project/OpenLane/blob/master/docs/source/using_or_issue.md

[2022-03-14 10:46] Sukru-Uzun commented on #997
There is no issue_reproducible file for this error. Here is my lvs log file which mentions error.
[30-user_project_wrapper.lef.log](https://github.com/The-OpenROAD-Project/OpenLane/files/8244031/30-user_project_wrapper.lef.log)

[2022-03-14 11:53] d-m-bailey commented on #997
@Sukru-Uzun Can you check your extract output? It might show a short there. Also if you have all the data in your repo, you could share that and I could take a look at it.

[2022-03-14 13:47] Sukru-Uzun commented on #997
@d-m-bailey, what do you mean by `extract output`? Is it a log file or somt like .gds?
[31-ext2gds.spice.feedback.txt](https://github.com/The-OpenROAD-Project/OpenLane/files/8245319/31-ext2gds.spice.feedback.txt)

This is my [repo](https://github.com/Procenne-Digital-Design/secure-memory/tree/sram) but it does not have post-processing file in it.

[2022-03-14 13:55] Sukru-Uzun commented on #997
I uploaded post-processing files

[2022-03-14 14:26] 0616ygh opened #998 "Pin vdd of instance xxx is not connected to any net"
### Description
I use 4 SRAM macros generated by OpenRAM in my CPU design.
For reasons of SystemVerilog syntax support，I synthesized the RTL files with Candence Genus (using the sky130A process).
I imported the synthesized netlist into OpenLane and used interactive mode for Floorplan and PnR.
 In the process, the problem as shown in the title appeared：
Pin vdd of instance DATA_RAM is not connected

[2022-03-14 14:26] 0616ygh opened #999 "The parameters suggested in PnR don't seem to work:[ERROR GPL-0302] Use a higher –density or re-floorplan with a larger core area"
### Description
OpenLane gives the target-density value it suggests. I followed the suggested parameter to reconfigure the config file and still encountered the same error. I would like to ask if the advice given by the program is not necessarily valid.
![test02](https://user-images.githubusercontent.com/97427070/158178882-38d281d1-a66d-4368-a7c9-9533447c46bc.png)

### Environment
[code]

### Repr

[2022-03-14 14:26] 0616ygh opened #1000 "Number of pins exceed number of valid positions"
### Description
In order to test the joint workflow of Genus and OpenLane, I synthesized a simple design based on Sky130A with Genus and imported it into OpenLane. When running pin-placement, the program gave the error report as shown in the figure.
![test004](https://user-images.githubusercontent.com/97427070/158179304-82644c93-342b-4aa0-b46f-69bf7dbcd11b.png)

### Environment
[code]
### Reproduc

[2022-03-14 14:27] 0616ygh opened #1001 "Questions about automatic placement of macros"
### Description
When I manually set “MACRO PLACEMENT CFG”, Global Placement can be successfully passed.
If other settings remain unchanged, only comment out ”MACRO PLACEMENT CFG”, then an error will be reported:
[ERROR GPL-0120] instance TAG RAM width is larger than the core.
![test05](https://user-images.githubusercontent.com/97427070/158187502-2d9f04c1-d2f9-40b4-bf80-22fd351d3dda.png)

My questi

[2022-03-14 14:27] 0616ygh opened #1002 "Question about "XXX is not routable by TritonRoute. Move to special nets Issue Number""
### Description
I used Cadence Genus to synthesize "BM64" (an example provided by OpenLane), which was mapped with sky130A.
I imported the synthesized gate-level netlist into OpenLane for Interactive Mode.
The following problem occurred during "run_routing":
![test07](https://user-images.githubusercontent.com/97427070/158189386-9593a7f1-b97a-4608-82fb-03239b4c59ab.png)

### Environment
[code]

###

[2022-03-14 14:28] nehamjhanwar opened #1003 "i am facing issue while running docker command available in course"
Hi Team,

i am facing issue while running  docker command available in course
**same error permission denied and image missing openlane:current**

 [Free VLSI Tutorial - VSD - A complete guide to install Openlane and Sky130nm PDK]
 (https://www.udemy.com/course/vsd-a-complete-guide-to-install-openlane-and-sky130nm-pdk/)

Of step3 docker **Final steps to install openlane toolchain  Video 7:23 to 8:

[2022-03-14 15:32] maliberty commented on #1000
This is a user error - you have more pins than places along the edges of your design to place them.  You need a bigger area or to use more layers.  If you feel the message is erroneous please state why.

[2022-03-14 15:33] maliberty commented on #1001
This is user error and the message is quite clear.  You can't put a macro into a design that isn't wide enough.  You should increase your core width.

[2022-03-14 15:56] d-m-bailey commented on #997
Something like `runs/<tag>/logs/magic/15-magic_gds.spice.log`

[2022-03-14 16:51] Sukru-Uzun commented on #997
I could find this one. I uploaded all my log files if you need other files.
[31-gds.spice.log](https://github.com/The-OpenROAD-Project/OpenLane/files/8246920/31-gds.spice.log)

[2022-03-14 20:39] tdene opened #1004 "Design reports after routing show technically-true, but practically-useless, utilization numbers"
### Description
During the implementation of any design, OpenLane will create a `reports` folder.
This `reports` folder has, among others, an area report.
The area report displays both raw area, as well as % utilization.

All routing and post-routing reports show 95%+ utilization due to the presence of filler cells.
This is technically true, but practically useless.

### Environment
[code]

### Re

[2022-03-14 20:50] d-m-bailey commented on #997
@Sukru-Uzun I cloned your repo. I assume you're on branch `sram`, you didn't say.
`31-gds.spice.log` is for `user_proj_example` not `user_project_wrapper`.
I could not find a `user_project_wrapper.gds` file in your repo.
Maybe you don't have these files because LVS fails at the LEF stage.
In your openlane directory, does `find user_project_wrapper -name '*gds*'` find anything?

[2022-03-15 05:53] bean0408 commented on #963
Sorry for chiming in but I'm facing the same problem with Ubuntu 18.04.6 LTS. Already updated to the latest git but to no avail. Couldn't find the git 2.35 version for my distro. Is there a workaround for this?

[2022-03-15 05:58] vijayank88 commented on #999
@0616ygh
Always use `suggested target density+ 0.01` will works.(greater than suggested value)
Here 0.41 will resolve your issue.

[2022-03-15 06:16] armleo commented on #963
It states in the error the workaround to this: Please specify OPENLANE_IMAGE_NAME manually.

Take a look at Makefile to determine what format it is.

Or build git from source.

Or update your os.

[2022-03-15 07:06] bean0408 commented on #963
Hi @armleo thanks for the reply and your suggestion, really appreciate it since I'm new at Linux. I built git from source and now it's working!

[2022-03-15 09:25] Sukru-Uzun opened #1005 "Routing congestion fault"
I have a congestion fault. I have tried different size of area but it didn't change the result. My density is around 0.1.
[openroad_issue_reproducible.tar.gz](https://github.com/The-OpenROAD-Project/OpenLane/files/8251830/openroad_issue_reproducible.tar.gz)

[2022-03-15 09:36] vijayank88 commented on #1005
@Sukru-Uzun
Please follow issue template its must.
OS/OpenLane version..etc.,

[2022-03-15 09:37] Sukru-Uzun commented on #1005
[code]

[2022-03-15 09:41] vijayank88 commented on #1005
@Sukru-Uzun
share user_proj_example/runs/<tag>/config.tcl

[2022-03-15 10:13] vijayank88 commented on #1005
@Sukru-Uzun
Is rtl and openlane directory DB is up-to-date right?

[2022-03-15 10:19] Sukru-Uzun commented on #1005
@vijayank88, yes

[2022-03-15 13:14] vijayank88 commented on #1005
@Sukru-Uzun keep the repo up-to-date. So its easy for the experts to debug the issue and provide the solution ASAP.

[2022-03-15 15:52] maliberty commented on #999
@vijayank88 if that is the case we should just change to the tool reported value.

[2022-03-16 06:18] vijayank88 commented on #1005
@Sukru-Uzun Close with comment how you resolved the issue. It will useful for other community users. thanks

[2022-03-16 10:54] donn commented on #1000
Matt is correct. You simply need a larger footprint. There physically isn't enough space for the number of pins you have.

[2022-03-16 10:54] #1000 closed

[2022-03-16 10:55] #1001 closed

[2022-03-16 10:57] 0616ygh commented on #1000
Ok, thank you for your reply. Let me reconfigure it carefully. Thank you very much.

[2022-03-16 10:58] 0616ygh commented on #999
Ok, thank you very much!

[2022-03-16 10:59] 0616ygh commented on #999
Your suggestion is effective. Thank you for your answer.

[2022-03-16 11:04] donn opened #1007 "Add standalone `insert_buffer` command"
### Prompt
The ECO flow has a command to insert a buffer on a pin. This command should be made available as a standalone openlane command as well.

### Proposal
Expose it.

[2022-03-16 18:36] maliberty commented on #998
You have no add_global_connection for pin vdd in pdn_cfg.tcl.  This is identical to https://github.com/The-OpenROAD-Project/OpenROAD/issues/1692

@donn this seems to be a hole in the OL methodology for incorporating macros easily.

[2022-03-17 04:15] proppy commented on #977
While it's nice to have less spammy output, it does make it harder to get a sense of how much progress the tooling doing, esp. for long running operation like `[INFO]: Running Detailed Routing...`.

Should we open another issue to discuss further improvement or is that ok to keep this issue open?

(I also just happened to stumble upon https://clig.dev by @cli-guidelines w/ some good recommendation

[2022-03-17 04:19] 0616ygh commented on #998
Thank you. I will make adjustments according to your suggestions and give feedback as soon as possible

[2022-03-17 10:24] donn commented on #977
You can just add `-verbose`, then.

I do agree about an exception for routing though. Maybe the OR team can add a more tty-friendly output format..? @maliberty Thoughts?

[2022-03-17 10:32] donn commented on #1003
I can't access either the course you're mentioning nor the image you just posted. Sorry, not much we can do to help here. OpenLane is under active development, so the most surefire way to install it is to read the documentation.

[2022-03-17 10:32] #1003 closed, assigned to nobody

[2022-03-17 10:34] donn commented on #987
An open_in_klayout function has been added to OpenLane that loads klayout from the commandline with the proper LEF file.

The symlinking was a bit janky, frankly... Made copying, pasting, tarring, etc. too volatile. Also placed constraints on where DEF files can be placed.

[2022-03-17 11:43] #997 closed

[2022-03-18 01:42] Hagiwara-shc opened #1010 "[ERROR DPL-0036] Detailed placement failed."
### Description
I got the following error and process exited abnormally during implementing my design.

[ERROR DPL-0036] Detailed placement failed.
Error: resizer.tcl, 78 DPL-0036
[ERROR]: during executing openroad script /openlane/scripts/openroad/resizer.tcl
[ERROR]: Exit code: 1
[ERROR]: Last 10 lines:
child process exited abnormally

### Environment
OpenLane environment has been installed as p

[2022-03-18 05:19] vijayank88 commented on #1010
@Hagiwara-shc
Regarding `"python3 ./env.py issue-survey" failed as follows...` this issue,

Try to use python3.6 and above version

[2022-03-18 05:27] vijayank88 commented on #1010
@Hagiwara-shc
`set ::env(FP_CORE_UTIL) 50` enable this in config.tcl and try lower value to utilize more core for placement, cell placement congestion high. Try `set ::env(FP_CORE_UTIL) 30`
![gh_1010](https://user-images.githubusercontent.com/85787913/158942769-56c3da3e-6b27-4e0c-a358-6cd0048dbb1d.png)

[2022-03-18 07:26] Abdulwadoodd commented on #992
@vijayank88 How do you see this core in gui? Is this MAGIC tool? Can you briefly explain how to get that view of the core in gui?

[2022-03-18 08:20] gncemre23 opened #1012 "LVS error net mismatch"
### Description
While hardening the core, which has SRAM macro and another digital which is hardened separately without any error, I get the LVS error given below.
![image](https://user-images.githubusercontent.com/3584912/158961649-522897bc-c286-46d6-aa2c-e581472cdc8d.png)

### Environment
[code]

### Reproduction Material
in the **[repository](https://github.com/Procenne-Digital-Design/secure-me

[2022-03-18 09:35] vijayank88 opened #1013 "Tool hangs during report_power calculation"
### Description
This is from slack channel #openlane https://skywater-pdk.slack.com/archives/C016H8WJMBR/p1647550327496089 conversation.
Raising the issue behalf of user @6Kotnk

Hello, has anyone tried synthesizing an asynchronous design using openlane? In my case, openlane hangs at report_power. If I disable the power report( by commenting it out in sta.tcl ) it then hangs when generating the PD

[2022-03-18 09:36] vijayank88 commented on #1013
By disable IR drop calculation able to complete PDN stage.
[code]

[2022-03-18 10:24] 6Kotnk commented on #1013
Thank you, this appears to have fixed my problem. However, I've had to comment out the code in pdn.tcl. Setting the environment variable in config.tcl does not seem to do anything.

[2022-03-18 10:54] vijayank88 commented on #1010
@Hagiwara-shc
With following updates in `config.tcl` am able to complete the flow successfully.
[code]

[2022-03-18 11:05] d-m-bailey commented on #1012
@gncemre23 Looks like you have a power short. Can you post your gds?

[2022-03-18 11:26] vijayank88 commented on #992
@Abdulwadoodd
Try the below command.
`openroad -gui`
Followed by you need to do
`read_lef` and `read_def`

[2022-03-18 16:34] armleo opened #1014 "SKY130 DECAP12 is too dense on LI1. Proposed solution."
### Prompt
I have very not dense design. DECAP12 has 80% coverage of the area, and since all spare locations have DECAP12, it means that I will always be above 40% maximal area for LI1.

### Proposal
My proposal would be to modify the filler insertion to limit how much of the area can be covered by DECAP12/DECAPS/Fillers.

Alternative: Use DECAP12 from efabless to workaround. It has sligtly less c

[2022-03-18 18:11] gncemre23 commented on #1012
Sure! Please find the attached
[user_project_wrapper.gds.zip](https://github.com/The-OpenROAD-Project/OpenLane/files/8306732/user_project_wrapper.gds.zip)
d

[2022-03-18 20:19] proppy commented on #977
@donn do you have some hints on how the `-verbose` flag works (does it take a level? or is that just a all of nothing thing?); it doesn't seems to affect the output for me.

[2022-03-18 23:02] Hagiwara-shc commented on #1010
@vijayank88
Thank you for your comment.

After I updated config.tcl as you suggested, [ERROR DPL-0036]  disappeared.
However, the flow stopped due to another problem.
Reproducible packaged and the log is as follows:

[openroad_issue_reproducible_2.tar.gz](https://github.com/The-OpenROAD-Project/OpenLane/files/8308035/openroad_issue_reproducible_2.tar.gz)

[INFO DRT-0181] Start track assignment.
[I

[2022-03-18 23:10] maliberty commented on #1004
This is because OL chooses to fill with decap cells not filler cells.  Filler cells are excluded but decaps are not fillers.  It is an OL decision and not a tool issue.  @donn

[2022-03-18 23:17] d-m-bailey commented on #1012
@gncemre23 Looks like your `user_proj_example` has met5 routing layers that are shorting with the `user_project_wrapper` power grid. Should be easy to see if you just display met5. Maybe set your max routing layer to met4.
<img width="520" alt="met5_shorts" src="https://user-images.githubusercontent.com/8349634/159095992-f488211e-f7b3-458e-ab1a-bda6d29db83d.png">

I don't believe this is an openro

[2022-03-19 02:12] proppy commented on #977
@donn my bad it's already documented in https://github.com/The-OpenROAD-Project/OpenLane/blob/master/docs/source/openlane_commands.md#general-commands, I just had to set it to something > `1` :)

[2022-03-19 02:22] vijayank88 commented on #1010
How much RAM does your machine have?

On Sat, Mar 19, 2022, 4:32 AM Hagiwara-shc ***@***.***> wrote:

[2022-03-19 02:27] Hagiwara-shc commented on #1010
RAM is 4.8GB, and I added 19GB swap file.

$ free -h
              total        used        free      shared  buff/cache   available
Mem:           4.8G        735M        1.1G         61M        3.0G        3.8G
Swap:           19G        953M         19G

[2022-03-19 02:34] vijayank88 commented on #1010
Increase your RAM size it will work. I will confirm later how much RAM
exactly you need to complete the routing. Also as per current configuration
flow failed with hold violations

On Sat, Mar 19, 2022, 7:58 AM Hagiwara-shc ***@***.***> wrote:

[2022-03-19 02:38] Hagiwara-shc commented on #1010
Ok, I will increase RAM size and try again.
Thank you.

[2022-03-19 06:00] vijayank88 commented on #1014
@armleo A testcase will help to debug and analyse what best can be done.

[2022-03-19 06:02] armleo commented on #1014
The current Magic check does not validate the li1 density rule. Any design with low density and big die area (1mmx1mm) are enough to reproduce. Do you want me to create a design for openlane to test?

[2022-03-19 06:11] armleo commented on #1012
Also you have typo here:
set ::env(VDD_NET) {vcdd1}
set ::env(GND_NET) {vssd1}

[2022-03-19 06:15] vijayank88 commented on #1014
yes

[2022-03-19 07:51] Sukru-Uzun commented on #1012
Is this klayout?

[2022-03-19 07:59] d-m-bailey commented on #1012
Yes, klayout.

[2022-03-19 08:02] Sukru-Uzun commented on #1012
Can we observe that on the Openroad -gui ? I cannot import gds or lef files in openroad.

[2022-03-19 09:19] gncemre23 commented on #1012
I realized that I did not set DESIG_IS_CORE parameter as 0 while hardening the user_proj_example macro. I guess that causes the tool is using met5 even if I set rt_max_layer as met4. Now, with this adjustment, I don't have any LVS errors.
Thank you @d-m-bailey

[2022-03-19 09:19] #1012 closed

[2022-03-19 13:02] vijayank88 commented on #1010
@Hagiwara-shc
Peak memory took to complete routing
[code]
Closed to 35GB need

[2022-03-19 13:14] vijayank88 commented on #1013
@donn
This is the solution to go forward or will be fixed in tool?

[2022-03-19 13:29] Hagiwara-shc commented on #1010
@vijayank88
My trial with larger RAM (48GB) has just completed! (with hold violations...). The log indicates 35GB peak too.

Thank you for your support.

[2022-03-19 13:29] #1010 closed

[2022-03-19 14:47] maliberty commented on #1013
@vijayank88 this is a workaround and the tool should still be fixed.  In such cases be sure to let the OR team know of the problem.

[2022-03-19 16:18] jurevreca12 commented on #996
I am getting the same error. Is there any progress/workaround on this?

[2022-03-19 17:33] maliberty commented on #996
This design has a very high placement density at the center:
![image](https://user-images.githubusercontent.com/761514/159131904-eb4f0ece-ed6b-4728-8e0a-7321871d1567.png)

I suggest you try lowering the placement density as a workaround for now.  Was this actually run through OR's global placer?  It seems unusual to have a diamond pattern and it suggests it wasn't.

[2022-03-20 03:43] VidyaChhabria commented on #1013
@maliberty  IR drop analysis inherently calls the subroutines of report_power to get the current values. So if report_power hangs, IR drop is hung too.

[2022-03-20 18:30] abdullahyildiz commented on #996
@maliberty,

When we tried to lower PL_TARGET_DENSITY, the flow failed by suggesting to increase the placement density.

[2022-03-20 19:25] maliberty commented on #996
PL_BASIC_PLACEMENT is generally a bad idea imho

[2022-03-21 04:57] ratul619 opened #1016 "Error during Detailed routing Error: net1129 11 pin not visited #guides = 7"
### Description

Error in PDN step :

Floorplan seems OK with spacing in between macros

### Environment
[code]

### Reproduction Material
* Upload a tarball containing the relevant design.
* List the commands used to run the design.

If you see a message like `Reproducible packaged: Please tarball and upload <PATH> if you're going to submit an issue` in your logs, please also tarball and include

[2022-03-21 04:57] ratul619 commented on #1016
Attaching collaterals

[2022-03-21 04:59] ratul619 commented on #1016
[openroad_issue_reproducible.tar.gz](https://github.com/The-OpenROAD-Project/OpenLane/files/8313207/openroad_issue_reproducible.tar.gz)
[sram_64_128_sky130A_SS_1p8V_25C.zip](https://github.com/The-OpenROAD-Project/OpenLane/files/8313211/sram_64_128_sky130A_SS_1p8V_25C.zip)
[sram_64_128_sky130A.zip](https://github.com/The-OpenROAD-Project/OpenLane/files/8313213/sram_64_128_sky130A.zip)

[2022-03-21 06:46] vijayank88 commented on #1016
@ratul619
Set following variable in `config.tcl` and re-try
`set ::env(FP_PDN_CHECK_NODES) 0`

[2022-03-21 07:20] ratul619 commented on #1016
Thanks. Went ahead with flow , but hit below issue :

Notice 0: Split top of 1 T shapes.
Notice 0: Split top of 1 T shapes.
Notice 0: Split top of 1 T shapes.
[INFO GRT-0012] Antenna violations: 127
[WARNING GRT-0054] Placement of diode ANTENNA_158 will be legalized by detailed placement.
[WARNING GRT-0054] Placement of diode ANTENNA_214 will be legalized by detailed placement.
[WARNING GRT-0054]

[2022-03-21 07:22] ratul619 commented on #1016
[openroad_issue_reproducible.tar.gz](https://github.com/The-OpenROAD-Project/OpenLane/files/8313680/openroad_issue_reproducible.tar.gz)

[2022-03-21 07:31] vijayank88 commented on #1016
@ratul619  can you share your `config.tcl`?

Check your `config.tcl` for variable `CELL_PAD` and share its value.

[2022-03-21 07:33] ratul619 commented on #1016
set ::env(CELL_PAD) {4}
set ::env(CELL_PAD_EXCLUDE) {sky130_fd_sc_hd__tap* sky130_fd_sc_hd__decap* sky130_fd_sc_hd__fill*}
set ::env(CELL_PAD) {4}
set ::env(CELL_PAD_EXCLUDE) {sky130_fd_sc_hd__tap* sky130_fd_sc_hd__decap* sky130_fd_sc_hd__fill*}
set ::env(CELL_PAD) {4}
set ::env(CELL_PAD_EXCLUDE) {sky130_fd_sc_hd__tap* sky130_fd_sc_hd__decap* sky130_fd_sc_hd__fill*}

[2022-03-21 07:33] ratul619 commented on #1016
[config.zip](https://github.com/The-OpenROAD-Project/OpenLane/files/8313734/config.zip)

[2022-03-21 07:42] vijayank88 commented on #1016
@ratul619
Can you re-try the flow with value of `CELL_PAD` with `2`?

[2022-03-21 08:39] ratul619 commented on #1016
Still fails

Notice 0: Split top of 1 T shapes.
Notice 0: Split top of 1 T shapes.
Notice 0: Split top of 1 T shapes.
Notice 0: Split top of 1 T shapes.
[INFO GRT-0012] Antenna violations: 116
[WARNING GRT-0054] Placement of diode ANTENNA_188 will be legalized by detailed placement.
[WARNING GRT-0054] Placement of diode ANTENNA_189 will be legalized by detailed placement.
[WARNING GRT-0054] Placem

[2022-03-21 09:17] ratul619 commented on #1016
Any other suggestions

[2022-03-21 09:19] vijayank88 commented on #1016
@ratul619
There are two options here to fix it.
1. set ::env(DIODE_PADDING) 0
2. Change the diode insertion strategy other than 3 will resolve this issue. `set ::env(DIODE_INSERTION_STRATEGY) 4`
Any one of above will woks and passing global route

[2022-03-21 09:55] ratul619 commented on #1016
[openroad_issue_reproducible.tar.gz](https://github.com/The-OpenROAD-Project/OpenLane/files/8314491/openroad_issue_reproducible.tar.gz)

[2022-03-21 10:02] vijayank88 commented on #1016
@ratul619
child killed signal probably a RAM issue. Check your  detailed router log for how much PEAK memory its took?
What is your RAM size available?

[2022-03-21 10:08] ratul619 commented on #1016
#macroNoAp             = 0
[INFO DRT-0166] Complete pin access.
[INFO DRT-0267] cpu time = 00:00:25, elapsed time = 00:00:15, memory = 5851.34 (MB), peak = 6812.30 (MB)
[INFO DRT-0151] Reading guide.

The peak doesnt seem much. Running on the 24GB RAM machine

[2022-03-21 10:09] ratul619 commented on #1016
Checking on : logs/routing/24-detailed.log

[2022-03-21 10:12] vijayank88 commented on #1016
@ratul619
To start detail routing itself is need close to 10GB. see my logs here
[code]
It may need more memory to run further. I'll let you know once my routing completes how much memory its took for routing.

[2022-03-21 10:25] vijayank88 commented on #1016
I'm facing some new issues.
[code]
Have you got any other issues during global routing?

[2022-03-21 11:07] vijayank88 commented on #1016
@maliberty
Please have a look into this issue.

Is that related to macro halo spacing, has router not able to access the pins?

[2022-03-21 12:11] vijayank88 commented on #1016
@ratul619
inside `runs` directory there is another `config.tcl` can you share that again?

[2022-03-21 14:21] mousaq92 commented on #1016
Hello,

I just saw this issue, and I want to join in on this if that's ok.

I downloaded the first reproducible that you posted.

In run.tcl, I changed set :: env(FP_PDN_ENABLE_MACROS_GRID) to 1

PDN now passes. Please let me know if this works.

Thanks,

Mousa

[2022-03-21 15:25] ratul619 commented on #1016
I increased the RAM , still fails here.

[INFO DRT-0036] met1 guide region query size = 4151.
[INFO DRT-0036] via guide region query size = 0.
[INFO DRT-0036] met2 guide region query size = 2740.
[INFO DRT-0036] via2 guide region query size = 0.
[INFO DRT-0036] met3 guide region query size = 1229.
[INFO DRT-0036] via3 guide region query size = 0.
[INFO DRT-0036] met4 guide region query size = 1077

[2022-03-21 15:27] ratul619 commented on #1016
[openroad_issue_reproducible.tar.gz](https://github.com/The-OpenROAD-Project/OpenLane/files/8316689/openroad_issue_reproducible.tar.gz)

[2022-03-21 15:29] ratul619 commented on #1016
@vijayank88  -- Did not face any issues in groute step

[2022-03-21 15:48] vijayank88 commented on #1016
@ratul619
It's took close to 22GB in 1st optimization itself

On Mon, Mar 21, 2022, 8:59 PM ratul619 ***@***.***> wrote:

[2022-03-22 06:04] vijayank88 commented on #1016
@ratul619
Can you share your DB/ repo?

[2022-03-22 10:26] vijayank88 commented on #1016
@ratul619
As your design have 16 Macros count, its need better floorplaning with routing obstruction.
I see there are  gnd and pwr rails goes over the macro. It should not happen.

Need to find where issue coming from and your design configuration too confusing.

[2022-03-22 19:06] maliberty commented on #1013
@donn @shalan although the tool shouldn't hang it makes no sense to run analyze_power_grid before placement.  You have no idea where the power draw will be on the grid.  In ORFS we run it as part of the final report.

[2022-03-23 12:36] EngRaff92 commented on #146
I’m planning to install open over this week, is there any update on the apple silicon support? Thanks for the hard work on getting this up and running

[2022-03-23 18:27] AdhithyanHaridas commented on #954
@vijayank88  can you please share the drc report and the log file for the run where it fails.

[2022-03-23 20:08] jjcherry56 commented on #1013
OR commit ba46a7a7c fixes this

[2022-03-24 12:36] ratul619 commented on #1016
https://github.com/ratul619/vector_processor_v1

Above is the github link for full design folder...

[2022-03-24 17:38] maliberty commented on #1016
@Stephanommg since you are looking at the connectivity checker please look into this one.

[2022-03-24 18:39] Prit1097 commented on #996
@abdullahyildiz Can you please upload the whole config setup for your design so that I can solve the error at my end ?

[2022-03-25 07:06] abdullahyildiz commented on #996
@Prit1097,

Do you mean [Reproduction Material](https://github.com/The-OpenROAD-Project/OpenLane/files/8238224/openroad_issue_reproducible.tar.gz)?

[2022-03-25 13:22] Prit1097 commented on #996
@abdullahyildiz yes.

[2022-03-25 17:31] Prit1097 commented on #996
@abdullahyildiz the reproduction material you already have uploaded and that is not enough. Can you please upload your entire design if it's possible?

[2022-03-25 18:19] Prit1097 commented on #996
@abdullahyildiz we are suspecting that the placement quality is bad. So if you upload your entire design we will be able to make a run for placement from our side.

[2022-03-25 18:27] abdullahyildiz commented on #996
@Prit1097,

Please run the following commands:

[code]

[2022-03-25 19:24] antonblanchard opened #1020 "Save SPEF file for all corners"
I'm doing STA of a design with macros, so need the SPEF files for all corners. We could either save all of them by default, or else add an option.

[2022-03-25 19:36] #1014 closed

[2022-03-25 19:52] mousaq92 commented on #996
Hello,

@Prit1097 and I are working on this issue. We cloned the design and updated config.tcl in /openlane/oc_can by removing PL_BASIC_PLACEMENT. We also changed PL_TARGET_DENSITY to 0.25.

The design passed global routing. It is currently in detailed routing. I will update you with the results when detailed routing completes.

Thanks,

Mousa

[2022-03-25 20:48] mousaq92 commented on #996
Hello @abdullahyildiz ,

This is to confirm that the flow passes using the configuration changes mentioned above.

Please note that the flow may also pass with a target utilization in the range [0.25, 0.6).

Here is a screenshot showing that the flow succeeded at 0.25 target utilization.

![image](https://user-images.githubusercontent.com/98984518/160198614-95f8ff14-a2a7-4abb-a27e-ac3bd3665010.png

[2022-03-26 07:18] vijayank88 commented on #954
@AdhithyanHaridas  https://slack-files.com/T01699QAZBQ-F034BBR5T8U-2bc88bbcfc

[2022-03-26 09:18] vijayank88 commented on #954
@dralabeing
With OpenLane tag: [2022.03.15_02.27.26](https://github.com/The-OpenROAD-Project/OpenLane/releases/tag/2022.03.15_02.27.26) I am not getting any Magic DRC violations.

[2022-03-26 14:35] abdullahyildiz commented on #996
@mousaq92, @Prit1097,

Thanks for your support.

[2022-03-26 17:56] maliberty opened #1021 "Expose OR pin placement controls in OL"
### Prompt
I was watching @mattvenn 's interview with @dineshannayya (https://www.youtube.com/watch?v=lFVnicPhTI0)  where Dinesh says that he can't control io pin placement.

### Proposal
OR has controls for io pin placement with the place_pin  and set_io_pin_constraint commands.  OL should expose a way for the user to use them.

[2022-03-27 00:13] arlpetergadfort commented on #1002
@maliberty this is the same issue as I mentioned to you before. If you don't use genus to tie off the tie hi and tie lo nets, opensta creates zero_ and one_ for those nets and because openroad has no native way to insert the tieoffs they are left floating and incorrectly defined.

[2022-03-27 04:01] donnie-j commented on #292
### What is this?
This is a patch that adds mixed language support for VHDL using GHDL though the Yosys GHDL module.

I adds these new environment variables, trying to match the style of OpenLane (for better or worse):

- SYNTH_BIN_OPTIONS Extra command line options for Yosys.  Put "-mghdl" in here
- VHDL_FILES Space separated list of files that the synthesis script will cause ghdl to analyze
- VH

[2022-03-27 04:48] maliberty commented on #1002
@arlpetergadfort what is different about the incoming verilog from versus what we get from yosys where we don't see this issue?  Does it not use 1'b1 / 1'b0 for constants?

[2022-03-27 04:49] maliberty commented on #1002
I need to see the upstream .v not the the router input .def to understand the issue.

[2022-03-27 07:28] 0616ygh commented on #1002
I'm sorry I'm late.
I checked the relevant files and found a "28-global.v" file in "run/tmp/routing". I think this is upstream. v.
I also packaged genus-synthesized netlist and the Verilog files resized during placement and routing into a zip file.
Thank you for your help.
[verilogcode.zip](https://github.com/The-OpenROAD-Project/OpenLane/files/8357113/verilogcode.zip)

[2022-03-27 11:45] arlpetergadfort commented on #1002
The netlist was generated in genus and not yosysy according to the OP.

[2022-03-28 11:42] #1007 closed

[2022-03-28 11:44] donn commented on #146
@EngRaff92 Not yet, I've been extremely busy the last while. I'll get to it soon, I promise.

[2022-03-28 11:48] EngRaff92 commented on #146
No worries at all, was just asking since the entire thread was not updated further thanks for confirming regards

[2022-03-28 14:29] ratul619 commented on #1016
HI , Any update on this ?

Thanks

[2022-03-28 15:57] maliberty commented on #1002
I believe the Genus command is add_tieoffs

[2022-03-28 16:27] arlpetergadfort commented on #1002
What tool would `insert_tiecells` belong to? I already have some code that performs this for us and would be relatively easy to put a PR together for this. Since we didnt use genus to insert the tiecells either, it would be helpful for us as well.

[2022-03-28 16:29] maliberty commented on #1002
It could go in ifp but is there a reason you don't insert ties with Genus?

[2022-03-28 16:30] arlpetergadfort commented on #1002
Because I could do it in Innovus. No real reason except that we didn't.

[2022-03-28 17:15] mithro commented on #292
FYI -- @umarcor @antonblanchard

[2022-03-28 17:15] mithro commented on #292
I believe that @antonblanchard has been using VHDL heavily with OpenLane / OpenROAD for taping out https://github.com/antonblanchard/microwatt

[2022-03-28 20:26] maliberty commented on #1002
In https://github.com/The-OpenROAD-Project/OpenROAD/pull/1724 @arlpetergadfort added an insert_tiecells command.  So you can solve this either in Genus or in OR.

[2022-03-28 20:46] mousaq92 commented on #1016
Hello @ratul619 ,

The design that you provided uses the following Verilog file for the sram blocks sram_1rw1r_32_256_8_sky130.v.

The lef and lib files that you provided are for a completely different sram block

sram_64_128_sky130A.lef
sram_64_128_sky130A_SS_1p8V_25C.lib

Can you please upload the right verilog, lef, lib, and gds files for the sram blocks?

Thanks,

Mousa

[2022-03-28 21:19] donn commented on #1020
That's in #978, just need to fix a couple designs...

[2022-03-28 21:29] maliberty commented on #996
The crash still needs to be resolved so I'm reopening for that.

[2022-03-28 22:08] Stephanommg commented on #1016
I am using this link to reproduce the error: https://github.com/The-OpenROAD-Project/OpenLane/files/8316689/openroad_issue_reproducible.tar.gz

Is it still up to date?

[2022-03-29 09:49] ratul619 commented on #1016
Yes . its upto date. No changes have been made

[2022-03-29 13:10] #923 closed

[2022-03-29 16:22] trungnl2000 opened #1025 "Error during synthesize"
Hi everyone, I just started learning about ASIC synthesize. I am trying to use openlane and skywater pdk to synthesize my design. While running openlane with default _config.tcl_ file i get the following error:

_[ERROR]: during executing: "yosys -c /openlane/scripts/yosys/synth.tcl -l /openlane/designs/RANCNetworkGrid/runs/RUN_2022.03.29_14.35.40/logs/synthesis/1-synthesis.log |& tee >&@stdout"
[

[2022-03-30 05:18] vijayank88 commented on #1025
@trungnl2000
issue template missing. Like OpenLane version, OS, etc.,
For  synthesis issue debugging we need source verilog, config.tcl etc.,

[2022-03-30 11:52] antonblanchard commented on #292
This is great! One thing I've struggled with is how to power macros. Right now I modify the generated verilog with a script:

https://github.com/antonblanchard/microwatt/tree/caravel-mpw5-20220323/caravel

But this was developed over a year ago and perhaps the updates to the PDN code in Openlane and OpenROAD render it unnecessary now.

[2022-03-30 12:55] antonblanchard commented on #1016
Possibly a reproduce of https://github.com/The-OpenROAD-Project/OpenROAD/issues/1677

[2022-03-30 13:41] dralabeing commented on #1013
@mousa do you want to validate this fix?

[2022-03-30 21:03] Stephanommg commented on #1016
The problem is solved. The solution is currently in this branch: https://github.com/The-OpenROAD-Project-private/OpenROAD/tree/secure-TR_APsWithShapes

However it is still under more testing.

[2022-03-30 23:04] mousaq92 commented on #1013
How can I get OR commit ba46a7a7c?

Thanks,

Mousa

[2022-03-31 02:00] 3x10e8 opened #1028 "[mpw-5] groute.tcl exits abnormally on analog GDS integration, possibly congestion error?"
### Description
Global router errors out when attempting to make user_project_wrapper for a custom analog GDS layout of ReRAM cells along with a stacked MiM cap array using M3-M5 layers in sky130B. We have tried changing parameter settings on [config.tcl](https://github.com/jainsoumil2/ReRAM-16x16/blob/design/openlane/user_project_wrapper/config.tcl) but we are still unable to get the flow to comp

[2022-03-31 03:29] maliberty commented on #1028
I think you'll have better success if you bring the pins out to the edge of your macro rather trying to get the router to see all the gds level details and find a connection.

[2022-03-31 04:59] ratul619 commented on #1016
Anyway i can take the solution at this point ?

[2022-03-31 05:31] mousaq92 commented on #1013
Hello,

I re-installed OR. I can confirm that pdn passes. I see a lot of warnings. Here's a screenshot for your reference.

![image](https://user-images.githubusercontent.com/98984518/160982966-4f0fce12-bc44-49a8-840e-d0b4197fd5b4.png)

Thanks,

Mousa

[2022-03-31 05:42] maliberty commented on #1016
You can always build OR from source however that branch does have some issues found in testing so caveat emptor

[2022-03-31 05:42] maliberty commented on #1013
running ir drop without detailed placement is going to be virtually meaningless.

[2022-03-31 05:52] vijayank88 commented on #1028
@3x10e8
Your design looks highly congested
![gh_1028_1](https://user-images.githubusercontent.com/85787913/160985645-7f206cc1-26cc-49ca-8615-b800e0a5af59.png)

Check zoomed view
![gh_1028_2](https://user-images.githubusercontent.com/85787913/160985687-34cf836b-cf5b-4264-8089-2b4dc6df5ad5.png)

[2022-03-31 07:07] hdemir93 opened #1029 "LVS mismatch in user_project_wrapper"
### Description
Hello everyone, I tried to run user_project_wrapper with my design inside. There is a mismatch in LVS stage, which outputs the log message below.
[code]
When I search the mismatches in the logs, I have seen these nets caused the error. (This part is not the entire log, the log is inside reproducibles_and_logs.tar.gz)
[code]
There were no generated tarballs, so I tried my best to in

[2022-03-31 09:07] d-m-bailey commented on #1029
@hdemir93 Looks like you have multiple unconnected `vccd1` and `vssd1` texts/labels in your layout. You could try removing the unused ones.

[2022-03-31 10:34] hdemir93 commented on #1029
I only used vccd1 and vssd1 in my RTL, it seems the tool automatically synthesizes them. So I can not simply delete them from my RTL, I need to know how I can prevent the tool to synthesize it.

[2022-03-31 13:27] maliberty commented on #1028
@vijayank88 those are just fill cells.  Looking at the routing congestion is more useful for global routing issues.  The macro is the area of high congestion

[2022-03-31 17:26] mousaq92 commented on #954
make user_proj_example stuck at synthesis using OL Tag: 2022.03.31_02.35.19

Used the design in this github repo
https://github.com/mxiangyue/caravel_user_project/blob/main/openlane/user_proj_example/config.tcl

[2022-04-01 04:47] antonblanchard opened #1030 "ECO flow doesn't insert fill cells"
The recent ECO update inserts fill cells in a different place. We used to insert it after ECO was complete, now we insert it inside the
` while {$::env(ECO_FINISH) != 1} {` loop. Amongst other things, this means we never insert fill cells if there were no hold violations in the first place to fix up.

I'm also not sure where we would remove the fill cells on a second iteration.

[2022-04-01 12:14] vijayank88 commented on #1028
@3x10e8
Can you explain how you defined this
[code]
https://github.com/jainsoumil2/ReRAM-16x16/blob/bb4e2123fda891e71311465667a7af3908684db8/openlane/user_project_wrapper/config.tcl#L76

[2022-04-01 22:57] 3x10e8 commented on #1028
@vijayank88 thank you for catching that! The design top_module has an array of MiM caps using M3, M4, and M5 layers, and our goal here was to obstruct out M4/M5 over the MiM caps, but those values are all wrong, sorry!

I have gone back to the macro placement coordinates used by the mprj counter example included with caravel_user_project: [macro.cfg](https://github.com/jainsoumil2/ReRAM-16x16/blob

[2022-04-04 01:48] kop316 opened #1032 "OpenSTA reports impossibly low numbers"
### Description
In running Openlane, I added `report_units` to `sta.tcl` and `sta_multi_corner.tcl` as shown here:

https://github.com/The-OpenROAD-Project/OpenLane/pull/1031

and I get for the default `user_proj_example`

[code]
Power is reported as nW, but the Power is in the 10^-4 nW range, which is impossible.

Parasitics STA has the same issue:
[code]

### Environment
[code]

### Reproduction

[2022-04-04 03:39] maliberty commented on #1032
The sta docs say "Power values are reported in watts." for report_power.

[2022-04-04 03:39] maliberty commented on #1032
https://github.com/The-OpenROAD-Project/OpenSTA/blob/master/doc/OpenSTA.pdf

[2022-04-04 03:55] kop316 commented on #1032
From a UI perspective, that is confusing then. Why does `report_units` report `nW` if `report_power` is in watts? I would think they should be consistent.

Additonally, If I replace https://github.com/The-OpenROAD-Project/OpenLane/blob/master/scripts/openroad/sta.tcl

with only the line:
[code]

I get:

[code]

So somehow sta.tcl is modifying `report_units` to be `1nw`.

[2022-04-04 05:52] maliberty commented on #1032
The units are taken from the 1st .lib read

[2022-04-04 06:35] vijayank88 commented on #1028
@3x10e8
`child killed signal` related to system resource issue.
 Starting at 0th routing optimization its tooks more than 25GB RAM.
I'll update once flow completes how RAM required to complete routing stage.

Increase your system resource and try it.

[2022-04-04 07:01] vijayank88 commented on #1028
Routing completed successfully with 28GB RAM. Here's routing view
![1028_Routing](https://user-images.githubusercontent.com/85787913/161490081-9a26d5f8-3327-4710-b10e-968cb8ca31b2.png)

[2022-04-04 17:38] 3x10e8 commented on #1028
Oh I guess we ran out of RAM. Could you share the final output GDS?

[2022-04-04 23:28] antonblanchard opened #1035 "Issues with buffer selection"
In https://github.com/efabless/caravel/issues/41 @rtimothyedwards mentions:

I also noticed the use of clkbuf and delay buffers in a number of places. Both `buffer_ports` and `repair_design` sometimes use clkbuf or dlybuf/dlygate/dlymetal instances. I presume this is due to `Resizer::findTargetCell()` which loops through `sta_->equivCells()`. buf* clkbuf* and dly* cells are all considered equivale

[2022-04-05 01:43] maliberty commented on #1035
Is there anything inherently bad about using a clock buffer outside the clock tree?  It is usually just better balanced between rise and fall delay.

[2022-04-05 02:09] RTimothyEdwards commented on #1035
In theory, I would expect that the clock buffer is larger than the equivalent regular buffer due to the devices sized up to make the output crossing balanced, which will tend to make the layout less optimal and less compact.  That said, though, I notice that for the sky130 HD library, the `clkbuf_1` is just the `buf_1` flipped (why??) and the `clkbuf_2` made the pFETs larger but the nFETs smaller,

[2022-04-05 02:13] RTimothyEdwards commented on #1035
I've always wanted to create a system of half-cells where all standard cells are either just the N or the P side, and the synthesis tools just mix and match whatever works best.  Why let half your cell slow your system down because you couldn't optimize the N and P sides independently?

[2022-04-05 09:30] vijayank88 commented on #1028
@3x10e8
attached out.def for your reference.
[routing.zip](https://github.com/The-OpenROAD-Project/OpenLane/files/8416827/routing.zip)

[2022-04-05 09:33] vijayank88 commented on #1028
@3x10e8  attached file here
[routing.zip](https://github.com/The-OpenROAD-Project/OpenLane/files/8416852/routing.zip)

[2022-04-05 09:36] vijayank88 commented on #1028
@3x10e8
Considering its related to system resource, closing this issue. Open new issue if you had any other design issues.

[2022-04-05 09:36] #1028 closed

[2022-04-07 18:59] #1020 closed

[2022-04-08 19:20] cbalint13 commented on #146
@robtaylor
@ax3ghazy

FYI

* Complete centos8, fc35, fc36, fc37 x{aarch64, ppc64le, x86_64}  native package support: https://gist.github.com/cbalint13/1de29fbe77e8dedddd3861b5f49a1835

* Mentioned repository are weekly automated (including CI regressions), holds **all tooling needed** for openlane, and beyond.

* In case of **openlane** post-build regressions are done via  ```openlane-flow.tcl -de

[2022-04-08 19:42] cbalint13 commented on #146
@robtaylor
@ax3ghazy
@donn

FYI

* Complete centos8, fc35, fc36, fc37 x{aarch64, ppc64le, x86_64}  native package support: https://gist.github.com/cbalint13/1de29fbe77e8dedddd3861b5f49a1835

* The [VLSI repository](https://copr.fedorainfracloud.org/coprs/rezso/VLSI/) is weekly automated (+CI regressions), holds **all tooling needed** for openlane, and beyond.

* In case of **openlane** post-build

[2022-04-09 08:50] cbalint13 opened #1037 "OpenLane now fails on PDN with latest OpenROAD changes"
OpenLANE fails on PDN step due to OpenROAD [pdn: convert to c++ #1749](https://github.com/The-OpenROAD-Project/OpenROAD/pull/1749) .

Error [with a reproductible](https://github.com/The-OpenROAD-Project/OpenLane/files/8456577/pdn-issue.tar.gz) step:
[code]
OpenROAD version:
[code]

---

All [openlane builds fails](https://copr.fedorainfracloud.org/coprs/rezso/VLSI/build/4123317) at post-build regr

[2022-04-09 09:10] vijayank88 commented on #1037
@cbalint13
Currently checked with OR version: OpenROAD v2.0-3078-g4e7b85576
Not facing any issue with test case attached. Successfully completed PDN stage.

[code]

[2022-04-09 09:33] cbalint13 commented on #1037
@vijayank88 ,

* The v2.0-3078-g4e7b85576 is one month **before** mentioned PDN changes in openroad.
[code]

To summ up:

* openlane (all versions, including latest) fails with the **newer** openroad.
* openlane suffer this recent openroad change: [pdn: convert to c++ #1749 ](https://github.com/The-OpenROAD-Project/OpenROAD/pull/1749) / 07-Apr-2022.

[2022-04-09 14:54] arlpetergadfort commented on #1037
@cbalint13 I'll take a look, but there are a couple of things that changed.
1. To use the "tcl based" version of  TCL you must use a CFG file (not a hybrid set of commands). This method will be deprecated eventually, To switch you will need to update the pdn.tcl script to something like:
[code]
2. 28.8270um doesn't appear to match the manufacturing grid of 0.005, so you would probably need to corr

[2022-04-11 10:51] BYCakar opened #1040 "DRC error when running user_project_wrapper"
### Description
Hello everyone, I am trying to implement SRAM macros inside caravel user area. Everything works fine until DRC step. In the DRC step, I get this error message.
[code]
When I look at the 31-drc.log, I see these error messages.
[code]
I added the relevant log file in reproducibles_and_logs.tar.gz .
### Environment
[code]
### Expected behavior
No DRC errors expected.
### Reproduction

[2022-04-11 11:04] vijayank88 commented on #1040
@BYCakar

Are you using mpw-5c tag?

[2022-04-11 11:20] BYCakar commented on #1040
I think I am not using a tag, but a later version anyway. Git log is below.
[code]

[2022-04-11 11:25] vijayank88 commented on #1040
@BYCakar
Please update as https://github.com/efabless/caravel_user_project/blob/main/docs/source/quickstart.rst with mpw-6a tag and re-run the flow and let us know.

[2022-04-11 11:35] d-m-bailey commented on #1040
@BYCakar This may be an out of memory error. Try watching the memory usage before the crash.

[2022-04-11 14:36] #912 closed

[2022-04-11 14:37] #806 closed

[2022-04-11 14:39] #983 closed, assigned to vijayank88

[2022-04-11 14:40] #942 closed

[2022-04-11 18:03] tdene commented on #1037
See [this notebook](https://colab.research.google.com/drive/1bqAWs2To8suxx5acmCYp10iWlKI-Qsn4#scrollTo=3wjq8EkRhv1i) for a publicly reproducible instance of this issue.

The link above should scroll one directly to the `###Create OpenLane config file for our design` cell under `## Run Sklansky adder through OpenLane` under `# Implement adders through OpenLane`.

Note this section:
[code]

The issu

[2022-04-12 04:21] tdene commented on #1037
To clarify, I believe this issue lies within OpenLane, and is related to recent changes to OpenROAD's PDN code.

The issue, as I see it, is with OpenLane's `FP_PDN_AUTO_ADJUST` setting PDN pitch / offset values that are no longer seen as valid by OpenROAD.

I think there was some confusion in the PR thread. The entity that is dividing by 3 is not @cbalint13, but rather OpenLane itself.

That said,

[2022-04-12 04:24] proppy commented on #1037
yep, I can confirm I'm getting the same error with the built-in inverter example: https://colab.research.google.com/gist/proppy/8c8ee486c297dc948f33a14b6efe36f6/openlane-with-conda-eda.ipynb#scrollTo=VP60fdObiP15
[code]

[2022-04-12 15:55] tdene opened #1045 "OpenLane no longer provides report_design_area reports as of a recent commit"
### Description

Running a design through OpenLane on tag `2022.02.21_02.33.47` provides `report_design_area` output for steps 8, 12, 23, 24.

Running a design through OpenLane on the most recent commit outputs the phrase `SKIPPED!` to the area reports for steps 8, 12, 14, 27, 28.

This lack of automatic area reporting is significant.

### Environment
[code]

### Reproduction Material

[code]

###

[2022-04-12 16:32] maliberty commented on #1045
I think this is due to https://github.com/The-OpenROAD-Project/OpenLane/commit/b73708657657af6c1d7626ff8d390adc982627db

In report.py it used to look for design_area in synthesis and area_report in OR logs.  Now it just looks for design_area which is not found, hence SKIPPED.

[2022-04-12 17:28] tdene commented on #1045
I am confirming that Matt's suggested change fixes both the PnR area report (previously working, currently not working) as well as the post-ABC synthesis area report (previously not working, currently not working).

Attaching #1047

[2022-04-12 19:51] antonblanchard commented on #1030
@donn your commit f2f5d8358795a14f3eb1c7c9b0a992b2ab2c49f0 seems to have changed some of the logic:

- Previously we'd call `reorg_reports.sh` in each iteration of the loop, now we don't.
- Previously we'd call `ins_fill_cells` once, after the loop is complete. Now we call it once every loop.

[2022-04-12 22:40] Stephanommg commented on #1016
Please test again with the master branch. It should be solved.

[2022-04-13 01:36] donghl17 commented on #1030
I'm taking a look at it, and I may probably agree with @antonblanchard because I remember we fixed this problem before.

[2022-04-13 02:47] #1045 closed

[2022-04-13 23:44] tdene commented on #1037
I recommend that this be closed with #1044 now merged in.

Though it should be noted that this was merely patched over, not properly fixed.

[2022-04-14 01:11] proppy commented on #1037
is there already another issue documentating what the proper fix should be?

[2022-04-14 04:47] maliberty commented on #1037
@proppy in #1044 there is a discussion of the proper fix.

[2022-04-14 14:09] tdene opened #1050 "FP_PDN_AUTO_ADJUST should guarantee that it snaps to the manufacturing grid"
### Prompt
The `FP_PDN_AUTO_ADJUST` flag, as implemented [here](https://github.com/The-OpenROAD-Project/OpenLane/blob/master/scripts/tcl_commands/floorplan.tcl#L67) currently sets the pitch and offset of the power grid by dividing the core width and height by the hard-coded values 4 and 8.

While this is sufficient for currently-supported PDKs, it is not future-proof.

### Proposal
The method in q

[2022-04-14 14:09] tdene commented on #1037
@proppy you're absolutely right. See #1050!

[2022-04-15 10:25] antonblanchard commented on #1020
We are producing min/nom/max spef files, but we only copy the nominal one into the target directory:

[code]

[2022-04-15 18:18] armleo commented on #878
Update. I am no longer able to work on this.

The current implementation was using a Tcl list to describe all pins that are analog, then it was supposed to route them using custom DEF rules however there were two issues.
1. Magic VLSI didn't respect the LEF custom rules, so the rules were moved to DEF. See https://github.com/RTimothyEdwards/magic/issues/151.
2. That I was unable to force the route

[2022-04-15 18:24] armleo commented on #892
I am no longer working on the fix for this as I have no time.

[2022-04-15 23:32] jjcherry56 commented on #1032
Units come from the first liberty file, but in the case of report_power it makes no sense to use nW to report chip power so watts are used, documented, and now included in the report for those that don't read documentation.

[2022-04-15 23:32] #1032 closed

[2022-04-16 00:01] donn commented on #892
That's totally fine! Thank you for telling me and not leaving us hanging.

[2022-04-17 09:28] harshithsn opened #1060 "Getting KLayout Violation = -1 in OpenLane Flow."
I am getting KLayout Violations as -1 in OpenLane Flow
How to Overcome this issue?

![k](https://user-images.githubusercontent.com/63975346/163708616-fdf9fd4e-0bf2-44ce-8c37-b21060391182.PNG)

[2022-04-17 16:21] vijayank88 commented on #1060
@harshithsn
share `openlane.log`, `cmds.log` and `config.tcl`

[2022-04-18 14:29] donn commented on #1060
There's no need. Klayout DRC is not currently available for the Sky130 PDK.

[2022-04-18 14:29] #1060 closed

[2022-04-18 14:36] donn commented on #1060
Apologies: Slight correction, it's disabled by default as it takes immense compute power. `set ::env(RUN_KLAYOUT_DRC) {1}` in your design config if you'd like it.

[2022-04-18 16:11] jaquerinte opened #1063 "Issue with detail placement"
### Description
User project example with the MPW-6b tag does not work. Ending without providing  an error of what happen in the detail placement.

### Environment
[code]

### Reproduction Material
make user_proj_example
[issue_openlane.tar.gz](https://github.com/The-OpenROAD-Project/OpenLane/files/8506762/issue_openlane.tar.gz)
### Expected behavior
openlane finish correcly or outputs an error to

[2022-04-19 06:14] vijayank88 commented on #1063
@jaquerinte
Its fail during detailed placement. Log shown below:
[code]
Your placement density looks high.
![dpl_1063](https://user-images.githubusercontent.com/85787913/163937650-ec071fe5-a6a4-4f10-ae24-82f65b5b0db6.png)

If you're using default `CORE_UTIL` mean reduce the value further and try to utilize more core area, also try to relax `PL_TARGET_DENSITY` will resolve this issue.

[2022-04-19 11:50] jainsoumil2 commented on #1028
@vijayank88 apologies for replying this late to the thread, but is it still possible that you can share the final output in GDS format? I was having trouble reading the .def file you shared in magic. It's unable to read decap standard cells., amongst other standard cells. It'll be very appreciated!

[2022-04-19 12:16] vijayank88 commented on #1028
@jainsoumil2
Please open a new issue and where you get struck with Magic while loading .def file?
share your command tried to load .def into magic.

[2022-04-19 16:38] jaquerinte commented on #1063
Ok, I just re-try increasing the size of the area and reducing density seems to pass that point, but now I have an congestion error. But seems weird, is the same desing that I tape out for MPW-2 and is taking a lot more area and less density. I mantain this issue or I closed beause the issue has change?

[2022-04-19 16:41] maliberty commented on #1063
There are a multitude of possible changes that could be the cause of the difference from MPW-2 (tool, flow, pdk, etc).  If you want to dig into that and narrow it down to an actionable issue it would be interesting.

I think I would make a new issue for the congestion.

[2022-04-19 16:53] jaquerinte commented on #1063
perfect thanks, I will try to investigate that, I will try so solve the congestion first if not I will post a new issue

[2022-04-19 16:53] #1063 closed

[2022-04-20 08:06] vijayank88 opened #1064 "MPW CI fails with mpw-6b tag and above"
### Description
We're maintaining all MPW shuttle designs here: https://github.com/The-OpenROAD-Project/OpenLane-MPW-CI

Earlier stable OpenLane tag we tested is  [2022.03.03_02.36.44](https://github.com/The-OpenROAD-Project/OpenLane/releases/tag/2022.03.03_02.36.44).
CI status available here: https://jenkins.openroad.tools/blue/organizations/jenkins/OpenLane-MPW-CI-Public/detail/PR-20/2/pipeline

[2022-04-20 08:18] antonblanchard commented on #1064
Some discussion of the RC parasitics changing over time in https://github.com/RTimothyEdwards/open_pdks/issues/251

[2022-04-20 08:57] dralabeing commented on #1064
@tspyrou explained that the setrc  tcl file , see example here (https://github.com/The-OpenROAD-Project/OpenROAD-flow-scripts/blob/master/flow/platforms/sky130hd/setRC.tcl) must be updated so that the global route based timing estimates will correlate with the signoff values after openrcx. Otherwise optimization will not see slack change and hence the timing violations. This was pending.
@donn wha

[2022-04-20 09:11] antonblanchard commented on #1064
I think the issue is not the pre detailed routing parasitic capacitance estimates but bad openrcx data that was fixed recently by @donn and @rtimothyedwards. I'm working with Openlane trunk and the parasitic capacitance estimates are the closest they have ever been.

[2022-04-20 09:12] antonblanchard commented on #1064
FYI Those fixes are post `mpw-6b`

[2022-04-20 09:20] dralabeing commented on #1064
@antonblanchard Thanks for the update and it is good to know that openrcx data updates potentially fixes this problem and that there is better co-relation. (hopefully) from gr timing and openrcx signoff.
@donn will these fixes be committed  into mpw-6b soon ?

[2022-04-20 17:11] tdene opened #1065 "The "Building the PDK Manually" section of the README does not work with the current repository"
### Description
Commit 54ec01ab0d removed the line `include ./dependencies/pdk.mk` from the [top-level Makefile](https://github.com/The-OpenROAD-Project/OpenLane/blob/master/Makefile#L162).

This leads to the README instructions found [here](https://github.com/The-OpenROAD-Project/OpenLane/#building-the-pdk-manually) to no longer be accurate.

It is not clear to me which of the two places is the o

[2022-04-20 18:52] YuetingLi666 opened #1066 "questions towards edit .tlef file"
Hi openlane team, we are trying to feed our own generated std cells (still skywater 130nm) into the flow and wonder whether we could change .lef file.

Can we edit the SITE unit size part of the .tlef file as shown in the figure below (to adjust it into the same size as our generated std cells)? Such as add a SITE unithdtpl (high density, triple height), or just change the width/height value of SI

[2022-04-21 06:50] vijayank88 commented on #1066
@YuetingLi666
As per your slack channel conversation: https://skywater-pdk.slack.com/archives/C016H8WJMBR/p1650516094388809?thread_ts=1650480803.067309&cid=C016H8WJMBR

Add `PLACE_SITE` in OpenLane flow `config.tcl` to use your custom `-site` values as follows:
[code]

[2022-04-21 07:35] vijayank88 commented on #1064
With OpenLane tag [2022.04.17_01.59.58](https://github.com/The-OpenROAD-Project/OpenLane/releases/tag/2022.04.17_01.59.58) timing violations issue got fixed. Closing this issue.

[2022-04-21 07:35] #1064 closed

[2022-04-22 10:26] vijayank88 opened #1067 "LVS Mismatch Error"
### Description
Using OpenLane tag [2022.04.17_01.59.58](https://github.com/The-OpenROAD-Project/OpenLane/releases/tag/2022.04.17_01.59.58) fails with LVS.
Its MPW5  precheck passed designs. But its failing with LVS stage with above OpenLane tag.

### Environment
[code]

### Reproduction Material
-Unzip the file
[FMAC_wrapper.zip](https://github.com/The-OpenROAD-Project/OpenLane/files/8539952/FMAC

[2022-04-23 11:56] antonblanchard commented on #1067
It looks a bit like the macro is unpowered:

[code]

Perhaps something went wrong with the PDN? Can you check that there are vias connecting met5 to met4 power?

[2022-04-23 12:43] vijayank88 commented on #1067
@antonblanchard
User repo available here: https://github.com/The-OpenROAD-Project/caravel_user_project/tree/KashifInayat/F-MAC

While we trying to push MPW5 design to MPW CI facing such LVS error for many designs with latest openlane tag.

CI logs https://jenkins.openroad.tools/blue/organizations/jenkins/OpenLane-MPW-CI-Public/detail/PR-26/1/pipeline/1102

[2022-04-23 21:56] harshithsn commented on #1060
@donn  Thank You Sir

[2022-04-24 03:40] antonblanchard commented on #1067
I'm not seeing any vias from met5 to met4 on the macro:

![mpw5-no-power](https://user-images.githubusercontent.com/2029971/164955444-13bacdcc-afc0-4684-bcac-beaeac4ed3ae.png)

The PDN code has changed in OpenROAD recently and I'm not sure if Openlane is up to date. @donn or @maliberty might have an idea.

[2022-04-25 04:29] maliberty commented on #1067
I believe OL is still on the older pdngen.   I have a pending PR to update it to the new version.

[2022-04-25 04:45] maliberty commented on #1067
Please package the pdngen step as that's where the connection should be made.

[2022-04-25 06:25] vijayank88 commented on #1067
@maliberty
Attached test case here:
[RUN_2022.04.23_07.19.58_pdn_packaged.zip](https://github.com/The-OpenROAD-Project/OpenLane/files/8552074/RUN_2022.04.23_07.19.58_pdn_packaged.zip)

[2022-04-25 07:58] jainsoumil2 opened #1069 "Lef/def import in magic is missing poly, diffusion, and other layers."
### Description
Issues with loading lef/def files in magic layout generated using openlane, after caravel integration with user_project_wrapper.

### Environment
[code]
### Reproduction Material
Reproducible packaged from:
[openroad_issue_reproducible.zip](https://github.com/The-OpenROAD-Project/OpenLane/files/8552565/openroad_issue_reproducible.zip)

Def file from: https://github.com/The-OpenROAD

[2022-04-25 08:59] vijayank88 opened #1070 "Yosys: unmapped primitive in synthesis for module $_ALDFF_PP_"
### Description
I am facing issue during initial floorplan with module `$_ALDFF_PP_` not found. Its MPW passed design.

### Environment
[code]

### Reproduction Material
- Unzip file:
[GPS_Baseband.zip](https://github.com/The-OpenROAD-Project/OpenLane/files/8553049/GPS_Baseband.zip)
- copy `GPS_Baseband` directory inside OpenLane/designs
- cd OpenLane
- make mount
- ./flow.tcl -design GPS_Baseband

[2022-04-25 12:48] d-m-bailey commented on #1069
@jainsoumil2 The LEF views of the cells only include the layers necessary for routing. This is by design and definition. If you want to see all the layers, you'll need to switch the views from `maglef` to `mag` (which I'm not sure how to do) or import the GDS data rather than LEF/DEF.

[2022-04-25 18:34] jainsoumil2 commented on #1069
I do not directly have access to the GDS data since I did not generate those from openlane myself.
The out.def file was provided to me by @vijayank88 from https://github.com/The-OpenROAD-Project/OpenLane/issues/1028#issuecomment-1088482600. In order to read that def file, I imported the merged_unpadded.lef file first from [openroad_issue_reproducible.zip](https://github.com/The-OpenROAD-Project/Op

[2022-04-26 10:09] vijayank88 commented on #1069
@jainsoumil2
In OpenLane flow for `DEF` to `GDSII` with `magic` you need use following command inside docker container:
[code]

[2022-04-26 13:14] mattvenn opened #1071 "Inputs should have antenna diodes"
### Description

Inputs should by default have antenna diodes to protect them during fabrication.

### Environment
[code]

### Reproduction Material

run the flow on any example design and examine the input ports.

### Expected behavior

Antenna diode should be added next to inputs.

[2022-04-27 06:09] vijayank88 commented on #1002
@donn
For this issue, is any configuration variable there to define tiecell list, so OpenROAD can insert tie cells during floorplan?

[2022-04-27 08:09] 3x10e8 commented on #1069
Hello @vijayank88
Thank you for sharing the command to generate the maglef view.
Just as a sanity check, we tried going back to the default user_proj_example (counter) included with the [caravel_user_project](https://github.com/efabless/caravel_user_project/blob/main/verilog/rtl/user_proj_example.v), and we ran it successfully through the openlane flow. Just to see if we could view diffusion/poly/

[2022-04-27 09:04] vijayank88 commented on #1069
@3x10e8
Use following command format for DEF to GDSII
[code]

[2022-04-27 17:20] #1016 closed

[2022-04-28 13:13] donn commented on #1000
@shustinski `set ::env(DIE_AREA) {0 0 1000 1000}` sets an absolute size. You can increase or decrease it as you see fit.

[2022-04-28 13:49] shustinski commented on #1000
I have already tried this, but it doesn't increase the number of valid pins positions

[2022-04-28 13:56] shustinski commented on #1000
@donn Thank you, it really helps

[2022-04-29 16:00] mattvenn opened #1076 "With tightly packed macros, LVS fails due to hanging strips of metal on the PDN"
### Description

With tightly packed macros, LVS fails due to hanging strips of metal on the PDN
![image](https://user-images.githubusercontent.com/634220/165980217-76371dd2-6281-4619-911e-77aaed90e14f.png)

### Environment
[code]

### Reproduction Material
* tarball not easy as this is Caravel - see repo: https://github.com/mattvenn/tapeout_100
* List the commands used to run the design:
* make i

[2022-04-30 04:44] saji87 opened #1077 "Unable to run ./flow.tcl"
### Description

While running ./flow.tcl, the following error is displayed.

### Environment

[code]
PDK Version Verification Status: OK

### Reproduction
Run ./flow.tcl

### Expected Behaviour
Run normally

### Logs
[code]
### Previous error
make test ran succesfully. However the docker repository needed to be hard coded in Makefile to pull it as it was empty (efabless/openlane:latest)

[2022-04-30 05:52] vijayank88 commented on #1077
@saji87
Can you please list the commands used before running `./flow.tcl`?
Seems you're not given `-design <Design_Name>`

Make sure followed below steps or follow it, it will resolve your issue.
[code]

[2022-04-30 06:46] saji87 commented on #1077
My issue seems to be error in `OPENLANE_IMAGE_NAME` in Makefile. Somehow its empty.

`ifeq ($(OPENLANE_IMAGE_NAME),)`
`OPENLANE_DOCKER_TAG ?= $(shell $(PYTHON_BIN) ./dependencies/get_tag.py)`
`ifneq ($(OPENLANE_DOCKER_TAG),)`
`export OPENLANE_IMAGE_NAME ?= efabless/openlane:$(OPENLANE_DOCKER_TAG)`
`endif`
`endif`
`

After hardcoding it to efabless/openlane the run is succesful

`[SUCCESS]: Flow co

[2022-04-30 07:09] vijayank88 commented on #1077
Can you display?
`which python3`

[2022-04-30 07:15] saji87 commented on #1077
`/usr/bin/python3`

[2022-04-30 07:16] vijayank88 commented on #1077
You need to do following command before make mount:
[code]

[2022-04-30 07:18] vijayank88 commented on #1077
Make sure `pyhton3` default points to `python3.8`

[2022-04-30 07:24] saji87 commented on #1077
`>>make survey || python3 ./env.py issue-survey
python3 ./env.py issue-survey
Kernel: Linux v5.13.0-40-generic
Distribution: ubuntu 20.04
Python: v3.8.10 (OK)`

[2022-04-30 09:52] vijayank88 commented on #1076
@mattvenn
I am trying to clone your repo with https://github.com/The-OpenROAD-Project/OpenLane-MPW-CI and running its got failed.
[code]
Can you update required `openlane/user_project_wrapper/config.tcl` to run the flow to re-produce your issue at our end?

[2022-04-30 13:44] maliberty commented on #1076
Why does it being caravel make it hard to produce a tarball?  @donn any thoughts?

[2022-04-30 15:10] donn commented on #1076
You can ask the caravel team.

[2022-05-02 05:51] vijayank88 commented on #1077
@saji87
If your issue got fixed, you may close this issue.

[2022-05-02 06:51] #1077 closed

[2022-05-02 09:03] vijayank88 opened #1079 "ECO Flow failed"
### Description
Running mpw-5 design repo: https://github.com/antonblanchard/microwatt-mpw5 with openlane tag: https://github.com/The-OpenROAD-Project/OpenLane/releases/tag/2022.04.28_01.44.59. Its failed during`eco_gen_buffer` by not able to find
[code]

@antonblanchard FYI

I think recent update in OpenLane `*_unpadded.lef` changed to `*.unpadded.nom.lef`. For other STA corners `min` and `max`.

[2022-05-02 10:26] mattvenn commented on #1076
@maliberty because the caravel_user_project is 8.2G. So I need to know what to .tar.gz in order to capture what you need for a test case

[2022-05-02 10:34] mattvenn commented on #1076
@vijayank88 thanks for taking a look at this. I've fixed the example repo, my bad I should have tested it locally.

[2022-05-02 10:38] antonblanchard commented on #1076
I'm not sure it's the best way, but I'll throw an `exit 1` into the step that I want to debug, and Openlane should die and populate  `openroad_issue_reproducible`. Assuming things start going wrong at the PDN stage, add it to `scripts/openlane/pdn.tcl`.

@donn or @maliberty might have a better idea.

[2022-05-02 10:39] dralabeing commented on #1079
@vijayank88 if the suggested fix works in your repo, please submit a pr.

[2022-05-02 10:52] mattvenn commented on #1076
actually I did know this trick but thought it would only work with openlane, rather than inside caravel_user_project. Thanks Anton!

[2022-05-02 11:22] antonblanchard commented on #1079
Thanks for looking into this @vijayank88. You might also trip over https://github.com/The-OpenROAD-Project/OpenLane/issues/1030

[2022-05-02 11:28] vijayank88 commented on #1079
@dralabeing
I am not found any fix for it.

[2022-05-02 12:32] vijayank88 commented on #1076
@mattvenn
I cloned your repo and its fail with  LVS mismach error.

Its similar to #1067

[2022-05-02 12:39] vijayank88 commented on #1076
This way its works and produce `openroad_issue_reproducible`, but user should remove `exit 1` from both script.

[2022-05-02 12:41] vijayank88 commented on #1076
@maliberty

Fixing #1067  will resolve this error too.

[2022-05-02 14:02] dralabeing commented on #1079
@donn fyi

[2022-05-02 22:39] antonblanchard commented on #1020
We are now creating SPEF files for all corners, but we still aren't copying it into `final/spef/*`. Having them is useful for things like hierarchical STA.

[2022-05-03 06:25] #954 closed

[2022-05-03 11:29] mattvenn commented on #1076
I don't think so. I think this is valid that netgen is showing an error as there are many unconnected strips of metal. The problem is that the PDN is generating these hanging strips that don't connect to anything.

[2022-05-04 08:20] donn commented on #1065
Oops. Thanks for spotting that.

[2022-05-04 08:21] #1066 closed

[2022-05-04 22:54] 3x10e8 commented on #1069
Thank you @vijayank88
We tried going back to the lef/def files that you had generated previously (https://github.com/The-OpenROAD-Project/OpenLane/issues/1028#issuecomment-1088482600), and we somehow get a duplicate macro error, but I can't find two definitions for this cell in the lef file:
[code]
We see that sky130_ef_sc_hd__decap_12 is included in the pdk/gds as installed by openlane, but top.d

[2022-05-05 03:13] maliberty opened #1080 "Inexplicable DRCs from Magic"
### Description
Magic produces DRCs that seem false.    It reports violations like:
[code]
where the via looks legal:
![image](https://user-images.githubusercontent.com/761514/166858233-991ddc2a-83a3-4b4f-ad8e-7e3021157a94.png)

(the small black square in the upper left is a violation marker).  This is viewing the inverter.magic.gds in klayout.
### Environment

This is generated by my fork in http

[2022-05-05 05:16] d-m-bailey commented on #1080
Looking at the magic data, the overlap appears to be only 0.03um. On cifout, magic converts the cut area to vias that are drc clean.
<img width="995" alt="inv_drc" src="https://user-images.githubusercontent.com/8349634/166866901-9841c1b2-e78d-4ce9-bf9b-8830e8aa97d7.png">

[2022-05-05 05:27] maliberty commented on #1080
The overlap between what gds layer/datatype exactly?  It does not have that appears in klayout or openroad.

[2022-05-05 10:50] proppy opened #1081 "RUN_SPEF_EXTRACTION=0 should skip run_spef_extraction"
### Description

setting `RUN_SPEF_EXTRACTION=0` doesn't seems to have any effect, see:
https://github.com/The-OpenROAD-Project/OpenLane/blob/b73708657657af6c1d7626ff8d390adc982627db/scripts/tcl_commands/sta.tcl#L90

### Expected behavior

`run_spef_extraction` is skipped.

[2022-05-05 12:14] RTimothyEdwards commented on #1080
@maliberty :  So the problem here is that magic gives you error messages relevant to magic's layers, not klayout's.  Magic is giving you an error message referring to a derived layer (magic's "via2") and a rule distance referring to two vendor rules: `(via2.4a - via2.4)`.  Magic's rule for its derived via2 layer is a minimum overlap in one direction of 0.045um, which is the vendor overlap rule (0.

[2022-05-06 04:27] maliberty commented on #1080
I found out what the issue was in OR though I still find magic's report to be hard to grok.

[2022-05-06 04:27] #1080 closed

[2022-05-06 04:28] maliberty commented on #1080
@RTimothyEdwards where is the definition of these derived layers?

[2022-05-06 05:40] vijayank88 commented on #1081
@proppy
Have you used `set ::env(RUN_SPEF_EXTRACTION) 0` in this format?

[2022-05-06 07:03] studyreserve opened #1082 "Documentation needs updates across the board"
Issue was originally titled ` [documentation] chip_integration.md`. Original content follows.

---
Greetings.

OpenLane/docs/source/chip_integration.md documentation file in the master branch includes broken links in "Hardening The Full Chip" chapter:
1) "You could take this [full chip](https://github.com/efabless/caravel/blob/mpw-one-b/openlane/caravel/interactive.tcl) as an example."
2) "First y

[2022-05-06 13:38] RTimothyEdwards commented on #1080
There is no specific definition of the derived layers because I haven't thought about a specific place and format for that information, but I guess it would be helpful to create a page for it in some of the online PDK documentation.

Magic's diagnostic output is written to be meaningful within the context of magic's layout view, and it will always be pretty inscrutable if you pull that diagnostic

[2022-05-06 16:58] maliberty commented on #1080
@RTimothyEdwards The input I'm giving is my def file.  It is very confusing that you are modifying the data  I provide and then giving errors against the modified data.  I guess I'll have to learn to use magic as there is no other way to work but it is odd.  I don't have this issue with klayout or Calibre DRCs.

[2022-05-06 17:03] RTimothyEdwards commented on #1080
That's the way magic works.  If magic is the only tool that will read DEF, then your other choice is a little roundabout, but you can just use magic to read DEF and write GDS, then run klayout's DRC checker on the GDS, which will give you results more directly meaningful to the GDS mask-level data.

[2022-05-06 17:10] maliberty commented on #1080
@RTimothyEdwards I don't have a choice as the unit tests are setup to use magic.

[2022-05-06 21:33] maliberty commented on #1076
Can you try this with https://github.com/The-OpenROAD-Project/OpenLane/pull/1059 ?

[2022-05-07 21:17] 3x10e8 commented on #1069
@vijayank88 Would it be possible for you to show us how your export this? Perhaps a zoom call? I think we might just have a silly error on our side and this would be hopefully easier to explain on a call -- thanks!

[2022-05-09 06:15] proppy commented on #1081
@vijayank88 it doesn't seems that the variable is used at all: https://github.com/The-OpenROAD-Project/OpenLane/search?q=RUN_SPEF_EXTRACTION

[2022-05-09 13:06] vijayank88 commented on #1069
@3x10e8  Can you share your updated repo?

[2022-05-10 16:59] maliberty commented on #1067
@vijayank88 please try with the latest OL which is using the new pdngen.  If the problem persists please package a test case from that version.  The prior test cases are no longer useful as they use the old pdngen.

[2022-05-11 07:21] proppy opened #1088 "generate configuration reference"
### Prompt

The following page often gets out of date w/ the change to the default TCL configs as shown in #1087:
https://github.com/The-OpenROAD-Project/OpenLane/blob/master/configuration/README.md
https://github.com/The-OpenROAD-Project/OpenLane/blob/master/regression_results/datapoint_definitions.md

### Proposal

It would be nice to find a way to autogenerate those, maybe some of the options l

[2022-05-11 08:49] vijayank88 commented on #1067
@maliberty
Now its fail at LEF LVS
[code]

[2022-05-11 08:55] vijayank88 commented on #1067
[openroad_issue_reproducible.zip](https://github.com/The-OpenROAD-Project/OpenLane/files/8668323/openroad_issue_reproducible.zip)

Attached PDN stage DEF file

[2022-05-11 09:11] antonblanchard commented on #1067
[code]

Do you have the right `FP_PDN_MACRO_HOOKS`? It looks like it might be set to:

[code]

Where it should be set to:
[code]

[2022-05-11 09:22] cbalint13 commented on #1037
#1059  solves the issue.

[2022-05-11 09:22] #1037 closed

[2022-05-11 09:47] vijayank88 commented on #1067
@antonblanchard
Yes user defined here: https://github.com/KashifInayat/F-MAC/blob/b1e72225d0e1ce3fc3ac89341ce06afc9c5a5db4/openlane/user_project_wrapper/config.tcl#L48

I will modify and test it

[2022-05-11 10:05] vijayank88 commented on #1067
Closing this via #1059

[2022-05-11 10:05] #1067 closed

[2022-05-11 12:15] vijayank88 commented on #1076
@antonblanchard
Here @mattvenn  re-used macros `wrapped_icestudio_test` 7 times.

How to define `MACRO_HOOKS`?
[code]

[2022-05-12 00:30] antonblanchard commented on #1076
@vijayank88 @mattvenn I think you want:

[code]

@maliberty I notice the Openlane documentation claims macros are connected to the first power domain if they are unspecified:

[code]

That's not correct is it? Should we remove that comment?

[2022-05-12 09:37] vijayank88 commented on #1029
@hdemir93
Please try with latest openlane and it may resolve.
If you're using more than one macro, follow this comment https://github.com/The-OpenROAD-Project/OpenLane/issues/1076#issuecomment-1124407624 , it may help to resolve your issue.

[2022-05-12 09:47] dineshannayya opened #1090 "MPW-6 Openlane flow fails with [ERROR GRT-0118] Routing congestion too high - Same design routed sucessfully in MPW5 tool set"
### Description
Latest version (MPW-6) of Openlane flow fails with [ERROR GRT-0118] Routing congestion too high  ERROR -
Same design was previously successfully routed using MPW-5 tools

### Environment
This failure observed with latest version of Openlane :
<pre><font color="#C4A000">commit 8120faaedf752714e65fb7ff91993a8e6630a664 (</font><font color="#06989A"><b>HEAD -&gt; </b></font><font color

[2022-05-12 10:13] vijayank88 commented on #1090
@dineshannayya
Please update following variable in `config.tcl` will resolve congestion issue:
[code]

[2022-05-12 12:30] dineshannayya commented on #1090
@vijayank88 Thanks for quick response .. GLB_RT_ADJUSTMENT value changing from 0.3 to 0.25 helped in completion of routing .. Not Sure how this parameter helped in resoling the congestion issue .. I see below comment for this variable

`GLB_RT_ADJUSTMENT` | Reduction in the routing capacity of the edges between the cells in the global routing graph. Values range from 0 to 1. <br> 1 = most reductio

[2022-05-12 13:00] vijayank88 commented on #1090
Please share your repo details and design you're trying. I will check at my end and let you know.

[2022-05-12 13:19] dineshannayya commented on #1090
@vijayank88  My Repo is : https://github.com/dineshannayya/riscduino_dcore.git

[2022-05-12 15:56] maliberty commented on #1076
@antonblanchard re "Should we remove that comment?" Yes.  I'm not clear that was actually true before either but I haven't tested it.  Randomly connecting macros seems dangerous.

[2022-05-12 16:42] maliberty commented on #1090
What is the OR commit for mpw5 that was successful?  Do you mean global routing from MPW5 could route this design or that the total flow worked in mpw5.  It is possible that a totally different input to grt is generated in MPW5 and this isn't a grt issue at all.

[2022-05-12 16:52] maliberty commented on #1090
Its also possible it is related to the PDK changes and has nothing to do with OR.

[2022-05-13 00:07] antonblanchard commented on #1076
Created https://github.com/The-OpenROAD-Project/OpenLane/pull/1091

[2022-05-13 02:12] vijayank88 commented on #1090
@mithro Please check In MPW CI search for rdq_uart_i2cm_usb_spi_top: https://github.com/The-OpenROAD-Project/OpenLane-MPW-CI/pull/38/checks?check_run_id=6406215768 latest CI run.

No issues found. Also @dineshannayya  using custom port configuration, but we are running auto pin placement, due to PIN_CFG not supported in OpenLane.

[2022-05-13 05:27] dineshannayya commented on #1090
@vijayank88  I have attached custom change removed pin_order file for uart_i2cm_usb_spi_top
[pin_order.cfg.gz](https://github.com/The-OpenROAD-Project/OpenLane/files/8684283/pin_order.cfg.gz)

[2022-05-13 05:58] antonblanchard commented on #1090
As @maliberty mentioned, so much has changed. I know I'm always on the edge of not being able to get microwatt through global routing, but a tweak to here and there (eg `GLB_RT_ADJUSTMENT`) gets me through.

I wonder if our time would be better spent looking at the specific reasons some designs aren't able to pass global routing. In Openlane global placement isn't doing any routability optimisatio

[2022-05-13 06:08] vijayank88 commented on #1090
@dineshannayya
I just removed `PIN_ORDER_CFG` from your `config.tcl`. So its took auto pin placement and flow got completed without any violations, the repo what you shared.
[code]

[2022-05-13 06:20] vijayank88 commented on #1090
Here is max path report:
[code]

[2022-05-13 06:28] dineshannayya commented on #1090
@vijayank88 Please share the Git version of Openlane and Openroad tools & openlane docker used for your run..

I Don't think PIN Order file can impact the timing fix .. Tools should fix timing issue based on path delays ..

**Openroad app Git log used from my side**
<pre><font color="#C4A000">commit 6d0f5c0116ba235c93c181dfe80246ee5b142bd4 (</font><font color="#06989A"><b>HEAD -&gt; </b></font><fo

[2022-05-13 06:52] vijayank88 commented on #1090
As per above message you're running with OpenLane: tag: 2022.05.12_01.39.47.
I will use same tag and let you know.

[2022-05-13 08:54] vijayank88 commented on #1090
@dineshannayya
I've updated OpenLane tag: 2022.05.12_01.39.47
OpenROAD commit:   commit: 7510fd4dbe19babb99cbf39525c1b4dac1f2be2d

Again my worst path slack is `-0.17` only getting

[2022-05-13 09:06] dineshannayya commented on #1090
Attached .yml [tool_metadata.yml.gz](https://github.com/The-OpenROAD-Project/OpenLane/files/8685717/tool_metadata.yml.gz)

[2022-05-13 09:15] vijayank88 commented on #1090
[30-parasitics_sta.zip](https://github.com/The-OpenROAD-Project/OpenLane/files/8685784/30-parasitics_sta.zip)
Attached STA report post routing.

Seems you've latest OpenLane tag. But we are not able to reproduce you hold violation issue.

[2022-05-13 10:27] dineshannayya commented on #1090
@vijayank88 I have removed the custom pin-order change + Latest Openlane  +  docker efabless/openlane: latest and still see same hold violation
[30-rcx_sta.min.rpt.gz](https://github.com/The-OpenROAD-Project/OpenLane/files/8686267/30-rcx_sta.min.rpt.gz)

Did you tried with efabless/openlane: latest docker ?

Only other difference i can think of the is PDK, Not sure it can create difference.

[2022-05-13 10:35] vijayank88 commented on #1090
`efabless/openlane:2022.05.12_01.39.47` OPENLANE_IMAGE_NAME

[2022-05-13 10:37] vijayank88 commented on #1090
Just move your existing pdks directory to some other name and try to update OpenLane.

Because current PDK installation moved to volare. Its fast and keep up-to-date PDK version.

[2022-05-13 12:05] proppy commented on #1081
fixed with #1089 ?

[2022-05-13 12:23] vijayank88 commented on #1081
yes @proppy

[2022-05-13 12:44] #1081 closed

[2022-05-13 12:56] vijayank88 commented on #1076
@maliberty Latest PDN stage attached here:
[openroad_issue_reproducible.zip](https://github.com/The-OpenROAD-Project/OpenLane/files/8687226/openroad_issue_reproducible.zip)

[2022-05-13 13:36] dineshannayya commented on #1090
@vijayank88 Re-installing the latest PDK made the difference, Now there is no hold and slew violation.

<pre>[INFO]: There are no max slew violations in the design at the typical corner.
[INFO]: There are no hold violations in the design at the typical corner.
[WARNING]: There are setup violations in the design at the typical corner. Please refer to &apos;uart_i2cm_usb_spi_top/runs/uart_i2cm_usb_s

[2022-05-13 13:40] maliberty commented on #1076
@arlpetergadfort there are dangling pieces of met4 between the macros:
![image](https://user-images.githubusercontent.com/761514/168295843-e69b4fc4-0c03-4c34-b6cc-05065746803d.png)
The right piece has a via but the left does not.  The right belongs to the single met5 vdd strap while the left is part of vss and has nothing to connect to.

[2022-05-13 13:41] maliberty commented on #1076
![image](https://user-images.githubusercontent.com/761514/168296396-0dbc8ccc-1e35-4a40-9dbe-f1f323b0bf1d.png)

[2022-05-13 13:41] maliberty commented on #1076
![image](https://user-images.githubusercontent.com/761514/168296454-27da41f3-c7aa-4100-b46a-6fe00e897685.png)

[2022-05-13 13:43] maliberty commented on #1090
The PDK can affect timing and therefore resizing which affects congestion.

[2022-05-13 15:32] dineshannayya commented on #1090
@maliberty
PDK is common to both Post Routing Timing analysis and Rcx Extracted (spef) STA analysis.
Conceptually both timing report should be nearly same.
Previously Post Route Timing analysis was clean, but Rcx Extract(spef) STA had hold violation.
Look like Post Route and Rcx Extract scripts uses different set of PDK  files and there were some inconsistency in previous version of PDK ?

[2022-05-14 11:24] ufukyill opened #1093 "[ERROR STA-0402] Error while pdn generation"
### Description
After running "make module_name" I am facing with this error. I have tried:
-Updating openlane then run
-Clonning mpw5 tag then run
-Adding  "set ::env(QUIT_ON_MISMATCHES) 0 "to the config.tcl
-Changing openroad commit ID from tool_metadata.yml to 7510fd4dbe19babb99cbf39525c1b4dac1f2be2d then "make build-openroad_app" and then "make merge"
### Environment
[code]

### Reproduction M

[2022-05-14 19:11] 3x10e8 commented on #1069
Thank you @vijayank88. The updated repo with our latest openlane config/logs/reports is now here:
https://github.com/jainsoumil2/ReRAM-16x16_mpw5/tree/droute_error

We switched to a machine with more memory and are now able to run the openlane flow on our skywater design to gds (but with LVS errors). Thank you for explaining the fd/ef device mismatch we were getting from the DEF file -- we don't s

[2022-05-15 16:58] d-m-bailey commented on #1069
@3x10e8 See this thread: https://skywater-pdk.slack.com/archives/C016H8WJMBR/p1648103815845739
I think `FP_PDN_MACRO_HOOKS` only allows for one set of power/ground.

You might try changing `FP_PDN_VOFFSET` and/or `FP_PDN_VPITCH` to get the power to connect to smaller macros.
See https://openlane-docs.readthedocs.io/en/rtd-develop/configuration/README.html for more information.

[2022-05-15 21:31] maliberty commented on #1069
I don't believe this is true.

[2022-05-15 21:34] maliberty commented on #1069
I think you can get it work by using the same macro twice in the hook

set ::env(FP_PDN_MACRO_HOOKS) "\
	top_module vdda1 vssa1\
	top_module vccd1 vssd1"

[2022-05-16 01:34] d-m-bailey commented on #1069
@maliberty Thanks for the information. I hadn't actually looked at the code. `openlane 2021.11.23_01.42.34`

From `scripts/tcl_commands/floorplan.tcl`
[code]
So each hook is separated by a ',' and any information after the third token in a hook is **silently** ignored.
So both
[code]
and
[code]
will be *accepted*, but neither will give the intended results. Adding a ',' after `vssa1` in the second

[2022-05-16 03:51] maliberty commented on #1069
I wouldn't be hard to add a check on the length of pdn_hook to check for any extra values.

[2022-05-16 04:50] d-m-bailey commented on #1069
Would a warning be appropriate or a fatal error?

[2022-05-16 05:53] vijayank88 commented on #1093
@ufukyill
In `pdn_cfg.tcl` remove line `158` and continue, until get fix from upstream.

[2022-05-16 05:56] vijayank88 commented on #1090
@dineshannayya
The recent update in OpenLane includes PDK and RCX extraction results. So your timing report vary from previous shuttle.
If your issue got resolved, please close this issue.

[2022-05-16 05:57] maliberty commented on #1069
I vote error

[2022-05-16 05:59] vijayank88 commented on #1093
@maliberty  @donn
While using one of private PDK I also faced same issue during PDN stage.

[2022-05-16 06:04] #1090 closed

[2022-05-16 09:30] mattvenn commented on #1076
I've found through experimentation that the FP_PDN_MACRO_HOOKS isn't required - macros get connected to power anyway. What does it do? I've also tried using it, and I still get warnings about macros not being powered.

[2022-05-16 09:39] vijayank88 commented on #1069
@jainsoumil2
Try @maliberty  suggestion and let us know:
[code]

[2022-05-16 10:59] antonblanchard opened #1095 "Add OpenROAD remove_buffers to flow"
@jjcherry56 points out that we should have the option of calling `remove_buffers` before we call `repair_design`, to undo any buffer addition that yosys/abc does.

To complicate matters, Openlane currently has an internal command called `remove_buffers`. It's controlled by an undocumented environment variable `DONT_BUFFER_PORTS`. What is it used for? @donn any ideas?

I have a distant memory that

[2022-05-16 15:51] maliberty commented on #1095
There was a bug a while back where resizer but a buffer after a tristate but that was fixed.

[2022-05-16 16:35] maliberty commented on #1093
I ran your test case with the latest OR (8da44250940f63186c203c95953c068e44fde2d1) and I get no error.   Perhaps try with the latest OL  (260dd7f80102e4b1726fdee8cd596b06822ca252) and see if it still occurs.

[2022-05-16 16:35] maliberty commented on #1093
@vijayank88 are you using private PDKs with OL?

[2022-05-17 03:55] dineshannayya opened #1096 "PDN flow/script enhancement : There should be independent control on core ring and power Strip generation"
### Prompt
Current MPW-6 Openlane has common config to decide on number of core ring and power strip.

Issue: In MPW shuttle user project need  have core-ring for all the 8 power (vccd1 vccd2 vdda1 vdda2 vssd1 vssd2 vssa1 vssa2), even though user project need one set of power domain (vccd1 vssd1).
Default 8 power strips requirement make keep minimum 8 power-strip space between each hard macros. Hi

[2022-05-17 04:18] antonblanchard commented on #1095
Thanks @maliberty, I created https://github.com/The-OpenROAD-Project/OpenLane/pull/1098

[2022-05-17 09:29] ufukyill commented on #1093
@vijayank88
[openroad_issue_reproducible.zip](https://github.com/The-OpenROAD-Project/OpenLane/files/8707045/openroad_issue_reproducible.zip)

[2022-05-17 09:55] vijayank88 commented on #1093
[code]

[2022-05-17 10:26] vijayank88 commented on #1093
@ufukyill
Update below variable in `config.tcl` and re-run the flow.
[code]

[2022-05-17 13:09] vijayank88 commented on #1093
@ufukyill
Try again with `set ::env(GLB_RT_ADJUSTMENT) "0.15"`

[2022-05-17 13:41] trungnl2000 opened #1099 "Is there any way to specify the position for each module in my design?"
As the title, is there any way to specify position for each module in my design on chip architecture?

[2022-05-17 14:09] mattvenn commented on #1099
use the macro.cfg file to specify the positions and orientation

[2022-05-17 14:17] mattvenn commented on #1076
@vijayank88 I tried your suggestions and got this new error:

```[ERROR PDN-0165] Conflict found, instance wrapped_icestudio_test_0 is part of two grid definitions (CORE_macro_grid_2, CORE_macro_grid_1)```

[2022-05-17 14:50] trungnl2000 commented on #1099
@mattvenn
Here is my code for a simple divider https://github.com/trungnl2000/verilog.git
My design has 2 modules: controller and datapath.
Can you please explain more clearly for me how to specify position for each of them? Thank you.

[2022-05-17 15:27] maliberty commented on #1096
@arlpetergadfort FYI

[2022-05-17 15:37] maliberty commented on #1093
This issue is no longer about pdngen and should not be taken over for a different problem.  Is there any remaining pdngen issue here?

[2022-05-17 16:52] maliberty opened #1100 "allow separate padding for global & detailed placement"
### Prompt
Using a single padding value limits density and makes placement more difficult

### Proposal
In ORFS we have separate values for detailed and global [padding](https://github.com/The-OpenROAD-Project/OpenROAD-flow-scripts/blob/1182d2619e25a721b0ce065d2221d298939e5989/flow/platforms/sky130hd/config.mk#L111):
[code]
Whereas in OL you use a single CELL_PAD (default 4).  This makes both gpl

[2022-05-17 16:52] maliberty commented on #1100
@antonblanchard FYI

[2022-05-17 17:54] mattvenn commented on #1099
A better place to talk about openlane fundamentals would be the skywater slack. Why don't you join and ask in the openlane channel: https://join.slack.com/t/skywater-pdk/shared_invite/zt-18steaudi-vFYEnjabWFspgA4_iiHkMw

[2022-05-17 18:55] 3x10e8 commented on #1069
@vijayank88 @maliberty @d-m-bailey thank you for your inputs!
We tried the updated FP_PDN_MACRO_HOOKS but still no luck -- the supply rails aren't connecting to the top_module. LVS continues to throw a vccd1 mismatch.

[2022-05-18 00:40] antonblanchard commented on #1100
@maliberty sounds good. I also note that we only add padding to the right side, except for clock tree buffers and diodes, where we only add padding to the left side:

[code]

[code]

I know it is unlikely to make much difference, but it is odd enough that I trip over it every few months and wonder what the rationale was.

[2022-05-18 02:35] maliberty commented on #1100
@antonblanchard I have no clue why - in ORFS we use balanced padding.

[2022-05-18 02:54] antonblanchard opened #1140 "Thin areas of sky130 met1 rails have no tap cells"
I wanted to see how OpenROAD handles very small areas between the perimeter of the core area and placed macros. I took a working design (40um macro halo with the macros 40um in from the left and right edges), and changed to a 20um halo, such that we have 20um of space for met1 rails. The design went from passing LVS to failing.

Although I haven't root caused it to the PDN stage, I do see some str

[2022-05-18 03:40] vijayank88 commented on #1099
@trungnl2000
Refer this discussion: https://skywater-pdk.slack.com/archives/C016UL7AQ73/p1652420311341329?thread_ts=1652387259.312559&cid=C016UL7AQ73

For Openlane unit test refer: https://github.com/The-OpenROAD-Project/OpenLane/blob/master/designs/manual_macro_placement_test/macro_placement.cfg

[2022-05-18 03:45] vijayank88 commented on #1100
I like to make this changes in OpenLane What @maliberty suggesting.

For small design `CELL_PAD=4` works ok. For little complex designs its failing during DPL/GRT stage.

Most of the new user facing this issue and am pointing to change `CELL_PAD=2 or 1` which ever resolves the issue.

[2022-05-18 21:20] donn commented on #1082
Sadly, this is a more general situation than any one file- OpenLane's documentation is in general need of a concerted update effort.

Some of our team members are doing some work on that, but frankly we're currently swamped with Caravel work. So community input would be sincerely appreciated: including entirely different strategies to handle documentation, if applicable. It's the current biggest s

[2022-05-18 21:21] donn commented on #1088
Can you comment this in #1082?

[2022-05-18 21:22] donn commented on #1093
That is indeed a different issue, and one that's probably fixed in #1092.

[2022-05-18 21:22] #1093 closed

[2022-05-18 21:27] maliberty commented on #1082
@donn are you asking technically (e.g. markdown, sphinx) or more process (probably no better than yours)?

[2022-05-18 21:49] donn commented on #1082
Both, frankly. You have relatively good documentation for the Tcl APIs.

[2022-05-18 21:59] maliberty commented on #1082
@donn We write our documentation with markdown.  @vvbandeira can comment on how we process that to produce the readthedocs.

TCL commands are pretty straight forward in that when something changes the PR should include a doc update.  Code review is the main enforcement tool, though it still relies on a human check rather than anything automated.  The place where we have more trouble is with high l

[2022-05-18 22:44] mithro commented on #1082
BTW - You should use Sphinx

@umacor can also provide advice as he has been working on improving the F4PGA documentation (and hopefully soon the SkyWater PDK documentation too).

[2022-05-19 01:32] vvbandeira commented on #1082
There's nothing fancy here. Just a simple setup and webhook triggered on commits to the master branch to generate the final HTML. A quick look at OL `conf.py` and `.readthedocs.yml` suggests we are using a very similar approach.

[2022-05-19 15:50] maliberty commented on #1096
@donn OL should pick up the latest OR with Peter's fix and expose a set of flow controls.  I believe this is done from an OR perspective.

[2022-05-19 18:47] maliberty commented on #1100
To be clear I am hoping the OL team with implement this (@donn) not me

[2022-05-20 13:53] mattvenn commented on #1096
this would be great for me too, as I'm trying to get 450 small designs into the area and so I need a much finer PDN. With all 4 psus I can't manage it. With 1, it works but then precheck job fails.

[2022-05-20 15:58] Ricardo-Ren opened #1101 "[ERROR]: during executing openroad script /openlane/scripts/openroad/droute.tcl [ERROR]: Exit code: 1"
[

### [STEP 21]
[INFO]: Running Detailed Routing...  the error is not very clear but it generates during the Detailed Routing
[INFO]: Running Detailed Routing...
[ERROR]: during executing openroad script /openlane/scripts/openroad/droute.tcl
[ERROR]: Exit code: 1
[ERROR]: full log: designs/zyNet/runs/RUN_2022.05.20_10.50.37/logs/routing/21-detailed.log
[ERROR]: Last 10 lines:
[INFO DRT-0019]   Co

[2022-05-20 16:11] Ricardo-Ren commented on #1101
because I can not upload file bigger than 25 mb this is another part please upzip them togerther
[openroad_issue_reproducible 2.zip](https://github.com/The-OpenROAD-Project/OpenLane/files/8741827/openroad_issue_reproducible.2.zip)
)

[2022-05-20 16:29] vijayank88 commented on #1101
@Ricardo-Ren
Child kill signal probably Out-of-Memory kill.
How much RAM do system have?

[2022-05-20 16:35] vijayank88 commented on #1101
@Ricardo-Ren
If its a MPW shuttle design mean share your updated repo link

[2022-05-20 16:50] vijayank88 commented on #1101
With 128GB RAM and 32 core machine detail routing started running without any issues. see the log:

[code]

Close to 37GB RAM its takes to start routing

[2022-05-21 06:36] vijayank88 commented on #1101
@Ricardo-Ren
OpenROAD able to complete the routing with system resource:
[code]
So try with above RAM/swap space will help you to complete the routing.

[2022-05-21 16:47] #146 closed

[2022-05-21 16:48] donn commented on #146
It's done. We're still on CentOS 7 though.

[2022-05-23 11:47] jurevreca12 commented on #1076
@mattvenn Hey matt, did you maybe manage to fix this issue? (Conflict found...) I am getting the same issue.

[2022-05-23 12:04] mattvenn commented on #1076
No, haven't found a fix yet.

[2022-05-23 12:15] vijayank88 commented on #1076
@mattvenn
Its look like new issue. Can you please create new issue with test case?

[2022-05-23 12:36] jurevreca12 opened #1102 "[ERROR PDN-0165] Conflict found, instance is part of two grid definitions (CORE_macro_grid_2, CORE_macro_grid_1)"
### Description
I've been trying to harden my SoC using openlane. I was successful in hardening all my macros, but the flow fails when I try to integrate the macros in the final design. The error output is:
[code]

### Environment
This github repo https://github.com/jurevreca12/rvj1-caravel-soc/tree/develop contains the relevant  code. To reproduce the issue run: make user_project_wrapper. Beware

[2022-05-23 12:42] vijayank88 commented on #1102
@jurevreca12 this is not a valid test case

[2022-05-23 12:48] jurevreca12 commented on #1102
Sorry, about that. I attached the correct openroad_issue_reproducible.zip now.

[2022-05-23 12:48] mattvenn commented on #1102
thanks for opening

[2022-05-23 12:54] vijayank88 commented on #1102
@jurevreca12
your macro placed outside die area.
![Screenshot from 2022-05-23 18-23-14](https://user-images.githubusercontent.com/85787913/169823934-b1cf0474-aebe-4d8c-8ddf-27d3375de2e2.png)

[2022-05-23 12:55] jurevreca12 commented on #1102
How do I get this view? I've been (literally) drawing this on a piece of paper...

[2022-05-23 12:58] vijayank88 commented on #1102
Use `openroad -gui`

[2022-05-23 13:01] dineshannayya opened #1103 "Openlane [Tag: 2022.05.18_02.12.32] flow fails with [ERROR DPL-0036] Detailed placement failed Error"
### Description
Latest openlane [Tag: a2022.05.18_02.12.32] tool flow fails with [ERROR DPL-0036] Detailed placement failed Error. Same design use work with older version tool sets

### Environment
Openlane git repo log

<pre><font color="#C4A000">commit 0dc6fb79c91082b94f8ded78d70f8bacbab96bf2 (</font><font color="#06989A"><b>HEAD -&gt; </b></font><font color="#4E9A06"><b>master</b></font><font c

[2022-05-23 13:01] mattvenn commented on #1102
or look at the floorplan def file

On Mon, 23 May 2022 at 14:58, vijayan ***@***.***> wrote:

--
Matthew Venn
web mattvenn.net twitter @matthewvenn <https://twitter.com/matthewvenn>

[2022-05-23 13:21] vijayank88 commented on #1103
@dineshannayya
Update following in `config.tcl` will resolve the issue.
`set ::env(CELL_PAD) {2}`

[2022-05-23 13:21] maliberty commented on #1102
The error shown in the report is "[ERROR]: /home/jure/Projekti/rvj1-caravel-soc/openlane/user_project_wrapper/../../gds/wbuart_wrap.gds doesn't exist." which doesn't seem to have anything to do with the title of this issue.

[2022-05-23 13:26] jurevreca12 commented on #1102
@maliberty  ah yes. I've compressed the repo and then ran again to get the message. I'll fix this.

[2022-05-23 13:31] jurevreca12 commented on #1102
@vijayank88 Thank you for the help. This fixed my issue.

[2022-05-23 13:32] vijayank88 commented on #1102
@jurevreca12
If fixed, close this issue. Open new issue if you're facing any other issue again. Thanks.

[2022-05-23 13:33] #1102 closed

[2022-05-23 13:52] vijayank88 commented on #1076
@mattvenn
We need your test case. @jurevreca12 issue got fixed.

[2022-05-23 13:55] jurevreca12 commented on #1076
@vijayank88 I noticed one thing after closing the issue. I commented out the macro set ::env(FP_PDN_MACRO_HOOKS) . If I don't do that i  still get the same error as Matt. Is this a problem?

[2022-05-23 14:08] vijayank88 commented on #1076
@jurevreca12
Open a new issue with clear description and test case.

[2022-05-23 14:34] jurevreca12 opened #1104 "Repost: [ERROR PDN-0165] Conflict found, instance dram_inst is part of two grid definitions (CORE_macro_grid_2, CORE_macro_grid_1)."
### Description
This is a repost of a recently closed issue, which was closed to soon: https://github.com/The-OpenROAD-Project/OpenLane/issues/1102. The solution mentioned in the referenced issue works, but only if i comment out FP_PDN_MACRO_HOOKS, if not I still get the error bellow:
[code]

### Environment
This github repo https://github.com/jurevreca12/rvj1-caravel-soc/tree/develop contains the

[2022-05-23 14:39] jurevreca12 commented on #1076
https://github.com/The-OpenROAD-Project/OpenLane/issues/1104

[2022-05-23 14:50] vijayank88 commented on #1104
@maliberty  While running with latest OR App getting exited by tool with below message:
[code]

[2022-05-23 15:54] maliberty commented on #1104
[WARNING PDN-1000] Using legacy PDNGEN.

You should move to the new pdngen as we are no longer enhancing the legacy one.  Are you on an old version of OL?

[2022-05-23 16:02] jurevreca12 commented on #1104
My project is based upon the caravel_user_project mpw-6c(https://github.com/efabless/caravel_user_project/releases/tag/mpw-6c). Which is the latest tagged version. In there, the makefile defines the OL version as: **OPENLANE_TAG=2022.02.23_02.50.41**.
So I am not sure, if this is an old version, but since its in the template, I guessed it should work.

[2022-05-23 16:11] maliberty commented on #1104
That is the old pdngen as 6c is using a tag from February.

In any case you can't have a macro in two different grids.  What are you trying to accomplish?

[2022-05-23 16:13] jurevreca12 commented on #1104
I have very limited experience with physical design, so I am not sure what "two different grids" mean. I am simply trying to create a layout for my design.

[2022-05-24 01:22] antonblanchard commented on #1103
https://github.com/The-OpenROAD-Project/OpenLane/issues/1100 might help here

[2022-05-24 02:29] jjcherry56 commented on #1103
or without gratuitous punctuation
set env(CELL_PAD) 2

[2022-05-24 05:02] vijayank88 commented on #1104
@maliberty  @jurevreca12
With latest OpenLane tag: [2022.05.18_02.12.32](https://github.com/The-OpenROAD-Project/OpenLane/releases/tag/2022.05.18_02.12.32) OpenROAD has updated PDNGEN.

With above OpenLane tag its passed PDN stage for your repo: https://github.com/jurevreca12/rvj1-caravel-soc/tree/develop

Update tool_metadata.yml for OpenROAD commit: https://github.com/The-OpenROAD-Project/OpenLa

[2022-05-24 05:53] vijayank88 commented on #1104
[openroad_issue_reproducible.zip](https://github.com/The-OpenROAD-Project/OpenLane/files/8759863/openroad_issue_reproducible.zip)

[2022-05-24 08:09] jurevreca12 commented on #1104
Thanks for the answer @vijayank88. This does indeed fix this issue. I also get the routing error, but that is a separate issue.

[2022-05-24 08:09] #1104 closed

[2022-05-25 03:32] dineshannayya commented on #1103
Yes with CELL_PAD 2 working now ..  Closing the ticket

[2022-05-25 03:32] #1103 closed

[2022-05-25 03:42] dineshannayya opened #1106 "Not able to route a complex interconnect design even with PL_TARGET_DENSITY 20%; Routing fails with [ERROR GRT-0118] Routing congestion too high"
### Description
I am not able to Route a complex interconnect block even with low TARGET density of 20%. I am looking for suggestion here.

### Environment
Test environment is Openlane tag: 2022.05.18_02.12.32

<pre><font color="#C4A000">commit 0dc6fb79c91082b94f8ded78d70f8bacbab96bf2 (</font><font color="#06989A"><b>HEAD -&gt; </b></font><font color="#4E9A06"><b>master</b></font><font color="#C4A

[2022-05-25 04:34] maliberty commented on #1106
This block has a high aspect ratio so you will have extra routing congestion in the vertical layers.  I find you can route it with set GLB_RT_ADJUSTMENT= 0.2

[2022-05-25 05:23] dineshannayya commented on #1106
@maliberty Appreciate quick follow-up. Yes with GLB_RT_ADJUSTMENT=0.2 design is able to route. Can you share how this variable impact the routing phase.
This block always breaks me with small design change and finding a working combination is always a pain full activity for me. Normally I work with PL_TARGET_DENSITY, CELL_PAD combination.
Is their is recommendation on how to use PL_TARGET_DENSITY,

[2022-05-25 11:22] kareefardi opened #1107 "logging of long steps"
### Prompt
low verbosity is nice and all but some steps (detailed routing) has marginally longer runtime than other steps and we can't monitor the progress unless we open the log file.

### Proposal
at least allow printing the whole log file of long steps even in low verbosity and perhaps at most live tailing last n lines of log files of long steps

[2022-05-25 13:11] jurevreca12 opened #1108 "The script tr_drc_to_klayout_drc.py causing memory issues."
### Prompt
The script `tr_drc_to_klayout_drc.py` used to convert the results to an klayout xml style file is consuming large amounts of memory due to the way it is written. Concretely what happened to me is that magic found 11149122 DRC issues with my design, and this lead the script `tr_drc_to_klayout_drc.py` to consume too much memory and crash.

### Proposal
I did not study this script in detai

[2022-05-25 17:56] maliberty commented on #1106
You can have routing congestion from different causes.

One scenario is instances very tightly packed together where it is hard to get all the necessary wires in and down to the pins.  In this case spreading out the instances is helpful and CELL_PAD will do that.  Its a bit of a crude tool as it is global.  There is some work in progress to make routability driven global placement handle this more

[2022-05-25 17:57] maliberty commented on #1106
There are other scenarios that can cause problems too - for example poor macro placement or narrow channels.

[2022-05-25 23:40] ishfaqahmed29 opened #1110 "Issue launching "make test" to run OpenLane"
I'm getting the following error message. Do I need to reinstall Docker?

![image](https://user-images.githubusercontent.com/34355989/170386526-38535e8a-4ced-412f-b302-b34549bf0310.png)

Thanks

[2022-05-26 04:46] vijayank88 commented on #1110
@ishfaqahmed29
From 2nd screenshot `make pdk` not completed. Try with `sudo make pdk`

Then try `sudo make test` or an other way try following command:
[code]

[2022-05-26 08:00] jurevreca12 opened #1111 "SRAM macro rotation (ERROR: Guide is not connected to design)"
### Description
I am having trouble rotating a sky130 SRAM macro. When I have all macros set to N (I am guessing this means north) routing finishes successfully. However, when I rotate the macro I get the following error:

[code]

I rotate the macro by setting the configuration macro.cfg to S as such:
[code]

### Environment
[code]

### Reproduction Material
I am adding a reproducible as a zip fil

[2022-05-26 09:16] jurevreca12 commented on #1111
Without flipping the macro, or in other words, with the following macro.cfg:
[code]
I get the following result from running make user_project_wrapper:
[code]

Unfortunately, because of the way openlane fails, the reproducible is not generated. I am attaching a git commit that can be used to reproduce the issue though: https://github.com/jurevreca12/rvj1-caravel-soc/tree/c297cdaefa119f267ad54b40c84

[2022-05-26 10:02] vijayank88 commented on #1111
@jurevreca12
I have cloned your repo and running it.
Magic DRC failed with child killed signal, is out of memory kill in your end.

[2022-05-26 10:16] antonblanchard opened #1112 "Add clock tree metal layer constraints"
@jjcherry56 points out that Openlane is not constraining the clock tree metal layers. Depending on the process, we might want to use upper/larger metal layers.

 We need a few changes:

1. Environment variables in open_pdks for the clock min/max layers. open_pdks does have:

[code]

However met5 seems a bit of an odd setting. We really want variables for min and max layers (eg met3-met5). `CLOCK_M

[2022-05-26 10:50] vijayank88 commented on #1111
@jurevreca12
Its failed with Magic DRC error at my end.
[code]

[2022-05-26 11:03] jurevreca12 commented on #1111
Yes. When I ran that on another computer, with more memory, the same thing happens. And this DRC error happens right after my error, so its basically the same error.

[2022-05-26 11:10] egorxe commented on #1096
I could confirm that with the latest OR there is an easy way to increase PDN density by disabling secondary supply stripes. All that is needed is to add options like these to add_stripes in pdn_cfg.tcl:
[code]
It would be even more convenient if OR recalculated spacing automatically. Together with setting FP_PDN_CORE_RING_VOFFSET & FP_PDN_CORE_RING_HOFFSET to 12.45 it allows you to pass XOR preche

[2022-05-26 11:29] #692 closed

[2022-05-26 11:29] vijayank88 commented on #1111
@maliberty FYI

[2022-05-26 13:13] dineshannayya commented on #1106
@maliberty Thanks for your detailed explanation ..

[2022-05-26 13:13] #1106 closed

[2022-05-26 13:37] ishfaqahmed29 commented on #1110
Hi @vijayank88

[code]

I tried <mark>sudo make pdk</mark>, and then <mark>sudo make test</mark>

![image](https://user-images.githubusercontent.com/34355989/170493861-986dc99d-f9eb-4247-8f8e-d825bda9b3f4.png)

[2022-05-26 13:46] vijayank88 commented on #1110
@ishfaqahmed29
You have permission issue.

Just install `OpenLane` where user have `read/write` access.

After successfull installation try
[code]

[2022-05-26 14:44] maliberty commented on #1096
You should look at https://github.com/The-OpenROAD-Project/OpenLane/pull/1109

[2022-05-26 15:42] #1110 closed

[2022-05-26 16:55] egorxe commented on #1096
#1109 is about power rings order and this issue is about separate control for rings and straps. They are related, but not the same.

[2022-05-27 08:07] proppy commented on #1093
I can confirm that updating openroad does seem to fix this issue.

[2022-05-29 00:14] Askartos opened #1114 "Detail Routing crash (due to memory use 12Gb for a 7k cells design)"
### Description
Hi, openlane is crashing at the detail routing step, the tool consumes 12GB of memory and crashes,  from the final_summary_report.csv looks like the design, only has 7k cells.
could you please let me know any suggestions to work around the issue?

### Environment
[code]

### Reproduction Material

[openroad_issue_reproducible.tar.gz](https://github.com/The-OpenROAD-Project/OpenLane

[2022-05-29 02:34] donn commented on #1114
@maliberty Thoughts? I don't know if I agree with out-of-memory detection for practical purposes

[2022-05-29 02:38] donn commented on #1082
@proppy's suggesting the following:

### Prompt

The following page often gets out of date w/ the change to the default TCL configs as shown in #1087:
https://github.com/The-OpenROAD-Project/OpenLane/blob/master/configuration/README.md
https://github.com/The-OpenROAD-Project/OpenLane/blob/master/regression_results/datapoint_definitions.md

### Proposal

It would be nice to find a way to autogenera

[2022-05-29 02:38] #1088 closed

[2022-05-29 02:40] donn commented on #1099
@vijayank88 The tag "discussion" is for discussing things with the community, not for questions.

[2022-05-29 02:40] #1099 closed

[2022-05-29 05:33] maliberty commented on #1114
Note that the design has fill cells so :

[INFO ODB-0131]     Created **1807364** components and 6756773 component-terminals.

This will add to the memory usage.  Usage looks to be around 29-30Gb with the two threads in your test case.

[2022-05-29 15:01] donn commented on #1114
@maliberty Recommended action, then? Just "more RAM"?

[2022-05-29 15:49] maliberty commented on #1114
We can look at improving the memory usage but in the short term yes, more ram or more swap.

[2022-05-29 16:02] luccareinehr commented on #963
Tried with git version 2.36.1 in Ubuntu 22.04 and the same error occurred. Downgrading to git 2.35 fixed it!

[2022-05-30 00:18] antonblanchard opened #1115 "Crash in OpenROAD resizer (fixed upstream)"
I'm hitting the following OpenROAD issue:

https://github.com/The-OpenROAD-Project/OpenROAD/issues/1869

Since the fix is now upstream, updating OpenROAD should resolve it.

[2022-05-31 11:21] vijayank88 commented on #1002
@donn
How do I enable insert_tiecells command with OpenLane flow?

[2022-05-31 12:09] arlpetergadfort commented on #1002
I added the following to the ORFS floorplanning script for us:
[code]

[2022-05-31 15:30] ashkanr65 opened #1117 "Run several verilog code"
Hi,
I was wondering how I can run a project with several verilog file with OpenLane?
For example this project:
https://github.com/alexforencich/verilog-i2c
have 9 verilog files which should run with each other.
How can i do that?

[2022-05-31 15:42] mousaq92 commented on #1117
Hello,

Try this:

set ::env(VERILOG_FILES) [glob $::env(DESIGN_DIR)/src/*.v]

OR this:

set ::env(VERILOG_FILES) "[glob $::env(DESIGN_DIR)/src/file1.v] \
                                         [glob $::env(DESIGN_DIR)/src/file2.v] \
                                         [glob $::env(DESIGN_DIR)/src/file3.v] "

[2022-05-31 15:44] maliberty commented on #1117
There is no need to use glob if you are giving a path without wildcards (your second option).

[2022-05-31 16:26] Askartos commented on #1114
@maliberty do you have any runtime expectation for that testcase?
I've increased my swap and it has been running detail routing for about 13 hours.

[2022-05-31 16:39] Stephanommg commented on #1111
I started attending to the problem initially mentioned (guide is not connected to the design). Is this still relevant?

[2022-05-31 17:19] donn commented on #1114
Really, depends on your computer; your CPU, the amount of RAM, the amount of swap...

You could try a larger design area to make routing easier, for now.

@maliberty Can you have someone take a look at this design? If it's 7k as they claim and its taking over 12 GB of RAM, something's not right methinks

[2022-05-31 17:19] Stephanommg commented on #1111
I investigated the "guide is not connected to the design" problem and it really is not a DR problem. There is no guide even close to pin iram_inst/din0[27], so that the router could create a patch guide to connect to the pin.

@jurevreca12 are you rotation the macro and performing the entire place and route or are you rotating it after global routing result?

[2022-05-31 17:25] maliberty commented on #1114
@donn if you see my comments above the 7k excludes all the fill cells.

[2022-05-31 17:26] maliberty commented on #1114
I ran it and got a result in:
real	16m12.260s

Is your machine thrashing?  What step are you on?

[2022-05-31 17:50] jurevreca12 commented on #1111
@Stephanommg yes it is still relevant.

[2022-05-31 18:43] maliberty commented on #1114
Which iteration is it on?  It took 10 iterations for it to complete for me.

[2022-05-31 18:47] Askartos commented on #1114
iteration 0

[2022-05-31 18:50] maliberty commented on #1114
I can only assume the machine is thrashing as the runtime difference is huge.

[2022-05-31 19:08] Stephanommg commented on #1114
In my machine it went to 13gb of RAM after track assignment, and then, when routing started, it filled the entire available memory (28gb) and crashed out of memory. Given this, it seems that the fills are not the cause of the high memory.

ispd19_test10 is another design that cannot be run in  my machine and it has almost 900k components (against 1.8kk of this one) and the number of tracks by laye

[2022-05-31 19:10] Stephanommg commented on #1111
So this is a GR problem. @maliberty do you have anyone to look at GR?

[2022-06-01 05:34] #1101 closed

[2022-06-01 06:39] Eswar-Akula opened #1118 "Syntax Error in PDKs"
Hello Team,
Our team encountered syntax error while executing GLS on the verilog file using "FUNCTIONAL" directive in the path **OpenLane/pdks/sky130A/libs.ref/sky130_fd_sc_hd/verilog/sky130_fd_sc_hd.v** in line number 49162. We should be commenting this  SKY130_FD_SC_HD__LPFLOW_BLEEDER_FUNCTIONAL_V in that line then its giving accurate result.

![MicrosoftTeams-image](https://user-images.githubus

[2022-06-01 08:42] ashkanr65 commented on #1117
Thanks for your answers, but when I run it, I receive several errors:(copy-paste from errors.log)

[ERROR]: during executing: "yosys -c /openlane/scripts/yosys/synth.tcl -l /openlane/designs/verilog-i2c-master/runs/first_run/logs/synthesis/1-synthesis.log |& tee /dev/null"
[ERROR]: Exit code: 1
[ERROR]: Last 10 lines:
Successfully finished Verilog frontend.

8. Executing Verilog-2005 frontend: /op

[2022-06-01 15:58] cbalint13 commented on #146
@EngRaff92,

* If you run Fedora>=35 or CentOS>=8 (aarch64) on that Apple Sillicon than **YES** that install procedure will work too.

That is .rpm (CentOS/Fedora) [rpm package](https://en.wikipedia.org/wiki/RPM_Package_Manager) specific things:
* 'noarch'  is a .rpm package having only data (no executable at all)
* 'x86_64' is a .rpm package targeting x86_64 architecture.

[2022-06-01 16:00] EngRaff92 commented on #146
Hey thanks for getting back nope I’m not running none of the os you mentioned just macOS. So according to what you wrote it will not work properly on this MacOS, will it ? Regards

[2022-06-01 16:42] EngRaff92 commented on #146
Cool thanks for confirming

[2022-06-01 17:30] Stephanommg commented on #1114
Even with the given above, I tested running the design without all the fill cells, and the problem was solved. The routing finished in 16 seconds and in iteration 12. The peak memory reported by the router was 2.6Gb.

[2022-06-01 18:50] EngRaff92 commented on #146
I followed the instructions in the README and I installed properly OpenLane. Once I ran the test (make tests) it fails with the following error:

Docker info was not valid JSON.
Traceback (most recent call last):
  File "/Users/raffaelemac/OpenLane/./env.py", line 257, in <module>
    main()
  File "/Users/raffaelemac/OpenLane/./env.py", line 253, in main
    commands[args[0]]()
  File "/Users/raf

[2022-06-02 15:31] donn commented on #1118
@RTimothyEdwards @mithro Wasn't a fix merged for this a while back?

[2022-06-02 15:31] donn commented on #1118
Oh, also, please do not ignore the issue template. Without knowing what version of the PDK you're using, we *cannot* help you.