[2020-07-20 23:19] mithro opened #1 "Change submodule command to do shallow checkout"
It is probably a good idea to clone the library submodules in "shallow" mode.

[code]

See related issue @ https://github.com/google/skywater-pdk/issues/108

[2020-07-24 22:20] 20Mhz opened #3 "Add support for ::env(VERILOG_INCLUDE_DIRS)"
From openroad synth.tcl

[code]

[2020-07-25 03:04] acasper45 opened #4 "The detailed placer can fail when tap cells are placed directly next to endcaps."
This can be seen by running the ```spm``` design with the ```FP_CORE_UTIL``` set to 15. This will cause the following error:

[code]

[2020-07-25 22:46] mdzakirhussain opened #5 "no such file or directory Issue"
I had followed every single step given, but I am facing the following Issue.

[INFO]: Version: rc1
[INFO]: Using design configuration at /openLANE_flow/designs/spm/config.tcl
couldn't read file "/openLANE_flow/pdks//sky130A/libs.tech/openlane/config.tcl": no such file or directory
    while executing
"source $pdk_config"
    (procedure "prep" line 86)
    invoked from within
"prep {*}$args"
    (p

[2020-07-25 22:50] 20Mhz commented on #5
Well, there is suppose to be a file there, is /openLANE_flow your actual work directory or is it missing a prefix? did you successfully build open_pdk?

[2020-07-25 23:02] mdzakirhussain commented on #5
During open-pdk

While performing the following command

make

I got the following some messages

Error message output from magic:
Can't write file named '(UNNAMED)'

sky130_fd_sc_hd__buf_12_1"
LEF read:  Further warnings will not be reported.
Warning: Cannot open file for writing!
Warning: Cannot open file for writing!
Warning: Cannot open file for writing!
Warning: Cannot open file for writing!

[2020-07-25 23:51] 20Mhz opened #6 "Add "threads" parameter to TritonRoute.params"
Add option to set threads:#CORES to TritonRoute.params so my computer stops yawning while routing

[2020-07-26 00:02] 20Mhz commented on #5
I think the UNNAMED is unrelated, but Warning may be related to wrong path somewhere

[2020-07-26 00:14] mdzakirhussain commented on #5
Ok. But, how do I solve the issue, I just followed the steps given.

[2020-07-26 07:28] mdzakirhussain opened #8 "How to perform my own design's RTL to GDSII"
Kindly help me for the below simple 1-bit binary full adder's RTL_to_GDSII operation

module fa(a,b,c,sum,co);
input a,b,c;
output sum,co;
assign sum=a^b^c;
assign co=a&b|a&c|b&c;
endmodule

[2020-07-26 13:16] smunaut commented on #5
So the `Warning: Cannot open file for writing!` (and a bunch of other warnings during open_pdk) build can be traced to open_pdk reading both the `.lef` and the `.magic.lef` files during aggregation resulting in duplicates.

[2020-07-26 13:56] RTimothyEdwards opened #9 "Cannot install: Docker error"
I tried to install openlane (branch rc1) following the instructions (cd openlane/docker_build ; make merge).  But the build always fails with:

    Step 2/22 : RUN yum install -y git tcl tk libjpeg libgomp libXext libSM libXft libffi cairo gettext Xvfb
       ---> Running in 4f9707bae11a
   The command '/bin/sh -c yum install -y git tcl tk libjpeg libgomp libXext libSM libXft libffi cairo gettext

[2020-07-26 14:52] RTimothyEdwards commented on #9
Solution provided by @yrappt on the skywater-pdk slack workspace:  This issue is from the spectre attack vulnerability in Intel processors, oddly enough, and there is a solution mentioned at the bottom of the page here:  https://github.com/CentOS/sig-cloud-instance-images/issues/103 , where the solution is to enable vsyscall at boot time by editing the grub config and rebooting.  Worked like a cha

[2020-07-27 12:57] agorararmard commented on #5
@mdzakirhussain are you sure this is your directory structure for rc1?

openlane_working_dir
├── openlane
├── pdks
├──── skywater-pdk
├──── open_pdks
├────── sky130
├──────── pdks
├───────── sky130A

Meaning that both skywater-pdk and open_pdks are under pdks. This should've been clearer in the README and hopefully this is the case in rc2 that was just released yesterday.

[2020-07-27 14:47] 20Mhz opened #10 "Netgen hangs"
Tool hangs trying to resolve symetries

[code]

[2020-07-27 14:49] 20Mhz opened #11 "Enhance ./flow.tcl -interactive to pass argument to prep command and automatically load openlane package"
./flow -interactive -design spm -tag run1 -overwrite

% require package openlane 0.9
% prep -design spm -tag run1 -overwrite

[2020-07-27 18:28] agorararmard commented on #8
This should answer your question in more detail [Adding A Design](https://github.com/efabless/openlane/blob/master/designs/README.md)

However, to simplify the main points:

- init the design
[code]

or alternatively

[code]
You will find a folder created openlane/designs/fa/
add the verilog src file under openlane/designs/fa/src

You can find more [here](https://github.com/efabless/openlane/wiki/

[2020-07-27 19:17] agorararmard commented on #10
@20Mhz LVS usually takes a long time on big designs. You might want to comment out  run_netgen from [flow.tcl](https://github.com/efabless/openlane/blob/master/flow.tcl) until you perfect the design (get down to 0 DRC violations), then put it back.

[2020-07-27 20:48] mdzakirhussain opened #12 "Unble to do git"
when I tried the following command
git clone git@github.com:google/skywater-pdk.git

I am getting this

Cloning into 'skywater-pdk'...
git@github.com: Permission denied (publickey).
fatal: Could not read from remote repository.

Please make sure you have the correct access rights
and the repository exists.

[2020-07-27 20:55] agorararmard commented on #12
@mdzakirhussain try using https for cloning:
skywater-pdk:
https://github.com/google/skywater-pdk.git

open_pdks:
https://github.com/efabless/open_pdks.git

openlane:
https://github.com/efabless/openlane.git

[2020-07-27 21:07] mdzakirhussain commented on #12
Thank you. Now it is working.

[2020-07-27 21:07] #12 closed

[2020-07-27 21:47] mdzakirhussain opened #13 "open_pdk make file issue"
Makefile:42: ***
 ***********************************************************

 ***********************************************************
 .  Stop.

[2020-07-27 21:50] agorararmard commented on #13
@mdzakirhussain please check this: https://github.com/efabless/openlane/wiki/FAQs#why-am-i-unable-to-run-open_pdks

[2020-07-27 21:50] #13 closed

[2020-07-27 22:19] agorararmard commented on #6
@20Mhz [#14](https://github.com/efabless/openlane/commit/f823d444fe57972eecc3618e68ec837fe8639378)

[2020-07-28 12:17] bzboi commented on #9
Hi, I'm running Ubuntu 20.04 on WSL2, is the edit made to grub in Ubuntu or in Centos? I tried "sudo nano /etc/default/grub" followed by "sudo update-grub" in Ubuntu and rebooted but am still seeing the same error. I'm a Docker noob and will need help if the edit needs to be made within Centos. Thanks.

![image](https://user-images.githubusercontent.com/7074250/88664164-a507f000-d0aa-11ea-8424-2aa

[2020-07-28 12:38] RTimothyEdwards commented on #9
@bzboi :  There was a second solution that I had written in my notes that I had used earlier on an openlane install, which was to change "centos6" to "centos7" in the dockerfile.  There are some issues with using centos7, but the only one I found was that yosys fails in centos7 due to a broken shared library reference.  I made a symbolic link "/lib64/libffi.so.5" pointing to libffi.so.6 to fix tha

[2020-07-28 12:40] RTimothyEdwards commented on #9
I am reopening this issue, as @bzboi has an active and unsolved variant of this issue.

[2020-07-28 13:07] ax3ghazy opened #16 "Explore other base images for the docker option (e.g., newer centos versions, ubuntu, debian)"
Not a good idea to keep telling people to modify their boot loader configuration. See https://github.com/efabless/openlane/issues/9 for details.

Should help with running natively as well.

[2020-07-28 20:03] harikumar27399 opened #17 "Error during the Synthesis Step"
I have tried using the OpenLane flow for the aardonyx SoC developed at IIT Madras, India. An error is encountered during the synthesis step using Yosys and ABC.
.

The error message reads as below:
67.1. Executing OPT_EXPR pass (perform const folding).
terminate called after throwing an instance of 'std::out_of_range'
  what():  Cell::getParam()
[ERROR]: during executing: "yosys -c /openLANE_flow/

[2020-07-29 13:28] #5 closed

[2020-07-29 13:28] #8 closed

[2020-07-29 22:11] mdzakirhussain opened #18 "Iterations are keep going how long they will???"
PROC:  Start NESTEROV's Optimization
PROC:    Global Lagrangian Multiplier is Applied

ITER: 0
    HPWL=382.550232
    OVFL=0.725638
    HPWL=(159.536499, 223.013733)
    POTN=2.085887E+08
    PHIC=1.524986E-09
    GRAD=4.210845E-01
    NuBT=0
    CPU =0.000000

ITER: 1
    HPWL=376.941772
    OVFL=0.697518
    HPWL=(154.447601, 222.494186)
    POTN=1.924570E+08
    PHIC=1.601235E-09

[2020-07-30 08:10] hadirkhan10 opened #19 "Running ./flow.tcl gives Permission Denied error while creating folders"
Hi, I have cloned the repository in the aws Ubuntu instance in the following path `/home/merlproj/backend-tools`. I have built the skywater-pdk and installed it using the open_pdk. When I run the docker container from the path `/home/merlproj/backend-tools/openlane` the bash-4.1 shell comes up. I then run the script ./flow.tcl and it shows the following error:
![Error](https://user-images.githubus

[2020-07-30 12:24] agorararmard commented on #19
@hadirkhan10 when mounting the docker:
```docker run -it -v $(pwd):/openLANE_flow -v $PDK_ROOT:$PDK_ROOT -e PDK_ROOT=$PDK_ROOT -u $(id -u $USER):$(id -g $USER) openlane:rc2``` you mount as the currently logged in user. So, if the user doesn't have the permission to create the directory (i.e. outside of the docker, if you tried to create that same ./runs/ folder and failed) then you wouldn't be abl

[2020-07-30 12:36] hadirkhan10 commented on #19
@agorararmard I have root privileges outside the container. I can create directories using the sudo command. But inside the docker container I am getting these errors

[2020-07-30 14:15] hadirkhan10 commented on #19
@agorararmard the workaround command you provided works thanks! But please look into it without running it through root

[2020-07-30 14:22] agorararmard commented on #19
@hadirkhan10 did you run the docker using ```sudo docker ....``` or created the openlane directory with sudo?

[2020-07-30 14:48] hadirkhan10 commented on #19
I created the openlane directory with "git clone" using the sudo command and run docker with sudo as well since docker gives error of running daemon without sudo.

[2020-07-30 14:53] harikumar27399 commented on #17
The verilog source folder for the SoC is:
[soc.tar.gz](https://github.com/efabless/openlane/files/5001969/soc.tar.gz)

I kindly request you to look into the error.

[2020-07-30 14:56] agorararmard commented on #19
@hadirkhan10, that's the issue then. If you run ```git clone``` again without ```sudo``` everything should run perfectly without the need for sudo or root access

[2020-07-30 15:00] hadirkhan10 commented on #19
@agorararmard well the point is that I created the openlane directory using the "git clone" in the home level directory which needs root permissions to create folder. So I needed to use "sudo git clone <url>" so that git is able to create a folder in the home directory without giving the permission denied error.

[2020-07-30 16:21] agorararmard commented on #19
@hadirkhan10  Yes that's why since you cloned the repo with sudo git clone, you will always have to edit it/run the docker in it as root.

[2020-07-30 16:21] #19 closed

[2020-07-31 03:23] nickson-jose opened #20 "How to perform custom pin-placement during Floorplanning?"
Hi,
I think the configurations for io pin placement during floorplanning is picked by openlane from /path/to/openlane/configuration/floorplan.tcl. However, I'm not sure of the steps to perform custom pin-placement during Floorplanning.
For instance, for design, say picorv32a, if I want my 'resetn' pin to be precisely in the left, lower-half section; what all modifications do I need to do.

[2020-07-31 16:35] ax3ghazy commented on #17
Hello @harikumar27399,

I could replicate the yosys crash you're getting. Is there a way to configure the amount of memory in the SoC? If so, could you try reducing it and test again? Currently it has more than 4 KBytes of memory.

Thanks.

[2020-07-31 16:40] ax3ghazy commented on #20
Hi @njose939,

This is currently not very possible. The only options you have for pin placement currently are random equidistant distribution of pins, or a placement that optimizes the HPWL (see the `FP_IO_MODE` configuration parameter). What you describe is a feature we wanted to implement for a while, so I will leave this open until it's available.

Thanks.

[2020-07-31 17:37] ax3ghazy commented on #1
@mithro: Since they're properly configured on the skywater-pdk repo as shallow submodules (e.g., https://github.com/google/skywater-pdk/blob/master/.gitmodules#L6), the basic submodule command you mentioned does already clone the submodules shallowly, so it already passes `--depth 1` to the clone command.

Cloning the skywater-pdk itself shallowly doesn't provide much gain; it only saves like 400

[2020-08-02 18:07] diecaptain opened #21 "Inconsistensy between Routing strategies"
Build Information : Docker Build on Ubuntu 20.04
PDK Information : sky130A, variant - sky130_fd_sc_hd, typical op condition - tt_025C_1v80

I have observed the following error on two of my designs and on spi controller (raven_spi) from Raven-SOC.

![Screenshot from 2020-08-02 10-26-52](https://user-images.githubusercontent.com/3767149/89128902-bcc9e480-d4ad-11ea-80f1-e0038e209a9d.png)
The flow exi

[2020-08-04 03:28] hadirkhan10 opened #22 "How can multiple users on a machine run docker container?"
Hello, we have a team of multiple users working on an Amazon Web Services (AWS) Ubuntu machine and we would like all the users to run the docker container and the complete openlane flow. For that purpose I placed the openlane directory in the `/home` directory of the machine so that everyone can access it. But now docker requires sudo privileges to run which is not what we need. Is there a way to

[2020-08-04 13:00] agorararmard commented on #18
@mdzakirhussain It takes a long time for large designs which could be considered to be a bug somehow in the placer. However, the iterations keep on going until OVFL is less than 0.1

[2020-08-04 13:03] agorararmard commented on #21
@diecaptain which version of open_pdks are you using/ could you share the tracks.info file? it should be copied into the run directory under tmp.

[2020-08-04 13:11] agorararmard commented on #22
@hadirkhan10  As far as I know, this could only be done if all users have edit access to the folder in which openlane lies, and if home directory requires sudo access then all users should have sudo access to use it. However, mounting the docker as root (omitting the -u part when mounting) should solve the issue of using the flow, but for extracting an editable version of the runs, they should be

[2020-08-04 13:32] hadirkhan10 commented on #22
@agorararmard oh that's a problem. How would multiple members in the team then work collaboratively? If every user needs to clone the openlane  repository into their own user directories, that would not be viable at all. If we put the openlane folder in a common place it would definitely need read/write permissions. If we provide users read/write permissions specifically for that folder only, stil

[2020-08-04 18:51] diecaptain commented on #21
I am using the open_pdks 1.0 tag rc2. The tracks.info_copy file in tmp directory is the same as the tracks.info file generated by open_pdks. The copy file is as below:

![tracks info_copy](https://user-images.githubusercontent.com/3767149/89332738-c3d92a00-d648-11ea-8eed-228ad6c235f8.png)

Thank you.

[2020-08-04 19:18] agorararmard commented on #22
@hadirkhan10 If all users are granted read/write/execute permissions on openlane and pdks directories then there would be no need for running the docker as root using this command (no root privileges):
[code]

[2020-08-04 19:33] hadirkhan10 commented on #22
Okay @agorararmard I'll try and report back with this.

[2020-08-04 20:24] agorararmard commented on #21
@diecaptain Can you share all the logs under the run directory for any of the runs or can you share the (design, configurations) for us to replicate the error?

[2020-08-04 21:09] diecaptain commented on #21
This is the whole directory of raven_spi that I ran. The code itself is from efabless's Raven SOC. The run directory has two runs, the old one is the successful run using Routing strategy 14. The new one is the failed run using Routing strategy 0 which i reran now. I cleaned the failed runs so I dont have their logs. It fails on routing strategies 0,1,2 and 3, but passes on 14.

[raven_spi.tar.gz]

[2020-08-05 13:36] agorararmard commented on #21
@diecaptain I was unable to replicate the error you're facing. I ran with ROUTING_STRATEGY 0 and 1, using the openlane::rc2, and got a DRC/LVS/Antenna clean raven_spi run. However, looking at the logs you attached, I'm familiar with the pin access issue that is flagged in your tritonRoute log, as far as I've experienced, this happens when you use incompatible versions of skywater-pdk (newer) and o

[2020-08-05 17:17] diecaptain commented on #21
Okay, thank you for your time. If I want to roll back my skywater-pdk version, which version is compatible with open_pdks 1.0 rc2? I didnt pay head to the pin access issue because after a few errors, it logs that 100% pin access was achieved. Right now, I have moved to steadily use TR14. However, while testing with the examples provided in openlane/designs, some of them do work for all routing str

[2020-08-06 11:04] harikumar27399 commented on #17
Thanks a lot @ax3ghazy. Configuring the memory helped cross the OPT_EXPR pass. However, now I am facing an issue in the later part of the synthesis. There is a particular cell '_DLATCH_P_' whose area remains unknown as it doesn't get assigned to any of the sky_pdk lib cells.
Due to this, the synthesis fails and the TCL interpreter exits with the following message:
ERROR: synthesis failed.
Exiting.

[2020-08-06 13:26] agorararmard commented on #21
This is a documentation of all configuration parameters used in OpenLane: [configuration/README.md](https://github.com/efabless/openlane/blob/master/configuration/README.md).

However, in brief, from 0 to 3, this is a variant from TR13, and they are not really different "routing strategies", but different "routing optimization iterations". You can check the source code here to see the differences,

[2020-08-06 13:45] agorararmard commented on #17
@harikumar27399  As far as I understand, this means that the design contains latches and is not synthesizable by our version of Yosys. You should modify the design to remove those 6 latches. For example, this is a snippet of the Yosys log you attached reporting a latch in reg current_gate:
 ```Latch inferred for signal `$paramod\MakeClock\initVal=1'0\initGate=1'1.\current_gate' from process `$para

[2020-08-07 12:05] harikumar27399 commented on #17
Thanks for the info @agorararmard. I removed those latches from the design and the synthesis passed successfully. However, there are timing violations (negative slack) reported after synthesis by OpenSTA.

The libraries used for min. and max. STA calculations are:
LIB_MIN: sky130_fd_sc_hd__ss_100C_1v60.lib
LIB_MAX: sky130_fd_sc_hd__ff_100C_1v95.lib

OpenSTA report: wns = -0.52, tns = -1.62

The sy

[2020-08-07 14:11] agorararmard commented on #17
@harikumar27399 I'm afraid you're using the wrong corners for LIB_MIN and LIB_MAX, they should be:
[code]
However, having a negative wns will not stop the flow, and it will proceed up to the GDS normally. We will be integrating some tools to enhance the wns as an optimization in the coming releases, however, for now, what you should do is increase the value of the environment variable ```CLOCK_PER

[2020-08-08 03:08] riking commented on #1
Now need to update scripts/make/git.mk now that that's the instructions.

[2020-08-08 19:50] hadirkhan10 commented on #22
@agorararmard I found a solution reading the docker documentation. For running the docker daemon without sudo privileges you need to add the user into the `docker` group created automatically. Once the user is in the `docker` group he/she can run the `docker run` command without the `sudo` keyword

[2020-08-08 19:50] #22 closed

[2020-08-09 08:02] diecaptain commented on #21
Thank you.

[2020-08-09 08:02] #21 closed

[2020-08-10 17:14] harikumar27399 opened #24 "Error during Routing using FastRoute"
While trying to use Openlane flow for the Aardonyx SoC designed at IIT Madras, there is a crash encountered during the routing process using FastRoute.

The error message reads as below:
terminate called after throwing an instance of 'std::bad_alloc'
what():  std::bad_alloc
[ERROR]: during executing: "openroad -exit /openLANE_flow/scripts//openroad/or_route.tcl |& tee >&@stdout /openLANE_flow/desi

[2020-08-10 17:19] smunaut commented on #24
You're running out of RAM.

[2020-08-10 17:21] harikumar27399 commented on #17
@agorararmard I've solved the negative wns issue by increasing the clock period by one ns for the time being. I'm looking forward to the tools that will enhance the wns as an optimization in the coming releases.
Thank you.

[2020-08-10 17:34] harikumar27399 commented on #24
@smunaut Is there any workaround for this?

[2020-08-10 18:37] yrrapt opened #25 "Antenna Check Segmentation Fault HS Cells"
When attempting to run the `spm` design with the _hs cells there is a segmentation fault failure during antenna checks. I have run the same design with the recommended _hd cells with no problem. Therefore, I assume it's something in the setup of the _hs cells.

Output of terminal:
[code]

error.log:
[code]

[2020-08-11 11:20] harikumar27399 commented on #24
Thanks for the info @smunaut . I circumvented the crash by increasing the swap size of my Ubuntu system.

[2020-08-11 11:20] #24 closed

[2020-08-11 17:11] harikumar27399 opened #26 "Magic Hangs"
While trying to use Openlane flow for the Aardonyx SoC designed at IIT Madras, there is a crash encountered during the run of Magic. The Ubuntu terminal hangs while writing to the LEF file after about 45 minutes of the start of Magic run. My system has 6GB of RAM and 6GB of swap space on top of it but the issue persists. I would like to know the recommended system RAM requirements for running Magi

[2020-08-11 17:29] smunaut commented on #26
Just to give you a comparaison point, running the picorv32a design from the example (which is _way_ smaller than your design)
used about 16G of RAM and took about 8h to complete. Using any swap instead of real ram would probably make it substantially slower because of the swap in/out ... (and all that swap might make the whole machine unresponsive).

So you're going to need to go buy a whole lot m

[2020-08-11 20:10] ax3ghazy commented on #26
(posted already on slack, but will post it here as well):
@harikumar27399: Could you share the routed DEF you got (under `designs/aardonyx/runs/<tag>/results/routing` ) to make it easier to reproduce?

[2020-08-12 04:18] harikumar27399 commented on #26
@ax3ghazy I have shared the routed DEF file on slack for your perusal.

[2020-08-12 15:46] frznchckn opened #27 "Cannot install via docker method on branch `develop`"
I'm using Ubuntu (see below) and this system successful build `rc2` and ran the example design `spm`
[code]

The docker build fails on `vlogtoverilog`
[code]
Seems odd as I don't think the dockerfile for this tool has changed between `rc2` and the HEAD of `develop`, but I'm just getting used to this repo, so I could be mistaken.

[2020-08-12 17:26] agorararmard commented on #27
@frznchckn the vlogtoverilog is not used in the block level of openlane. This docker file is deprecated, and it will be replaced with a newer version/or deleted soon. So there is no need to run make-build-vlog2verilog.

Also, there is no need to build any of the tools at all. Since they exist in .tar.gz inside the tar folder. All you have to do once you clone is go inside the docker_build file and

[2020-08-19 17:41] praharshapm opened #28 "error during placement stage"
Hi,
I am getting error on running run_placement. Replace is causing the issue.
`[INFO] 80pCellArea = -nan
[INFO] FillerInit: TotalFillerArea = 821.911865
[INFO] FillerInit: NumFillerCells = -2147483648
[INFO] FillerInit: FillerCellArea = -nan
[INFO] FillerInit: FillerCellSize = (-nan, -nan)
[ERROR]: during executing: "replace < /openLANE_flow/scripts//replace_gp.tcl |& tee >&@stdout /openLANE_flow

[2020-08-19 20:30] riking commented on #28
Input files are here: https://skywater-pdk.slack.com/archives/C016H8WJMBR/p1597847656281500?thread_ts=1597817669.264400&cid=C016H8WJMBR

[2020-08-24 13:34] ax3ghazy commented on #28
I understand this has been resolved, right?

[2020-08-24 14:07] praharshapm commented on #28
Yes. I actually increased the instance count by adding more circuitry to the design and thus the issue got resolved.

[2020-08-31 11:31] rahulrvm82 opened #29 "Query for PnR"
Can we take any independent RTL to perform PnR?

[2020-09-01 14:30] bsrinath10 opened #30 "Problem installing PDK in MAC"
Dear Sir,
I tried installing the OPENLANE in my Mac OS.
I tried installing the SkyWater PDK . I am facing the following issue given in the attachment.
Kindly help me for successful installation .

with regards
Srinath
![Screenshot 2020-08-31 at 8 49 20 PM](https://user-images.githubusercontent.com/68847021/91864358-bc2f9400-ec8d-11ea-9811-02394c4e40f8.png)
![Screenshot 2020-09-01 at 8 07 26 PM](ht

[2020-09-01 15:11] agorararmard commented on #30
@bsrinath10 could you share the full list of commands that you used for cloning/building/exporting PDK_ROOT etc.

However, a quick workaround would be building the OpenLANE docker first. Then mounting the docker and using it to install skywater-pdk and open_pdks since it already has all the dependencies built inside. (however, this is not a safe way to build the pdk in general, and it will make *a

[2020-09-01 15:28] ax3ghazy commented on #29
Yes, please follow the README and the [wiki](https://github.com/efabless/openlane/wiki) for further information. Let us know if you have more specific questions.

[2020-09-01 15:28] #29 closed

[2020-09-02 10:17] bsrinath10 commented on #30
Dear Amr A Gouhar,

Thank you for your email.
I had executed the following commands in MAC OS terminal.
1. mkdir pdk
2. export PDK_ROOT = <>
3. cd ..
4. git clone git@github.com:efabless/openlane --branch rc2
5. cd openlane/docker_build
6. make merge
7. cd ..
8. docker run -it -v $(pwd):/openLANE_flow -v $PDK_ROOT:$PDK_ROOT -e
PDK_ROOT=$PDK_ROOT -u $(id -u $USER):$(id -g $USER) openlane:rc2
9. ./f

[2020-09-02 10:18] bsrinath10 commented on #30
Dear Amr A Gouhar,

Thank you for your email.
I had executed the following commands in MAC OS terminal.
1. mkdir pdk
2. export PDK_ROOT = <>
3. cd ..
4. git clone git@github.com:efabless/openlane --branch rc2
5. cd openlane/docker_build
6. make merge
7. cd ..
8. docker run -it -v $(pwd):/openLANE_flow -v $PDK_ROOT:$PDK_ROOT -e PDK_ROOT=$PDK_ROOT -u $(id -u $USER):$(id -g $USER) openlane:rc2
9. ./f

[2020-09-02 13:16] agorararmard commented on #30
@bsrinath10 it seems you have not installed the PDK. Please follow the following setup instructions in this order:
- https://github.com/efabless/openlane/#setting-up-the-pdk-skywater-pdk
- https://github.com/efabless/openlane/#setting-up-openlane

Which is summed up to running this sequence of commands:
Please make sure to export PDK_ROOT as a valid full path in your machine.
[code]
Then do the op

[2020-09-03 08:38] chandni0760 opened #31 "openLANE/efabless"
Hello I am Unable to clone the skywater-pdk  using the following command;
**git clone https://github.com/google/skywater-pdk**

[2020-09-03 10:48] PaulSchulz commented on #31
Work for me. What error do you get?

[2020-09-03 10:50] PaulSchulz commented on #31
What type of system are you using?

[2020-09-03 10:51] chandni0760 commented on #31
Hi I am using Linux OS

On Thu, Sep 3, 2020, 4:20 PM Paul Schulz <notifications@github.com> wrote:

[2020-09-03 10:55] PaulSchulz commented on #31
I'm using Ubuntu 20.04  (linux) and the command worked for me. What error do you get?

[2020-09-03 10:56] PaulSchulz commented on #31
You should see something like..

paul@silver:~/tmp$ git clone https://github.com/google/skywater-pdk
Cloning into 'skywater-pdk'...
remote: Enumerating objects: 26, done.
remote: Counting objects: 100% (26/26), done.
remote: Compressing objects: 100% (20/20), done.
remote: Total 903 (delta 11), reused 15 (delta 6), pack-reused 877
Receiving objects: 100% (903/903), 2.05 MiB | 1.62 MiB/s, done.
Res

[2020-09-03 12:21] chandni0760 commented on #31
Hello Sir,

Can you tell me how much time does it take to install /clone the
skywater-pdk and nothing of this sort is coming as you have shown .
I had kept the run yesterday night and still its not done so asked for the
help
Will share you the screenshot of the same

PFA

On Thu, Sep 3, 2020 at 4:26 PM Paul Schulz <notifications@github.com> wrote:

[2020-09-03 12:35] PaulSchulz commented on #31
Command is type in at the terminal prompt.
- On my internet connection it takes less than 1 minute.

Can you 'ping' 'google.com' ?

[2020-09-03 13:25] agorararmard commented on #30
@bsrinath10 You may also want to look at [this](https://github.com/efabless/openlane/wiki#im-unable-to-clone-with-ssh), if you still have issues with cloning.

[2020-09-03 14:14] chandni0760 commented on #31
Sure let me try

Thanks

On Thu, Sep 3, 2020, 6:06 PM Paul Schulz <notifications@github.com> wrote:

[2020-09-04 15:11] #28 closed

[2020-09-04 15:15] agorararmard commented on #27
@frznchckn check https://github.com/efabless/openlane/commit/3b542ca08efc30e247db1ca0d0ae84cfbe72f201

[2020-09-04 15:15] #27 closed

[2020-09-04 15:37] agorararmard commented on #31
@chandni0760 Does the issue still stand?

[2020-09-04 15:37] agorararmard commented on #30
@bsrinath10 Does the issue still stand?

[2020-09-04 15:39] #17 closed

[2020-09-04 20:10] kdp1965 opened #33 "Overlap check failed during diode auto-placement"
Hi All,

I am working on a 16-Bit processor I wrote many years ago (named Pico16) using the OpenLane flow.  I am using the Docker image (downloaded last week) and have been able to get it all the way through the flow several times.  I have also been able to get a couple of the examples to run.

I am making a few extensions to my Pico16 processor ISA, and occasionally when I run "flow.tcl -design p

[2020-09-04 20:57] agorararmard commented on #33
Hi @kdp1965, we're well aware of this issue and it has been solved in the develop and staging branches, and the fix will be coming to master very soon. However, the workaround for this in rc2 (master) is to reduce both PL_TARGET_DENSITY and FP_CORE_UTIL so that this "fake" overlap doesn't happen. To understand more about those configurations and what to do in general, [this](https://github.com/efa

[2020-09-04 20:57] #33 closed

[2020-09-04 21:32] kdp1965 commented on #33
Hi Amr,

Ahh, I saw the title of issue #4 but guess I didn't look at the body
text not realizing it was the same issue.  Sorry for the duplicate.

I had read about the PL_TARGET_DENSITY some last night and wondered if
this might be a way to work around it.  I'll try experimenting with
that.  Thanks!

I have a general question:  Is there an openlane mailing list or user
community?  Or is there just

[2020-09-04 21:41] agorararmard commented on #33
Hi @kdp1965 , I guess the answer to all your questions is Join the community on [slack](https://invite.skywater.tools/)!

[2020-09-05 05:22] bsrinath10 commented on #30
Respected Sir,

Still the issue is not resolved .
Can you send me the link to install MAGIC .

yours sincerely
Dr Srinath

On Fri, Sep 4, 2020 at 9:08 PM Amr A. Gouhar <notifications@github.com>
wrote:

[2020-09-05 06:34] chandni0760 commented on #31
Hi,

Yes May be I have issue in my Laptop itself can't install it on my laptop I
have also pinged Google.com and it works but issue lies in my system hence
I have already confronted the query to My IT Executive

Thanks a lot for the support!!

On Fri, Sep 4, 2020, 9:07 PM Amr A. Gouhar <notifications@github.com> wrote:

[2020-09-06 21:26] SweeperAA opened #34 "How to determine die area from successful flow?"
I have successfully executed the top-level flow.tcl in the docker on one of the example designs (chacha in this case). Are there any results that provide the final die area required for the design (and what units the measurements are in)?

Thank you for the help!

[2020-09-07 13:57] agorararmard commented on #30
@bsrinath10 http://opencircuitdesign.com/magic/index.html this is where you could get magic

[2020-09-07 14:02] agorararmard commented on #34
@SweeperAA, the die area is found inside the resulting def file. in designs/chacha/results/routing/chacha.def, divide by 10e6 and you'll get the die area by mm. However, if you want to generate a summary report for all the important statistics, you could use `run_designs.py` to run the design.
in the case of chacha
[code]
You'll find the generated summary under the regression_results folder. More

[2020-09-07 14:02] #34 closed

[2020-09-07 14:20] SweeperAA commented on #34
Can you confirm that for:

`DIEAREA ( 0 0 ) ( 1077990 1088710 ) ;`

The die area would be approximately 1.17mm^2. That is, ( (1077990/1000000) * (1088710/1000000) ) = ~1.17mm^2

[2020-09-07 19:21] agorararmard commented on #34
@SweeperAA yes, that is correct.

[2020-09-10 09:48] nickson-jose opened #35 "Changing design configurations on the fly"
Hi,

I want to know if openlane supports on-the-fly configuration changes.
For instance: for a design, say picorv32a, I chose my `FP_CORE_UTIL` as 50 (in ../picorv32a/config.tcl) ..I do till **run_floorplan** stage (in interactive flow) but now I want to change `FP_CORE_UTIL` to 60. So in this case, post modifying config.tcl,  do I need to run from the beginning of flow or just running **run_floor

[2020-09-10 13:34] agorararmard commented on #35
@nickson-jose I guess the best/safest way to do that is setting the variable again with the new value in your interactive script. i.e.:
[code]
and if you want the config to be stored under the config.tcl of that run, use `set_log` instead of `set`. Alternatively, you can 're-source' your config file using the `source_config <config_file>` command in your interactive script, if you want the change

[2020-09-10 19:31] nickson-jose commented on #35
Hi @agorararmard .. tried the suggested with another switch `FP_IO_VMETAL` ..I initially ran with `FP_IO_VMETAL` 2..then modified `FP_IO_VMETAL` to 4...post modification ran only **run_floorplan**..the modifications weren't reflected in the layout as the vertical pins were still as per `FP_IO_VMETAL` 2

[2020-09-10 19:56] agorararmard commented on #35
@nickson-jose can you share the interactive script in which you did so? or the list of commands?

[2020-09-11 03:25] nickson-jose commented on #35
@agorararmard  Below are the configurations I changed during the flow (after first **run_floorplan**) which aren't getting reflected when i do **run_floorplan** again. However, these configurations are taken into consideration when I build from beginning again (i.e, from design -prep picorv32a). Below is the code snippet from `~/openlane/designs/picorv32a/config.tcl`

`set ::env(FP_CORE_UTIL)` 65

[2020-09-11 13:24] agorararmard commented on #35
@nickson-jose I'm talking about the interactive script, not the config.tcl. The config.tcl is only sourced once by default. To change that you need to do as I said above:
- Either set that config in the interactive script itself (the one you feed to the flow when using -interactive flag) using `set` and `set_log`
- Or change the config.tcl and explicitly source it again in your interactive script

[2020-09-11 15:14] nickson-jose commented on #35
My bad @agorararmard ..below is the configuration i had set in the interactive script:

VirtualBox:~/Desktop/work/tools/openlane_working_dir/openlane$ **cat interactive_script**
`set_log ::env(FP_ASPECT_RATIO)` 0.8

Am I'm sourcing it by:
bash-4.1$` ./flow.tcl -interactive -f interactive_script`

[2020-09-11 16:18] agorararmard commented on #35
@nickson-jose You should prep the design first, using the `prep` command, i.e.:
[code]
Also `interactive_script` should be `interactive_script.tcl`
So, it would be something like this:
[code]

[2020-09-12 16:14] nickson-jose commented on #35
@agorararmard ..got it working..thanks!

[2020-09-12 16:14] #35 closed

[2020-09-14 02:49] SweeperAA opened #36 "opensta report units"
The opensta.min_max.rpt file seems to show min and max slack data. What units are being used in this report?  For example, my opensta.min_max.rpt has:
` ... `
`  2.00   12.00   clock vclk (rise edge)`
`  0.00   12.00   clock network delay (ideal)`
`  0.00   12.00   clock reconvergence pessimism`
` 12.00 ^ _35045_/CLK (sky130_fd_sc_hd__dfxtp_4)`
` -0.09   11.91   library setup time`
`  11.91   data

[2020-09-14 06:24] nickson-jose opened #37 "default 'LIB_MIN' and 'LIB_MAX' settings in openlane"
The README.md for openlane defines following .libs as defaults for min and max analysis..

| `LIB_MIN` | Library used for min delay calculation during STA. <br> (Default:`./pdks/ef-skywater-s8/EFS8A/libs.ref/liberty/efs8hd/efs8hd_ss_1.60v_100C.lib`) |
| `LIB_MAX`  | Library used for max delay calculation during STA. <br> (Default:`./pdks/ef-skywater-s8/EFS8A/libs.ref/liberty/efs8hd/efs8hd_ff_1.95v

[2020-09-14 13:02] agorararmard commented on #36
@SweeperAA Yes, they are in ns. But, the base.sdc in rc2 has an issue that we discovered a while ago. The clock period is fixed there to 12ns. So, you can use this [base.sdc](https://github.com/efabless/openlane/blob/develop/scripts/base.sdc) instead.

Also, switch lib_min and lib_max under the pdk configuration `$PDK_ROOT/sky130A/libs.tech/openlane/sky130_fd_sc_hd/config.tcl` to.
[code]
In order

[2020-09-14 13:06] agorararmard commented on #37
Yes, this an issue was discovered a while ago and fixed it in the `develop` branch, but it hasn't made its way to master yet. They should be switched to:
[code]
These reside under `$PDK_ROOT/sky130A/libs.tech/openlane/sky130_fd_sc_hd/config.tcl`.

Also, the base.sdc should be modified to [this](https://github.com/efabless/openlane/blob/develop/scripts/base.sdc).

[2020-09-14 13:06] #37 closed

[2020-09-14 13:25] #36 closed

[2020-09-23 20:56] growly opened #39 "Segfault in TritonRoute"
(Should this be filed with OpenROAD instead?)

I configured OpenLane and ran ./flow.tcl -design $DESIGN in the docker container. I'm running the rc2 release.

TritonRoute segfaulted and the whole flow died. I'm attaching the entire run output directory.

Please let me know if there's a way I can enable or provide more useful debug information.

[run.tar.gz](https://github.com/efabless/openlane/fil

[2020-09-23 22:22] growly opened #40 "Latches not mapped by yosys to skywater-130 cells"
Running the OpenLane flow on the trivial latch

[code]

fails synthesis. Yosys correctly infers a `$_DLATCH_P_` primitive but cannot map this to a suitable cell, like Skywater 130's `dlxtp` cell. Cadence Genus will do this:

[code]

Yosys seems to need special tech-mapping for this primitive, which is provided by (for example) FPGA targets, but not for Skywater.

I created a test mapping /openLANE

[2020-09-24 07:27] smunaut commented on #40
Lots of the latches seems to have been excluded from mapping in `no_synth.cells` ( in open_pdk ), you can try removing them from the excluded list and see if that works.
(my understanding is they blacklisted a bunch of stuff they just hadn't tested yet ...)

[2020-09-24 13:19] agorararmard commented on #39
@growly, can you share with me the configuration files you fed to flow.tcl? I'm aware you included the config.tcl that gets generated inside the run directory. But, just to save time and allow me to replicate what happened to you, could you share the one you used?

Also, as a start, I'd advise using TR14 by setting ROUTING_STRATEGY to 14.

[2020-09-24 17:44] growly commented on #40
I tried removing the latches from the no_synth.cells list, but they still don't get mapped. As far as I can tell, no_synth.cells is used by `scripts/libtrim.pl` to generated a `trimmed.lib`, but this is only used by the yosys function `dfflibmap`. Latches are "simple" cells which yosys seems to map only through `techmap` (or maybe `simplemap`?)

[2020-09-24 17:48] growly commented on #39
@agorararmard No problem, I think it's this one:

[config.tcl.gz](https://github.com/efabless/openlane/files/5278106/config.tcl.gz)

(This is just `gzip`ped, not `tar`'d)

[2020-09-26 04:33] riking commented on #40
You have one uppercase and one lowercase E - is that a problem?

[2020-09-26 16:19] ax3ghazy commented on #39
@growly: As per our discussion yesterday, I have run your design (on develop - rc3-to-be) with a resized synthesized memory (~25% of the current one) currently with 30% core utilization, 0.2 target placement density, 30ns clock period, and it got all the way to a GDSII with ~2 violations (that's where exploration comes in as discussed). I am doing another run with 50% synthesized memory on the sid

[2020-09-26 21:56] growly commented on #40
Good catch, but that's just a typo from when I copied the text into the bug. Synthesis passes with the techmap passed in (so the mapping works).

[2020-09-28 14:43] agorararmard commented on #3
Merged to master.

[2020-09-28 14:43] #3 closed

[2020-09-28 14:43] agorararmard commented on #4
Merged to master.

[2020-09-28 14:43] #4 closed

[2020-09-28 14:43] agorararmard commented on #6
Merged to master.

[2020-09-28 14:43] #6 closed

[2020-09-28 14:44] agorararmard commented on #10
Merged to master.

[2020-09-28 14:44] #10 closed

[2020-09-28 14:45] agorararmard commented on #11
@20Mhz try rc3.

[2020-09-28 14:46] agorararmard commented on #18
@mdzakirhussain, could you please try rc3 and report if the issue still stands?

[2020-09-28 14:46] agorararmard commented on #25
Fixed and merged to master.

[2020-09-28 14:46] #25 closed

[2020-09-28 14:48] agorararmard commented on #30
@bsrinath10 Does the issue still stand?

[2020-09-28 14:48] agorararmard commented on #31
@chandni0760, does the issue still stand?

[2020-09-28 14:50] agorararmard commented on #39
@growly could you try rc3 and tell us if you have any trouble?

[2020-09-28 14:53] agorararmard commented on #40
@growly, replace should now give you more indicative error messages on rc3. So, please try rerunning it. Also, An example configuration of a tiny design that doesn't have a clock looks like this:
[code]
Give it a try and also check [this](https://github.com/efabless/openlane/wiki#how-to-add-a-small-design) if you still have any problems.

[2020-09-28 19:51] mdzakirhussain opened #42 "why I am getting an error after performing "make test""
make test
cd /home/zakir/openlane && \
	docker run -it -v /home/zakir/openlane:/openLANE_flow -v /home/zakir/opl/:/home/zakir/opl/ -e PDK_ROOT=/home/zakir/opl/ -u 0:0 openlane:rc3 bash -c "./flow.tcl -design spm -tag openlane_test -overwrite"
[INFO]:
      ___   ____   ___  ____   _       ____  ____     ___
     /   \ |    \ /  _]|    \ | |     /    ||    \   /  _]
    |     ||  o  )  [_ |  _  ||

[2020-09-28 19:55] agorararmard commented on #42
@mdzakirhussain from the attached log, I see:
[code]
Which means you haven't installed (properly) the pdk. Did you run `make` first or at least `make pdk`?

[2020-09-28 20:02] mdzakirhussain commented on #42
I just followed the steps given in Quick Start:

export PDK_ROOT=<absolute path to where skywater-pdk and open_pdks will reside>
    make
    make test # This is to test that the flow and the pdk were properly installed

[2020-09-28 20:13] agorararmard commented on #42
@mdzakirhussain Can you share the log of `make`?
Also, make sure that you have the magic prerequisite installed as per [this](https://github.com/efabless/openlane#prerequisites), check the version number.
It might be a disk space issue, so check that as well.

[2020-09-28 20:44] mdzakirhussain commented on #42
Ok. Could you please answer the following
1. which operating system is used for this tool
2. What is the disk space required
3. What is the minimum RAM Required
4. Should we have to install tools as root or normal user

[2020-09-29 07:34] bsrinath10 commented on #30
Dear sir,
My issue still exists .
Also, I unable to install MAGIC layout. \

with regards
Dr B Srinath

On Mon, Sep 28, 2020 at 8:18 PM Amr A. Gouhar <notifications@github.com>
wrote:

[2020-09-29 13:03] agorararmard commented on #30
@bsrinath10 So if you pull master or rc3, you can do the following workaround to avoid installing magic.

[code]

If the issue with conda still persists while running `make skywater-pdk` still persists, it would be better if you file an issue [here](https://github.com/google/skywater-pdk)

[2020-09-29 13:12] agorararmard commented on #42
@mdzakirhussain :
1. I've used it on different versions of Linux without any trouble, but it's supposed to be usable on Mac as well. Here is the link to the website: http://opencircuitdesign.com/magic/index.html
2. Roughly ~2GB. (This is for the pdk, not magic)
3. I guess any size of RAM would do the job, but it will be a limiting factor on the size of the designs you run.
4. It's your call. Both

[2020-09-29 17:45] tgingold opened #45 "Segmentation fault in openroad"
I have just updated to rc3, but I cannot build any design as I get a segmentation fault in openroad (for example on spm).

Maybe I am alone with this issue, but rc2 was working correctly.

Do you have any tips to investigate such as crash ?  In particular, any easy way to get all the environment variables so that a binary can be executed under a debugger ?

[2020-09-29 17:49] agorararmard commented on #45
@tgingold Can you share any of the errors (segfault and what came before it)? At what part of openroad does it break? Did you rebuild the pdk to use rc3?

[2020-09-29 17:53] ax3ghazy commented on #45
@tgingold: The relevant variables should be found under `config.tcl` under the run directory if you'd like to source them and run the openroad binary under a debugger.

[2020-09-29 18:09] tgingold commented on #45
That's during cts (for spm):

[code]

And yes, I have updated the pdk too.

[2020-09-29 18:36] agorararmard commented on #45
Could you share the full run directory?

[2020-09-29 18:56] tgingold commented on #45
Here is the zip.

[spm-bug.zip](https://github.com/efabless/openlane/files/5301277/spm-bug.zip)

[2020-09-29 19:27] agorararmard commented on #45
I can see `nwell` and `pwell` layers in the LEF file, which indicates that something went wrong with the pdk generation. So can you check the commit hashes for open_pdks and skywater-pdk as well as the magic version you have installed locally.

[2020-09-29 20:04] tgingold commented on #45
[code]

`nwell` and `pwell` are not present in `libraries/sky130_fd_sc_hd/latest/tech/sky130_fd_sc_hd.tlef`.  Is it expected ?

[code]

[2020-09-29 20:14] tgingold commented on #45
I will retry to generate the pdk.

[2020-09-29 22:43] growly commented on #39
Thanks for the updates, I'm working on reproducing your results!

[2020-09-30 05:33] tgingold commented on #45
No success.

Can you briefly explain how the `nwell` and `pwell` are expected to be handled by open_pdk ? Thanks!

[2020-09-30 12:26] agorararmard commented on #45
@tgingold, I'm not sure if this is caused by open_pdks or the fact that the commit of the skywater-pdk that you have doesn't add up with the version of the sky130_fd_sc_hd/latest.
if you have `v0.0.0-187-g5cd70ed`, then the commit hash of the sky130_fd_sc_hd should be `74c2ab`

Did you try re-cloning the skywater-pdk from scratch?

Also, to answer your question, they are in the cells lef, not the

[2020-09-30 16:21] tgingold commented on #45
Ah thanks.  I wrongly checkout the master of sky130_fd_sc_hd.  Now it works.

Thank you again.

[2020-09-30 16:21] #45 closed

[2020-10-01 05:30] anandr2998 opened #48 "How to visualize the reports generated by openlane?"

[2020-10-01 05:32] anandr2998 opened #49 "where do see the STA files while executing openlane"

[2020-10-01 05:39] tgingold commented on #49
The reports are in `designs/NAME/runs/TAG/reports`, where NAME is your design name and TAG the run tag (default is date and time).

The STA reports are in the `synthesis` subdirectory of `reports`.  The files are `opensta.*` for post synthesis reports, `opensta_post_openphysyn.*` after openphysyn and `opensta_spef*` after routing.

[2020-10-01 13:19] agorararmard commented on #48
As far as I'm aware, there is no straight way of doing that. You'd have to load the layout into magic or Klayout and trace the reports yourself.

[2020-10-01 13:21] agorararmard commented on #18
@mdzakirhussain, does this issue still stand or should I close it?

[2020-10-01 13:39] mdzakirhussain commented on #18
do not close, the problem still there allow me till 10/october/2020.

[2020-10-01 14:25] ax3ghazy commented on #48
You could also run your design using the `run_designs.py` script, and you will get a CSV file you could view as a spreadsheet.

[2020-10-05 14:34] #49 closed

[2020-10-05 15:29] #48 closed

[2020-10-08 06:46] growly commented on #39
I have been running the new rc3 flow for about the past week. It definitely seems more stable. I certainly haven't run into any segfaults this time.

[2020-10-08 12:48] agorararmard commented on #39
@growly: That's great to hear!

Would you mind sharing your design in the repo (this way, we'll always be sure that it's able to pass the flow)?

You can do that by submitting a PR to the [develop branch](https://github.com/efabless/openlane/tree/develop) in which you put your design and configuration under `./designs/`. Make sure to include a LICENSE accrediting yourself as the developer of this

[2020-10-08 12:48] #39 closed

[2020-10-08 13:50] agorararmard commented on #40
@growly, any luck with this?

[2020-10-08 13:51] agorararmard commented on #30
@bsrinath10, did the provided workaround solve the issue?

[2020-10-10 03:02] mdzakirhussain commented on #42
@agorararmard :

I am unable to run new designs, kindly check the screenshots to see what error I am getting

![1](https://user-images.githubusercontent.com/25931978/95644257-19133b00-0ad3-11eb-9337-c3101c85ff39.png)
![2](https://user-images.githubusercontent.com/25931978/95644259-1a446800-0ad3-11eb-9281-50c96ad6cde2.png)
![3](https://user-images.githubusercontent.com/25931978/95644263-1c0e2b80-0a

[2020-10-12 15:20] ax3ghazy opened #64 "Improve support for clockless designs"
The current work around is:

[code]

[2020-10-12 18:19] mdzakirhussain commented on #42
Thank you I resolved this.

[2020-10-12 18:19] #42 closed

[2020-10-12 18:21] mdzakirhussain commented on #18
Now it is fine. Thank you.

[2020-10-12 18:21] #18 closed

[2020-10-12 18:26] mdzakirhussain opened #67 "How to modify config.tcl for simple combinational circuits? In which there in no clock."
Let's take the following example

module fa(a,b,c,sum,co);
input a,b,c;
output sum,co;
assign sum=a^b^c;
assign co=a&b|a&c|b&c;
endmodule

In the above example there is no clock, how do I modify the config.tcl

I tried commenting the following it is give error, and by keeping that as well the same issue. Please help.

# Fill this
set ::env(CLOCK_PERIOD) "10"
set ::env(CLOCK_PORT) "clk"
set ::env(C

[2020-10-12 20:22] growly opened #68 "yosys_rewrite_verilog.tcl step seems to get stuck"
I'm on rc3 -

The `yosys_rewrite_verilog.tcl` step of this flow is taking a strangely long time. yosys is consuming ~92 GB of RAM and has been spinning a core at ~100% for 16.5 hours.

The command is `yosys -c /openLANE_flow/scripts/yosys_rewrite_verilog.tcl -l /openLANE_flow/designs/151/runs/06-10_16-40/logs/synthesis/yosys_rewrite_verilog.log`, but the log file is empty. I believe it's still in

[2020-10-13 01:53] ax3ghazy commented on #68
Hi @growly, yes, we have come across similar behaviour on large designs. We should probably reduce the number of times "rewriting verilog" happens; we only do that to keep all gate-level netlists in a canonical format and to avoid issues with the netgen verilog parser.

Good to know that the insane running time is related to the verilog version... I will try the latest HEAD, but just in case, whic

[2020-10-13 18:10] agorararmard commented on #67
@mdzakirhussain, you should simply add:

[code]
To skip cts, since there is no clock.

[2020-10-13 23:35] growly commented on #68
I'm at commit 347dd01c2f7dff6e8222c5f9d360f84a17c937b5; it definitely seems to have alleviated the problem!

[2020-10-14 13:58] mdzakirhussain commented on #67
@agorararmard, Kindly check this log report, I am getting this error [ERROR] Filler area is negative!!

After setting set ::env(CLOCK_TREE_SYNTH) 0
---------------------------------------------------------

OpenROAD 0.9.0 bbd0ededbc
This program is licensed under the BSD-3 license. See the LICENSE file for details.
Components of this program may be licensed under more restrictive licenses which mu

[2020-10-14 14:12] agorararmard commented on #67
@mdzakirhussain: This is because the design is too small. Can you try appending these to your configuration file (config.tcl):
[code]
(low utilization)

If these don't work, you may want to take a look at:
https://github.com/efabless/openlane/blob/master/regression_results/README.md
and explore different utilizations and densities.

[2020-10-20 07:07] aunali1 opened #78 "rc3: OpenPhySyn Segmentation Fault"
Fresh setup of PDKs and OpenLane rc3. Using `sky130_fd_sc_hdll` library.

Ran the simple `./flow.tcl -design spm` and got the following:
[code]

`dmesg` reports the segfault as:
[code]

If it helps, host distro is Clear Linux.

[2020-10-20 10:14] d-m-bailey commented on #78
May or may not be related, but some scripts are only setup for 2 character libraries, i.e. hd, hs, ls, ms.

For example, the netgen script in `open_pdks/sky130/netgen/sky130_setup.tcl` has the following lines which will only apply to 2 character libraries (note the \w\w):
[code]

[2020-10-20 13:04] agorararmard commented on #78
@aunali1, by `Fresh setup of PDKs`, do you mean building the latest pdk or using the commit hashes in our README.md? Could you share the commit hashes you used?

[2020-10-20 13:09] agorararmard commented on #78
@d-m-bailey, this is a great catch, but it's more related to the pdk setup on [open_pdks](https://github.com/RTimothyEdwards/open_pdks/), so it would be wonderful if you can open an issue [there](https://github.com/RTimothyEdwards/open_pdks/issues) or fix it locally and submit a [PR](https://github.com/RTimothyEdwards/open_pdks/pulls). We'll defenitly appreciate that!

[2020-10-20 17:44] aunali1 commented on #78
@agorararmard Sorry, should have clarified. Yes, I am using `open_pdks` HEAD at commit [`859ff4b`](https://github.com/RTimothyEdwards/open_pdks/commit/859ff4b1b84a550fbecf7e7bf0870c1c181fb0c9) and `skywater-pdk` HEAD at commit [`fb266d1`](https://github.com/google/skywater-pdk/commit/fb266d108161a506fc681d48eeb69bfbc34d41f6). I have also used the default `sky130_fd_sc_hd` library with the same res

[2020-10-20 19:28] agorararmard commented on #78
@aunali1: That's one of the reasons we have specific commit hashes in the README and the Makefile. The latest version of the PDK is broken for our purposes, but it will be updated soon with the fixes. Check issue [172](https://github.com/google/skywater-pdk/issues/172). Please, use the exact commit hashes that we specify or just export `PDK_ROOT` and run `make pdk`, otherwise we cannot guarantee a

[2020-10-20 19:28] #78 closed

[2020-10-20 19:47] mithro commented on #78
@agorararmard -- FWIW The tools should never segfault no matter what input it is given (even if the input is garbage) -- it should return an error message describing what the problem is (and hopefully what needs to be changed to make the problem go away).

[2020-10-25 15:24] wajehulhasan opened #79 "SYNTHESIS ERROR: NO NETLIST BEING GENERATED"
Hello, I was running the design with the memory module set as a black_box as mentioned in `https://github.com/efabless/openlane/blob/master/doc/chip_integration.md`  by adding the below two variables in the config.tcl script:
[code]
My design directory `src` contains the following three files:

- `memory_core.v`
- `core.v`
- `sram.v`

With `memory_core` being the top module.

However, after synthe

[2020-10-28 14:01] agorararmard commented on #79
@wajehulhasan: I think we'll need to look at the rest of the configs and the interactive script that you're using.

[2020-10-28 14:03] agorararmard commented on #67
@mdzakirhussain: Did my previous answer solve this issue?

[2020-10-28 14:11] mdzakirhussain commented on #67
@agorararmard , kindly allow me one-day, due to other works I could not able to test. Sorry about that. For sure, tomorrow I will update.

Thank you.

[2020-10-30 13:25] mdzakirhussain commented on #67
@agorararmard , yes your solution perfectly worked Thank you.

Could you please help me understand on what basis we decide  values for the following

FP_CORE_UTIL & PL_TARGET_DENSITY

set ::env(FP_CORE_UTIL)  ???????
set ::env(PL_TARGET_DENSITY) ???????

[2020-10-30 16:13] agorararmard commented on #67
@mdzakirhussain: That's great to hear.

The basis is the complexity of the design. But, mostly, we obtain these values by running the exploration script on the design. You could find more about the meaning of these values [here](https://github.com/efabless/openlane/wiki#what-is-the-difference-between-fp_core_util-and-pl_target_density) and more about the exploration script [here](https://github.co

[2020-10-30 16:13] #67 closed

[2020-11-05 23:40] jeras opened #82 "`make test` failure on rc4"
I First tried openlane rc3 last week, I was able to install all dependencies and to add myself to the docker group.
I was able to run `make test` without issues. This is on Ubuntu 20.04.

Today I tried `rc4` twice, the second time with a thorough cleanup (not sure about docker).
`make test` ends with the next message:
[code]

[2020-11-06 00:13] riking commented on #82
`/bin/sh: 1: [[: not found`

A script using bashisms is missing the `#!/bin/bash`.

[2020-11-06 11:00] ax3ghazy commented on #82
@jeras, @riking: Thanks! This is now fixed in develop.

[2020-11-08 18:25] jeras opened #84 "missing connections in generated spice netlist"
Using rc4.
I have synthesized the `inverter` to try running a spice simulation.
The generated spice file was `designs/inverter/runs/07-11_21-11/results/magic/inverter.spice`.
I expected a full parasitic extraction netlist, but I am actually more happy with what I got, which is a netlist of standard cells (including capacitors filler and tap cells).

After I tried to create an example simulation an

[2020-11-08 19:41] d-m-bailey commented on #84
@jeras This may be a problem that has already been fixed.

[code]
gives the following with openlane rc4
`XFILLER_0_15 VGND VGND VPWR VPWR sky130_fd_sc_hd__decap_12
`

[2020-11-08 19:50] d-m-bailey commented on #30
@bsrinath10 I wrote a summary about what I did to run openlane on macos. You can see it at https://skywater-pdk.slack.com/archives/C016UL7AQ73/p1604754202059400?thread_ts=1604715444.054100&cid=C016UL7AQ73
Does that help?

[2020-11-08 20:06] d-m-bailey opened #85 "make regression crashes if config file is missing"
With openlane rc4, if the design is missing the config files `make regression` will crash.

[code]
Maybe change `get_design_name` in `scripts/utils/utils.py` to something like
[code]

[2020-11-09 03:20] bsrinath10 commented on #30
Dear Mitch Bailey,
I cannot access this slack.

Please help...

with regards
Srinath

On Mon, Nov 9, 2020 at 1:20 AM Mitch Bailey <notifications@github.com>
wrote:

[2020-11-09 04:42] d-m-bailey commented on #30
Does https://invite.skywater.tools/ work?

[2020-11-09 06:38] bsrinath10 commented on #30
Dear Mitch Bailey,
Thank you.
But I am getting this error.
Please check the attachment

with regards
Dr Srinath

On Mon, Nov 9, 2020 at 10:12 AM Mitch Bailey <notifications@github.com>
wrote:

[2020-11-09 12:35] jeras commented on #84
Thanks @d-m-bailey,
I could not find an appropriate branch using this versions, so I just modified `Makefile` in the `rc4` version.
I was able to run `make` and to run `./flow.tcl -design inverter` inside the docker image.
The resulting `inverter.spice` file indeed has the all four connections to `decap` and `fill` cells.

Sub-circuit instance naming remains the same as before.

[2020-11-09 13:25] agorararmard commented on #84
@jeras: There are currently no active branches using the latest (open_pdks, skywater-pdk) version as we're waiting to settle for a solution for a fake DRC violation that shows up. If you go to `logs/magic/magic.drc`, you will find the following violation in all the designs: `All nwells must contain metal-connected N+ taps`. This happens because the abstract views are used in openlane's DRC, and in

[2020-11-09 15:53] jeras commented on #84
Thanks @agorararmard for the explanation. For now I do not care about DRC, I am not there yet.

I was now able to get a few steps further running the spice simulation. I get the next error.
[code]
First I thought `ngspice` was unable to find some source files, so I experimented with the `NGSPICE_INPUT_DIR` system variable. But apparently if a file was not found I would get something like:
[code]
S

[2020-11-09 20:33] jeras commented on #84
The last issue I described is separate, also reported here https://github.com/google/skywater-pdk/issues/228

I will let the maintainer decide whether to close this issue now or when the right PDK branch starts being used.

[2020-11-09 20:59] agorararmard commented on #84
@jeras: I'd rather keep it open until it's resolved in skywater-pdk as a reminder for us to keep tracking. Thank you for opening that discussion on slack! (but maybe rename the issue?)

[2020-11-10 03:44] bsrinath10 commented on #30
Dear Mitch Bailey,
Thank you very much for your email.
I got the procedure.

But am not using MAGIC layout. Am using KL layout.
I am interested to know how to see the placed standard cells in the layout..

On Mon, Nov 9, 2020 at 12:07 PM b.srinath Srinath <bsrinath86@gmail.com>
wrote:

[2020-11-10 04:49] d-m-bailey commented on #30
@bsrinath10 This is working now, right? Can we close this issue?

[2020-11-10 08:59] bsrinath10 commented on #30
Dear Mitch Bailey,
How should I open the design after some time. ?
Is it mandatory that I have to do this  "export PDK_ROOT=pdks locations "
every time ?

with regards
Srinath

On Tue, Nov 10, 2020 at 10:19 AM Mitch Bailey <notifications@github.com>
wrote:

[2020-11-10 13:38] agorararmard commented on #30
@bsrinath10: You can use Klayout to view the design. You'll find the GDS-II under `runs/<run-tag>/results/magic/<design-name>.gds`.

Yes, you need to `export PDK_ROOT` every time you reboot your machine.

[2020-11-12 19:31] agorararmard commented on #85
@d-m-bailey: Fixed on develop. I'll keep the issue open until it reaches master.

[2020-11-13 20:05] agorararmard commented on #82
I'm re-opening this until the fix reaches master.

[2020-11-15 08:09] dan-rodrigues opened #90 ""diodes.def does not exist." when using (DIODE_INSERTION_STRATEGY = 2)"
Adding this to the `spm` config.tcl file (plus others I've tried) causes errors such as [the one in this gist](https://gist.github.com/dan-rodrigues/2523374cece73471d7fd0e797c628f60):

`set ::env(DIODE_INSERTION_STRATEGY) 2`

The default value (3?) doesn't seem to have this issue.

The logs in the linked gist are from running in docker on `develop` (commit d03377b84212527a269dfc58bb637a9e921af150)

[2020-11-15 16:57] mballance opened #91 "libs.ref/sky130_fd_io/verilog/sky130_fd_io.v missing"
Hello,
   I'm trying to run some tests for the caravel (eg veriog/dv/caravel/mgmt_soc/uart). These tests seem to expect some verilog model files, such as libs.ref/sky130_fd_io/verilog/sky130_fd_io.v, to exist inside ${PDK_ROOT}/sky130A. These files do not exist anywhere in my ${PDK_ROOT}, and I've tried rebuilding just in case.
    Has something changed here that needs to be updated in caravel? Is

[2020-11-15 17:22] mballance commented on #91
BTW, I'm looking at the sky130A_install.log. I think everything mostly looks okay, but I do see a series of messages like the following. Is this a problem?

Error message output from magic:
CIF file read warning: CIF style sky130: units rescaled by factor of 5 / 1
CIF file read warning: Input off lambda grid by 3/5; snapped to grid.
Can't write file named '(UNNAMED)'
Getting GDS file list from /pr

[2020-11-15 23:08] mithro commented on #91
FYI - @mkkassem @shalan @agorararmard

[2020-11-16 15:38] agorararmard commented on #90
@dan-rodrigues: What diode insertion strategy 2 does is that it inserts fake diodes for each pin in each cell in the design. Then, in the end, it runs the antenna checks, and if a pin has an antenna violation, its fake diode is replaced by a real diode, and then the GDS is generated.

However, for the current version of the skywater-pdk, the libraries don't have fake diodes. So, you won't be able

[2020-11-16 15:47] agorararmard commented on #91
@mballance: I regenerated the PDK 3 times on two different machines and I always end up with the sky130_fd_io.v being there. However, more and more people are facing the same issue as you on the slack channel. So, I'm not sure what's the issue here, maybe a missing dependency that we're unaware of?
Could you try installing open_pdks through the OpenLANE Makefile with the following commands:
[code]

[2020-11-16 16:00] agorararmard commented on #91
@mballance: I forgot to ask, which versions of open_pdks and skywater-pdk are you using and which branch/tag of openlane?

[2020-11-16 16:56] agorararmard commented on #11
@20Mhz: I will assume the update in rc3 cover this issue. If you think it doesn't, please reopen.

[2020-11-16 16:56] #11 closed

[2020-11-16 16:59] agorararmard commented on #20
@nickson-jose: You can set `set ::env(FP_PIN_ORDER_CFG) $::env(DESIGN_DIR)/pin_order.cfg`and add a pin_order.cfg under your design directory like this one: https://github.com/efabless/openlane/blob/master/designs/spm/pin_order.cfg

[2020-11-16 17:00] agorararmard commented on #40
@growly: Since this has been incorporated into openlane and open_pdks, I'll assume this issue is fixed. Please, reopen, if you found otherwise.

[2020-11-16 17:00] #40 closed

[2020-11-16 17:01] agorararmard commented on #68
@growly: The yosys version has been updated in rc4 and we're no longer facing this. I'll close this issue. Please, reopen, if you found otherwise.

[2020-11-16 17:01] #68 closed

[2020-11-16 17:02] agorararmard commented on #79
@wajehulhasan: Does this issue still stand?

[2020-11-16 17:04] agorararmard commented on #31
@chandni0760: I will assume this is resolved and close the issue. Please, reopen if it still stands.

[2020-11-16 17:04] #31 closed

[2020-11-16 18:06] agorararmard commented on #30
@bsrinath10: I will assume this is resolved and close the issue. Please, reopen if proven otherwise.

[2020-11-16 18:06] #30 closed

[2020-11-17 00:51] TsaiAnson opened #93 "Design Always Fails Synthesis after Updating to Develop"
I have a design that synthesizes properly on `rc4` but fails when I updated OpenLane to `develop` (nothing else changed). The advice from Slack is to increase the clock period and double check the clock, but those did not resolve the issue. Below are more details:

Error:
[code]
opensta.log (it's short so posting directly here)
[code]

Config:
[code]
Note: I've also tried changing the parameters a

[2020-11-17 01:49] nurirfansyah commented on #9
Hi, I had the same problem, I am running Ubuntu 18.04 on WSL2. I tried the steps to enable vsyscall=emulate as mentioned here: https://github.com/microsoft/WSL/issues/4694, which is to have a .wslconfig file with the following lines:

[wsl2]
kernelCommandLine = vsyscall=emulate

This worked for me, I am now able to build the Openlane docker in Ubuntu on WSL2.

[2020-11-17 01:56] mballance commented on #91
Hi @agorararmard,
    Appreciate your quick response! Hmm... Okay, so it looks like this is a strange one. I tried installing open_pdks using the docker image, and experienced the same issue. I was wondering if there was an issue with the 'magic' version I had. I think using the version installed in the docker image rules that out.
    Looking through the console output from the 'make build-pdk' c

[2020-11-17 04:45] diecaptain opened #94 "opendp seg fault on Caravel DFFRAM module"
Hello,

I have an segmentation fault violation during the detailed placement phase while using DFFRAM from caravel under USE_CUSTOM_DFFRAM macro with 256 mem words. The log says that the def output file was successfully written but I have observed that the file is not fully written. The flow then moves on to placement check and ends with a segmentation fault and exit error code 1. The error log an

[2020-11-17 06:15] diecaptain commented on #93
Since it is at STA stage, your synthesis was successful. The violation might be when OpenSTA is writing check reports. See the reports/synthesis directory to see which of the opensta.timing.rpt or opensta.min_max.rpt or opensta.rpt are missing. You can get an idea where the flow stopped from that. Since you have negative slack, there are paths that should be reported here, but the flow might not b

[2020-11-17 06:41] dan-rodrigues commented on #90
Thanks @agorararmard, I tried strategy 1 and it does progress further although I get quite a few overlap errors during `or_diodes.tcl`: `Warning: Overlap check failed (226).`.

This isn't totally related to the original issue so I can review the config.tcl file further or open another issue if this isn't expected behaviour in the `spm` example, if needed

[2020-11-17 07:40] growly opened #95 "Parameterised black box fails verilog2def"
We have a design that instantiates a submodule. When converting that module to a hard block, we leave the parameters in:

[code]

Even though the `mac_cluster` module is marked as `(* blackbox *)`, Yosys generates this instantiation in the output verilog:

[code]

The parameters appear to be a problem for `verilog2def`, which emits this error to its log and then fails to include the module in the

[2020-11-17 14:00] agorararmard commented on #91
@mballance: So, here you're using a version of skywater pdk that doesn't have the IOs, with a version of open_pdks that cannot compile them properly (even if they were there).

Openlane:rc4 is not completely compatible with caravel (and doesn't claim to be so), so it doesn't have the corresponding pdk version, and it lacks some features required for the production. If you want to contribute to the

[2020-11-17 14:32] agorararmard commented on #93
@TsaiAnson: I reran that out of the box and it worked normally up to placement (which is expected since we changed the way padding is done and PL_TARGET_DENSITY needs to be modified). However, I didn't face that segfault. So it might be an issue with your RAM, memory, CPU, or even permissions?

Maybe try running one of the test designs that we know pass successfully through the flow on develop? `m

[2020-11-17 14:50] agorararmard commented on #94
@diecaptain: Can you share the setup that you used (src + config.tcl) in order for us to try and replicate that error?

P.S: For future reference, rc4 is not completely compatible with caravel (in terms of the pdk version and some minor features).

[2020-11-17 14:52] agorararmard commented on #95
@growly: I have to ask, would it be possible to share that design?

[2020-11-17 15:02] agorararmard commented on #90
@dan-rodrigues: As I explained above, strategy 1 and 2 insert a diode for each pin, which would at least require double the area (reduced FP_CORE_UTIL and PL_TARGET_DENSITY), and double here is a terrible underestimation. Thus, you need to significantly reduce the FP_CORE_UTIL and PL_TARGET_DENSITY if you want to use diode insertion strategy 1. (Hint: that's why the default is strategy 3 because y

[2020-11-17 15:25] ax3ghazy commented on #95
@growly: I have already addressed this issue in the develop branch; you need to add `-defparam` to the `write_verilog` command (e.g., https://github.com/efabless/openlane/blob/develop/scripts/synth_top.tcl#L66).

[2020-11-17 15:42] diecaptain commented on #94
@agorararmard The source files are here:

DFFRAM : https://github.com/efabless/caravel/blob/release/verilog/rtl/DFFRAM.v
DFFRAM Building Block : https://github.com/efabless/caravel/blob/release/verilog/rtl/DFFRAMBB.v
Definition File : https://github.com/efabless/caravel/blob/release/verilog/rtl/defines.v

Config file : https://github.com/efabless/caravel/blob/release/openlane/DFFRAM/config.tcl
pdn

[2020-11-17 18:24] growly commented on #95
Thanks! I pulled the latest develop, and I see the `-defparam` in `synth_top.tcl`:

[code]

However, I get these errors in what appears to be OpenSTA?
[code]

The offending lines of the output verilog are:
[code]

This is the design config: https://github.com/growly/openlane/tree/develop/designs/fpga_250/asic_config/mac_tile
The top module invoking the parameterised modules is:
 https://github.com

[2020-11-17 18:48] TsaiAnson commented on #93
Thank you @diecaptain @agorararmard for the advice.

I've done some more tinkering and finally got it to work! However, it seems like it's an open_pdks/skywater-pdk issue now (at least on my machine). After I reverted my open_pdks and skywater-pdk commits to the ones used in `rc4`, I was able to get the global placement error you mentioned earlier @agorararmard. I was then able to get past that er

[2020-11-17 19:03] mballance commented on #91
Hi @agorararmard,
    Okay, appreciate the response on the state of various elements of the flow. I've checked out and built the 'develop' branch, and this looks much better. Thanks again for your help!

Best Regards,
Matthew

[2020-11-17 19:03] #91 closed

[2020-11-18 07:54] growly commented on #40
Sorry this fell off my radar. My issue is fixed!

[2020-11-18 14:59] agorararmard commented on #93
@TsaiAnson: Actually, I did use the commits from the Makefile on develop. Anyhow, since this is resolved, I'm closing this issue.

[2020-11-18 14:59] #93 closed

[2020-11-18 17:17] TsaiAnson commented on #93
Ah that's strange. Thanks for the heads up though.

[2020-11-18 21:45] agorararmard commented on #94
@diecaptain: I was unable to reproduce the opendp issue locally. I tried master rc4 as well as develop and both worked fine up to routing (I didn't check what happens after).
To answer your question, Caravel is using the latest skywater-pdk and open_pdks. However, Regenerating the blocks in Caravel won't go smoothly for you (it is still a work-in-progress). Also, they are developed using the openl

[2020-11-19 00:16] growly opened #97 "Map tri-state buffers"
Yosys is not scripted to infer and map tri-state buffers. Based on a quick look at the solution implemented to #40, a similar scheme can be used to enable tri-state synthesis.

I modified `scripts/synth.tcl` as follows:

[code]

and then set `::env(TRISTATE_BUFFER_MAP)` to a simple mapping file in my `config.tcl`, using a (for example) Skywater 130 tri-state buffer cell:

[code]

Note that this re

[2020-11-19 01:30] diecaptain commented on #94
@agorararmard Thank you for your time. I just found it interesting that this happened.

I am just trying to utilize Caravel as a base now to understand why it is designed the way it is and make an inference. It is interesting. I look forward to finalized caravel chip.

I will close this issue now.

[2020-11-19 01:30] #94 closed

[2020-11-19 22:19] thesourcerer8 opened #98 "Please document MERGE_LEF"

[2020-11-21 02:58] diecaptain commented on #95
@growly Looks like OpenSTA verilog writer is unable to parse defparam syntax in the netlist. Try and see if OpenSTA verilog writer has the capability to do this.

[2020-11-23 00:32] ojotoxy commented on #93
I run into the same issue using the same git commits checked out from @TsaiAnson  under "Working Setup". It may still be an issue.

[2020-11-23 14:13] mattvenn commented on #95
I also have  this issue

[2020-11-23 14:47] agorararmard commented on #98
@thesourcerer8: So, until I add this documentation (soon).
`merged_unpadded.lef`: the technology LEF for the used `STD_CELL_LIBRARY` merged with the LEF file for all the cells. This is pointed to with `MERGED_LEF_UNPADDED`.
`merged.lef`: `merged_unpadded.lef` but with cell padding. This is controlled by `CELL_PAD`. This is pointed to with `MERGED_LEF`.

[2020-11-23 14:51] agorararmard commented on #93
@ojotoxy: So, to clarify you're using `openlane:develop` but with the pdk commits in `openlane:rc4` (master)?

[2020-11-23 18:03] ryanthornton opened #100 "ABC/Yosys does not map muxes"
Similar to #40 and #97, Yosys is not scripted to infer muxes.  Changes similar to the linked issues allow Yosys and ABC to infer and map 2 and 4 muxes.
In `${OPENLANE_ROOT}/scripts/synth.tcl`, I added the following

[code]

Create `${PDK_ROOT}/$::env(PDK)/libs.tech/openlane/$::env(STD_CELL_LIBRARY)/mux_map.v` and `${PDK_ROOT}/$::env(PDK)/libs.tech/openlane/$::env(STD_CELL_LIBRARY)/mux4_map.v` with

[2020-11-23 18:14] agorararmard commented on #100
@ryanthornton: Maybe consider PRing this? The openlane part here and the pdk part here: https://github.com/RTimothyEdwards/open_pdks. It will be much faster than waiting for us to do it once we're free. However, we will do it eventually, if you're uncomfortable doing the PR yourself. Thanks!

[2020-11-23 18:16] agorararmard commented on #97
@growly: Maybe consider PRing this? The OpenLANE part here and the PDK part here: https://github.com/RTimothyEdwards/open_pdks. It will be much faster than waiting for us to do it once we're free. However, we will do it eventually, if you're uncomfortable doing the PR yourself. Thanks!

[2020-11-23 20:18] thesourcerer8 opened #101 "RePlAce crash"
I am trying to build my caravel based design: https://github.com/thesourcerer8/caravel-stdcelllib-stdcells/ and I am getting a crash in the placement:
This is the logfile: http://pdk.libresilicon.com/caravel-build4.html

This is my project directory which hopefully contains all necessary files:
https://pdk.libresilicon.com/user_proj_example.tgz

I have also reported this crash directly to OpenROAD

[2020-11-23 20:18] shalan commented on #100
It is worth mentioning that sky130_fd_sc_hd__mux4_* and sky130_fd_sc_hd__mux2_* are too slow. For example, sky130_fd_sc_hd__mux4_1 propagation delay (typical corner) is ~450ps driving the smallest inverter.

[2020-11-23 20:21] thesourcerer8 commented on #101
I am thinking that openlane already generates the cmds.log, which puts the commands there, but it is missing the environment variables necessary to reproduce it. What about adding the environment variables into the cmds.log (or a seperate logfile/script) in a way that you can run that script and that it executes the used commands in the same way?

[2020-11-23 23:21] ryanthornton commented on #100
The delay from the sky130_fd_sc_hd__mux* is significantly more than that of the gates Yosys currently replaces _MUX_ primitives with?   There is a vast area reduction by mapping these muxes vs. using sets of ands/ors/etc, so designs favoring density may benefit from the mappings.

[2020-11-24 08:05] diecaptain commented on #101
Check the size of your cells and compare it to Bin Size. It feels like your cells are bigger than the bin size resulting in zero whitespace. Nesterov Placer inflates the cell size based on available whitespace and since your whitespace might be zero, the tool exited trying to inflate without success, the utilization is not helping. Your HPWL increased about twice during initial place, so your targ

[2020-11-25 06:58] jean-m-cyr opened #102 "OpenSTA fatal error"
Running latest openlane and PDKs, trying to build my project with

`./flow.tcl -design myproject`

I get

[code]

Looking at /home/jcyr/pdks/sky130A/libs.ref/sky130_fd_sc_hd/lib/sky130_fd_sc_hd__ff_n40C_1v95.lib, we have:

    default_leakage_power_density : 0.0000000000;
    default_operating_conditions : "ff_n40C_1v95";
    operating_conditions ("ff_n40C_1v95") {
        voltage : 1.9500000000;

[2020-11-25 21:49] agorararmard commented on #102
@jean-m-cyr: could you share the log of OpenPhySyn (found under `logs/placement`)?

[2020-11-26 16:14] Haseeb-Baloch commented on #20
The example pin_order.cfg sets all 32 pins of the 'x' input to the north, is there anyway to divide these pins to 2 sides?

[2020-11-26 16:27] agorararmard commented on #20
@Haseeb-Baloch: this will serve as a better example for you: https://github.com/efabless/caravel/blob/master/openlane/user_project_wrapper/pin_order.cfg

[2020-11-26 16:32] Haseeb-Baloch commented on #20
thank you very much

[2020-11-26 16:34] Haseeb-Baloch commented on #20
thank you

[2020-11-26 16:35] Haseeb-Baloch commented on #20
Thank you @agorararmard this was exactly what I was looking for

[2020-11-26 19:32] thesourcerer8 opened #103 "yosys dislikes newlines in liberty files"
Since the commit
https://github.com/efabless/openlane/commit/6b6a3a20ae0b2e08b92c0cca38d4aa376748ce2a
I got and error from openlane with my liberty file:
1. Executing Liberty frontend.
Imported 428 cell types from liberty file.2. Executing Liberty frontend.
ERROR: Syntax error in liberty file on line 29.
  Unexpected newline.
[ERROR]: during executing: "yosys -c /openLANE_flow/scripts/synth.tcl -l

[2020-11-26 19:35] thesourcerer8 opened #104 "bash dependency"
At least one of the scripts of openlane is relying on features of /bin/bash, but it actually uses #!/bin/sh  which is a symlink to /bin/dash on Ubuntu systems, which makes this function fail and error:
/bin/sh: 1: [[: not found

I would suggest to change all scripts from /bin/sh to /bin/bash to fix this.

[2020-11-26 19:37] smunaut commented on #104
FYI That's been fixed in a branch already.

[2020-11-26 20:42] ax3ghazy commented on #103
@thesourcerer8: Can you share the `tmp/trimmed.lib` file?

[2020-11-26 21:07] agorararmard commented on #104
@thesourcerer8: I believe this is a duplicate issue for #82. Am I correct?

[2020-11-26 21:20] smunaut commented on #104
https://github.com/efabless/caravel/commit/4666810f4506809d4f3fb1aaaa57d96edfaef385

[2020-11-27 00:29] thesourcerer8 commented on #104
No, it's the same kind of problem in several places I would say. I have provided a fix in #105

[2020-11-29 19:40] thesourcerer8 opened #111 "CELL_PAD_EXCL missing in config.tcl"
CELL_PAD_EXCL is missing from the dump of environment variables in config.tcl

[2020-11-29 19:48] thesourcerer8 commented on #101
I solved this crash on my side, I think it was related to either the SIZE attribute in LEF files being missing, or being scaled wrongly (We had accidently written the LEF files in nanometers, but LEF needs to be in microns, so all the numbers were 1000x too big). We will provide test-cases after the tapeout...

[2020-11-30 16:35] agorararmard commented on #97
@growly: This will be merged as soon as the CI tests succeed, #112. the open_pdks update will happen overnight, I believe.

[2020-11-30 16:47] agorararmard commented on #104
@thesourcerer8: This should be fixed since #109 was merged. However, I'll keep this issue open until the fix reaches `master`.

[2020-11-30 17:04] agorararmard commented on #111
@thesourcerer8: fixed in develop. I'll keep this open until it reaches master.

[2020-12-01 10:08] soorajkvl opened #113 "SELECT ROUTES"
The OpenLANE helps to include standard cells but not possible to include different LEF routing.

Example: Single die with PLL,USB,PICORV32A and routing between PLL and PICORV32A or USB and PICORV32A

Please help to know how is possible to route selective cells.

[2020-12-01 12:53] #20 closed

[2020-12-02 01:49] rsnkhatri3 opened #114 "padframe genaration error"
I am keeping the padframe_folder in designs/my_design_folder, but below shown error occurs
<img width="547" alt="er1" src="https://user-images.githubusercontent.com/55553762/100817706-ab4f1400-3470-11eb-86a9-3025c29b3215.png">
<img width="548" alt="er2" src="https://user-images.githubusercontent.com/55553762/100817716-b013c800-3470-11eb-9720-c66f9efe758f.png">

[2020-12-02 03:30] SweeperAA opened #115 "or_route.tcl segmentation violation on develop branch"
During execution of ./flow.tcl -design <design_name>, the or_route.tcl script faults with the following output:

Update congestion history type 2
[INFO] iteration 42, enlarge 211, costheight 288, threshold 0 via cost 0
[INFO] log_coef 0.514090, healingTrigger 19 cost_step 2 L 1 cost_type 1 updatetype 2
[Overflow Report] total Usage   : 371661
[Overflow Report] Max H Overflow: 17
[Overflow Report]

[2020-12-02 04:18] SweeperAA opened #116 "-synth_explore flow.tcl switch errors with "No such file or directory" on develop branch"
When attempting to run ./flow.tcl -design <design_name> -synth_explore, the script errors out with:

********
[INFO]: Changing netlist from 0 to /openLANE_flow/designs/decred_block/runs/02-12_03-38/results/synthesis/decred_block.synthesis.v
[ERROR]: during executing: "sed -ie /defparam/d /openLANE_flow/designs/decred_block/runs/02-12_03-38/results/synthesis/decred_block.synthesis.v"
[ERROR]: Exit

[2020-12-02 19:51] agorararmard commented on #113
@soorajkvl: Can you elaborate more on your question? Do you mean you have 3 macros and you want to route signals between them? I'm not familiar with the term "LEF routing", so can you explain it to me or point me to some source?

[2020-12-02 19:55] agorararmard commented on #114
@rsnkhatri3: We don't officially fully support automated chip integration. However, you can check this directory https://github.com/efabless/caravel/tree/develop-pruned/openlane/chip_io as an example of how to create a padframe. (Expect to do some manual edits in the layout when you go to the chip integration stage).

[2020-12-02 19:58] agorararmard commented on #115
@SweeperAA: I will need more details on that one. However, an initial guess is that your design has too many cells or is too congested. Either way, make sure to have `CELL_PAD` set to 4, and reduce `FP_CORE_UTIL` and `PL_TARGET_DENSITY` for this design. Keeping `PL_TARGET_DENSITY` = (`FP_CORE_UTIL`+ (1~5))/100

Also check: https://github.com/efabless/openlane/wiki#why-am-i-seeing-placement-failed-

[2020-12-02 20:54] agorararmard commented on #116
@SweeperAA: Noted and fixed. Thanks!

[2020-12-02 20:54] #116 closed

[2020-12-02 21:19] SweeperAA commented on #115
@agorararmard The script erroring out like that doesn't give any indication of what is wrong. It's not outputting any warnings or errors about placement or congestion. Depending how I run the flow (either through caravel's `make <design>` or through openlane's docker via `./flow.tcl -design <design>`), I either get `child killed: kill signal` or `child killed: segmentation violation`. At a minimum

[2020-12-03 00:55] soorajkvl commented on #113
@agorararmard : Your guess is right. I have three macros (or Library Extension Formate .lef layout files) and need to do placement and route between them in OpenLANE.

How is that possible?

[2020-12-03 03:21] rsnkhatri3 commented on #114
While using the interactive script from above link, it asks for config.json file what to include in it.

[2020-12-03 05:03] SweeperAA commented on #115
@agorararmard I varied `SYNTH_STRATEGY` and it got much further in the congestion process and still failed. However, in that case it did give a reasonable error of `Design congestion too high`.

I'll continue to vary other parameters, but `SYNTH_STRATEGY` set to 0 seemed to get me the closest to passing congestion.

[2020-12-04 15:03] SweeperAA opened #119 "magic exits during LEF generation with kill signal"
After GDS write completed and during LEF generation, magic exits with a `kill signal`. This occurred in the openlane docker with magic version 8.3.87 on the openlane develop branch (checked out Nov 30). I've provided context of the log below and a link to the routed DEF and `merged.lef` files (the routed DEF was over 400MB so I had to break up into 10MB compressed archive chunks using 7zip).

[cod

[2020-12-04 22:50] agorararmard commented on #113
@soorajkvl: Check this directory https://github.com/efabless/openlane/tree/master/designs/manual_macro_placement_test

[2020-12-05 21:13] #82 closed

[2020-12-05 21:13] #85 closed

[2020-12-06 18:18] SweeperAA opened #123 "ERROR: Can't open ABC output file `/tmp/yosys-abc-usQczk/output.blif'."
Using openlane mpw-one-a branch and in the early stages of the flow for my design, I get the following error:

[code]

This error occurs on the full up version of my design that as about 282K cells (as reported just before the "Executing ABC pass (technology mapping using ABC)" step). If I reduce my design to 107K cells, it still occurs. Only if I reduce the design down to 72K cells, I don't get t

[2020-12-07 04:40] SweeperAA commented on #123
Another data point is that my design uses `SYNTH_STRATEGY` 1. If I change to 2 or 3, I do not get this error. A value of 0 still produces the error.

Also, the github repo link changed per mpw-one guidelines of caravel_ prefix. Github will redirect, but for reference, it is now https://github.com/SweeperAA/caravel_skywater130_decred_miner

[2020-12-07 14:34] agorararmard commented on #98
@thesourcerer8: merged to master.

[2020-12-07 14:34] #98 closed

[2020-12-07 14:35] agorararmard commented on #97
@growly: Merged to master. I'm closing this issue as it's now resolved. Please, reopen if you find otherwise.

[2020-12-07 14:35] #97 closed

[2020-12-07 14:36] agorararmard commented on #90
@dan-rodrigues: fake_diodes were added for the hd library on open_pdks and the version was updated in master. I'm closing this issue as it's now resolved. Please, reopen if you find otherwise.

[2020-12-07 14:36] #90 closed

[2020-12-07 14:37] agorararmard commented on #84
@jeras: The current version of skywater-pdk on master doesn't have this issue anymore (according to the issue you referenced above). Therefore, I'm closing this issue as it's now resolved. Please, reopen if you find otherwise.

[2020-12-07 14:37] #84 closed

[2020-12-07 14:38] agorararmard commented on #101
@thesourcerer8: Can we close this issue?

[2020-12-07 14:38] agorararmard commented on #104
@thesourcerer8: Merged to master. I'm closing this issue as it's now resolved. Please, reopen if you find otherwise.

[2020-12-07 14:38] #104 closed

[2020-12-07 14:38] agorararmard commented on #111
@thesourcerer8: Merged to master. I'm closing this issue as it's now resolved. Please, reopen if you find otherwise.

[2020-12-07 14:38] #111 closed

[2020-12-07 14:43] agorararmard commented on #9
@RTimothyEdwards, @bzboi, and @nurirfansyah: We have migrated from using centos6 to centos7 in openlane master. We also provided an alternative for building the docker locally, pulling a pre-built image from dockerhub. Does this help close this long-standing issue?

[2020-12-07 14:44] agorararmard commented on #95
@mattvenn, @growly: I implemented a hacky solution for this in the commit referenced above. This was merged to master. I'm closing this issue as it's now resolved. Please, reopen if you find otherwise.

[2020-12-07 14:44] #95 closed

[2020-12-08 05:02] SweeperAA commented on #123
In the mean time, I've updated my repo for a smaller design to get around this issue. If you need to recreate it with the repo I listed, let me know and I'll provide you the changes to do so.

[2020-12-08 06:31] dan-rodrigues opened #124 "Segfault while "Generating PDN...""
Gist with error log:
https://gist.github.com/dan-rodrigues/6593792f87b3dc31780c5a52a1164d74

Commit in repo to reproduce this error:
https://github.com/dan-rodrigues/caravel_vdp_lite/commit/ea3a92393985a52c3b24194fb554234218851c61

Steps to reproduce in the linked repo:

[code]

Commits used to trigger the error:

* openlane (including built docker image): `82e87c24d495882a39dd4046bb133e95ff8334ba

[2020-12-08 14:25] agorararmard commented on #124
@dan-rodrigues: I believe this might be caused by the fact that you have a `gen_pdn` in your interactive script here https://github.com/dan-rodrigues/caravel_vdp_lite/blob/ea3a92393985a52c3b24194fb554234218851c61/openlane/vdp_lite_user_proj/interactive.tcl#L50
However, the `gen_pdn` step has been moved inside `run_floorplan` in the current openlane master (mpw-one-a). https://github.com/efabless/o

[2020-12-09 01:32] #114 closed

[2020-12-09 06:17] dan-rodrigues commented on #124
Thanks, I've removed the `gen_pdn` step and that resolved the segfault.

[2020-12-09 06:17] #124 closed

[2020-12-09 14:31] agorararmard commented on #102
@jean-m-cyr: Any follow-up on that?

[2020-12-09 14:33] agorararmard commented on #79
@wajehulhasan: Any follow-up on this?

[2020-12-09 14:34] agorararmard commented on #113
@soorajkvl: Did this answer your question?

[2020-12-09 14:40] agorararmard commented on #115
@SweeperAA: From slack activity, I think you moved past this issue. However, I should mention that with `set ::env(FP_SIZING) absolute` you can only have `set ::env(DIE_AREA) "0 0 2920 3520"` and `FP_CORE_UTIL` is ignored. On the other hand, if you have `set ::env(FP_SIZING) absolute` you can only have `set ::env(FP_CORE_UTIL) "6"` and `DIE_AREA` will be ignored.

Changing the `SYNTH_STRATEGY` is

[2020-12-09 14:42] agorararmard commented on #119
@SweeperAA: I believe @ax3ghazy addressed this issue with you elsewhere. Does it still stand?

[2020-12-09 14:47] agorararmard commented on #123
@SweeperAA: Usually, when this error happens: `Can't open ABC output file `/tmp/yosys-abc-usQczk/output.blif'` it means one of two things:
- Your root directory is full of yosys and magic crash databases and needs to be cleaned up (or you can close and re-start the docker).
- ABC failed to map your design, and the solution is indeed to try a different SYNTH_STRATEGY (that's what they are there for

[2020-12-09 15:14] soorajkvl commented on #113
Yes, Thank you so much.

[2020-12-09 15:14] #113 closed

[2020-12-09 15:49] SweeperAA commented on #119
Both the design and magic tool have been updated so I don't know if it was ever fixed, but I'm not running into this problem anymore.

[2020-12-09 15:49] #119 closed

[2020-12-09 16:00] SweeperAA commented on #115
@agorararmard I think what you meant to say is that if `FP_SIZING` is defined as `absolute`, then `FP_CORE_UTIL` is ignored and if `FP_SIZING` is defined as `relative`, then `DIE_AREA` is ignored.

While I have moved past this issue by adjusting parameters (via trial and error), user applications need to check boundary conditions so they can fail gracefully with error codes indicating the problem.

[2020-12-09 16:05] SweeperAA commented on #123
@agorararmard I am working around this issue by changing the `SYNTH_STRATEGY`. I would not say that the issue in the tool is addressed by either handling the problematic `SYNTH_STRATEGY` or providing a useable error code.

[2020-12-11 21:13] sajjadahmed677 opened #126 "make test failed on rc5"
i am trying to setup the openlane in my laptop but facing an issue while executing make test command. here is the error.
couldn't read file "/home/sky130A/libs.tech/openlane/config.tcl": no such file or directory
    while executing
"source $pdk_config"
    (procedure "prep" line 126)
    invoked from within
"prep {*}$args"
    (procedure "run_non_interactive_mode" line 9)
    invoked from within

[2020-12-11 21:20] agorararmard commented on #126
@sajjadahmed677: Did you install the pdk in `/home`?

[2020-12-12 12:59] sajjadahmed677 commented on #126
yes, but the error is in make file

[2020-12-12 18:52] wgryncewicz opened #127 "Publish documentation on ReadTheDocs"
Setting up Sphinx/RTD config would allow automated publication of project docs.
This approach was mentioned here: https://github.com/efabless/openlane/pull/121 , as a suitable alternative to GitHub pages.

[2020-12-16 17:46] agorararmard commented on #126
@sajjadahmed677: So to clarify, the installation of the PDK was successful and `/home/sky130A/libs.tech/openlane/config.tcl` does exist?

[2020-12-18 10:43] Haseeb-Baloch commented on #126
The error isn't in the makefile the problem is that the Sky130A folder isn't present in the PDK_ROOT you have provided.
Either set the PDK_ROOT to the Sky130A folder present in $PDK_ROOT/sky130/
Or, copy the Sky130A folder to $PDK_ROOT/

[2020-12-19 14:43] ammar89 opened #132 "Pull access denied for openlane"
While trying to setup openlane, i got the following error message:

[code]

My machine is running Ubuntu 18.04.

I change the `IMAGE_NAME ?= openlane:rc6` (line 21) in the make file to `IMAGE_NAME ?= efabless/openlane`, which solved the issue apparently.

[code]
I only got two warning messages,

[code]

[2020-12-21 13:47] agorararmard commented on #132
@ammar89: It's not very clear what the issue is here. You used dockerhub to pull the openlane docker instead of building it locally (as per the instructions), then you had to export `IMAGE_NAME` to the new name which is `efabless/openlane:rc6` instead of the locally built image name `openlane:rc6` (as the instructions in the README say). By doing so as per the instrcutions, you were able to run th

[2020-12-21 13:48] agorararmard commented on #79
@wajehulhasan: Given the current state of your project, I'll assume this issue has been resolved. Please re-open if you believe otherwise.

[2020-12-21 13:48] #79 closed

[2020-12-21 13:49] agorararmard commented on #102
@jean-m-cyr: Given the current state of your project, I'll assume this issue has been resolved. Please re-open if you believe otherwise.

[2020-12-21 13:49] #102 closed

[2020-12-21 13:50] agorararmard commented on #126
@sajjadahmed677: Does this issue still stand?

[2020-12-21 16:16] robtaylor commented on #132
I also can't get `make test` to work:

(base) robtaylor@Roberts-MacBook openlane % make test
cd /Users/robtaylor/Code/Chipflow/openlane && \
		docker run -it -v /Users/robtaylor/Code/Chipflow/openlane:/openLANE_flow -v /Users/robtaylor/Code/Chipflow/:/Users/robtaylor/Code/Chipflow/ -e PDK_ROOT=/Users/robtaylor/Code/Chipflow/ -u 501:20 openlane:rc7 sh -c "./flow.tcl -design spm -tag openlane_test -

[2020-12-21 17:36] agorararmard commented on #132
@robtaylor: Your case is different. When you rebased to develop to submit PR #133 you switched to openlane:rc7 (current develop), while before rebasing you were in master (openlane:rc6). So, you'll have to rerun `make` after rebasing. (or switch back to master in a different branch of your fork). Did I get that right?

[2020-12-27 11:20] ammar89 commented on #132
Thanks agorararmard, it was a mistake from my end, I built openlane locally and it is working fine. I apologize for the inconvenience.

[2020-12-27 11:20] #132 closed

[2021-01-02 09:28] robtaylor opened #146 "aarch64 (incl. Apple Silicon) Support"
Being the recipient of a new M1 based Mac this Christmas, I'm now hacking up support for AArch64.

One question: Would a multi-arch BuildKit based solution be acceptable?

[2021-01-02 10:15] robtaylor commented on #146
Another Q - is there a reason we aren't using multistage builds?

[2021-01-02 12:15] robtaylor commented on #146
another Q - is centos 7 support important, or could centos 8 be a base?

[2021-01-04 13:41] ax3ghazy commented on #146
Hi @robtaylor,

Don't see why not; sure:)

Nope, just never got around to optimizing the Dockerfiles, but yes, ideally, for example, they should all start from a base image that includes all the common prerequisites. What other specific advantages of multi-stage builds could you spot here?

Anything that is not too old (e.g., centos6 by now) can be a base, so centos8 should work fine as a base.

[2021-01-04 18:52] agorararmard commented on #126
@sajjadahmed677: I will assume the issue is resolved, and I'll close this. Please re-open if otherwise.

[2021-01-04 18:52] #126 closed

[2021-01-06 10:07] antonblanchard commented on #146
I'm running it on ppc64le Linux with a hacked up set of Docker files:

https://github.com/antonblanchard/openlane/tree/docker-cross-platform

Would be nice to clean the Docker files up properly. Note I couldn't get CVC to build because pyinstaller is doing very strange things (producing an x86 binary on ppc64le. Odd).

[2021-01-07 04:38] nadeemyaseen-lm commented on #16
I am working on building openLANE image based on [Ubuntu OS](https://hub.docker.com/_/swift) and will try to integrate [FAULT](https://github.com/Cloud-V/Fault) tool as well.

[2021-01-07 22:39] antonblanchard commented on #146
I agree it would be nice to rebase to centos8.

[2021-01-07 22:50] antonblanchard opened #153 "GLB_RT_OBS prevents filler cells from being placed"
I narrowed down the issue I'm seeing with https://github.com/efabless/openlane/pull/143 when building some of my macros. These macros create an obstruction across all of `met5` (otherwise I end up with tracks on `met5` even with `GLB_RT_MAXLAYER` set):

[code]

It looks like filler cells aren't getting placed at all. Here is what I'd expect it to look like:
![good](https://user-images.githubuserco

[2021-01-07 23:49] antonblanchard commented on #153
[code]

So no filler cells were placed at all. The obstruction is only on met5:
[code]

And the filler cell has nothing on met5 (as you'd expect), so why can't they be placed?

[2021-01-08 00:49] robtaylor commented on #146
I’ve got a patch set neatly together. Just wrestling buildkit caching...

On Thu, 7 Jan 2021 at 22:39, Anton Blanchard <notifications@github.com>
wrote:

[2021-01-08 01:19] robtaylor commented on #146
I'll also add in ppc64le, see if it works..

WIP here https://github.com/robtaylor/openlane/tree/feature/multiarch

[2021-01-08 01:20] robtaylor commented on #146
@antonblanchard I see we found many of the same issues, my apologies for not sharing earlier!

[2021-01-08 14:24] agorararmard commented on #16
@nadeemyaseen-lm: In #146, @robtaylor is planning to submit a patch for centos8 migration. Perhaps you should co-ordinate your efforts in that regard.

[2021-01-08 20:06] agorararmard commented on #153
Hi @antonblanchard, thanks for pointing that out. This commit should fix it 41776e8a0b7ce04bb5158ecc745a9b62fcfa746a. Can you try it out and verify that it works on your case?

Note that:
[code]
So, now:
[code]

[2021-01-08 20:40] antonblanchard commented on #153
@agorararmard Thanks! This fixes my issue, and I did trip over the size vs coordinates issue so that makes sense to me too.

[2021-01-10 09:30] robtaylor commented on #16
@nadeemyaseen-lm could you share if you have anything working based on ubuntu?

[2021-01-10 23:04] robtaylor commented on #146
Ok. So very nearly there. Completely stumped by this one though, building OpenPhySyn:

#20 5.398   Could NOT find SWIG (missing: 3.0) (found version "3.0.12")
#20 5.398 Call Stack (most recent call first):
#20 5.398   /usr/share/cmake/Modules/FindPackageHandleStandardArgs.cmake:458 (_FPHSA_FAILURE_MESSAGE)
#20 5.398   /usr/share/cmake/Modules/FindSWIG.cmake:105 (find_package_handle_standard_args)

[2021-01-11 00:01] antonblanchard commented on #153
Closing this since it has been verified to work.

[2021-01-11 00:01] #153 closed

[2021-01-12 09:36] robtaylor commented on #146
turns out their cmakelists.txt are badly formmatted and failing on newer cmakes. patching..

this is definitely more epic than originally planned!

[2021-01-13 19:56] ax3ghazy commented on #146
@robtaylor: The error message looked familiar. It was probably this: https://github.com/The-OpenROAD-Project/OpenROAD/issues/499#issuecomment-692824474, wasn't it?

[2021-01-13 20:07] thesourcerer8 opened #156 "DRC Viewer"
The idea is to easily visualize the DRC results after a “make” build.
Instead of running
make user_proj_example
magic -T ../../$PDK/long/path/sky130A.tech user_proj_example/runs/user_proj_example/results/magic/user_proj_example.drc.mag
which is a bit long to type, but a make target like “make showdrc” would be the preferred solution:
make user_proj_example
make showdrc

I have implemented such a v

[2021-01-13 20:11] thesourcerer8 opened #157 "Indexing the logfiles"
Please change the generated logfile filenames to a filename-scheme which orders the logfiles in a structured way (chronologically).
One thing to keep in mind is that some steps might be run several times during one flow, so they should not overwrite each other.
The goal is to make an analysis of all the logfiles easy.

[2021-01-13 20:33] agorararmard commented on #156
@thesourcerer8: With the current develop branch, a TCL script is already generated to load the violations into an already open magic viewer with the GDS read. One possibility is to create a bash/TCL script that automatically loads the GDS into magic, with the .magicrc used to create the GDS and then load it into magic. In which case, the user has to have magic available. I'll be doing that in the

[2021-01-13 20:34] agorararmard commented on #157
@thesourcerer8: That is already the case in the develop branch. However, I'm going to keep this issue open until the changes reach master with rc7.

[2021-01-13 20:36] thesourcerer8 opened #158 "Integrate build report tool"
Please adapt and integrate my build report tool as a standalone tool at the end of the flow (or in a way that it always runs afterwards, even if the flow crashes before)
https://github.com/thesourcerer8/caravel_stdcelllib_stdcells/blob/release/openlane/build.pl
Feel free to adapt it in any way necessary

[2021-01-13 20:36] robtaylor commented on #146
Yep, thank you!  Issue is that openphysyn has too old OpenDB and OpenSTA.

Currently testing with moving those sub modules to current head.

On Wed, 13 Jan 2021 at 19:57, ax3ghazy <notifications@github.com> wrote:

[2021-01-13 20:38] thesourcerer8 opened #159 "Centralize the calling of OpenROAD and similar tools"
I would suggest to centralize the calling of OpenROAD (and potentially other similar tools that are embedded into the flow) in central TCL function, which can then later be enhanced to automatically detect and report crashes of the OpenROAD tools

[2021-01-13 20:46] thesourcerer8 opened #160 "OpenROAD tools with debugging symbols"
Please provide the OpenROAD tools in 2 variants in the Docker container: Both with and without debugging symbols. And please make sure that they are always in sync, that they are functionally always exactly the same.
The goal is to have the flow using normally the tools without debugging symbols, and when a crash is detected to automatically switch to the version with the debugging symbols and try

[2021-01-13 21:09] thesourcerer8 commented on #156
I just tried to use the magic inside the docker container, you just need to add 2 parameters to the docker run command and it works to use the magic from the container:         -e DISPLAY=$(DISPLAY)     -v /tmp/.X11-unix:/tmp/.X11-unix

[2021-01-14 15:05] agorararmard commented on #158
@thesourcerer8: Can you adopt the following:
1. Add a license header.
2. Modify the script to take a run directory (a directory), and print the logs with the numerical order they are presented in (in develop), i.e. 1-logX.log 2-logY.log 3-logX.log.
3. The script should take 2 arguments: 1st is the run directory, 2nd is the output file name.

[2021-01-14 15:06] agorararmard commented on #156
@thesourcerer8: That would be an optional user preference.

[2021-01-14 15:15] ax3ghazy opened #162 "Reduce the dependence on multiple "config files""
e.g., for macro placement and pin placement.

[2021-01-14 15:18] ax3ghazy opened #163 "Don't rely on an external "design exploration config file""
Rather use the current `config.tcl` as a base with a special switch to `flow.tcl`.

e.g.,

[code]

`./flow.tcl ..... -design_explore`

[2021-01-14 15:21] agorararmard commented on #163
follow-up:
Allow the user to only rely on flow.tcl to run an exploration, i.e. the user would have this in the config.tcl:
[code]
And the flow should pick that up, convert it into an exploration.config script and call run_designs to proceed. That way we reduce the need to write a new script for exploration and avoid having the users deal with both run_designs.py and flow.tcl.

However, the old str

[2021-01-15 12:45] mahmoodulhassan-lm commented on #16
Hi @robtaylor ,
I have built OpenLANE image based on Ubuntu OS. Can you please guide me on how to push my branch because I am facing an authentication error at my end?

[2021-01-15 13:57] agorararmard commented on #16
@mahmoodulhassan-lm: You need to create your own fork of OpenLANE, push your changes there (basing them on the develop branch), and then submit a PR. Then, one of the OpenLANE developers will review your changes and decides where to go from there (+ CI will auto-test your code).

https://github.com/efabless/openlane/blob/master/CONTRIBUTING.md

[2021-01-16 01:47] d-m-bailey opened #164 "$(MAKE) variable in Makefile"
The `$(MAKE)` variable is set at the start of the `Makefile` script.
On macos, this can be something like `/Library/Developer/CommandLineTools/usr/bin/make`

This `make` is not accessible from within docker, so all the `make` commands run in docker fail.

Specifically, `make build-pdk`

Suggest changing `$(MAKE)` to `make` in the `build-pdk` target.

[2021-01-16 19:35] ghost opened #166 "Hierarchical Area Report in Synthesis?"
I am beginning to use `openlane` to prepare a design for the next open shuttle.  I am wondering, the area report is at the top level. Is there a way to do a hierarchical synthesis area report (shows full hierarchy, area for each module, hopefully in csv) so I can better understand my area?

[2021-01-16 22:20] antonblanchard opened #167 "TritonRoute failure results in report_generation_wrapper.py endless loop"
In the process of testing `cugr`, I managed to get `TritonRoute` to fail. We end up in an endless loop executing `report_generation_wrapper.py`:

[code]

[2021-01-18 11:04] antonblanchard commented on #167
This fixes the immediate issue for me: https://github.com/efabless/openlane/pull/168

[2021-01-18 12:13] ax3ghazy opened #171 "Generate .lib files for hardened macros"
As a start, this can be a dummy liberty file with basic information about the area and pins. A next step would be using OpenSTA to add more useful/accurate timing information into the file.

[2021-01-18 12:14] ax3ghazy commented on #166
This probably depends on https://github.com/efabless/openlane/issues/171 for now.

[2021-01-18 12:28] ax3ghazy commented on #167
The main issue here is that TritonRoute failed to use the guide from `cugr` to route the design.

[code]

[2021-01-18 12:39] ax3ghazy commented on #164
Thanks. This https://github.com/efabless/openlane/commit/4203c39590191ca2befa2a0c1c02f96bed646785 should fix it.

[2021-01-18 16:37] agorararmard commented on #167
@antonblanchard: The other two parts of the issue are mentioned in #168 as follows:
I implemented a fix in 0f936f9 for the first part of the issue (the recursive calling), and another fix for the other half of the issue here: 8beb141 which allows for better support for generating reports for incomplete runs.

However, I won't close this issue because it's flagging another issue with cugr as @ax3gh

[2021-01-19 19:10] antonblanchard commented on #167
I'm trying to reproduce, but getting an earlier failure in cugr:

[code]

[multiply_4.tar.gz](https://github.com/efabless/openlane/files/5838080/multiply_4.tar.gz)
[merged_unpadded.lef.gz](https://github.com/efabless/openlane/files/5838089/merged_unpadded.lef.gz)
[17-addspacers.obs.def.gz](https://github.com/efabless/openlane/files/5838090/17-addspacers.obs.def.gz)

[2021-01-22 00:40] antonblanchard opened #173 "yosys synthesis thinks macro is combinatorial"
Looking through the log files, I notice `yosys` complains that my macro is combinatorial (it isn't):

[code]

We call retime again later on (with a different strategy), and this time it works:

[code]

Are we missing a step before the first retime that inserts sequential elements?

[2021-01-22 06:56] tommythorn opened #174 "Quick Start instructions fail on `make pdk` with "the input device is not a TTY""
Looks like a Docker related issue.

$ docker --version
Docker version 19.03.13, build 4484c46

Full build:
[build.log](https://github.com/efabless/openlane/files/5854062/build.log)
](url)

[2021-01-22 07:08] antonblanchard commented on #174
Removing `-ti` from the `docker run` command would likely fix this.

[2021-01-22 07:26] tommythorn commented on #174
Thanks, I reran that command without the `-it` arg and it appeared to complete successfully, but the subsequent `make test` was a little unhappy:
[code]

[2021-01-22 14:53] agorararmard commented on #174
@tommythorn: from looking at the build log provided above, this is not a docker issue (at least the part showing in the log isn't), rather an issue with [skywater-pdk](https://github.com/google/skywater-pdk)'s `make timing`:
[code]
I have seen this previously in the CI, however never faced the issue myself locally. It just happens that the fetched file contents are not valid. The straight forward

[2021-01-22 14:56] agorararmard commented on #167
@antonblanchard: I think it would be nice to open another issue about CU-GR and close this one for traceability (issue title).

[2021-01-22 21:34] tommythorn commented on #174
Thanks Amr,

I'd be happy to, but I'm not sure even what subject to use.  Two additional details:

1. The full original build log: https://gist.github.com/tommythorn/8bd1a2ca9cc06d89347f01fd8bcc885b
2. The contents of `/u/skywater-pdk/env/conda/.condarc`:
[code]

[2021-01-24 18:36] sultanbepari opened #175 "About constraints"
Sir in  .sdc file what constraints can we modify except that time....can we modify area, power, clock frequency etc. Plz respond

[2021-01-24 19:05] antonblanchard opened #176 "Diode strategy 2 (and 5) fails in spice extraction (illegal overlaps)"
The following test case [icache.tar.gz](https://github.com/efabless/openlane/files/5862927/icache.tar.gz) fails with:

[code]

[2021-01-24 19:58] antonblanchard opened #177 "cugr doesn't support inout ports"
This was noticed in issue https://github.com/efabless/openlane/issues/167

[code]

[2021-01-24 20:09] antonblanchard commented on #167
Closing

[2021-01-24 20:09] #167 closed

[2021-01-25 00:17] tommythorn commented on #174
The issue was the presence of a `MAKEFLAGS` environment variable set to `-j24`.  This breaks openlane and skywater-pdk with isn't parallel make safe.  It's fixable but also trivial to workaround, so closing.

[2021-01-25 00:17] #174 closed

[2021-01-25 13:43] ax3ghazy commented on #175
Hello, you can have a look at the SDC section in https://www.intel.cn/content/dam/www/programmable/us/en/pdfs/literature/manual/mnl_sdctmq.pdf. There are also some helpful examples there.

[2021-01-25 13:53] ax3ghazy commented on #177
Just bringing those in here:

[2021-01-25 16:43] mithro commented on #174
@tommythorn -- It would probably be good if we detect the usage of `-j` in the Makefile and error out?

Also I think this issue should have been on https://github.com/google/skywater-pdk right?

[2021-01-25 18:14] tommythorn commented on #174
@mithro, the original issue was exclusive to openlane.  While it might have been related to `-j`, it hasn't been root caused AFAIK.  The 2ndary issues turned out to be a skywater-pdk issue so I opened #295 there.

[2021-01-25 19:40] mithro commented on #174
The issue is now at https://github.com/google/skywater-pdk/issues/295

[2021-01-27 21:07] agorararmard commented on #176
@antonblanchard: This is allegedly fixed with the latest open_pdks version from opencircuitdesign.com. Can you please confirm?

[2021-01-27 23:09] mithro opened #178 "Make sure the OpenROAD / OpenLane and SKY130 flow works well with edalize"
[edalize](https://github.com/olofk/edalize) is probably the most popular library for interfacing to EDA tooling and [used by the FuseSoC tooling](https://fusesoc.readthedocs.io/en/rtd/tutorials/1-getting_started.html) which is used by both [OpenTitan](https://github.com/lowRISC/opentitan) and [SWERV line from Western Digital](https://github.com/chipsalliance/Cores-SweRVolf).

It would be good to m

[2021-01-27 23:12] mithro commented on #178
FYI -- @mkkassem @kgugala -- This obviously overlaps with some stuff that the CHIPS Alliance tooling group is interested in seeing.

[2021-01-28 01:10] antonblanchard commented on #176
Thanks, I think this is fixed. I've tested a couple of my macros and openlane runs without any DRC and LVS issues, and I see a mix of real diodes and fake diodes in the final output. Closing.

[2021-01-28 01:10] #176 closed

[2021-01-28 19:43] antonblanchard opened #179 "TritonRoute creates new via2_FR/via4_FR vias"
This doesn't appear to cause problems, but it's a bit strange that TritonRoute creates new via2_FR/via4_FR vias. Ahmed confirms that we should be providing it in the techLEF:

[code]

[2021-02-02 20:00] agorararmard commented on #127
@wgryncewicz: This is now merged to master. Thanks for the awesome work!

https://openlane.readthedocs.io

[2021-02-02 20:00] #127 closed

[2021-02-02 20:01] agorararmard commented on #157
@thesourcerer8: This is now merged to master, so I'm closing this issue.

[2021-02-02 20:01] #157 closed

[2021-02-02 20:02] agorararmard commented on #164
@d-m-bailey: This is now merged to master, so I'm closing this issue.

[2021-02-02 20:02] #164 closed

[2021-02-04 21:56] #100 closed

[2021-02-07 14:13] troysung opened #215 "read_lef error"
when init_floorplan, after read_elf ,error occured
[INFO]: Synthesis was successful
[INFO]: Running Floorplanning...
[INFO]: Running Initial Floorplanning...
[INFO]: current step index: 3
[INFO]: /openLANE_flow/scripts
OpenROAD 0.9.0 1415572a73
This program is licensed under the BSD-3 license. See the LICENSE file for details.
Components of this program may be licensed under more restrictive licen

[2021-02-08 14:26] agorararmard commented on #215
@troysung: We're going to need more context. Openlane version, configurations, design, pdk version, and so on.

[2021-02-11 11:35] DarshanGuled opened #231 "Issue Regarding Placement error in OPENLANE RTL to GDS flow"
![16130429352022204265884663927299](https://user-images.githubusercontent.com/53936406/107631085-76d6b000-6c8a-11eb-821d-0295f6fa14d6.jpg)
Hello,
This is Darshan here.
We are working on OPENLANE FLOW. We have installed and tested example of SPM which was already present in the design folder.
Now we are trying to add our own design like counter and D - FF design, but we are facing the following err

[2021-02-11 13:14] agorararmard commented on #231
Hi @DarshanGuled: Have you checked [this](https://github.com/efabless/openlane/wiki#what-to-do-if-the-flow-failed-in-any-of-the-steps-from-floorplan-up-to-routing)?
In a nutshell, lower your `FP_CORE_UTIL` and `PL_TARGET_DENSITY`; defaults are 50 and 0.55, respectively.
You can also try setting `CELL_PAD` to 4. However, this may not be needed, depending on the OpenLane/open_pdks version you're usi

[2021-02-11 13:45] agorararmard opened #232 "Post-CTS Timing Reports"
**Is your feature request related to a problem? Please describe.**
No timing reports are generated in the CTS stage, although they are generated at various stages, and they're easy to add.

**Describe the solution you'd like**
In https://github.com/efabless/openlane/blob/master/scripts/openroad/or_cts.tcl report skew and timing information, after legalization.

[2021-02-11 14:04] DarshanGuled commented on #231
Thank you for the reply @agorararmard I have set the default FP_CORE_UTIL and PL_TARGET_DENSITY Its still giving same error. When i try to change the value and try again and again. It passed the placement error but its showing
Instance cannot fit in to the core area
What can i do for this error??!

[2021-02-11 14:07] agorararmard commented on #231
@DarshanGuled: You should keep reducing the values until they work. An exploration script would be useful in that case. [This](https://github.com/efabless/openlane/wiki#how-to-get-to-0-drc-violations) is still relevant.

[2021-02-11 14:18] DarshanGuled commented on #231
Thank you soo much @agorararmard This really helps me alot. One last thing if we are facing the OVERLAPPING IS FAILED in Openlane placement process then what can we do to eliminate that error?.

Thank you so much for the information. The links are really helpful to understand the constraints.

[2021-02-11 14:22] agorararmard commented on #231
@DarshanGuled: Also, the general solution to that is to reduce `FP_CORE_UTIL` and `PL_TARGET_DENSITY`. It's advisable to have PL_TARGET_DENSITY=(FP_CORE_UTIL+5)/100. (i.e the default values are 50, 0.55).

Also, make sure your `CELL_PAD` is set to 4.

[2021-02-12 22:44] #232 closed

[2021-02-13 19:32] antonblanchard opened #236 "SYNTH_ADDER_TYPE=RCA also requires SYNTH_READ_BLACKBOX_LIB=1"
Commit a421bf6689fd ("Add Ripple carry adder/Full adder mapping to yosys (#228)") adds `SYNTH_ADDER_TYPE`. I tried the `RCA` option but it fails with:

[code]

Adding access to the standard cells with `set ::env(SYNTH_READ_BLACKBOX_LIB) 1` fixes it. Since the design itself is not using standard cells this is a bit confusing.

The `FA` doesn't have this issue, I'm guessing because we do that mappin

[2021-02-13 19:37] antonblanchard commented on #236
A simple example: [adder.tar.gz](https://github.com/efabless/openlane/files/5976324/adder.tar.gz)

[2021-02-15 17:46] agorararmard commented on #236
@antonblanchard: So, I guess that it's running earlier in the script to do the mapping before yosys/abc runs any mapping or optimizations on the designs, and so it forces all adders to be `RCA`, in which case the module that is passed to ABC have some already instantiated cells and so requires `set ::env(SYNTH_READ_BLACKBOX_LIB) 1` because there are manually instantiated cells in the passed Verilo

[2021-02-15 17:47] agorararmard commented on #231
@DarshanGuled: Did you manage to resolve the issue?

[2021-02-15 17:48] agorararmard commented on #215
@troysung: Any resolution in this?

[2021-02-15 17:56] Manarabdelaty commented on #236
@agorararmard yes, that is correct.

[2021-02-15 18:49] agorararmard commented on #236
@antonblanchard: Do you mind PRing this simple adder to our `designs/` so that I'd include it in the CI tests in the future (don't forget to add a license header)?

[2021-02-15 20:18] #236 closed

[2021-02-17 10:49] Ravenslofty commented on #173
Look at your logs again: it's not `retime` complaining, it's `scleanup`.

An `Error: the network is combinational` from ABC generally means that the Yosys `abc` pass hasn't been given the `-dff` argument, and thus instead of passing (some) flops into the netlist, Yosys turns the inputs and outputs of the flops into primary outputs and primary inputs of the netlist. Thus the netlist is combinationa

[2021-02-17 11:14] antonblanchard commented on #173
Yep, I've been experimenting with the openroad flow after adding `-dff` and as expected it's giving a big improvement in timing for my pipelined multiplier test. We might want to add an openlane option to add `-dff` and do register retiming on macros

[2021-02-17 11:16] Ravenslofty commented on #173
Just keep in mind that ABC can sometimes be pathologically slow when operating on flops; `scorr` is notorious for this in my experience.

[2021-02-17 11:41] antonblanchard commented on #173
Good to know. We could add a warning to the option so people don't flip it randomly.

[2021-02-20 13:42] guidobertoni opened #249 "sha3.v wrong implementation"
I was reading the code of sha3.v and noticed that the actual implementation in it is SHA2-512, you can read the end of file comment reporting sha512_core.v or read the implementation to see that is not containing the Keccak algorithm in it.
line 595 contains the implementation of the Ch function of SHA 512 as described in
https://en.wikipedia.org/wiki/SHA-2

this function is not part of the SHA3 a

[2021-02-20 18:03] shafnaskm opened #250 "while doing synth_explore showing couldn't open the file! at /openLANE_flow/scripts/synth_exp/analyze.pl line 16."

[2021-02-22 15:56] #250 closed

[2021-02-22 16:37] agorararmard commented on #231
@DarshanGuled: I will assume this issue is resolved and close it. Please reopen if the issue still stands.

[2021-02-22 16:39] agorararmard commented on #175
@sultanbepari: I will assume the question is answered, please reopen if the issue still stands.

[2021-02-22 16:39] #175 closed

[2021-02-22 17:58] shafnaskm commented on #250
worked.Thanks

[2021-02-23 07:09] DarshanGuled commented on #231
Hello sir,
I have attached 2 snaps
One consisting of error which we are facing.
And another one is .sdc file of our design.
Sir till Technology mapping its working but after that we are getting the above error.
Please help us to resolve the error

[2021-02-23 15:33] agorararmard commented on #231
@DarshanGuled: I'm unable to view your second snap. Please try re-uploading it.

As for the error above, this is still the solution:

If you could provide me with the design and your configurations I can look further into it.

On that note, which openlane version are you using?

[2021-02-27 06:57] shafnaskm opened #266 "getting Segmentation fault (core dumped) while compiling ' magic -T sky130A lef read merged.lef def read picorv32a.floorplan.def'"

[2021-03-01 14:52] agorararmard commented on #266
@shafnaskm: Wouldn't this question fit better in the magic repo? I don't know about loading the tech file directly with magic (regardless of having a `.tech` missing from your command and the absolute path to that tech file?). I think you better load the `.magicrc` file with `-rcfile` command:
[code]
then inside magic, you'd write:
[code]

[2021-03-09 19:51] antonblanchard commented on #179
I chased this down and submitted a PR to OpenROAD: https://github.com/The-OpenROAD-Project/OpenROAD/pull/595

[2021-03-14 11:00] andrsmllr commented on #42
@mdzakirhussain I am seeing a similar issue. Could you describe which steps resolved the issue in your case?

[2021-03-16 14:24] mdzakirhussain commented on #42
@andrsmllr, your design folder must reside inside the "designs" folder which is inside the openlane_master directory. Of course, you should be following the instructions given at https://github.com/efabless/openlane/blob/master/designs/README.md

[2021-03-22 17:10] #266 closed

[2021-03-23 00:21] antonblanchard commented on #179
The fix is now upstream in OpenROAD, so we can close this once openlane does an update.

[2021-04-01 16:48] nguyendao-uom opened #278 "Get stuck at Global routing when implementing FPGA fabrics"
**Describe the bug**
It's weird that the openlane flow can successfully run (RTL to GDS) for a fabric with 2x2 CLBs but get stuck at Global routing when implementing for a 4x4 CLBs
**To Reproduce**
Please find more details at https://github.com/FPGA-Research-Manchester/FABulous-SKY130

[2021-04-05 16:15] agorararmard commented on #278
@nguyendao-uom: I think you need to reduce the core utilization [here](https://github.com/FPGA-Research-Manchester/FABulous-SKY130/blob/ccd47dbd3ed653696a7a96df90932a7954e40be9/fabric4/sky130A_sky130_fd_sc_hdll_config.tcl#L4), also check [this](https://github.com/efabless/openlane/wiki#how-to-get-to-0-drc-violations).

[2021-04-05 17:15] nguyendao-uom commented on #278
Thanks @agorararmard. Actually I did change core utilization to 30 but didn't get through. Have you also tried to run the flow and pass it?

[2021-04-05 17:30] agorararmard commented on #278
@nguyendao-uom: This is because the library config file is called hdll instead of hd. https://github.com/FPGA-Research-Manchester/FABulous-SKY130/blob/main/fabric4/sky130A_sky130_fd_sc_hdll_config.tcl

[2021-04-05 18:33] mguthaus opened #279 "STD_CELL_LIBRARY cannot specify the library"
**Describe the bug**
If you set STD_CELL_LIBRARY, it is supposed to use that library. However, it will always use sky130_fd_sc_hd.

**To Reproduce**
Steps to reproduce the behavior:
1. export STD_CELL_LIBRARY="sky130_fd_sc_ls"
2. make pdk
3. make mount
4. echo $STD_CELL_LIBRARY
5. export STD_CELL_LIBRARY="sky130_fd_sc_ls"
6. ./flow.tcl -design spm

**Expected behavior**
It should create a design u

[2021-04-06 17:50] shafnaskm opened #281 "Could you tell the exact procedure to implement the io pads in openlane"
Could you tell the exact procedure to implement the io pads in openlane

[2021-04-06 19:44] Manarabdelaty commented on #281
You can check the documentation at https://github.com/efabless/openlane/blob/master/docs/source/chip_integration.md#hardening-the-full-chip . It explains how to generate the padframe and references [caravel](https://github.com/efabless/caravel) chip IO as an example.

[2021-04-06 19:44] nguyendao-uom commented on #278
@agorararmard : Yes, but it doesn't help after I changed the file name and the `CORE_UTIL` to 30 (shown in the config.tcl under runs directory).
Any other suggestions? Thanks

[2021-04-12 21:02] dhombios opened #292 "Feature Request: vhdl support"
Having an open source toolchain for synthesizing integrated circuits can be really useful for research projects. However, some industries enforce the use of vhdl, which is not highly supported by open source projects (the only open source project with similar capabilities that supports vhdl is Electric EDA). Adding vhdl support to this project will allow universities and engineering research cente

[2021-04-17 21:24] armleo opened #294 "INSTALL_SRAM does not work when set to enabled"
**Describe the bug**
Unable to install openlane with INSTALL_SRAM. It's disabled by default and "enabled" does not do anything.

**To Reproduce**
INSTALL_SRAM=enabled make openlane pdk test

**Expected behavior**
SRAM Macro installation is supposed to work.

**Desktop in VM**
 - OS: Manjaro XFCE
 - Openlane Version [v0.12]

**Assumption**
When configured the enabled parameter should be replaced wi

[2021-04-19 13:44] mattvenn opened #295 "link to latest stable release are broken"
**Describe the bug**
A clear and concise description of what the bug is.

2 links at the top of the top level readme are both broken:
https://github.com/efabless/openlane/tree/release-0.x
https://github.com/efabless/openlane/tree/release-0.x

Then the instructions say clone rc 0.12.
links should match the instructions.

I'm not sure if 0.12 is stable anyway, just had a report in openlane slack wit

[2021-04-23 03:39] IanBoyanZhang opened #297 "cannot stat '../sources/xschem_sky130/*': No such file or directory"
**Describe the bug**
Trying to follow the quickstart guide to install the toolchain.

Hitting below error when `make pdk`

[code]

**To Reproduce**
Steps to reproduce the behavior:

[code]

**Expected behavior**

N/A

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 - OS: Ubuntu 18.04
 - Openlane Version [e.g. v

[2021-04-23 20:10] cgreen18 opened #298 "OpenSTA unable to finish"
**Describe the bug**

Running flow on the provided test design, spm, works as intended.
When running the flow on a much larger design, the flow fails to finish synthesis. The flow successfully finished Yosys but fails during the scripts/sta.tcl portion of the flow. Specifically, the flow successfully reads scripts/base.sdc but fails on report_tns (line 28 of sta.tcl). It also fails/never completes

[2021-04-24 08:20] bhawandeepsingh opened #299 "Request for documentation or pointer to documentation"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
I need to floorplan and place multiple projects - riscv, memories, uart etc rather than combining them into a single heirarchical project. My first approach was to synthesize them as separate projects and proceed. Now I remember openlane ex

[2021-04-24 13:19] mguthaus commented on #299
I think you want this:
https://openlane.readthedocs.io/en/develop/docs/source/hardening_macros.html

And if you click the link in that section it leads to this:
https://openlane.readthedocs.io/en/develop/docs/source/chip_integration.html

[2021-04-28 12:21] mattvenn opened #303 "ROUTING_OPT_ITERS no longer works"
**Describe the bug**

set ::env(ROUTING_OPT_ITERS) 100

should set the number of routing iterations to 100. Instead it is stuck at 64.

**To Reproduce**

On a congested design that takes longer than 64 iterations to route, increase iterations to a larger number:

set ::env(ROUTING_OPT_ITERS) 100

**Expected behavior**

router should keep going past 64th iteration

**Screenshots**
![image](https://

[2021-04-28 12:34] mattvenn commented on #303
In case it's useful here's a screenshot after I set global iterations to 80

![image](https://user-images.githubusercontent.com/634220/116404379-dc205300-a82e-11eb-89e9-dda6ef801395.png)

but still exited after 64

[2021-04-28 18:29] Manarabdelaty commented on #303
@mattvenn Can you share your design and config.tcl ? We think tritonroute either ignores the parameter or doesn't honour it if the violations are unsolvable.

On another note, if you are still facing violations after the 64th iteration, you can try to slightly increase the `GLB_RT_ADJUSTMENT`.

[2021-04-28 23:37] maliberty commented on #278
I cloned your repo and ran '/flow.tcl -design fabric4' but didn't see the GR error.  How do you reproduce it?

[2021-04-29 08:01] nguyendao-uom commented on #278
@maliberty it's weird. what openlane's version are you using? My one is efabless/openlane:rc6 and it's hanging at
....
Notice 0: Reading LEF file:  /openLANE_flow/designs/fabric4/runs/29-04_07-34/tmp/merged_unpadded.lef
Notice 0:     Created 13 technology layers
Notice 0:     Created 25 technology vias
Notice 0:     Created 438 library cells
Notice 0: Finished LEF file:  /openLANE_flow/designs/fab

[2021-04-29 14:50] maliberty commented on #278
I just used the head of master (yesterday) in openlane and whatever version of OR it uses.

[2021-04-29 14:51] maliberty commented on #278
Fwiw it seems strange to throw an fpga fabric into a general purpose P&R flow.  The fabric should have a very natural row/column floorplan which the global placer is unlikely to reproduce.

[2021-04-29 15:05] nguyendao-uom commented on #278
@maliberty Except the timing for combinational loops in the fabric, I'm not sure why we can only run the openlane for tiny fabrics (from 2x2 to 3x4 CLBs) but not for 4x4 fabrics? But again, how you got it through with the 4x4 fabrics? If possible can you also try will our 15x15 fabric here https://github.com/FPGA-Research-Manchester/eFPGA---RTL-to-GDS-with-SKY130/tree/main/Verilog

[2021-04-29 17:01] mattvenn commented on #303
how would you prefer me to share the design? It is user_project_wrapper, so
it's part of caravel_user_project.

On Wed, 28 Apr 2021 at 20:30, Manar ***@***.***> wrote:

--
Matthew Venn
web mattvenn.net twitter @matthewvenn <https://twitter.com/matthewvenn>

[2021-04-29 17:47] shalan commented on #278
@nguyendao-uom I agree with @maliberty. Earlier we hardened an open source 8x8 embedded FPGA fabric using OpenLANE/OpenROAD. We had to manually floorplan the available die area into rows and columns. The placement of the building blocks macros was scripted. It worked fine and we were able to tape it out for Google's Open MPW1.

[2021-05-04 07:52] guris12 opened #320 "Not able to install PDK on Mac M1"
**Describe the bug**
chmod a+x /Users/gursimransodhi/Documents/OpenLane/openlane/pdk/skywater-pdk/env/downloads/Miniconda3-latest-MacOSX-arm64.sh
/Users/gursimransodhi/Documents/OpenLane/openlane/pdk/skywater-pdk/env/downloads/Miniconda3-latest-MacOSX-arm64.sh -p /Users/gursimransodhi/Documents/OpenLane/openlane/pdk/skywater-pdk/env/conda -b -f
touch "/Users/gursimransodhi/Documents/OpenLane/openl

[2021-05-04 09:04] donn commented on #320
Hi Guris, we're going to need a full log so we can help you here. The last 5 lines are not sufficient.

[2021-05-04 09:12] guris12 commented on #320
hello donn, is there any log file which is generated ? I am not able to find it , could you please point me  to the right place

[2021-05-04 09:23] Geetima2021 opened #321 "Error during execution of detailed placement"
![error_DP_openDP](https://user-images.githubusercontent.com/63381455/116982541-8a704080-ace6-11eb-9010-eabd0e0ddae4.png)
I have been using the run_placement command but I am facing the above issue. I had simultaneously run the run_placement command a no, of times. Each time Warning: Site check failed (133) increase and also the no. of psn_inst_psn_buff_1301
increases but the error remains. I had

[2021-05-04 09:29] donn commented on #320
Just copy & paste more lines from the terminal.

[2021-05-04 09:31] donn commented on #320
Or alternatively, run:

  make pdk 2>&1 > ./make_pdk.log

Then find a file called make_pdk.log.

[2021-05-04 09:34] guris12 commented on #320
[4may_error.log](https://github.com/efabless/openlane/files/6420154/4may_error.log)

please find the error.lo attached

[2021-05-04 11:59] guris12 commented on #321
could you check log file ?

[2021-05-04 12:14] donn commented on #320
…Might be me, but I don't see any errors in this log. Have you added the `2>&1`?

[2021-05-04 12:27] donn commented on #298
Please provide the STA log file.

[2021-05-04 12:28] donn commented on #297
Please use v0.15, our latest stable version.

[2021-05-04 12:32] Geetima2021 commented on #321
Yes I checked...This is what the error.log file shows.
during executing: "openroad -exit /openLANE_flow/scripts/openroad/or_opendp.tcl |& tee >&@stdout /openLANE_flow/designs/picorv32a/runs/PD_03May/logs/placement/opendp.log"
Last 10 lines:
child process exited abnormally

[2021-05-04 12:35] guris12 commented on #320
Dumping a new file with above command

[2021-05-04 12:55] guris12 commented on #320
please find the new log file
[make_pdk.log](https://github.com/efabless/openlane/files/6421180/make_pdk.log)

[2021-05-04 13:05] donn commented on #295
Fixed in `develop`. Thanks

[2021-05-04 13:05] #295 closed

[2021-05-04 13:09] donn commented on #101
Feel free to create a new issue should this arise again.

[2021-05-04 13:09] #101 closed

[2021-05-04 13:11] #123 closed

[2021-05-04 13:12] donn commented on #103
Long inactivity, closed. Feel free to open a new issue if the problem persists.

[2021-05-04 13:12] #103 closed

[2021-05-04 22:42] ahmednofal commented on #297
This is also reproducible in develop branch as well as the v0.15 version.

[2021-05-05 16:42] cgreen18 commented on #298
Okay, I have uploaded the error logs: 2-opensta, error.log, and final_summary_report.
csv
The 2-opensta was turned into a .txt to upload to Github
[2-opensta.txt](https://github.com/efabless/openlane/files/6428809/2-opensta.txt)
[error.log](https://github.com/efabless/openlane/files/6428810/error.log)
[final_summary_report.csv](https://github.com/efabless/openlane/files/6428811/final_summary_repor

[2021-05-05 18:06] Manarabdelaty commented on #321
@Geetima2021 Can you post the `opendp.log` file ? It should be under `logs/placement`

[2021-05-05 18:41] #299 closed

[2021-05-06 00:14] KorlaMarch opened #327 "Yosys optimized away an entire design when SYNTH_NO_FLAT=0"
**Describe the bug**
I am running into an issue with Yosys optimizing away my entire design (a modified version of `user_proj_example` from https://github.com/efabless/caravel_user_project) in the synthesis step. However, the problem went away when I set `SYNTH_NO_FLAT=1`. I think this is related to the no-driver warning. For instance, `Warning: Wire user_proj_example.\wbs_dat_o [31] is used but h

[2021-05-06 02:42] sjkelly commented on #327
I looked through the project a bit. This may be due to not all wires/regs being hooked up in your top level verilog module.

`SYNTH_NO_FLAT` is defined here:

https://github.com/efabless/openlane/blob/a95f56dac367c05bc48b4a001c419b58ec9648a4/scripts/synth.tcl#L240-L243

`yosys -p 'help flatten'`:
[code]

As I understand it, without `flatten` yosys will treat modules as discrete entities and ensure

[2021-05-06 06:26] Geetima2021 commented on #321
![error_DP_openDP](https://user-images.githubusercontent.com/63381455/117251248-05119b00-ae62-11eb-905b-a73fe86a485e.png)

[2021-05-06 07:00] Geetima2021 commented on #321
I exactly don't know what happened but it is most probably working and not showing any error now.

[2021-05-06 07:00] #321 closed

[2021-05-06 13:01] shafnaskm opened #330 "Showing "Cannot find any macros in this design" on placement stage"
Commands in config.tcl related to macro have shown below

set ::env(VERILOG_FILES_BLACKBOX) [glob $::env(DESIGN_DIR)/src/pte.v]

set ::env(EXTRA_LEFS) [glob $::env(DESIGN_DIR)/runs/final_130/results/magic/pte.lef]
set ::env(EXTRA_GDS_FILES) [glob $::env(DESIGN_DIR)/runs/final_130/results/magic/pte.gds]

[2021-05-06 14:50] donn commented on #279
Further discussion will take place on the PR attempting to fix this, which is #280. Closed.

[2021-05-06 14:50] #279 closed

[2021-05-06 14:54] donn commented on #297
So, I'll be honest, reproducing this issue has been a challenge for us. It seems to happen on some OS configurations but not others, for example, @ahmednofal had a similar issue but upon switching to Ubuntu 20.04 (he was on Debian), the issue disappeared.

@IanBoyanZhang We'd really appreciate your help in trying to isolate this issue. Can you share the output of the following commands:

* `lsb_re

[2021-05-06 15:58] KorlaMarch commented on #327
Thanks! I use `flatten_test.ys` from @sjkelly and was able to find and fix the issue within my code. Looks like it is a problem within my design and it is working now. Will close the issue!

[2021-05-06 15:58] #327 closed

[2021-05-06 16:28] sjkelly commented on #330
Do you have a full link to the source code? I noticed in the past yosys will mangle the names on parametric modules which can trigger this issue. The other possibility, something is not blackboxed for the synthesis step.

[2021-05-08 07:22] IanBoyanZhang commented on #297
- lsb_release -a

[code]
Is there a way I could share installed apt list privately?

[2021-05-08 14:50] donn commented on #297
Email me at mohamed.gaber@efabless.com.

[2021-05-09 01:56] IanBoyanZhang commented on #297
Sent. Thank you!

[2021-05-13 13:58] jaquerinte commented on #303
I have the same issue. I tested with lower size and with lower size of 64 works ( for example I tested with 20 and only does 20)

[2021-05-13 22:41] thesourcerer8 opened #348 "PDK_ROOT (and other paths passed) must be absolute"
**Describe the bug**
When PDK_ROOT contains "../" to refer to the PDK, openlane fails.
Workaround: Make sure that PDK_ROOT does not contain ../ for example in the following way: export PDK_ROOT=$(readlink -f $(pwd)/../pdk )
Due to good the workaround, this bug is not urgent.

**To Reproduce**
Steps to reproduce the behavior:
export PDK_ROOT=../pdk
make user_proj_example

The resulting error:

cd o

[2021-05-19 04:11] pwang7 opened #362 "make test failed with "STD_CELL_LIBRARY_CDL no such variable""
**Describe the bug**
when running make test, the test broke, with the error "STD_CELL_LIBRARY_CDL no such variable"

**To Reproduce**
Steps to reproduce the behavior:
1. make test

**Expected behavior**
make test should pass

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 - OS: ubuntu 20.04
 - Openlane Version

[2021-05-19 07:16] somayyahugar commented on #115
![Screenshot from 2021-05-19 11-27-00](https://user-images.githubusercontent.com/84437134/118771241-f4b8e180-b89f-11eb-9cdb-58d66ac9b5ed.png)
Hi,
sir i'm getting this error while running the openlane for the command run_routing for the simple adder design can anyone help me to resolve

[2021-05-19 08:06] donn commented on #348
This has to do primarily with how Docker works- all paths need to be absolute. Sadly, this is not an easily fixable issue.

Please `readlink -f` or `realpath` all paths used.

[2021-05-20 17:31] Luo2017 commented on #362
Hi，there!
I have encountered the same problem while I'm trying to execute the command `make test` just like u on Ubuntu 20.04 and v0.16 of it. And I found that this variable is defined in ./scripts/tcl_commands/cvc.tcl:

![v0 16](https://user-images.githubusercontent.com/73009693/119018227-76a72880-b9ce-11eb-975b-dad5c6a98ec6.png)

I doubt whether the definition of this variable really works😶. And

[2021-05-21 11:12] Luo2017 commented on #362
Hi  @ahmednofal, thanks a lot.
I've reviewed the commit history of this part and i think your submission has truly solved the problem.

[2021-05-21 14:51] #362 closed

[2021-05-24 11:49] pylorak commented on #292
I'll add, VHDL is a lot more popular in Europe and is by far the dominant HDL language there (here :) ), taught both at universities and used in the industry.

[2021-05-28 14:44] deepsita opened #400 "Error for make test"
**Describe the bug**
The following error is obtained when make test is run after openlane installation.

**Screenshots**
The screenshots of errors are attached.
![IMG_20210527_132939](https://user-images.githubusercontent.com/25682001/120001227-327cdf00-bff1-11eb-8eee-11209b824d3a.jpg)
![IMG_20210527_132921](https://user-images.githubusercontent.com/25682001/120001293-44f71880-bff1-11eb-899c-fba8c

[2021-05-28 17:13] MiliAnand opened #401 "Error while running synthesis in Openlane"
I was trying to run synthesis for my design and encountered this error. Not really sure what it means. Seems like something is wrong in openlane scripts. Can someone suggest how to resolve it?
![image](https://user-images.githubusercontent.com/82170364/120019443-146da980-c006-11eb-84f8-15863c6650c8.png)

[2021-05-29 14:51] #401 closed

[2021-05-29 15:44] MiliAnand opened #407 "Error in run_synthesis"
**Describe the bug**
Trying to run synthesis for my design and encountered this error. It seems like there is some problem with openlane scripts.
The necessary design files are mentioned here https://github.com/vsdip/rvmyth_avsddac_interface/tree/main/debug

**To Reproduce**
Steps to reproduce the behavior:
1. In the docker type :- ./flow.tcl -design rv_dac_design -interactive
2.  package require

[2021-06-01 05:53] donn commented on #407
Having `$itor` in a procedural block is non-synthesizable Verilog. It may work with simulators, but that's about it.

This is a design issue. I recommend the SKY130 slack for help with best-practices when designing mixed RTL/analog circuits- but its out of scope for Openlane.

[2021-06-01 05:53] #407 closed

[2021-06-01 14:37] #330 closed

[2021-06-01 14:37] shafnaskm commented on #330
i forgot to add black box for macros

[2021-06-05 14:36] maliberty opened #424 "Add facility to package failed runs"
In OpenROAD-flow-scripts the 'make issue' facility makes it easy to package up all necessary files to reproduce a problem in order to reproduce an issue.  OpenLane needs a similar capability.  See the on-going discussion in https://github.com/The-OpenROAD-Project/OpenROAD/issues/703.

[2021-06-06 07:10] Mansi-VLSI-3 opened #426 "Error in routing stage"
**Describe the bug**
The following error is obtained while running the routing. It says the **design congestion is too high**.

**To Reproduce**
Necessary design files are uploaded here https://github.com/vsdip/rvmyth_avsddac_interface/tree/main/rvmyth_avsddac

1. In the docker type: ./flow.tcl -design rvmyth_avsddac -interactive
2. package require openlane 0.9
3. prep -design rvmyth_avsddac -over

[2021-06-06 13:13] maliberty commented on #426
That message comes from the global router not the detailed router.  It's not clear that this is a bug and not just an over congested design that needs more routing area.

[2021-06-06 15:47] donn commented on #424
I'll be honest, I have no idea what on earth is going on here: https://github.com/The-OpenROAD-Project/OpenROAD-flow-scripts/blob/b549b82ff7a3c004a0117ebea2ef970f2d4c7207/flow/util/utils.mk#L57

The (unofficial) ruby script I made simply tries to extract the variables and files, then replace them with resolved values. Does this do something similar?

[2021-06-06 17:36] Mansi-VLSI-3 commented on #426
Hi, yes you are right the error came from the global router itself. Also tried it by reducing the initial utilization to 1% and 5% but eventually the **same error: design congestion is too high**  is obtained.

**For 1% utilization:**
Following error is obtained while running the detailed_placement :
![image](https://user-images.githubusercontent.com/79994584/120934241-2a245280-c71b-11eb-92bf-3df0

[2021-06-07 03:10] maliberty commented on #424
It produces a tgz with runme script that (1) sources a script that captures all the envars set by make and (2) invokes openroad on the proper tcl file to reproduce the step that is failing.  That tgz is a complete capture of the problem and is trivial for a developer to unpack and run.

[2021-06-07 03:15] maliberty commented on #426
Standalone opendp was integrated into openroad over a year ago is not being developed anymore.  OpenLane should move forward.

[2021-06-07 13:46] donn commented on #426
Will do

[2021-06-07 13:48] donn commented on #424
Huh. I like the idea of the runner script being the one to set the environment variables. I'll look into it.

[2021-06-10 08:58] harshithsn opened #434 "no latch inferred for signal"
after running flow.tcl -design my_design -tag first_run
i am getting this error
![Screenshot (44)](https://user-images.githubusercontent.com/63975346/121496253-e9b52500-c9f7-11eb-9f09-4783127293c4.png)

[2021-06-10 09:19] harshithsn commented on #231
How to change FP_CORE_UTIL and PL_TARGET_DENSITY & CELL_PAD value?
And in which file i need to change /edit it?

[2021-06-10 12:14] harshithsn commented on #231
How to change FP_CORE_UTIL and PL_TARGET_DENSITY & CELL_PAD value?
And in which file do i need to change /edit it? @DarshanGuled @agorararmard
please help me!

[2021-06-10 16:09] DarshanGuled commented on #231
Hello @harshithsn .
In Openlane folder there is one folder called configuration in that go to Placement and you can see all configuration file select placement.tcl file and change the values

[2021-06-11 17:41] dralabeing opened #440 "Make publications pdf or accessible link available"
I am unable to access the following publications cited in the docs:
1. M. Shalan and T. Edwards, “Building OpenLANE: A 130nm OpenROAD-based Tapeout- Proven Flow : Invited Paper,” 2020 IEEE/ACM International Conference On Computer Aided Design (ICCAD), San Diego, CA, USA, 2020, pp. 1-6.

2. R. Timothy Edwards, M. Shalan and M. Kassem, “Real Silicon using Open Source EDA,” in IEEE Design & Test, doi

[2021-06-14 15:15] mattvenn opened #450 "LVS fails with fake diodes & MAGIC_EXT_USE_GDS"
**Describe the bug**

If LVS is run against the GDS (instead of DEF/LEF) by setting MAGIC_EXT_USE_GDS then LVS will fail if there are fake diodes in the design. Fake diodes are used if DIODE_INSERTION_STRATEGY is set to 5.

**To Reproduce**
Steps to reproduce the behavior:

add these lines to designs/spm/config.tcl

set ::env(DIODE_INSERTION_STRATEGY) "5"
set ::env(MAGIC_EXT_USE_GDS) "1"

then run

[2021-06-14 16:05] RTimothyEdwards commented on #450
@Manarabdelaty :  FYI, the issue can be fixed in sky130A_setup.tcl.  The "fakediode" cell needs to be added to the list of cells to ignore.  I had thought that the "fakediode" cell had a diode in it and just removed the contact, but it appears that the cell has only the pin and no diode.  This causes it to be optimized out by magic's extraction, and then LVS fails because the verilog netlist has f

[2021-06-15 18:44] ahmednofal opened #457 "stick to a naming convention among PDK_ROOT PDKPATH PDK_PATH"

[2021-06-16 03:50] donn commented on #457
I think there are two variables at play here.

PDK_ROOT is used by OpenLane as the root of all PDKs.

PDKPATH/PDK_PATH is used by tools as the path to a specific PDK. Those two might need to be merged, though.

[2021-06-16 05:53] #1 closed

[2021-06-16 05:59] donn commented on #440
I'm fairly sure that furnishing this request violates a copyright law of some kind. @mkkassem @shalan Care to weigh in?

[2021-06-16 06:00] donn commented on #434
This isn't an error on its own. Additionally, we'd need your design files to debug anything.

[2021-06-16 06:01] #249 closed

[2021-06-16 06:03] donn commented on #249
Sorry, we don't really care. We make no promises about these designs doing what's on the tin: just that OpenLane can harden them. We're not opposed to a PR to fix them but we are not going to dedicate time to this ourselves.

[2021-06-16 06:03] #115 closed

[2021-06-16 06:05] donn commented on #9
Given that people haven't complained in a while, I'm going to assume this issue is resolved.

[2021-06-16 06:05] #9 closed

[2021-06-16 06:05] donn commented on #16
We're comfortable with CentOS 7 for now. Rocky Linux may be considered in the future as CentOS 7's EOL approaches.

[2021-06-16 06:05] #16 closed

[2021-06-16 06:06] donn commented on #26
Stale, closing.

[2021-06-16 06:06] #26 closed

[2021-06-16 06:07] donn commented on #158
Stale, closed, if you want to integrate something in the future consider a PR.

[2021-06-16 06:07] #158 closed

[2021-06-16 06:10] donn commented on #215
Stale, closed.

[2021-06-16 06:10] #215 closed

[2021-06-16 06:10] donn commented on #281
@shafnaskm Has your issue been resolved?

[2021-06-16 06:43] shafnaskm commented on #281
Yes thanks

On Wed, Jun 16, 2021, 11:40 AM Donn ***@***.***> wrote:

[2021-06-16 08:08] #281 closed

[2021-06-16 12:58] madgo1991 opened #462 "detailed_routing is taking exceptionally long time while executing."
While running full flow on some designs the "detailed_routing" is taking very long time to complete. During, say 30th iteration, it takes 17 hours to complete but in later iterations say 40th it takes even 38 hours to complete. This is causing the process to continue for many days. Is it normal? Is there any way to speed up the process?

**Desktop (please complete the following information):**
 -

[2021-06-16 13:17] donn commented on #462
Depending on the design, the answer is yes, some designs can take days to route, especially if you have tight area requirements, but shouldn't really be the case if you're using the defaults given that our core utilization is 50%. That's not that tightly packed.

More information and relevant logs would be helpful.

[2021-06-16 15:36] maliberty commented on #462
I would describe it as unusual but not actionable without a test case.

[2021-06-16 18:36] donn opened #466 "Investigate Storing CI Artifacts For Failures"
CI Artifacts for failures should be stored somewhere.

We're currently not sure if GitHub Actions offers infinite artifact storage for public repositories or not.

If not, we'd have to store to whatever Google Cloud's equivalent of an S3 bucket is.

[2021-06-16 22:07] mithro commented on #466
I can provide a Google Storage Bucket to upload stuff.

[2021-06-17 05:35] madgo1991 opened #467 "Failing LEC on design which went through complete flow when LEC was disabled."
Case I : LEC Disabled : The design ran full flow and GDSII was generated.
Case II : LEC Enabled : The LEC failed on the same designed.

Is there any logfile which is generated where more details on this error can be found ? Right now the error description is quite limited.

**Desktop (please complete the following information):**
 - OS: Ubuntu
 - Openlane Version v0.9
 - open_pdks Version: [commit

[2021-06-18 09:24] donn opened #469 "Disable OpenPhySyn"
OpenPhySyn is no longer maintained or developed.

[2021-06-18 09:31] donn opened #470 "Add OpenTimer Support"

[2021-06-21 03:09] madgo1991 commented on #462
Hi @donn The core utilization is set at 10%, so the design is not tightly packed. I reran the full flow on the design and now it is at 51st iteration.  I am attaching the logs
[i2c_17Jun21.txt](https://github.com/The-OpenROAD-Project/OpenLane/files/6683777/i2c_17Jun21.txt)

[2021-06-21 03:48] maliberty commented on #462
Something is not right as the router is making no progress however without a test case it is hard to say much.

It doesn't look to be 10% utilized based on your log file:

utilization                37 %

[2021-06-21 03:53] madgo1991 commented on #462
@maliberty The FP_CORE_UTIL is the parameter we have to set right? Because that is set to 10. Is there another parameter to set utilization?

[2021-06-21 06:18] maliberty commented on #462
I'm not the best to answer about OL but I do see what OR is reporting.

[2021-06-21 20:19] bjmuld opened #473 "Segmentation fault during or_floorplan -> read_lef"
**Describe the bug**
Openlane fails during initial floorplanning `or_floorplan.tcl::20 -> read_lef`  with message:
[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Get our top-level design: https://gitlab.com/um-ece/ftl-lab/hilas/fastlane/-/tree/hilas/designs/sky130_hilas_TopLevelTestStructure

2. Get our standard cells:  https://gitlab.com/um-ece/ftl-lab/hilas/cells

(1_alt+2_alt:  C

[2021-06-21 21:06] donn commented on #473
This is an underlying OpenROAD issue. We'll ping you once we've updated the version of OpenROAD we're using (perhaps within 10 days or so.)

[2021-06-21 21:08] bjmuld commented on #473
Thanks for the update!  Can you point me to a branch somewhere where a fix has been proposed?

[2021-06-21 21:12] donn commented on #473
https://github.com/donn/openlane/tree/or_migration but again, we're still debugging it.

[2021-06-21 21:43] donn commented on #400
Magic has been updated in later versions of OL: can you give it a shot?

[2021-06-22 04:04] soumilheble opened #475 "make regression_test failing while trying to generate html report"
**Describe the bug**
`make regression_test` failed while trying to generate html report from csv. jinja2 PackageLoader unable to locate csv2html package.

**To Reproduce**
Steps to reproduce the behavior:
1. Run `make regression_test`
alternatively even the following might work
1. Run `make mount`
2. Run `python3 ./scripts/csv2html/csv2html.py -i dummy.csv -o dummy.html`

**Expected behavior**
Pro

[2021-06-22 05:58] donn commented on #475
Yeah, this is a confirmed issue, I'm running into it. I'm looking for fix. Annoying part is I don't know when this surfaced.

[2021-06-22 07:06] donn commented on #297
Sorry for the late reply, Ian- we traced this issue to a specific failure in open_pdks.

Namely, one of the files responsible for downloads fails silently. When it fails, critical files remain undownloaded, and then it can't find things like, well, xschem.

Patch has been submitted: https://github.com/RTimothyEdwards/open_pdks/pull/132

[2021-06-22 15:34] soumilheble commented on #475
I'm not yet sure how jinja2 works but from the changelog looks like they made changes to the PackageLoader.

https://jinja.palletsprojects.com/en/3.0.x/changes/
[code]

[code]

[2021-06-22 15:49] donn commented on #475
Thanks for the heads up. What an odd change.

[2021-06-22 16:09] donn commented on #475
Will be fixed as part of #433. Thank you for the report and subsequent investigation, contributions like this are invaluable to us. :)

[2021-06-24 16:59] donn opened #476 "Value of Removing Not-Really-Short-Short-Flags"
# **Is your feature request related to a problem? Please describe.**
The entire codebase, but perhaps most alarmingly, run_designs.py, uses non-standard 2 character+ short flags.

For example, the short flag for `--threads` is `-th`.

1< character short flags are unorthodox and fairly unique to this codebase (some BSD/Apple software uses `-long-flag/-long_flag`, but never more than one character f

[2021-06-24 17:59] dralabeing opened #477 "long run time for make pdk during magic database creation"
Doc reference for this setup: https://openlane.readthedocs.io/en/latest/index.html#quick-start

Set  up the skywater-pdk and openlane using these steps:

step 1:   git clone https://github.com/efabless/openlane.git
step 2:    cd openlane/
step 3:    make openlane
step 4:    make pdk

make pdk after around 3 mins proceeds to creating the magic database, log below:
-----------------
Creating magic g

[2021-06-24 22:16] dralabeing commented on #440
If this is not publishable please remove reference in the document.

[2021-06-24 23:40] donn commented on #440
It's already been published, but we may not be able to provide a copy as part of the repository lest we run afoul of some copyright law.

The references will remain there should someone feel the need to cite OpenLane in their research projects. Getting access to the papers is a separate matter.

[2021-06-25 00:11] dralabeing commented on #440
Ok sure. thanks.

[2021-06-25 00:11] #440 closed

[2021-06-27 18:44] mithro commented on #440
You could link to the IEEE site like https://ieeexplore.ieee.org/document/9336682

[2021-06-29 14:21] IanBoyanZhang commented on #297
Hi @donn, thanks for taking time to investigate and fix it!

[2021-06-29 20:30] dralabeing opened #479 "Request for Openlane flow release versions and documentation for key features"
Please consider a formal process for providing periodic releases for key feature and tool updates from both OpenROAD and Openlane.
This should be included in the documentation with function and usage updates as needed.

[2021-06-29 22:29] ahmednofal opened #480 "OpenLane always exits with 0 even if it fails in an intermediate step"

[2021-06-30 16:59] donn commented on #479
For documentation purposes, the current releases are nightly builds of `master`.

[2021-06-30 17:00] donn commented on #477
@RTimothyEdwards sorry for bothering you tim

[2021-06-30 17:42] donn opened #481 "Improve Version Tracking Of Included Tools"
- Move repos and hashes to a root yaml file instead of being stashed in a Dockerfile
- Move the tarballs outside the repo (to a storage bucket or something)

[2021-06-30 22:16] dralabeing commented on #479
This request is for a well-defined release model that is usable both internal and external purposes with ability for human tagging in addition to automatic nightly builds, verification other than CI and special user-requested releases as some key features. Update documentation to reflect these

[2021-07-01 13:10] donn opened #482 "Newer Versions of Netgen Changed Their Handling Of Disconnected Pins"
**Describe the bug**
See RTimothyEdwards/netgen#21.

**Desktop (please complete the following information):**
 - OS: Ubuntu 20.04/WSL2
 - Openlane Version: ba695ba016b22b55820d56f9db5d0299dbbcb37e

[2021-07-01 13:10] donn commented on #482
I've mitigated this by disabling `blabla` and `usb_cdc_core` as part of our tests, until we get a resolution to this.

[2021-07-01 15:13] donn commented on #482
Confirmed bug. We're going to merge anyway while we await a fix.

[2021-07-02 14:03] RTimothyEdwards commented on #482
@donn :  I believe that the issue is in your scripts.  You (or someone) pulled the "count_lvs.py" script from qflow.  This was updated recently;  see https://github.com/RTimothyEdwards/qflow/blob/master/scripts/count_lvs.py.in lines 84 to 88 (most of which is a comment).

[2021-07-02 19:11] donn commented on #482
Gotcha... will have to pull this is in and test.

[2021-07-03 03:28] donn commented on #482
@RTimothyEdwards Key is... we already reflected that. 5217162915c16057a4d63cad04525530b319c34c

[2021-07-03 04:10] donn commented on #482
Relevant tests passed. Apparently the rebase fixed this. Oops. Sorry for bothering you.

[2021-07-03 04:10] #482 closed

[2021-07-05 20:59] dralabeing opened #484 "Provide detailed instructions for makefile to support docker connection to XServer"
Provide clear and detailed instructions for running GUIs within the docker- specifically for Xserver support. Merely, setting the DISPLAY variable is not sufficient.  The docker cmd needs a -e variable, for e.g
docker run -v /tmp/.X11-unix:/tmp/.X11-unix -e DISPLAY=unix:1 -it --rm -v $(OPENLANE_DIR):/openLANE_flow [...]
This is necessary for remote machine operation and will save first time users

[2021-07-06 21:03] pwhardy commented on #473
From testing it looks like the problem is read_lef. I was able to get the command to execute from inside the docker environment and verify it wrote the merged file. But it still fails when running "make test"

[2021-07-06 21:21] bjmuld commented on #473
@pwhardy to clarify: you're getting into the docker and starting the `openroad` binary, then getting an interpreter prompt and issuing the `read_lef <LEF_FILE>` command with the same LEF file and youre _not_ seeing openroad segfault?

[2021-07-06 23:46] pwhardy commented on #473
@bjmuld you are correct.

[2021-07-08 17:05] Manarabdelaty opened #490 "make openlane always pulls efabless/openlane:current irregardless of the openlane version"
This is creating an issue where an older version of openlane is used and `make openlane` is pulling a docker image that doesn't correspond to that version.

[2021-07-08 19:19] donn commented on #490
This is documented:
<img width="1003" alt="Screen Shot 2021-07-08 at 21 17 12" src="https://user-images.githubusercontent.com/12652988/124978319-e7171100-e031-11eb-8967-debeb8f4aa35.png">

I'm not necessarily opposed to making it resolve the version of OpenLane being used, but it'd have to be a heuristic of some kind given that we'd have to extract it from a git repository and some people might el

[2021-07-10 07:51] vijayank88 opened #491 "openlane designs/151 exited with error"
during executing: "bash /openLANE_flow/scripts/klayout/xor.sh /openLANE_flow/designs/151/runs/08-07_06-36/results/magic/riscv_top.gds /openLANE_flow/designs/151/runs/08-07_06-36/results/klayout/riscv_top.gds riscv_top /openLANE_flow/designs/151/runs/08-07_06-36/results/klayout/riscv_top.xor.xml |& tee >&@stdout /openLANE_flow/designs/151/runs/08-07_06-36/logs/klayout/36-klayout.xor.log"
Last 10 li

[2021-07-10 15:26] donn commented on #491
Yeah, Klayout tends to do that. We're looking into a fix.

[2021-07-14 22:49] maliberty commented on #473
@donn with the OR update, is this resolved or not?

[2021-07-14 22:56] bjmuld commented on #473
I checked out the brach Donn referenced and experienced the same issue...

Jul 14, 2021 5:50:03 PM Matt Liberty ***@***.***>:

[2021-07-14 23:14] maliberty commented on #473
in that case a corresponding openroad issue should be created.

[2021-07-21 04:26] maliberty commented on #303
TritonRoute only does 64 iterations.  The control can limit it to less but can't force it higher.

[2021-07-21 15:21] loverdec opened #492 "Using Yosys supported SystemVerilog?"
Hi,

I'm trying to run a design that includes SystemVerilog in the design, but only the Direct Programming Interface (DPI) which is supported by Yosys

According to the docs
"SystemVerilog to Verilog conversion must be performed by the user (e.g., using bsg sv2v or any tool of their choosing) before running Yosys."

Does this mean NO SystemVerilog is supported whatsoever? Or is there some alternat

[2021-07-21 15:37] maliberty commented on #492
I think people use sv2v as a workaround.

[2021-07-21 15:41] ChristianB12 commented on #492
I tried using it, but it doesn't seem to support DPI-C

https://github.com/zachjs/sv2v

[2021-07-21 16:16] mithro commented on #492
You might want to consider [Surelog](https://github.com/chipsalliance/Surelog) + [UHDM](https://github.com/chipsalliance/uhdm) as an option for [parsing SystemVerilog for usage with Yosys](https://antmicro.com/blog/2020/12/ibex-support-in-verilator-yosys-via-uhdm-surelog/). The team at @antmicro has recently been focused on making the Surelog+UHDM -> Yosys -> OpenROAD flow more seamlessly usable -

[2021-07-21 19:09] dralabeing commented on #469
@donn Why is this labeled OpenROAD? What is needed from OR?

[2021-07-21 21:30] getziadz opened #493 "save_state crash when saving environment variables that contain double quotes"
**Description**
OpenLane crashes when running the example design.
The source of the crash is the save_state function which crashes when it encounters environment variables with double quotes

**To Reproduce**
Define an environment variable that contains double quotes, such as:
`function urg() { command urg -full64 "$@"; }; export -f urg`

run
`make test`

You will observe the following:
[code]

**

[2021-07-21 22:58] bjmuld commented on #473
My mistake.  I believe Donn's `or_migration` branch failed before floorplanning for a reason I don't remember.

[2021-07-22 12:21] vijayank88 opened #494 "make full-pdk download failed"
**Describe the bug**
For PDK download two options given. If i try to download **make full-pdk** or  **make pdk**failed after 1 hr.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'make full-pdk' or 'make pdk'
2. See error

Downloading alphanumeric library from https://github.com/PaulSchulz/sky130_pschulz_xx_hd
Cloning https://github.com/PaulSchulz/sky130_pschulz_xx_hd to ../sources/sky

[2021-07-23 08:55] d-m-bailey opened #495 "make merge in docker_build copies the pdks directory unnecessarily"
**Describe the bug**
Running `make merge` in `docker_build` copies the `../../pdks` directory unnecessarily

**To Reproduce**
1. `mkdir -p pdks/ignore_me`
2. `cd docker_build`
2. `make merge`
3. `vi tar/openLANE_flow.tar.gz`
  Search for `pdks/ignore_me`

**Expected behavior**
Should ignore the pdks directory

**Screenshots**

**Desktop (please complete the following information):**
 - OS: centOS

[2021-07-23 23:56] jayantcdsouza opened #496 "bug in or_floorplan.tcl"
When running the openlane flow for design "spm" (and other designs). I see the following:

[ERROR STA-0402] initialize_floorplan -tracks is not a known keyword or flag.
Error: or_floorplan.tcl, 90 STA-0402
child process exited abnormally

The or_floorplan.tcl script has the following in it:
initialize_floorplan
-die_area $::env(DIE_AREA)
-core_area $::env(CORE_AREA)
-tracks $::env(TRACKS_INFO_FILE

[2021-07-24 02:28] mdzakirhussain commented on #496
Yes, I too have the same issue.

[2021-07-24 08:03] vijayank88 opened #497 "Routing Stage Failing"
**Describe the bug**
While i run eth_top design at routing stage get stopped with below error.
======
Notice 0: Split top of 1 T shapes.
Notice 0: Split top of 3 T shapes.
Notice 0: Split top of 1 T shapes.
Notice 0: error, net 26404, shorts to another term
Notice 0: wire point (447385 896300)
Notice 0:  clknet_leaf_256_wb_clk_i

Error 0: order_wires failed
Notice 0: error, net 26404, shorts to an

[2021-07-25 16:13] zignig commented on #496
rolling back to v0.18 did not work

 export IMAGE_NAME=efabless/openlane:v0.18

looks like a openlane issue !! :)

[2021-07-26 02:44] leochand101 commented on #484
Any updates on this ? I realized this issue in my first build as well, whats the intended use case ? I was trying to open the built gds on klayout to find the Xserver error.
Should I build from source or is docker file image the typical use case in which case we do need to have X11 support.

[2021-07-26 03:44] dralabeing commented on #484
@donn Any updates on this?

[2021-07-26 05:46] donn commented on #484
This is not an intended use case for OpenLane. If people would like to view their designs in Klayout, the recommended approach is to install Klayout on their machine. We only use Klayout/Magic/etc in batch mode.

[2021-07-26 09:29] atorkmabrains opened #498 "Basic make test fails with the latest openlane commit"
**Describe the bug**
Basic make test fails with the latest openlane commit version 02c16938aea3770c1d2e03fc8beed763fa83f30f with the following error:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. git clone the repo
2. cd Openlane
2. make openlane
3. make pdk
4. make test

**Expected behavior**
The test case should pass.

**Desktop (please complete the following information):**
 - Ub

[2021-07-26 09:34] atorkmabrains opened #499 "Add -u 0 option instead of -u $(shell id -u $(USER)):$(shell id -g $(USER)) to enable rootless docker"
If you use -u 0 instead of -u $(shell id -u $(USER)):$(shell id -g $(USER)) it should enable docker rootless setup allowing more secure environment.

More information about rootless docker:
https://docs.docker.com/engine/security/rootless/

[2021-07-26 09:39] #498 closed

[2021-07-26 09:40] atorkmabrains commented on #498
Mixed PDK versions. It seems that PDK installation varies. Now it's working with the proper PDK installation.

[2021-07-26 11:22] vijayank88 opened #501 "set_propagate_clock [all_clocks] not working"
**Describe the bug**
in OpenLane flow scripts/openroad/or_resizer_timing.tcl  below lines available.

[code]

The respective log is 15-fastroute.log don't have propagated delay, still running with ideal delay. Log shown below:

[code]
**To Reproduce**

Take any available design in OpenLane flow and check design/<name>/runs/logs/routing/fastroute.log

**Expected behavior**

Once we add set_propagat

[2021-07-26 13:25] maliberty commented on #484
@donn why not just add a few lines of documentation and enable this for users?  In ORFS we have make targets to run klayout on the result.

[2021-07-26 13:29] maliberty commented on #491
@donn if you are looking into a fix I won't duplicate your effort.  Do you have an eta?

[2021-07-26 14:00] donn commented on #484
Not opposed to it if someone can spare the manpower to do so, but given that Klayout has been a particular trouble spot, I... do not have the mental energy to add and test a new set of options. :)

[2021-07-26 14:01] donn commented on #491
@maliberty Not yet. Likely would entail updating Klayout.

[2021-07-26 14:03] donn commented on #493
Thank you so much @getziadz- I'll merge the fix within the next few days.

[2021-07-26 14:05] donn commented on #494
This is a git bug we've encountered previously. Can you please share your operating system?

[2021-07-26 14:07] donn commented on #496
Ah. I recall… getting rid of this... and putting it behind a flag. Let me look into it.

[2021-07-26 14:14] donn commented on #499
Waiting on PR #500

[2021-07-26 14:15] donn commented on #495
Thanks for the fix, I'll merge it within the next few days.

[2021-07-26 14:48] maliberty commented on #484
@dralabeing do you want to make a PR for this?

[2021-07-26 14:52] maliberty commented on #491
It looks like you are on 26.9.  27.x had a lot of improvements so you should definitely upgrade.  It should be as simple as updating your Dockerfile and running the tests.  Given the priority is that something you could try soon?

[2021-07-26 15:27] donn commented on #491
I'm having a lot of fun over at Docker/for-win#11693 atm, so give me like a couple more hours. I'm setting up Podman as an alternative at the moment.

[2021-07-26 15:32] getziadz commented on #493
No problem. Should I create a pull request?

[2021-07-26 15:39] donn commented on #469
@dralabeing Mislabel. Apologies.

[2021-07-26 15:45] donn commented on #491
Btw, as a workaround, you can change this line in configuration/general.tcl:

[code]

to
[code]

[2021-07-26 16:18] donn commented on #493
That would greatly accelerate things, yes.

[2021-07-26 16:44] getziadz commented on #493
Just created the pull request.

[2021-07-26 17:13] donn opened #503 "Integrate OpenRCX as the primary method of SPEF Extraction"
- Integrate OpenRCX as an option behind  for `run_spef_extraction` in `scripts/tcl_commands/routing.tcl`
- Make older one available via flag (and compare results)

[2021-07-26 23:34] maliberty commented on #501
This report is mistaken, or_resizer_timing.tcl does not generate 15-fastroute.log, it generates 12-resizer-timing.log (which has no timing report).

or_groute.tcl does generate 15-fastroute.log but it has no call to set_propagated_clock.  The tool results are correct and this is a flow issue so return to @donn

[2021-07-26 23:44] maliberty commented on #497
"To Reproduce" is a description of how to see the log file not how to reproduce the problem (ie run the tool to produce that result).

@dralabeing if "I am able to run successfully in OpenROAD flow" why is this an OR issue?

[2021-07-27 01:04] dralabeing commented on #497
@maliberty this is to address the Notice message which originates in OpenROAD, does it not?

[2021-07-27 02:32] maliberty commented on #497
@dralabeing "While i run the_top design at routing stage get stopped with below error."   Is this just about the formatting of the message or the failure?  I assumed the later.

[2021-07-27 02:42] dralabeing commented on #497
@maliberty This is both an error in routing through the OpenLane flow and the formatting as indicated by the report. Not sure, why the OR standalone flow passes successfully.
@vijayank88 : Can you please clarify if the OR flow passed successully? Please provide the log file for this section of the test.

[2021-07-27 03:27] maliberty commented on #497
@dralabeing messaging is covered by https://github.com/The-OpenROAD-Project/OpenROAD/issues/907.

[2021-07-27 05:31] vijayank88 commented on #501
@maliberty After CTS, or_resizer_timing.tcl running and respective log is 12_resizer_timing.log. I think detailed timing checks not added at this stage. In routing stage again timing checks happening at 15-fastroute.log. In this fastroute.log i see data path checks only ideal clock not a propagated clock.
My question is as we initialized propagation dealy in run_resizer_timing, in routing stage wh

[2021-07-27 05:39] vijayank88 commented on #494
@donn I tried with Ubuntu 20.04.2 LTS and Centos 7 Linux 3.10.0-1160.36.2.el7.x86_64 both failed to download full_pdk
Thanks.,

[2021-07-27 05:58] vijayank88 commented on #497
@dralabeing
OpenLane flow i used with sky130A library. It failing at routing stage with the message "Error 0: order_wires failed
Notice 0: error, net 26404, shorts to another term
Notice 0: wire point (447385 896300)
Notice 0: clknet_leaf_256_wb_clk_i"

In OpenRoad flow i used with nangate45 platform. Its completed successfully. Refer below links for logs.
https://github.com/vijayank88/vijayank88/

[2021-07-27 06:23] donn commented on #494
Well, CentOS 7 will fail unless you manually install a later version of git, but Ubuntu 20.04.2 LTS should work. Can you give me the output of your `git --version`?

[2021-07-27 06:24] donn commented on #493
Thank you so much.

[2021-07-27 06:56] donn commented on #496
So, uh, this is confusing:

https://github.com/The-OpenROAD-Project/OpenLane/blob/3c0f2fd0e5daf1ff1047fa802b7cc53bb8d4f7a7/scripts/openroad/or_floorplan.tcl#L48

The `-tracks` option has been removed from master for around a month now.

So uh, I'll need to know the command you're running exactly. and your `git log`.

[2021-07-27 07:58] vijayank88 opened #506 ".rpt files are empty"
As i see scripts/openroad/or_cts.tcl shows dumping all reports, even other stages too. But in reports directory all xxx.rpt files are empty/ 0Bytes.
**Refer attachement: or_cts_tcl.png and report_files.png first image**

**Enhancement need:**
Expecting respective xxx.rpt files to be dumped in each stage of flow.

![or_cts_tcl](https://user-images.githubusercontent.com/85787913/127116848-96af92f5-2

[2021-07-27 11:25] vijayank88 commented on #484
Try this docker command while mount:
docker run -v /tmp/.X11-unix:/tmp/.X11-unix -e DISPLAY=unix:0.0 -it --rm -v $(OPENLANE_DIR):/openLANE_flow [...]

[2021-07-27 11:27] vijayank88 commented on #484
I tried in my machine below format working fine. Use below command while mount openlane:
docker run -v /tmp/.X11-unix:/tmp/.X11-unix -e DISPLAY=unix:0.0 -it --rm -v $(OPENLANE_DIR):/openLANE_flow [...]

[2021-07-27 12:38] Preetbatavia opened #507 "Openlane SKY130 error with iverilog for gate level simulation"
Error on invoking iverilog along with the gate level netlist created by openlane design flow and a verilog file including the sky130 std_cell_library.

Steps to reproduce the behavior:
1. Go to the src folder where you have copied the gatelevel netlist and created the testbench verllog file
2. In the terminal type : `iverilog -o my_design1  mux_open.v test1_synthesis_preroute.v gate_def.v `

3.
4.

[2021-07-27 13:07] vijayank88 commented on #494
git version 2.25.1

[2021-07-27 13:45] maliberty commented on #501
The tool is exited and restarted between steps so there is no carry over.

[2021-07-27 14:04] donn commented on #507
I think this is a known issue- @Manarabdelaty has a workaround, I believe

[2021-07-27 14:10] donn commented on #499
We'd have to rethink the security model of running OpenLane to achieve this. You saw that even a minute permission change broke the CI. We'd also have to test this change with various setups and see what sticks.

This also causes problems with [podman](https://podman.io/) which just straight up does not handle the `-u` permissions the same way Docker does. So I've run into issues with this persona

[2021-07-27 14:11] donn commented on #501
@maliberty Thanks for the tip, Matt- I'll look into it

[2021-07-27 14:14] maliberty commented on #497
Running on a different pdk is completely different.  You should use either sky130hd or sky130hs (I'm not sure which library OL uses) in ORFS to reproduce the issue.

[2021-07-27 14:15] maliberty commented on #497
I'm not familiar enough with OL to figure out how to take your tar and turn it into a run of openroad that I can look at.  Would you or @donn provide steps.

[2021-07-27 14:32] Manarabdelaty commented on #507
@Preetbatavia The issue is coming from the original PDK files. So, the current solution is to manually comment out the `wire 1` statement until this issue https://github.com/google/skywater-pdk/issues/297 is addressed in the skywater-pdk repo.

[2021-07-27 16:40] donn commented on #507
Well, there you have it.

[2021-07-27 17:12] jayantcdsouza commented on #496
I initially ran into this issue when running "make test". I subsequently looked into the scripts directory and found the -tracks switch.

Attached is my git log.
[jd_git.log](https://github.com/The-OpenROAD-Project/OpenLane/files/6887454/jd_git.log)

[2021-07-28 05:45] vijayank88 commented on #497
@maliberty
Thanks for your time to debug this issue. In ORFS no issues to run my eth_top design. Problem comes with OpenLane Flow.
Please follow below steps to run my design.

step 1: Hope you have installed openlane flow: https://github.com/The-OpenROAD-Project/OpenLane#installation-notes

step 2: change your current directory into openlane and start mount openlane : $ make mount

step 3: Create

[2021-07-28 14:43] donn opened #508 "Improve Log Structure"
Originally proposed by @vijayank88 grouped with another issue, copied verbatim:

--
In OpenRoad Flow all logs comes under single directory in incremental order. But in OpenLane flow its good that you're segregated into each folder. But problem is files merge into different  folder.

Consider after placment, run_cts running. In logs/cts/11_cts.log
Next run_resizer_timing placing  logs/placment/12-r

[2021-07-28 17:31] maliberty opened #509 "ROUTING_CORES not working"
In my design/.../config.tcl I set:
set ::env(ROUTING_CORES) 40

However when the designs runs in TritonRoute I don't see 40 threads working.

**To Reproduce**
Run any design with this modification.

I used OL 3c0f2fd0e5daf1ff1047fa802b7cc53bb8d4f7a7 as my build.

[2021-07-28 18:09] donn commented on #303
OR team has clarified that this is intentional. We should maybe add a warning.

[2021-07-28 18:34] donn commented on #509
Workaround: Modify `configuration/routing.tcl`

[2021-07-28 21:09] #469 closed

[2021-07-28 21:09] #490 closed

[2021-07-29 01:26] dralabeing opened #511 "Enable and document OpenROAD package creation to reproduce OpenROAD behavior in standalone mode for issue submission"
This script: https://github.com/The-OpenROAD-Project/OpenLane/blob/master/or_issue.py creates a reproducible, self-contained package of files to demonstrate OpenROAD behavior in a vaccum, suitable for filing issues.

Document it's availability for use in OpenROAD for testcases, problem reproduction when filing issues.
Also, ensure provision for making PDK's in terms of size and privacy.

[2021-07-29 10:16] vijayank88 commented on #496
yes this issue arise if you merge  v0.18 with v0.21. Backups results and Re-Install latest will works for me.

[2021-07-29 11:29] marwaneltoukhy opened #513 "html rendering in regression_results/readme"
**Describe the bug**
Test results should be rendered as html

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'regression_results/'
2. Click on 'sky130_fd_sc_hd'

[2021-07-29 14:13] donn opened #514 "Restore Antmicro Yosys and add an explicit flag for the yosys binary to be used"
Ensure that this is also the latest version available and add antmicro yosys to the nightly tool updater.

[2021-07-31 14:40] deepsita opened #518 "Post Synthesis Simulation shows XXX"
The simulation of synthesized netlist is always XXX. as shown in the image.
![postsynth_output](https://user-images.githubusercontent.com/25682001/127743328-b88bcd92-27b1-4636-b8d6-4ed442314c32.png)

However, the Synthesis is shown successful as shown in the below image of terminal
![synthterminal](https://user-images.githubusercontent.com/25682001/127743415-5653568b-b7dc-4583-a731-278e90bac569.pn

[2021-07-31 21:37] leochand101 commented on #484
Thanks I will give it a try. I built openroad from source as well and considering that docker is for cross platform deployment, I dont need that yet.

[2021-08-01 16:15] Manarabdelaty commented on #518
@deepsita I believe the behavioral models are buggy in the original PDK (see https://github.com/google/skywater-pdk/issues/310) . However, you can simulate with the functional models by passing the FUNCTIONAL define to iverilog (you also need to set UNIT_DELAY macro to some value) :
 `iverilog -DFUNCTIONAL -DUNIT_DELAY=#1 gls.v mythcore.synth.v primitives.v sky130_fd_sc_hd.v`

[2021-08-02 14:48] deepsita commented on #518
I tried doing the same, and the following errors are shown.

![Screenshot from 2021-08-02 20-09-57](https://user-images.githubusercontent.com/25682001/127880242-b20fab7d-6608-410a-a533-4e4ca1b8f0ce.png)
![Screenshot from 2021-08-02 20-10-38](https://user-images.githubusercontent.com/25682001/127880258-3ca123b1-a2a0-4e82-b7c8-23a931c0e4bf.png)

[2021-08-04 02:51] jayantcdsouza commented on #496
Strange. I did not download v0.18 before downloading v0.21. I tried re-installing and still have the same problem.

[2021-08-05 11:15] donn commented on #473
So I set up Hilas and your design and unfortunately, I can't get it to synthesize without modifying the scl cell definitions manually, after which it fails to floor plan. I tried running `make` to no avail either: same issues. All I can offer is this small fix for Unix-likes:

[code]

[2021-08-05 12:22] donn commented on #497
Packaged. Ball's in your field, OR team.

[2021-08-05 12:38] marwaneltoukhy commented on #513
`https://htmlpreview.github.io/?` no longer renders csv files in HTML

[2021-08-05 12:44] donn commented on #513
No, I removed that.

I didn't want for there to be data duplication on our gold standard. People can use Excel, I'm sure.

[2021-08-05 12:48] donn commented on #513
No, I removed the HTML files in the interest of data de-duplication. htmlpreview does not render CSV files, it merely allows the html files to be rendered instead of being shown as plaintext.

Clearly, I neglected to update the Readme, so thank you for pointing that out. We can probably also utilize some web app that renders the CSV files browser-side.

[2021-08-05 12:58] marwaneltoukhy commented on #513
github renders CSV files neatly, maybe we could just redirect to the respective CSV file on github.

[2021-08-05 14:39] donn opened #526 "PDK Not Building"
**Describe the bug**
The PDK is not building properly, apparently because of a conda issue with https://github.com/google/skywater-pdk.

Issue is currently affecting CI, myself and a number of users.

**To Reproduce**
`make pdk`

**Expected behavior**
PDK is made

**Desktop (please complete the following information):**
 - OS: Ubuntu 20.04/macOS 11.x
 - Openlane Version: HEAD
 - open_pdks Version:

[2021-08-05 14:41] donn commented on #526
Workaround from Eugene Stolbikov :

[2021-08-05 14:49] mithro commented on #526
I think this is another case of https://github.com/SymbiFlow/symbiflow-examples/issues/169 / https://github.com/conda/conda/issues/10815

From @kgugala @ https://github.com/SymbiFlow/symbiflow-examples/issues/169#issuecomment-889706758

[2021-08-05 17:05] bjmuld commented on #473
Thanks for investigating. What modifications did you have to make?
Did your floorplanning fail with the `child killed unexpectedly` /segfault message?

[2021-08-05 21:20] donn commented on #473
No, it simply couldn't find one of the designs.

--
What I had to modify is, from what it looks like, yosys just categorically does not like this kind of port declaration:

[code]

I am unsure, but it appears that the same `\`ifdef` appeared twice in the document, once hosting the faulty declarations, and once as a more normal declaration. I simply removed the first as it was aliasing the second.

[2021-08-06 00:01] donn commented on #526
Fixed by #486

[2021-08-06 05:01] vijayank88 commented on #497
@donn Yosys default core size 940-955 taken with clock period 10ns. I've manually increased core size to 1200 -1250 with clock of 15ns able to pass routing stage. Testing with 10ns clock period again. Thanks...

[2021-08-06 06:32] manjunathrv opened #527 "Post synthesis iverilog simulation gives error"
**Describe the bug**
iVerilog simulation for the same test bench gives an error for post-synthesis gate-level netlist.
The synthesis in Openlane is successful.
Presynthesis test bench simulation is successful.

**Expected behavior** </br>
Below Pre-synthesis iverliog output </br>
![image](https://user-images.githubusercontent.com/52245531/128459369-055c9622-966b-4f87-a0fd-9350d66a6919.png)

**Obse

[2021-08-06 08:16] armleo commented on #527
can you provide 5235 +- 10 lines of fs_sc_hd,v?
If it's defined as `wire 1;` then comment it out.

[2021-08-06 09:48] manjunathrv commented on #527
Thanks for the reply. Yes, it was wire 1; I have commented it. </br>
![image](https://user-images.githubusercontent.com/52245531/128492091-b567e025-87e3-4221-be1c-2562ce18e906.png)

iverilog simulation doesn't give errors. But the output as checked in gtkwave shows XXX. </br>

![image](https://user-images.githubusercontent.com/52245531/128492273-28e30927-4330-45b9-90ff-d1a79ed4a423.png)

[2021-08-06 11:01] Manarabdelaty commented on #518
@deepsita See issues (https://github.com/google/skywater-pdk/issues/298, https://github.com/google/skywater-pdk/issues/297), The current solution (until they are addressed in the skywater-pdk repo) is to manually comment out the `wire 1;` statement and correct `endif SKY130_FD_SC_HD__LPFLOW_BLEEDER_FUNCTIONAL_V` to `endif // SKY130_FD_SC_HD__LPFLOW_BLEEDER_FUNCTIONAL_V`

[2021-08-06 11:19] donn commented on #527
Duplicate of #518

[2021-08-06 11:19] #527 closed

[2021-08-06 13:28] vijayank88 commented on #497
@donn i am able to complete eth_top design routing with core area 960-980 with 10ns clock period. Also made repair_design post placement. Able to generate GDSII now without any stop.

Default core taken from OLFS is 940-955.

[2021-08-07 07:52] shariethernet opened #529 "Updating Yosys in OpenLane"
Hi, How to make openlane use a new version of yosys (0.9+4245). Currently it uses a older version where yosys lacks support for `tri` keyword.
How to edit the dockerfile in  `openlane/docker_build/docker/yosys/Dockerfile` to make openlane use this yosys version
TIA!

[2021-08-07 11:23] d-m-bailey commented on #529
@shariethernet You should be able to do this from your openlane installation.
1. edit `IMAGE_NAME` in `Makefile` (optional: default is to use the current image)
2. `cd docker_build`
2. edit `IMAGE_NAME` in `Makefile` (optional: default is to use the current image).
3. edit `YOSYS_COMMIT` in `docker/yosys/Dockerfile` to the version you want
4. `make build-yosys`
5. `make merge`

That's it.

[2021-08-07 12:26] #434 closed

[2021-08-07 13:19] shariethernet commented on #529
I edited `YOSYS_COMMIT` and then ran `make build-yosys`. It was successsful. I am getting this error after running `make merge`

[2021-08-09 04:55] dralabeing commented on #497
Thanks @Donn- @maliberty - Could you please take a look?

[2021-08-09 07:54] scveena commented on #494
Hi, When running make I encountered following error during getting the pdk. Can you please help?
Installing pip dependencies: - Ran pip subprocess with arguments:
['/Volumes/SeaGate/pdks/skywater-pdk/env/conda/envs/skywater-pdk-scripts/bin/python', '-m', 'pip', 'install', '-U', '-r', '/Volumes/SeaGate/pdks/skywater-pdk/condaenv.j46acple.requirements.txt']
Pip subprocess output:

Pip subprocess err

[2021-08-09 07:56] scveena commented on #494
Hi, I am trying to run the same flow explained in https://www.youtube.com/watch?v=d0hPdkYg5QI

Cheers
-Veena

[2021-08-09 09:47] donn commented on #494
@scveena Your issue is separate, and also resolved as of the latest patch.

If you’re following this video, ensure you clone `https://github.com/The-OpenROAD-Project/OpenLane`. The latest version of OpenLane solves this particular issue.

[2021-08-09 10:56] vijayank88 commented on #496
I'm using v0.23. I am not facing any issues. -tracks option not available in or_floorplan.tcl

[2021-08-09 14:34] donn opened #530 "Upload Logs"
**Is your feature request related to a problem? Please describe.**
Logs are discarded by the CI.

**Describe the solution you'd like**
Upload the logs to a GCP bucket accessible by maintainers.

**Describe alternatives you've considered**
The current modus operandi is to just run the design locally. For long designs, >2 this is arduous.

**Additional context**
No additional context.

[2021-08-09 15:13] #511 closed

[2021-08-09 16:18] d-m-bailey commented on #529
@shariethernet not sure, but maybe try `sudo make merge`? Looks like you don't have write access to a file system.

[2021-08-10 09:38] shariethernet commented on #529
Thanks @d-m-bailey. I just did a `git reset --hard` to undo the changes and repeated the same as `su` worked!

[2021-08-10 09:38] #529 closed

[2021-08-10 13:45] d-m-bailey opened #532 "Makefile tries to access git inside docker"
**Describe the bug**
The `build-pdk` rule in the openlane `Makefile` creates a docker instance to run the `Makefile` in `open_pdks`. The `open_pdks`'s `Makefile` calls git to download various prerequisites. On some installations (e.g. google cloud engine), the user ID that is set when docker is instantiated (`-u $(shell id -u $(USER)):$(shell id -g $(USER)) $(IMAGE_NAME)`) does not exist in the pa

[2021-08-12 02:23] jayantcdsouza commented on #496
I think the problem is if you pull using the following link:
 git clone https://github.com/efabless/openlane.git

If you pull using this link, the scripts downloaded are correct:
git clone https://github.com/The-OpenROAD-Project/OpenLane.git

However, now I get another issue:
Top-level design name: spm
Traceback (most recent call last):
  File "/openLANE_flow/scripts/write_powered_def.py", line 95

[2021-08-12 09:54] donn commented on #532
Thanks, Mitch, mind opening a PR?

[2021-08-12 10:09] donn opened #533 "flow.tcl should detect all manners of version mismatches"
**Is your feature request related to a problem? Please describe.**
We've increasingly been receiving issues, such as #496, where people get a plethora of bugs stemming from:
- A mismatch between the binaries/image used and the current cloned version of OpenLane.
- A mismatch with the PDK.

This has been exacerbated by the fact many users are still cloning from https://github.com/efabless/openlane,

[2021-08-12 10:10] donn commented on #496
You will need to re-build the PDK.

Again, the efabless fork is considerably out of date, that even the PDK has received updates in that time. I understand that this is an inconvenience.

Please invoke `make pdk` and report back.

[2021-08-12 10:13] donn commented on #497
OR team confirms issue is fixed in HEAD: would require merging an OpenROAD update to fix this. Will investigate.

[2021-08-12 13:38] dralabeing commented on #497
@vijayank88 Can you rerun this with ORFS to verify before the merge?

[2021-08-12 16:50] jayantcdsouza commented on #496
thanks Donn! After updating the PDK, the flow works fine! Thanks for the tips!

[2021-08-13 06:22] vijayank88 commented on #497
@dralabeing At the time of GH issue filing I checked with ORFS with sky130A_hd PDK RTL to GDSII generation working fine. Issue comes from OLFS with sky130A PDK.

[2021-08-13 10:14] vijayank88 opened #535 "Provide support for Static IR Drop analysis in OpenLane similar to OpenROAD flow scripts"
Hi OL team,
@maliberty  @donn @Indira
Issue is:
I want to generate static IR drop for my design. In OpenRoad flow/scripts/final_report.tcl has analyze_power_grid option to get IR drop details.

But if I try to get in OpenLane flow its throw an error as command not found.

PDNSim GitHub pages says its archived and part OpenRoad flow.

Enhancement Looking:
OpenRoad scripts integrated with OpenLane f

[2021-08-14 10:49] armleo opened #536 "CentOS7 docker image used in OpenLane docker is deprecated. Git is too old."
In: https://hub.docker.com/_/centos?tab=tags&page=1&ordering=last_updated you can see that many months the CentOS has not been updated.

Also, the git that is installed in the Docker OpenLane image is outdated. This is while not critical, limits the ability to use OpenLane image to be used to build PDKs, because git pull fails.

[2021-08-14 12:17] vijayank88 commented on #535
[6-pdn.log](https://github.com/The-OpenROAD-Project/OpenLane/files/6986430/6-pdn.log)

Command used in OpenRoad script: analyze_power_grid -net VDD will generate IR drop details for this power domain
If I use analyze_power_grid -net VDD in OpenLane its stop with error as met3 resistance value not found in DB.
How to reproduce the issue:
Run spm design in OpenLane flow with below modification in or

[2021-08-14 14:11] d-m-bailey commented on #536
@armleo There are other issues with using git inside docker (at least on virtual machines). See #532 (I've submitted a pull request with a possible solution).

[2021-08-14 20:44] donn commented on #536
I am unable to verify your claim that the image has been deprecated. As far as I'm aware, CentOS 7 will continue to be supported through May 2024, and the tools we're using will continue to support it until its EOL.

The git issue I'm aware of, and I did add a manual update to a later git version:

https://github.com/The-OpenROAD-Project/OpenLane/blob/71bf5bd70ec9c2ba20d6d19b01b45f5e2d5c41fe/docke

[2021-08-14 21:08] armleo commented on #536
Apparently it is not deprecated. Hmm, for some reason I saw centos docker official image in deprecated docker images list and didnt bother to check.
I assumed that's why git was very old.
Both the problems have been addressed. Closing the issue, thanks for your time.

[2021-08-14 21:08] #536 closed

[2021-08-14 22:15] lakshmi-sathi opened #537 "[ERROR PDN-9999] Unexpected error: key "vccd1" not known in dictionary"
**The bug**

The following error message shows up during the floorplan step and the flow fails:

[code]
This issue **does not** arise on the stable OpenLane (v0.21) frozen by Efabless for the shuttle.

**Steps to reproduce the behavior:**
1.  Place [the design](https://github.com/bsg-idea/bsg_sky130_designs/tree/bsg_manycore_withsram) in OpenLane (2021.08.02_05.21.44-7-g71bf5bd)
2.  Run the flow
3