[2021-08-15 09:07] #481 closed

[2021-08-15 09:07] donn commented on #496
Cheers, glad to help. :)

[2021-08-15 09:07] #496 closed

[2021-08-15 09:09] donn commented on #506
A fix for this was merged. (#515 for posterity.)

[2021-08-15 09:09] #506 closed

[2021-08-15 09:10] donn commented on #513
Possible. Would you consider opening a PR?

[2021-08-15 09:14] #532 closed

[2021-08-15 09:25] donn commented on #537
@maliberty Does pdngen support different names for VPWR/VGND yet?

[2021-08-15 09:44] marwaneltoukhy commented on #513
It is added to PR #531 along with timing optimization before global routing

[2021-08-15 10:47] vanishka-tanwar commented on #231
Hello OL Team,

As, I am working in openlane , and is trying to make the Ip layout design of my selected circuit but when I am executing it so, at the time of execution of my design file its showing this same error to me at the time of placement

![Screenshot from 2021-08-15 15-36-33](https://user-images.githubusercontent.com/72103059/129475841-0ec808c5-9c72-4ace-bfac-1841580bd1fd.png)

![Screensh

[2021-08-15 11:18] harshithsn commented on #231
@vanishka-tanwar
Try to change FP_CORE_UTIL value.
which design are you executing ? Design Name?

[2021-08-15 12:08] #533 closed

[2021-08-15 13:29] maliberty commented on #537
@Colin-Holehouse is the right person to ask about pdngen.  Does pdngen support different names for VPWR/VGND yet?

[2021-08-15 15:22] lakshmi-sathi commented on #537
Just adding on, it seems for macros, giving explicit naming for the power and ground pins is suggested in the [PDN part of the manual](https://openlane.readthedocs.io/en/stable/docs/source/advanced_power_grid_control.html?highlight=PDNgen), am I understanding it correctly?

I think having the power pins named as 'vccd1' & 'vssd1' for the macro should be possible because:
-> I had previously been a

[2021-08-16 06:09] vanishka-tanwar commented on #231
@harshithsn
How much value should I give to Fp_CORE_UTIL value
My design is 4 bit magintude comparator and I saved it by this name dvsd_cmp.

[2021-08-16 10:01] Colin-Holehouse commented on #537
The incoming netlist after synthesis has no power/ground connectivity, so there needs to be a mechanism to define the power/ground net names and connections.

The pdn code has a default set of global connections defined:

[code]

This declares the net VDD and states that pins matching patterns ^VDD$, ^VDDPE$ and ^VDDCE$ found on instances matching the pattern .* (i.e. all instances) are to be conn

[2021-08-16 14:46] donn opened #541 "Fail by default on version mismatches"
Currently, the version match verification script simply outputs a warning.

@shalan, for safety purposes, wants to change it so that it 100% fails when there is a version mismatch, which can then be overridden with a `-force` flag.

[2021-08-16 14:59] vijayank88 opened #542 "[ERROR]: Failure in global placement"
**Describe the bug**
I am running riscv_top design with interactive mode. cells count 7L. Its got stop with error

[code]

Is there any specific memory required to run such big designs in interactive mode. Given disk space message as well.

**Desktop (please complete the following information):**
 - OS: [e.g. Centos 7]
 - Openlane Version [v0.22-3-g3c0f2fd]

[2021-08-16 15:24] vijayank88 commented on #542
Refer below links for src files and steps to reproduce the issue:
https://app.slack.com/client/T01699QAZBQ/threads

[2021-08-16 16:26] dralabeing commented on #526
I ran into this problem again today:
['/home/indir/openlane/openlane/pdks/skywater-pdk/env/conda/envs/skywater-pdk-scripts/bin/python', '-m', 'pip', 'install', '-U', '-r'                                        , '/home/indir/openlane/openlane/pdks/skywater-pdk/condaenv.3eigdwon.requirements.txt']
Pip subprocess output:

Pip subprocess error:
ERROR: Exception:
Traceback (most recent call last):
  F

[2021-08-16 19:14] maliberty opened #543 "or_issue.py doesn't capture the full environment needed to run"
**Describe the bug**
It seems that or_issue.py doesn't capture the full environment needed to run.  In particular I'm looking at a case using or_replace.tcl which depends on lots of envars but the run script doesn't capture them.  The first example is MERGED_LEF_UNPADDED.

Would you fix the script to capture all required envars?

**To Reproduce**
Steps to reproduce the behavior:
1. run or_issues.p

[2021-08-17 02:20] d-m-bailey commented on #494
@vijayank88 This is the same as #532. (You were first!) Should be fixed now with #534. If you test with the latest version and it works, could you close the issue?

[2021-08-17 06:10] dralabeing commented on #526
See problem report posted above

[2021-08-17 06:40] donn commented on #542
Please upload and share the files here.

[2021-08-17 06:51] vijayank88 commented on #494
@d-m-bailey
Thanks for the update. Now I'm able download full-pdk. In Makefile I was faced issue with python3. Replaced with python3.8 and able to download successfully.

[2021-08-17 06:51] #494 closed

[2021-08-17 06:55] vijayank88 commented on #477
@dralabeing  current v0.23 download speed enhanced. make pdk completed < 30min and make full-pdk completed <40min. Check at your end and you can close this issue. Remember i have reported this issue. Thanks

[2021-08-17 07:08] donn commented on #477
Please don't use outdated versions of OpenLane for filing bugs. v0.23 is a couple months old now.

[2021-08-17 07:14] donn commented on #543
Aye-aye: as I've mentioned, this is a very best-effort script. I'm not surprised that there are blind spots.

[2021-08-17 07:55] d-m-bailey commented on #526
@dralabeing Thanks for posting.

Could you check your `$PDK_ROOT/skywater-pdk/environment.yml` file?

If the last line is
```  - -r file:requirements.txt```
then your repo is out of date. The `file:` is causing the problem.

This may be caused by the `open_pdks` repo being out of date, which in turn may be caused by the `openlane` repo being out of date.

Here's a quick fix if you don't want to up

[2021-08-17 08:02] donn commented on #543
Can't replicate. What command are you running, exactly?

[2021-08-17 09:50] dralabeing commented on #477
Thanks @vijayank88 .. the docs still refer to the old link: https://openlane.readthedocs.io/en/latest/#updating-openlane . didn't realize I am using an older version

[2021-08-17 09:50] #477 closed

[2021-08-17 10:43] vijayank88 commented on #542
https://slack-files.com/T01699QAZBQ-F02BB9S6YG3-2d3ca8daaa

[2021-08-17 10:59] dralabeing commented on #526
@d-m-bailey Thanks for the work around..noted. I updated openLane and this fixed the problem barring an error in import yaml:
make pdk
Traceback (most recent call last):
  File "./dependencies/tool.py", line 15, in <module>
    import yaml <---
ModuleNotFoundError: No module named 'yaml'

...This was fixed by explicitly installing the correct pip3 library.

Suggestions:
1. Update documentation wit

[2021-08-17 11:03] vijayank88 opened #544 "make pdk fails with :: ModuleNotFoundError: No module named 'yaml'"
**Describe the bug**
When we install openlane with "git clone https://github.com/The-OpenROAD-Project/OpenLane.git" and following step #make pdk command fail with below error:
Traceback (most recent call last):
  File "./dependencies/tool.py", line 15, in <module>
    import yaml <---
ModuleNotFoundError: No module named 'yaml'
git clone  /home/indir/OpenLane/pdks/skywater-pdk
fatal: repository '/

[2021-08-17 11:37] donn commented on #544
This isn't a workaround. This is in the Readme.

<img width="698" alt="Required, amongst other things: click, pyyaml" src="https://user-images.githubusercontent.com/12652988/129719135-ddb4628f-31de-41e7-9231-41b25708272a.png">

[2021-08-17 11:37] #544 closed

[2021-08-17 13:47] maliberty commented on #543
I ran

python3 or_issue.py /openLANE_flow/designs/riscv_top -s scripts/openroad/or_replace.tcl -i /openLANE_flow/designs/riscv_top/runs/16-08_16-42/tmp/floorplan/6-pdn.def

using a design directly provided by a user.  I don't think the problem is design specific though.  What did you run that produced a run script with MERGED_LEF_UNPADDED in it?

[2021-08-18 01:42] ksooryakrishna1 opened #545 "Getting the error as or_ioplacer.tcl when 4-ioPlacer.log excution in Openlane"
I am getting the below error when i run my design. How to solve this error?
Error: or_ioplacer.tcl, 34 invalid command name "ppl::set_hor_length"
[ERROR]: during executing: "openroad -exit /openLANE_flow/scripts/openroad/or_ioplacer.tcl |& tee >&@stdout /openLANE_flow/designs/picorv32a/runs/first_run/logs/floorplan/4-ioPlacer.log"
[ERROR]: Exit code: 1
[ERROR]: Last 10 lines:
child process exited

[2021-08-18 06:48] donn commented on #543
You passed the path to the design, not the run.

`python3 or_issue.py /openLANE_flow/designs/riscv_top` -> `python3 or_issue.py ./designs/riscv_top/runs/16-08_16-42/`

I will revise the documentation so I am more explicit about what you need to provide.

[2021-08-18 06:50] donn commented on #545
`git remote get-url origin` and `git show HEAD` please.

[2021-08-18 08:38] ksooryakrishna1 commented on #545
not understood what i have to do

[2021-08-18 09:06] d-m-bailey commented on #526
@dralabeing See #544. Looks like yaml is documented as a prerequisite that needs to be installed before openlane. You can close this issue if your satisfied.

[2021-08-18 10:07] dralabeing commented on #526
ok thanks @d-m-bailey

[2021-08-18 10:07] #526 closed

[2021-08-18 11:58] vijayank88 opened #547 "Enhance error message info to be more actionable when flow fails at any stage"
**Is your feature request related to a problem? Understanding of log message in OpenLane log
I am running one of sample design in openlane. Its got failed at routing stage. But there is no clear information why its stopped. Same project i ran using OpenRoad flow scripts its failed and gave info as default placement density is .55 and expected PL_DENSITY is 0.6. or modify core area.

**Describe the

[2021-08-18 12:55] donn commented on #545
Please run these two commands and post the output.

[2021-08-18 17:26] Badboy1307 opened #548 "Klayout GDSII PNG"
### Prompt
Bringing back Klayout generating GDSII image in PNG format will help a lot of students  and working professionals who are still new to using this flow. As I find Klayout only creates GDS files but not including PNG format. Pls look on this feature.

[2021-08-18 17:31] donn commented on #548
All you'd have to do is add `set ::env(TAKE_LAYOUT_SCROT) 1` to your design's config.tcl.

This feature has been known to crash, so that's why we've disabled it by default.

[2021-08-18 17:33] Badboy1307 commented on #548
Oh ok thanks for replying will try and let ya know how it's working.

[2021-08-18 17:34] Badboy1307 commented on #548
Is it normal while installing  pdk to run out of range? Or is there a fix for that?

[2021-08-18 17:52] donn commented on #548
No, not really. You’d have to share the full error (in a new issue) so we can help with that.

[2021-08-18 17:53] Badboy1307 commented on #548
Sure will do so as soon as possible

[2021-08-18 17:53] #548 closed

[2021-08-18 18:13] donn commented on #547
These two appear to be two distinct failures in two different parts of the flow. I don’t see what’s actionable here.

[2021-08-19 00:10] ksooryakrishna1 commented on #545
For the command - git remote get-url origin, I get -
https://github.com/efabless/openlane.git

For the command - git show HEAD, I get -
commit 880ade4b4d88de8bb4b91e6b80d663c8294c1082 (HEAD, tag: v0.12)
Author: Travis CI <travis@travis-ci.org>
Date:   Wed Mar 24 04:13:20 2021 +0000

    Update Latest Green Tag to v0.12

diff --git a/Makefile b/Makefile
index e28b1fb..b8cb534 100644
--- a/Makefile

[2021-08-19 05:47] vijayank88 commented on #547
@donn
I start my design with OpenLane and tool calculating core size on its own based on number of cells. OL calculated  core size is 0 0 940 950. But its failed with below message
------------
Error 0: order_wires failed
Notice 0: error, net 26404, shorts to another term
Notice 0: wire point (447385 896300)
Notice 0: clknet_leaf_256_wb_clk_i
--------
Refer my previous issue #497
So from OpenLane

[2021-08-19 07:02] donn commented on #545
You're using the wrong link. Please clone from https://github.com/The-OpenROAD-Project/OpenLane instead and try again.

Cheers.

[2021-08-19 07:02] #545 closed

[2021-08-19 07:03] donn commented on #297
No problems. This issue appears to be gone now, so I'll go ahead and close this.

[2021-08-19 07:03] #297 closed

[2021-08-19 07:17] donn commented on #426
You can probably try now.

[2021-08-19 07:18] #475 closed

[2021-08-19 11:00] vanishka-tanwar opened #550 "Error is coming in placement while executing my design"
As, I am executing my design in openlane then error is coming in placement and I don't able to resolve this issue

I have used           ./flow.tcl -design dvsd_cmp        this command for execution but error is coming in placement It is showing this error
![Screenshot from 2021-08-19 14-16-01](https://user-images.githubusercontent.com/72103059/130057576-bfafb14d-2aa7-416a-b335-6b995e6459ef.png)
!

[2021-08-19 11:03] donn commented on #550
Hello Vanishka, is there any particular reason you did not fill out the issue template?

[2021-08-19 11:10] vijayank88 commented on #550
@vanishka-tanwar  attach your RTL or its small code.. u can copy paste here

[2021-08-19 11:13] vijayank88 commented on #550
@donn  even i tested that code in my latest openlane version. its tiny design with cell count 15. Its failing at detailed_placement_or stage.

[2021-08-19 11:18] donn commented on #550
Well, thank you for verifying the version, but I do need the design in order to isolate the issue.

[2021-08-19 11:22] vijayank88 commented on #550
@donn  copy the below code. design has no clock.

--------
//***************************************
// Vanshika Tanwar
//Verilog file: dvsd_cmp.v
//***************************************
module dvsd_cmp(
        //Input A
A_in,
        //Input B
B_in,
        //When A is less than B, it is high
less_than,
        //When A is equal to B, it is high
equal_to,
        //When A is greater than B, it

[2021-08-19 11:38] vijayank88 commented on #550
@donn  with this openlane 2021.08.17_03.26.57 version able run successfully. I got struck with openlane v0.22-3-g3c0f2fd throwing error in detailed routing. We can ask @vanishka-tanwar  to update to latest version maybe.

[2021-08-19 12:20] vijayank88 commented on #550
@donn
//***************************************
// Vanshika Tanwar
//Verilog file: dvsd_cmp.v
//***************************************
module dvsd_cmp(
        //Input A
A_in,
        //Input B
B_in,
        //When A is less than B, it is high
less_than,
        //When A is equal to B, it is high
equal_to,
        //When A is greater than B, it is high
greater_than
);
        //Declaration of Inp

[2021-08-19 12:34] Khalique13 opened #552 "Post Simulation error in output reg"
### Description
A clear and concise description of what the bug is.

### Environment
* Operating System Information: `Ubuntu -20.4`
* Docker Version: `docker --version`
    * If you're using Podman, please also include this information.
* OpenLane Tag in use: `Gate level Synthesis ` in the main OpenLane directory.

### Reproduction Material
* Upload a tarball containing the relevant design.
* List

[2021-08-19 12:35] vijayank88 commented on #550
@donn  with PL_TARGET_DENSITY 0.8 able to resolve the above issue. Default taken 0.6 @vanishka-tanwar  try this update in config.tcl

[2021-08-19 12:59] Manarabdelaty commented on #552
@Khalique13 Check https://github.com/The-OpenROAD-Project/OpenLane/issues/518. You need to pass `-DFUNCTIONAL -DUNIT_DELAY=#1` to iverilog. Also, if you are simulating the netlist with power pins, you need to make sure that you are connecting `VPWR` and `VGND` pins of the top level netlist to `1'b1` and `1'b0` respectively in the testbench. Also, you will need to pass `-DUSE_POWER_PINS` to iverilo

[2021-08-19 13:33] vijayank88 opened #553 "[WARNING]: Failed to compare PDKS"
### Description
Just installed latest openlane version. I made #make full-pdk and #make pdk as well. If I do #make test got below message. Is that cause any issue? But passed make test passed successfully. Got print below message.
[code]
### Environment
* Operating System Information: `uname -a`
* Linux 3.10.0-1160.36.2.el7.x86_64 #1 SMP Wed Jul 21 11:57:15 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux

[2021-08-20 06:46] vanishka-tanwar commented on #550
Yes, after updating config .tcl , now it is running smoothly in latest version .

I am closing this issue now .

[2021-08-20 06:46] #550 closed

[2021-08-20 09:37] donn commented on #552
Duplicate of #518, locked.

[2021-08-20 09:37] #552 closed

[2021-08-20 09:49] Khalique13 commented on #552
Here I am getting syntax error in sky130_fd_sc_hd.v at line 5363

[2021-08-20 10:32] donn commented on #552
Please continue the discussion in #518, Khalique.

[2021-08-20 12:47] dralabeing commented on #553
I tested and get the exact error on this version

[2021-08-20 13:06] vijayank88 opened #554 "multi vt support failing during run_magic_spice_export"
### Description
I am trying to use sky130_fd_sc_hdll std cell library during synthesis and sky130_fd_sc_hd cell library during optimization by setting below variable in config.tcl.
#multi vt checking
set ::env(STD_CELL_LIBRARY) "sky130_fd_sc_hdll"
set ::env(STD_CELL_LIBRARY_OPT) "sky130_fd_sc_hd"
#

But got failed with error. Logs shown in relevant ###Logs area for reference.

### Environment
* Op

[2021-08-20 16:47] grigoriy-chirkov opened #555 "[ERROR STA-0402] macro_placement -global_config is not a known keyword or flag."
### Description
When running design with macros inside, get the error from title

### Environment
* Operating System Information: Linux 3.10.0-1160.36.2.el7.x86_64 #1 SMP Wed Jul 21 12:34:53 EDT 2021 x86_64 x86_64 x86_64 GNU/Linux
* Docker Version:
    * We're using singularity instead, version: 3.7.4-1.sdl7
* OpenLane Tag in use: 2021.08.19_04.19.49

### Reproduction Material
* Desgin: https://gi

[2021-08-21 03:56] lakshmi-sathi commented on #537
I tried the TCL command mentioned but it says it's not found.
[code]
I tried it on one of the newer versions  2021.08.17_03.26.57 too, still the same error. Am I missing something?

As earlier mentioned **I am able to push through a [simple SRAM wrapper](https://github.com/bsg-idea/bsg_sky130_designs/tree/real_and_fakeram_wrappers) with the naming 'vccd1', 'vssd1', through OpenLane v0.21 without h

[2021-08-21 16:14] #555 closed

[2021-08-22 16:41] #495 closed

[2021-08-23 11:55] vijayank88 commented on #542
@donn Will try interactive issue later. If I use OpenLane flow scripts its stop at or_replace.tcl. Floorplanned DIE_AREA is "0.0 0.0 5636.69 5647.41".
Error.log as below:
during executing: "openroad -exit /openLANE_flow/scripts/openroad/or_replace.tcl |& tee >&@stdout /openLANE_flow/designs/riscv_top/runs/1strun/logs/placement/7-replace.log"
Last 10 lines:
child killed: kill signal

during executi

[2021-08-24 01:17] ksooryakrishna1 opened #558 "Getting the Error"
I am not able to run my design and it is giving error. Attached the error log file along with this.
Installed Openlane in the root and if I use ./flow.tcl -design spm or ./flow.tcl -design inverter, working fine.  Please help to solve this problem.

during executing: "openroad -exit /openLANE_flow/scripts/openroad/or_opendp.tcl |& tee >&@stdout /openLANE_flow/designs/dvsd_adder_12bit/runs/first_ru

[2021-08-24 05:02] vijayank88 commented on #558
@ksooryakrishna1  its look like same design issue. Try modify config.tcl https://github.com/The-OpenROAD-Project/OpenLane/issues/550 what they used.

[2021-08-25 01:21] ksooryakrishna1 commented on #558
I modified the contents of my config.tcl file and the following contents are added. Can you tell me  where should i add FP_CORE_UTIL 20  contents?

# turn off clock
set ::env(CLOCK_TREE_SYNTH) 0
set ::env(CLOCK_PORT) ""

set ::env(PL_SKIP_INITIAL_PLACEMENT) 1
set ::env(PL_RANDOM_GLB_PLACEMENT) 0

set ::env(FP_SIZING) absolute
set ::env(DIE_AREA) "0 0 34.165 54.885"
set ::env(PL_TARGET_DENSITY) 0.7

[2021-08-25 05:07] vijayank88 commented on #558
@ksooryakrishna1
set ::env(FP_SIZING) absolute
set ::env(DIE_AREA) "0 0 34.165 54.885" is this required die area go ahead with this.
Else comment above this line and use the variable FP_CORE_UTIL 20

[2021-08-25 06:48] dralabeing commented on #501
@donn Please point to the source tcl code to write sdc files at each of the required stages for correct carryover into global route. We are trying to fix it and test locally first. Thanks

[2021-08-25 11:39] vijayank88 commented on #554
@Manarabdelaty @Indira suggestion as follows:
Tim Edwards identified that the issue is with the skywater-pdk lef views for the buffer cells. The buffer cells have LI pin layer as part of the power and ground nets while all the other HDLL cells mark the li net as obstruction. I believe Tim will fix it in open_pdks by generating the lef views from magic instead. Until open_pdks is updated, you can f

[2021-08-30 11:53] #501 closed

[2021-08-30 12:10] #64 closed

[2021-08-30 12:11] donn commented on #400
Staled out, locked.

[2021-08-30 12:11] donn commented on #426
Yes, please always use the latest OpenLane.

[2021-08-30 12:12] donn commented on #298
Sorry for the late reply- can you share the design files, if you still have them? OpenLane has had a number of updates since then so the logs are not enough to isolate the issue anymore.

[2021-08-30 12:13] donn commented on #450
@RTimothyEdwards has this been updated?

[2021-08-30 12:31] donn commented on #553
Can either of you share your `$PDK_ROOT/sky130A/SOURCES` file?

In my build, it looks like this:
[code]

Yet, it appears that your `SOURCES` file looks different:

`openlane 40ada4699c2bbee45b273d5683849331e963488a`

[2021-08-30 12:54] donn commented on #537
All you need to do is add this to config.tcl:

[code]

Then add this file as `pdn.tcl` to the same directory as `config.tcl`:

[code]

There is something to be said here that these values should be `VDD_NET` and `GND_NET `  by default, but that's an Open PDKs issue.

[2021-08-30 12:56] vijayank88 commented on #553
@donn
openlane f7fd774a762629bc56d31a94ff03138fbc2e176c
skywater-pdk c094b6e83a4f9298e47f696ec5a7fd53535ec5eb
open_pdks 13e0611f6a27fd6e601f8fe207773233f4f3883f

[2021-08-30 13:16] RTimothyEdwards commented on #450
@donn :  Yes, this was fixed a long time ago.

[2021-08-30 13:23] donn commented on #553
Gotcha. Weird, I don't know why this is different. I'm on it.

[2021-08-30 20:15] #553 closed

[2021-08-30 20:32] donn commented on #450
Guess that’s that then.

[2021-08-30 20:32] #450 closed

[2021-08-31 02:15] d-m-bailey opened #567 "Docker build for programs is misleading."
### Description
Previously, the `<program>_REPO` and `<program>_COMMIT` were taken from the `docker/<program>/Dockerfile`.
The current version, reads these values from the `../dependencies/tool_metadata.yml` file, but incorrectly states that is updating using the `Dockerfile` values.

### Environment
* Operating System Information:
`Linux ciic-cvc 4.19.0-17-cloud-amd64 #1 SMP Debian 4.19.194-3 (20

[2021-08-31 06:16] dralabeing commented on #497
The original testcase did not work in the OL flow- default core size fails. The ORFS message is more actionable the allows flow completion through modification of config.tcl for die size.
There error messages in OL  need to be clear and actionable and issued earlier in the flow.

[2021-08-31 09:43] donn commented on #567
The ARG step is simply providing a default value that can be overridden via `--build-arg`, as you have seen above. We can just remove the default values entirely.

[2021-08-31 12:10] vijayank88 commented on #509
@donn
Is this routing cores should be less than the available cores in the machine or we can utilize maximum available cores?
For example: in my Centos machine have 4 cores and Ubuntu has 2 cores only.
In Openlane configuration/routing.tcl set default value of 4. So this will affect my ubuntu machine background process right?
So my suggestion we use Makefile $(NPROC) value as threads or exclusivel

[2021-08-31 13:15] #513 closed

[2021-08-31 14:06] donn commented on #497
#547, please don't reopen stale issues for requests already captured.

[2021-08-31 14:06] #497 closed

[2021-08-31 14:11] donn commented on #542
If you want to address the fanout problem, please introduce a new issue.

As for the memory thing, you can set the memory limit by setting DOCKER_MEMORY=8g or 16g before running `make mount`.

[2021-08-31 14:19] donn commented on #509
Note: This issue will probably be addressed by removing the param file which has been since deprecated.

Max

[2021-08-31 14:22] d-m-bailey opened #569 "Docker build of pdk ignores sram modules"
### Description
Even with `export INSTALL_SRAM=YES`, the `sky130_sram_macros` are not installed.

### Environment
* Operating System Information: `uname -a`
`Linux ciic-cvc 4.19.0-17-cloud-amd64 #1 SMP Debian 4.19.194-3 (2021-07-18) x86_64 GNU/Linux`

* Docker Version: `docker --version`
    * If you're using Podman, please also include this information.
`Docker version 20.10.7, build f0df350`

*

[2021-08-31 14:51] vijayank88 commented on #509
@donn thanks

[2021-08-31 16:26] vijayank88 commented on #497
@donn  today updated OL repo at my end and got below error message for this eth_top design.

[INFO GRT-0003] Macros: 0
[INFO GRT-0004] Blockages: 2566655
[INFO GRT-0001] Minimum degree: 2
[INFO GRT-0002] Maximum degree: 299
[INFO GRT-0017] Processing 1733061 blockages on layer li1.
[INFO GRT-0017] Processing 336278 blockages on layer met1.
[INFO GRT-0017] Processing 13 blockages on layer met4.
[IN

[2021-09-01 11:56] vijayank88 commented on #426
@Mansi-VLSI-3 possible share your config.tcl and source RTL. its easy to debug.

[2021-09-01 13:11] #503 closed

[2021-09-01 18:20] donn commented on #542
User reported via private channel that memory option is not working.

Will investigate.

[2021-09-01 18:26] #231 closed

[2021-09-01 18:27] donn commented on #179
OpenROAD was since updated,  closed.

[2021-09-01 18:27] #179 closed

[2021-09-01 18:29] #173 closed

[2021-09-01 18:36] tspyrou commented on #542
@vijayank88 please try the dockerless local install suggestion and close if this works otherwise let us know and re-assign to Donn.

[2021-09-01 18:37] tspyrou commented on #542
@dralabeing fyi

[2021-09-01 18:51] donn commented on #160
Given that local installs are now a thing and require you to bring your own OpenROAD application (see here https://github.com/The-OpenROAD-Project/OpenLane/blob/master/docs/source/local_installs.md,) you can just do that to use OpenLane with an OpenROAD binary compiled with debug symbols.

I'm locking for this now.

[2021-09-01 18:51] #160 closed

[2021-09-01 18:53] #466 closed

[2021-09-01 18:53] #530 closed

[2021-09-02 05:34] vijayank88 commented on #542
@tspyrou @donn  thanks for the update. I will try at my and comeback to you.

[2021-09-02 05:36] vijayank88 commented on #542
@donn With docker mode before mount able to set DOCKER_MEMORY

[2021-09-02 05:42] madgo1991 opened #576 "Error: or_opendp.tcl, 29 can't read "::env(PL_DIAMOND_SEARCH_HEIGHT)": no such variable"
### Description

Getting following error :
Error: or_opendp.tcl, 29 can't read "::env(PL_DIAMOND_SEARCH_HEIGHT)": no such variable

In README.MD file it says this switch has been removed. But it seems it is still looking for this in the script.
Kindly help.

### Environment
* Operating System Information: `Ubuntu`
* Docker Version: Docker version 20.10.7, build 20.10.7-0ubuntu1~18.04.1
*  OpenLane

[2021-09-02 05:44] madgo1991 commented on #462
This issue was resolved as the FP_CORE_UTIL parameter was not set in config.tcl but in some other file. WHen the FP_CORE_UTIL was set to 10 it ran within time.

[2021-09-02 05:48] vijayank88 commented on #576
@madgo1991 visit https://github.com/The-OpenROAD-Project/OpenLane and follow instructions. Update to latest version will resolve your issues.

[2021-09-02 06:08] madgo1991 commented on #576
With the latest release (2021.09.02_03.15.28) of OpenLANE I am getting following error :

[ERROR STA-0402] initialize_floorplan -tracks is not a known keyword or flag.
Error: or_floorplan.tcl, 90 STA-0402
[ERROR]: during executing: "openroad -exit /openLANE_flow/scripts/openroad/or_floorplan.tcl |& tee >&@stdout /openLANE_flow/designs/picorv32_cwolf/runs/02-09_06-05/logs/floorplan/3-verilog2def.op

[2021-09-02 06:12] madgo1991 commented on #576
Why does it keep saying I am running v0.15 when I have pulled a different version which is the latest version ? Please see below for reference.

/home/openLane/openlane/designs$ docker run -it -v /home/openLane/openlane/:/openLANE_flow -v /home/openLane/openlane/pdks/:/home/openLane/openlane/pdks -e PDK_ROOT=$PDK_ROOT efabless/openlane:2021.09.02_03.15.28
Unable to find image 'efabless/openlane:20

[2021-09-02 06:24] vijayank88 commented on #576
@madgo1991 try install in new directory path.. keep old version as it is.

[2021-09-02 11:47] vijayank88 opened #577 "Dockerless install: OpenLane local install guide missing"
### Description
Steps to install openlane locally missing.

### Environment
* Operating System Information: `uname -a` Linux hp11 3.10.0-1160.36.2.el7.x86_64 #1 SMP Wed Jul 21 11:57:15 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux
* Docker Version: `docker --version` Docker version 20.10.8, build 3967b7d
    * If you're using an alternative container service, please also include this information.
* Open

[2021-09-02 12:43] stevvik opened #578 "Incorrect diode perimeter"
The SPICE view in sky130A PDK for sky130_fd_sc_hd stdcells library (sky130A/libs.ref/sky130_fd_sc_hd/spice/sky130_fd_sc_hd.spice) contains diode description with incorrect perimeter value. This results in incorrect LVS in OpenLane, where this diode is used as antenna diode.

In sky130_fd_sc_hd.spice file:

.subckt sky130_fd_sc_hd__diode_2 DIODE VGND VNB VPB VPWR
D0 VNB DIODE sky130_fd_pr__diode_pw

[2021-09-02 12:57] stevvik opened #579 "Incorrect resistor description"
The SPICE view in sky130A PDK for sky130_fd_sc_hd stdcells library (sky130A/libs.ref/sky130_fd_sc_hd/spice/sky130_fd_sc_hd.spice) contains resistors instantiation with incorrect SPISE syntax. This results in incorrect LVS in OpenLane.

In sky130_fd_sc_hd.spice file:

.subckt sky130_fd_sc_hd__conb_1 VGND VNB VPB VPWR HI LO
R0 VGND LO VNB sky130_fd_pr__res_generic_po w=480000u l=45000u
R1 HI VPWR VN

[2021-09-02 13:11] donn opened #580 "PDN documentation is out of date"
# Description
PDN documentation is out of date, for example, #537 still tries to use custom ports without a custom pdn config file.

This should be updated.

[2021-09-02 13:21] donn commented on #554
The lack of an improvement is not really an issue here, but the PDK should be fixed.

[2021-09-02 13:23] donn commented on #542
Please elaborate

[2021-09-02 14:11] d-m-bailey commented on #579
This has been fixed in open_pdks.

https://github.com/RTimothyEdwards/open_pdks/commit/50161dc040edf388d7e92fc9b41cebb8c0b2dbbf

[2021-09-02 14:21] stevvik commented on #579
How can I get these changes? Should I update OpenLane and remake PDK?

[2021-09-02 14:50] donn opened #582 "Add the version to the final Docker image"
The final Docker image has versions for all the tools being used, yet, it lacks the version of OpenLane itself.

The OpenLane version typically depends on testing the Docker image, so this will need some… special work.

[2021-09-02 16:45] d-m-bailey commented on #294
@armleo The way to install the default SRAM is to `export INSTALL_SRAM=yes`.

However, this would only work on native builds until https://github.com/The-OpenROAD-Project/OpenLane/pull/570

Should work now for docker builds too.

You can close the issue if you think it's fixed.

[2021-09-02 16:46] #294 closed

[2021-09-02 16:54] d-m-bailey commented on #579
@stevvik I believe updating OpenLane and then `make pdk` should solve some of the issues.

You might want to take a look at https://github.com/google/skywater-pdk/issues/276 also.

I'm working on a device LVS flow, if you want to coordinate. There's a #be-verification slack channel you can use too.

[2021-09-03 05:34] vijayank88 commented on #542
@donn My desktop has 16gb RAM. But by default it taken 9gb only. After using
$export DOCKER_MEMORY=16gb
$make mount
while mounting --memory=16gb added and peak memory increased to 13GB

[2021-09-03 10:15] donn commented on #542
…so did it work or not?

[2021-09-03 20:58] 20Mhz opened #585 "Error during diode_insertion can't find opendb python module"
Hi,
This is needed by: ./scripts/write_powered_def.py
Not sure where is this is suppose to come from, didn't see it on OpenROAD repo. please advise.
Thanks!
Ronald

[2021-09-03 21:20] 20Mhz commented on #585
I think is here now: src/odb/src/swig/python

It seems it has change its name as well....

[2021-09-04 06:02] vijayank88 commented on #585
@20Mhz also mention which version of openlane you are using?  Install latest openlane version and try it. still error repeats share source file along with steps to reproduce the issue

[2021-09-04 07:20] vijayank88 commented on #542
@donn  with increase in memory also not helping. Stopped at placement stage again.
[NesterovSolve] Iter: 440 overflow: 0.818874 HPWL: 40368954113
[NesterovSolve] Iter: 450 overflow: 0.809816 HPWL: 41150573794
[NesterovSolve] Iter: 460 overflow: 0.784982 HPWL: 44127264261

during executing: "openroad -exit /openLANE_flow/scripts/openroad/or_replace.tcl |& tee >&@stdout /openLANE_flow/designs/riscv_

[2021-09-04 12:05] donn commented on #585
We can’t help you if you just nuke the issue template.

[2021-09-04 15:25] 20Mhz commented on #585
OpenLane f7fd774a762629bc56d31a94ff03138fbc2e176c
OpenROAD 527cd5d8e82308baa1a46265c1338e6c1757858f

It seems the swig module has changed name, but it also broken backwards compatibility.
Related to: https://github.com/The-OpenROAD-Project/OpenROAD/issues/1028

[2021-09-05 16:02] Mansi-VLSI-3 commented on #426
Hi  , am already using the latest one that is docker rc6 so is there an update even after that because the issue still persists?

[2021-09-05 19:22] donn commented on #426
The latest tag is 2021.09.05_03.29.19.

rc6 is from December 2020.

[2021-09-06 06:50] vijayank88 opened #587 "Design fail with GRT-0170 during resizer routing timing check"
### Description
I've eth_top design which is successfully generated GDSII with prev OL version tag 2021.08.03_05.51.29. Failing with latest version  of the OL tool.

### Environment
* Operating System Information: `uname -a`: Ubuntu 20.04
* Docker Version: `docker --version`  Docker version 20.10.8, build 3967b7d
* OpenLane Tag in use: `python3 ./dependencies/get_tag.py` in the main OpenLane direc

[2021-09-06 10:24] Manarabdelaty commented on #554
@vijayank88 Another possible solution is to run the spice extraction on the gds instead of the lef view. This solution is generally better than setting `QUIT_ON_ILLEGAL_OVERLAPS` to zero because if there is an actual illegal overlap, it will be caught.  You can add this to your config.tcl to do so:
[code]
You will need to disable running CVC in this case because of this issue https://github.com/d-

[2021-09-06 13:46] donn commented on #587
@kareefardi Your -1 to E404 change. Enjoy.

[2021-09-06 14:24] kareefardi commented on #587
I will work on handling properly `E404`, however it seems that something else is going on here.
[code]
I think there is an option to turn off resizer timing optimizations. @marwaneltoukhy will know more about it

[2021-09-06 14:29] marwaneltoukhy commented on #587
@vijayank88 You can turn off the resizer timing optimization by setting  ```set ::env(GLB_RESIZER_TIMING_OPTIMIZATIONS) 0``` in your config.tcl, this should fix the problem for now. Will work on a fix ASAP.

[2021-09-06 15:20] atorkmabrains opened #590 "libs.ref/sky130_fd_sc_hd/lib/sky130_fd_sc_hd__tt_025C_1v80.lib does not exist when trying to do make pdk"
### Description
Trying to do a basic installation for Openlane. I followed the procedure outlined in the Readme.md. But it seems that there is an issue in the make pdk installation.

### Environment
* Operating System Information: Ubuntu 20.04
* Docker Version: Docker version 20.10.8, build 3967b7d rootless
* OpenLane Tag in use: 2021.09.03_03.49.05

### Reproduction Material
* git clone <Openlane

[2021-09-06 15:21] donn commented on #590
@RTimothyEdwards The main issue is `stat: '$PDK_ROOT/sky130A/libs.ref/sky130_fd_sc_hd/lib/sky130_fd_sc_hd__tt_025C_1v80.lib': No such file or directory`

I'm not really sure why this is occurring. You can find the full build log in the gist.

[2021-09-06 15:26] RTimothyEdwards commented on #590
@donn :  Failure to define $PDK_ROOT?  Everything else about the path is correct.

[2021-09-06 15:27] RTimothyEdwards commented on #590
@donn :  Although the statement itself sort of suggests that $PDK_ROOT was never expanded.

[2021-09-06 15:27] donn commented on #590
His pdk root exists otherwise, `stat /home/atorkmabrains/mabrains/OpenLane/pdks/sky130A/`. I replaced it with $PDK_ROOT for brevity's sake.

[2021-09-06 15:28] atorkmabrains commented on #590
I didn't define PDK_ROOT. I presume it's defined to "Installation_path"/pdks

[2021-09-07 05:29] madgo1991 commented on #576
Please find two logs. One with this error and other with latest version of openlane.
[picorv_cwolf_02092021.log.zip](https://github.com/The-OpenROAD-Project/OpenLane/files/7119088/picorv_cwolf_02092021.log.zip)
[picorv_cwolf_07092021.log](https://github.com/The-OpenROAD-Project/OpenLane/files/7119099/picorv_cwolf_07092021.log)

[2021-09-07 05:41] vijayank88 commented on #576
@madgo1991  I mentioned clearly to create new directory path  and use git clone. But your log says same directory path old OL and new tag as well. If you don't have any design data do backup and trash openlane directory /home/openLane/openlane and install newly. latest version of scripts/openroad/or_floorplan.tcl don't have -tracks keyword.
You merging into existing directory and still same error

[2021-09-07 09:06] vijayank88 commented on #554
@Manarabdelaty  updated config.tcl and ran able to complete the flow without fail, but results same like above

[2021-09-07 16:33] #509 closed

[2021-09-07 16:33] #577 closed

[2021-09-08 11:24] vijayank88 opened #594 "spm xtea regression test failing with latest OL version"
### Description
Below command failed with non-zero exit status 1.
$python3 run_designs.py --designs spm xtea --regression ./scripts/config/regression.config

### Environment
* Operating System Information: `uname -a` Linux 012 5.11.0-27-generic #29~20.04.1-Ubuntu SMP Wed Aug 11 15:58:17 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux
* Docker Version: `docker --version` : Docker version 20.10.8, build 396

[2021-09-08 12:56] vijayank88 commented on #542
@donn with latest build had improvement in log. its passed nesteroSolve and stuck with below error. Any idea to fix this?

[code]

[2021-09-08 14:14] kareefardi commented on #594
Hello. The log file mentions `config_regression_*` implying that you are using `--regression`. Can you share the regression file that you are using?

[2021-09-08 16:09] vijayank88 commented on #594
@kareefardi  sorry given wrong re-produce command. update the issue. Refer above again. Thanks.
My intention is to run different configuration for a design with single run and choose best report out of that.

[2021-09-08 16:14] erictaur opened #595 "Build PDK part of the CI encountered error when doing git pull in open_pdks"
### Description
Unable to build PDK using the OpenLane CI. All necessary files/scripts are included in the GitHub Action run.
Encountered a `fatal: No names found, cannot describe anything.` error when attempted to do `git pull` but not sure what the issue was.

@msaligane

### Environment
* Operating System Information: `GitHub Actions: runs-on: ubuntu-latest`

### Reproduction Material
* Do `mak

[2021-09-08 17:03] kareefardi commented on #594
It seems that `./scripts/config/regression.config` is outdated. https://github.com/The-OpenROAD-Project/OpenLane/blob/ca93273185eb1f5650ea14afdb8659c56b980386/scripts/config/regression.config#L15 The value of `STD_CELL_LIBRARY` should be `sky130_fd_sc_hd`.

[2021-09-08 17:41] peijunh opened #596 "Cannot generate pdn for my design"
Hello, my design is stuck at 7-pdn when I using the flow.tcl of OpenLane.

My design includes 5 macros, one is the sky130_sram_4kbyte_1rw1r_32x1024_8, the other four are my own sensors. All sensors use VDD and VSS instead of vccd1 stuff.

I know the naming might cause issue, so I write my own pdn.tcl file, which is shown below. I also add a set ::env(PDN_CFG) $::env(DESIGN_DIR)/pdn.tcl in the conf

[2021-09-08 18:17] donn commented on #594
PR merged. Closing this.

[2021-09-08 18:17] #594 closed

[2021-09-08 18:24] donn commented on #595
Hey, this is because the OpenLane clone you're doing as part of GitHub actions is missing a fetch depth.

When you're missing the fetch depth, tags do not get pulled, so it fails to resolve the OpenLane version you need.

See https://github.com/Cloud-V/sky130-builds/blob/3d888bbb926265f1744c12fc8f4bbea02bd32501/.github/workflows/flow.yml#L19 as an example of how you should be doing that.

[2021-09-08 19:14] msaligane commented on #596
This issue is linked to: #537 # #

[2021-09-09 03:16] erictaur commented on #595
Hello @donn
I was actually trying to replicate something like this:
https://github.com/The-OpenROAD-Project/OpenLane/blob/master/.github/workflows/openlane_ci.yml#L115

In other words, cloning the pdk was NOT explicitly listed as a step in GHA. Instead, it ran `make pdk`, which clones `open_pdks` as seen in the Makefile at the repo root folder.

`make pdk` location:
https://github.com/The-OpenROAD

[2021-09-09 03:23] 20Mhz commented on #585
https://gist.github.com/20Mhz/be34125a6747a559b4da7f073043ee9f

[2021-09-09 04:15] donn commented on #595
It's not the PDK clone that's really the issue here, it's the OpenLane clone that is.

How are you cloning OpenLane, is my question?

[2021-09-09 04:16] donn commented on #596
Correct. I've pinned the relevant issue as it has a workaround.

I'll be closing this.

[2021-09-09 04:17] donn commented on #585
Ronald, that's not a workaround, that's a fix! If you can open a PR, I'd be happy to approve it.

[2021-09-09 05:35] vijayank88 commented on #594
@donn  @kareefardi  I have updated config.tcl and still same error repeats. Are you able to run above commands on your workspace?

[2021-09-09 05:37] erictaur commented on #595
Hello @donn
Sorry for misunderstanding, my apologies!

The Makefile pulls a docker image
[code]

With the following variables set as:
[code]
And in `get_tag.py` where I assume is the function that grabs the latest tags:
[code]

If `subprocess.check_output(["git", "describe", "--tags", "--abbrev=0"]).decode("utf8").strip()` in `get_tag.py` won't work, then what are the contents of `./resolved_versi

[2021-09-09 07:14] vijayank88 commented on #587
@marwaneltoukhy with the update you gave more then 30+Hrs still running at routing stage. Previous build of OL took only 5Hrs to complete routing stage.

[2021-09-09 12:24] stevvik opened #602 "CVC step fails if MAGIC_EXT_USE_GDS=1"
I set MAGIC_EXT_USE_GDS=1 in configuration file to activate Device level LVS and got CVC step (34) failed because awk is not able to find results/magic/<design_name>.lef.spice and crashes.

Here is a part of flow_summary.log:
[INFO]: current step index: 34
[INFO]: Running CVC
[ERROR]: during executing: "awk { /Black-box entry subcircuit/ {  # remove black-box defintions
    while ( $1 != ".ends" )

[2021-09-09 12:49] d-m-bailey commented on #602
@stevvik Thanks for reporting this! We're working on a flow for device level LVS at the moment. In the mean time, you should be able to disable CVC by setting RUN_CVC = 0 in your config file.

[2021-09-09 12:57] stevvik commented on #602
@d-m-bailey Are you sure it is a good way to disable CVC during device level LVS? Maybe it would be better to make CVC workable even if device level LVS is enabled.

[2021-09-10 00:24] msaligane commented on #596
@donn I think @peijunh already tried that workaround since he create his own pdn.tcl? @peijunh do you mind commenting on this?

[2021-09-10 01:27] peijunh commented on #596
@donn Yes, I do have create my own pdn.tcl and specify the parameters. I also use

as I mentions in the problem description. I guess I need to reopen the question.

[2021-09-10 01:34] msaligane commented on #596
ok, @peijunh I reopened this issue but please add more details regarding this issue maybe?
@donn he created a pdn.tcl file as suggested in the other issue so it is not really the same.

[2021-09-10 01:38] peijunh commented on #596
@donn please tell me what detail I shall add so that I can clarify my question. Thanks!

[2021-09-10 07:33] donn commented on #596
Beyond this point, we'd have to ask for the design files.

[2021-09-10 07:40] donn commented on #595
To be very clear, I meant how are you cloning the OpenLane repository. What is, or was, the git command you used? This is one of the very few reasons that might cause `git describe --tags --abbrev=0` to fail.

---

`./resolved_version` is a filesystem cache for those using OpenLane without git, where they'd have to type in the OpenLane version manually via teletype. However, given that you are try

[2021-09-10 18:00] kareefardi opened #604 "Change and handle missing values in reports"
Currently, openlane reports `-1` for missing values, which is a legal value in some cases. However, there is a lot of dependencies on that value in the source code, so changing it needs a bit of refactoring too.

[2021-09-13 14:55] peijunh commented on #596
Hello: below is the version and our OS is centos7. But I am using docker for all the flow.
commit f7fd774a762629bc56d31a94ff03138fbc2e176c
Author: Donn <me@donn.website>
Date:   Sun Aug 22 20:11:08 2021 +0300

    Makefile fixes (#551)

    *Actually* fixes #495. Oops.

[2021-09-13 15:04] donn commented on #596
We’d need the design files.

[2021-09-13 16:37] maliberty commented on #542
@eder-matheus made some memory usage improvements in grt - I'm not sure if OL has a current version of OR with those improvements or not.  What git commit are you using in this testing?

[2021-09-13 21:18] peijunh commented on #596
[opentitan_soc_top.floorplan.zip](https://github.com/The-OpenROAD-Project/OpenLane/files/7157403/opentitan_soc_top.floorplan.zip)

I got it. This is the design file. Thanks

[2021-09-14 05:29] vijayank88 commented on #542
@maliberty  git version 2.25.1
OL tag: 2021.09.03_03.49.05

[2021-09-14 15:43] tspyrou commented on #554
I think we should make a fork of the openpdk and keep it stable and update only when new versions work in the flow.
This is what OpenROAD-flow-scripts has been doing and is much more stable.
@mkkassem

[2021-09-14 16:41] maliberty commented on #542
@donn how can I convert an OL tag to an OR commit?

[2021-09-14 17:17] donn commented on #542
`https://github.com/The-OpenROAD-Project/OpenLane/blob/<your OL tag here>/dependencies/tool_metadata.yml`

You’ll find the commit for OpenROAD under the entry `openroad_app`.

[2021-09-14 17:23] donn commented on #554
A fork is unnecessary as we already do precisely what you’re asking for here using tags. This usecase likely doesn’t work with the current iteration of the PDK because it *never* did, not because a regression has occurred in the PDK. Remember, ORFS does not use Magic for anything, so any percieved regression would just be items that are not supported by our current setup.

[2021-09-14 18:35] maliberty commented on #542
I see f0e6c04818f120fcd15c29735a398d3cd420bd78 for OR which is from July 28.  @eder-matheus were your improvements after that?

[2021-09-14 18:39] eder-matheus commented on #542
My PR with the fixes for memory leaks was merged in Aug 2.

[2021-09-14 18:50] maliberty commented on #542
@donn this is back to you for an OR upgrade.

[2021-09-15 02:22] erictaur commented on #595
Hello @donn
Sorry for the late reply,

Thanks for clarifying some stuff!

However, I am not completely sure I understand your question,

But I can provide 2 things that are relevant to OpenROAD:

(1)
The `tool_metadata.yml` file (https://github.com/idea-fasoc/OpenFASOC/blob/main/.github/scripts/tool_metadata.yml) is being used at some point when the Makefile is pulling the docker image.

And in th

[2021-09-15 04:22] maliberty commented on #542
Actually 2021.09.15_03.22.49 seems to have a later version of OR.  @vijayank88 can you try that version?

[2021-09-15 06:09] donn commented on #595
Well, the confusion here stems from the fact there are two similarly named projects, Open**ROAD** and Open**Lane**. You're showing me an Open**ROAD** clone here. I need the Open**Lane** clone.

[2021-09-15 09:48] vijayank88 commented on #542
still stops at same error:
[NesterovSolve] Iter: 450 overflow: 0.820241 HPWL: 40104038173
[NesterovSolve] Iter: 460 overflow: 0.801261 HPWL: 43521142110
[NesterovSolve] Iter: 470 overflow: 0.789143 HPWL: 49929210183
[ERROR]: during executing: "openroad -exit /openLANE_flow/scripts/openroad/or_replace.tcl |& tee >&@stdout /openLANE_flow/designs/riscv_top/runs/Sep15Run/logs/placement/7-replace.log"

[2021-09-15 14:55] maliberty commented on #542
@vijayank88 previous you said "its passed nesteroSolve" so this is different from above.  Does the previous solution to that error not work anymore?

[2021-09-15 16:13] vijayank88 commented on #542
@maliberty if we use default size calculated from synthesis stage got failing with nestrosolve.
If I re-floorplan with manual size its get stop with below message:

[INFO GRT-0053] Routing resources analysis:
          Routing      Original      Derated      Resource
Layer     Direction    Resources     Resources    Reduction (%)
---------------------------------------------------------------
li1

[2021-09-16 13:54] erictaur commented on #595
Hello @donn

Though experimental, I followed the setup in https://github.com/The-OpenROAD-Project/OpenLane and it seemed to work. The only thing now is to explicitly provide the location of open_pdks to the python script we are currently running.

I'll see if I can get it to work.

Thanks @donn

FYI @mehdi

[2021-09-17 10:53] vijayank88 opened #611 "[WARNING]: The version of open_pdks installed not matching with openlane flow scripts"
### Description
Whenever I make PR for latest update or install in new path I'm getting this warning message. Last time #553 .. now mismatch for open_pdks. I have installed full-pdk.

### Environment
* Operating System Information: `uname -a` 20.04.1-Ubuntu
* Docker Version: `docker --version`
    * If you're using an alternative container service, please also include this information.
* OpenLane

[2021-09-17 11:09] donn commented on #611
This isn't a bug. This is a normal warning to show that the version of OpenLane you're using requires a different PDK version. You can `make pdk` to ensure you're using the PDK required by a specific OpenLane version.

[2021-09-17 11:09] #611 closed

[2021-09-17 11:26] vijayank88 commented on #535
With openlane tag 2021.09.09_03.00.48 IR drop calculation updated. we can see IR drop in 7-pdn.log.

[2021-09-17 11:26] #535 closed

[2021-09-17 11:52] donn commented on #595
Welp, best of luck.

[2021-09-17 11:52] #595 closed

[2021-09-17 11:53] donn commented on #585
Incorporated as part of #609, thanks

[2021-09-17 11:53] #585 closed

[2021-09-17 11:54] donn commented on #537
Fixed by #609

[2021-09-17 11:54] #537 closed

[2021-09-17 12:08] donn opened #612 "Power Ring On One Layer"
Requested by @shalan

### Prompt
The power ring currently has vertical straps on one layer and horizontal straps on the other, using vias in the middle. These vias add considerable resistance.

### Proposal
An option in OpenLane should be surfaced for the power ring to exist entirely on one layer.

### Alternatives
The original setup will continue to exist.

[2021-09-18 04:19] peijunh opened #617 "How to change the core_area and die_area of the project."
Hello, I am running my design with OpenLane flow. I specify the core area and die area in my config.tcl as below

However, the resulting .def file in floorplan keep giving me this: DIEAREA ( 0 0 ) ( 655195 665915 ) ;
When I open the design/mydesign/runs/18-09_01-38/config.tcl, I find that there are two sets of AREA. One set is at the top of this config.tcl, which is exactly what I write in my conf

[2021-09-18 09:17] vijayank88 commented on #617
@peijunh Use absolute keyword followed by your die size.  use below format. Refer floorplan readme for more options.

set ::env(FP_SIZING) absolute
set ::env(DESIGN_IS_CORE) "1"
set ::env(DIE_AREA) "0 0 7000 7000"
set ::env(CORE_AREA) "50 50 6950 6950"

[2021-09-18 15:49] donn commented on #617
As vijayank88 wrote.

[2021-09-18 15:49] #617 closed

[2021-09-19 06:48] peijunh opened #618 "mcon layer issue in Sky130 PDK causing no ap std::runtime_error"
### Description
Hello. I am using OpenLane to run my design. I use to way to determine the size of my design, one is to use the following config to set the size of it manually. For the running result, you can refer to the log titled with "The log for self defined FP_SIZING". The rebuild material is called  opentitan_soc_top_fp_sizing_absolute.zip

I then comment the AIE_AREA, CORE_AREA and use the

[2021-09-19 08:35] donn commented on #618
1. Issue template
2. Please link the design

[2021-09-19 16:41] peijunh commented on #618
I just link the design and update the template @donn . Please check if I need to do anything else

[2021-09-20 05:04] vijayank88 commented on #618
@peijunh  You can turn off the resizer timing optimization by setting set ::env(GLB_RESIZER_TIMING_OPTIMIZATIONS) 0 in your config.tcl and try once

[2021-09-20 17:03] peijunh commented on #618
@vijayank88 Thanks for your help. I set :env(GLB_RESIZER_TIMING_OPTIMIZATIONS) to 0. I try to set PL_TARGET_DENSITY as 0.7, 0.55(default), 0.4, 0.35, but they all give me routing congestion too high. So may I ask what else I should set?

[2021-09-20 20:34] peijunh commented on #618
Looks like setting the PL_TARGET_DENSITY to 0.2 will help to the congestion problem. But there is problem in the triton route
[code]

[2021-09-21 15:46] hpretl opened #620 "`make pdk`does not create ngspice in $PDK_ROOT/sky130A/libs.tech"
### Prompt
It would be good if `make pdk`would also setup the ngspice directory using open_pdk to allow for SPICE simulations.

### Proposal
I think that open_pdk allows this, and even does this by default. Not sure, why OpenLane does not do this by default (or at least offer an easy way instead of `make full-pdk`.

### Alternatives
Use open_pdk directly for setup of sky130A.

[2021-09-21 19:07] hpretl commented on #620
BTW, here is patch for `Makefile` that works. One just need to include the correct libraries.

[Makefile.patch.gz](https://github.com/The-OpenROAD-Project/OpenLane/files/7205602/Makefile.patch.gz)

[2021-09-22 10:24] donn commented on #618
We'll look into it.

[2021-09-22 10:59] #620 closed

[2021-09-23 09:17] vijayank88 commented on #587
With OL version 2021.09.19_20.25.16 able to resolve the issues and completed flow successfully.

[2021-09-23 09:17] #587 closed

[2021-09-23 11:22] donn commented on #618
Okay, you've only included a `def` file and a config script.
I need the actual RTL design files.

[2021-09-23 15:19] peijunh commented on #618
Hi, attached is the compressed file of my design, you can directly put it under openLANE_flow/design/ and run I think. I use the netlist that is flattened by yosys because there are too many source RTL.
[opentitan_soc.tar.gz](https://github.com/The-OpenROAD-Project/OpenLane/files/7218862/opentitan_soc.tar.gz)

[2021-09-27 06:04] akashpatil98 opened #625 "Make test failed"
### Description
I'm trying to setup the OpenLane environment by following the [documentation](https://openlane.readthedocs.io/en/latest/#running-openlane). But in the quick start, last command, when I run `sudo make test` I'm getting an error.

### Environment
* Operating System Information: `Ubuntu 18.04.6`
* Docker Version: `20.10.8, build 3967b7d`
* OpenLane Tag in use: `2021.08.23_04.04.57`

#

[2021-09-27 06:07] vijayank88 commented on #625
@akashpatil98 latest OL version is 2021.09.23_03.17.13. Try to update and check once again

[2021-09-27 08:23] akashpatil98 commented on #625
@vijayank88 Thank you very much! It worked.

Kind regards,
Akash Patil

[2021-09-27 08:23] #625 closed

[2021-09-27 12:36] vijayank88 opened #626 "Macro hardening failed at final routing"
### Description
I am trying to do macro hardening for riscv_core.
Same riscv_core I'm able to complete gds2 generation in 20min using OpenRoad-flow-scripts.
But in openlane flow got stopped at final routing stage after 65Hrs time.
logs shown at the end

### Environment
* Operating System Information: `uname -a` Ubuntu 20.04
* Docker Version: `docker --version` 20.10.8, build 3967b7d
 * OpenLane Ta

[2021-09-27 12:44] vijayank88 commented on #626
[riscv_core.zip](https://github.com/The-OpenROAD-Project/OpenLane/files/7236267/riscv_core.zip)

[2021-09-28 01:19] ahmednofal commented on #493
I believe this to be still persistent in version 2021.09.19_20.25.16
This is the traceback from the crash.
[code]
It is worth noting that I am using a json configuration file instead of the regular tcl file.
Contents of the config.json
[code]

[2021-09-28 11:34] ahmednofal opened #628 "Add `_PATH` postfix to all configuration variables that store the path of a file or a directory"
### Prompt
Currently there are configuration environment variables that store the paths to certain directories or files but do not have the `_PATH` postfix in the name of the variable which they should.
1. From a consistency stand point there should not be some variables that point to paths that have `_PATH` postfix and others that do not (which is the case right now)
2. From a usability stand poi

[2021-09-28 16:58] ahmednofal opened #629 "design configuration should be self contained, any relative paths should be resolved relative the configuration.tcl/.json location"
The config.tcl/config.json file contain variables that store certain paths, those paths should be resolved relative to the location of the configuration file itself not the location of the execution (from where flow.tcl was called)

So the configuration might include a path like this:

`../../../file.gds` this will be resolved during runtime in relation to where the flow.tcl script was called from

[2021-09-28 20:42] peijunh commented on #618
@donn Hello, may I ask what mistake I made in my design? Thanks.

[2021-09-29 02:59] donn commented on #618
Yeah I'm. Getting more or less the same errors. I'll have to try again after updating OpenROAD.

[2021-09-29 16:57] donn commented on #629
there is an environment variable called DESIGN_DIR that OpenLane exposes for precisely these situations. maybe there should be a way to expose it in json

[2021-09-29 18:13] donn commented on #543
Should be resolved now.

[2021-09-29 18:13] #543 closed

[2021-09-29 18:14] donn commented on #278
Stale, closed. Please create a new issue if this persists.

[2021-09-29 18:14] #278 closed

[2021-09-30 08:48] vijayank88 commented on #626
@donn with below update in config.tcl am able to complete the flow by 1Hrs18Min
set ::env(PL_TARGET_DENSITY) "0.35"
set ::env(GLB_RT_MAXLAYER) "5"

[2021-10-01 13:58] magicwave18 opened #632 "request for source codes of striVe SoC Family"
I didn't find the source codes of striVe  SoC Family when I was reading the paper "Building OpenLANE: A 130nm OpenROAD-based
Tapeout-Proven Flow". Could you please send a copy to my email: chenyu98@hust.edu.cn or 1277614190@qq.com. Thank you.

[2021-10-02 03:34] msaligane commented on #618
@donn Have you been able to try this with latest of OpenROAD?

[2021-10-02 03:35] msaligane commented on #596
@donn and @peijunh Any follow-up on this? this has been sitting too long..

[2021-10-02 05:46] akashpatil98 opened #634 "Issue with adding a new design"
### Description
Hi, I'm new to the OpenLane flow. I was following the instructions given in the [documentation](https://github.com/The-OpenROAD-Project/OpenLane/blob/master/designs/README.md) to use the openlane flow for a new design. I've installed OpenLane correctly and even viewed the generated gds files for `make test` to verify the installation.
But I'm not able to run it on a new design. Ple

[2021-10-04 05:13] vijayank88 commented on #634
@akashpatil98
Understand the error: ERROR: No such module: my_design
Your given RTL not having modue name my_design. Try to use your module and design name same in Open lane flow.

[2021-10-04 05:15] vijayank88 commented on #632
@magicwave18  I think you have to contact respective publisher for source codes or tag right person to reach this to get quick response

[2021-10-04 09:27] akashpatil98 commented on #634
Hi, @vijayank88 Thank you!
It is working perfectly after changing the module name in the Verilog file.

Kind regards,
Akash

[2021-10-04 09:27] #634 closed

[2021-10-04 14:38] donn commented on #596
A fix has been merged, can you try again and report back?

[2021-10-04 14:38] donn commented on #618
Have you?

[2021-10-04 14:42] msaligane commented on #618
I am assuming OL is pointing to the latest OR? so @peijunh please try again I guess.

[2021-10-04 14:43] donn commented on #618
Yup.

[2021-10-04 15:46] dralabeing commented on #626
@vijayank88 Can you share a few details of the flow commands in both ORFS and OL just to clarify? It looks like ORFS was able to complete without any changes to placement density and max route layer specification?

[2021-10-04 17:04] peijunh commented on #618
I clone OpenLane and build it from scratch. My commit now is shown below.
[code]

I run the flow again and get the following error.

[code]

I am not sure why there is such and error, so I go to OpenLane/docker_build/docker/openroad_app/Dockerfile and find that at line 118 the commit is not the newest.
[code]
May I ask how to fix this issue?

[2021-10-04 17:09] msaligane commented on #618
Thanks @peijunh
I think it is failing in detail route now. I think it says that there are no access pins for this pin: `periph_switch/u_s1n_10/DP_OP_12J5_122_1926/U11/A`

Can you check what instance is that? and check versus the LEF we have used in MPW-II ? Also, maybe share your test case.

I am tagging @maliberty (just fyi)

[2021-10-04 17:16] peijunh commented on #618
This is the design file

[opentitan_soc.tar.gz](https://github.com/The-OpenROAD-Project/OpenLane/files/7279963/opentitan_soc.tar.gz)

[2021-10-04 18:22] ahmednofal commented on #629
JSON is a static configuration file format, you can not use it to reference other preceding keys' values.

[2021-10-05 05:10] vijayank88 commented on #626
@dralabeing
By default ORFS and OLFS use 0.55-0.65 as placement density.
I've read some documents says if we have more register in our RTL we have to use placement density range 0.4-0.6 and moderate or no register we can use density range as 0.5-0.7.
riscv_core as more registers, so tried with 0.3 initially in ORFS and tool stopped and suggested to use 0.31 as placement density.
So I've used follo

[2021-10-05 05:23] maliberty commented on #626
What documents say that?

[2021-10-05 16:21] vijayank88 commented on #626
@maliberty  general physical design flow documents

[2021-10-06 12:08] mattvenn opened #636 "OpenSTA hang with tristate"
### Description

This bug was found by @anall. This reduced test case shows the issue:

https://github.com/anall/bug-openlane_hang/tree/reduced

OpenLane hangs at step 12 trying to print clock skew report.

### Environment

* Operating System Information: `uname -a`
Linux matt-desktop 5.11.0-37-generic #41~20.04.2-Ubuntu SMP Fri Sep 24 09:06:38 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux

* Docker Ver

[2021-10-06 13:49] mattvenn commented on #636
Here is the whole design: https://github.com/anall/sudoku-accelerator/tree/97e77a088f2bb9ecb7a40e3fa11b96c1ba332264
And this is the CTS log, where it shows it does identify the clock and makes a clock tree.

[12-cts.log](https://github.com/The-OpenROAD-Project/OpenLane/files/7294436/12-cts.log)

[2021-10-06 17:59] donn commented on #628
Not vibing with a breaking change for the sake of consistency, sorry. I vote no.

[2021-10-07 05:24] vijayank88 commented on #542
@dralabeing this design has 3 top level module. I hardened 1 core module and other 2 I used as it is. Still its failing at placement stage. I will blackbox all top level module and try it. I will update once flow complete successfully. Thanks

[2021-10-08 15:26] dineshannayya opened #638 "[ERROR DRT-0073] No ap for u_dac/inp1: Need more details on this error indication"
I am using efabless openlane for sky130nm project,  During flow i see openroad tool exiting with below error

[INFO DRT-0077]   Complete 1000 pins.
[ERROR DRT-0073] No ap for u_dac/inp1.
terminate called after throwing an instance of 'std::runtime_error'
  what():  DRT-0073

Need more details on ERROR

[2021-10-08 17:47] muscular-soreness-Zz commented on #625
@vijayank88 Thank you for pointing this change out. By the way, can you or someone else update the documentation?

[2021-10-08 21:38] maliberty commented on #638
Can you provide a packaged test case or at least a screen shot of the relevant pin?

[2021-10-09 05:59] dineshannayya commented on #638
Attached the pin screen shot and GDS/LEF of the block .. PIN: inp1 Location: 3.980 252.940 Micron

![OpenRoadIssue1](https://user-images.githubusercontent.com/8286294/136646006-7b26a3da-f4e1-4223-a6b6-0af4c926fb9e.png)
[8BITDAC.gds.gz](https://github.com/The-OpenROAD-Project/OpenLane/files/7315042/8BITDAC.gds.gz)
[8BITDAC.lef.gz](https://github.com/The-OpenROAD-Project/OpenLane/files/7315043/8BITD

[2021-10-10 06:24] dineshannayya commented on #638
Attached the test case
Run command: ./run_cmd

ERROR Message:
<pre>[INFO DRT-0077]   complete 1000 pins
[ERROR DRT-0073] no ap for u_dac/inp1
terminate called after throwing an instance of &apos;std::runtime_error&apos;
  what():  DRT-0073
</pre>

Let me know any additional information needed

[exp10.tar.gz](https://github.com/The-OpenROAD-Project/OpenLane/files/7316978/exp10.tar.gz)

[2021-10-11 04:19] maliberty commented on #638
![image](https://user-images.githubusercontent.com/761514/136732734-c238e3de-fc41-411d-a7ed-149ff8314675.png)

[2021-10-11 05:21] #638 closed, assigned to nobody

[2021-10-11 05:43] dineshannayya opened #639 "Latest Openroad compile fails with error: ‘class sta::dbSta’ has no member named ‘findLogicConstants’"
### Description
i Have pull the latest Openroad Project, Here is Git log details
<pre><font color="#C4A000">commit 92dd19146f4fb83f25387b05435a2ee770366afa (</font><font color="#06989A"><b>HEAD -&gt; </b></font><font color="#4E9A06"><b>master</b></font><font color="#C4A000">, </font><font color="#CC0000"><b>origin/master</b></font><font color="#C4A000">, </font><font color="#CC0000"><b>origin/HEAD

[2021-10-11 05:52] vijayank88 commented on #639
@dineshannayya can you share your config.tcl and src file

[2021-10-11 05:55] vijayank88 commented on #639
@dineshannayya close this  and post your GitHub issue  in OpenROAD forum :
https://github.com/The-OpenROAD-Project/OpenROAD

[2021-10-11 06:06] dineshannayya opened #640 "Openroad PDNgen halo issue, where it works in Older version OpenRoad"
### Description
I have using the Efabless openlane for detail routing, which uses openroad version:
<pre>1 eca774ae4c0f2b383f859887d9e5ddd608b6d3b3
</pre>

I see details route fails with MetSpc DRC violation around the SRAM memory generated by OpenPDK on Sky130 technology

Attached the setup at exp1.tar.gz, command: run_cmd

[exp1.tar.gz](https://github.com/The-OpenROAD-Project/OpenLane/files/7319

[2021-10-11 10:35] dineshannayya commented on #639
Yes, Issue resolved after pulling the git sub module

[2021-10-11 10:35] #639 closed

[2021-10-11 17:41] maliberty opened #642 "Enable the OR GUI"
Please enable the OR GUI in your docker build of OR.  You will need to have Qt installed in your container.  See https://github.com/The-OpenROAD-Project/OpenROAD/blob/master/etc/DependencyInstaller.sh for the OR setup.

[2021-10-11 20:41] maliberty commented on #640
@dineshannayya in the upper picture there is a large added red rectangle that isn't in the lower picture.  What is that shape part of?  I'm wondering if this is a pdngen change.

[2021-10-12 19:51] dhayalakumarm opened #644 "import odb doesn't have install component in ubuntu 20.4"
### Description
import odb shows error ModuleNotFoundError: No module named 'odb'

### Environment
* Operating System Information: `uname -a` : Linux 53ac478d9ddc 5.11.0-37-generic #41~20.04.2-Ubuntu SMP Fri Sep 24 09:06:38 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux
* Docker Version: `docker --version` :Docker version 20.10.9, build c2ea9bc

pip install odb shows "
ERROR: Could not find a version tha

[2021-10-12 22:13] #644 closed, assigned to nobody

[2021-10-13 09:17] dineshannayya commented on #640
@maliberty yes this looks to PDN issue, I see issue specific to SRAM Pads which are in MET4 and Vertical Power Rail is overlapping as in image below

![PDN-SRAM-Issue1](https://user-images.githubusercontent.com/8286294/137103883-3d5d088e-85f6-482c-9a15-4aac9e9238dc.png)

I see PDN tool is not taking account of FP_HORIZONTAL_HALO & FP_VERTICAL_HALO value

What update needed in PDN scripts when  SRA

[2021-10-13 13:10] donn commented on #640
God... @maliberty Any suggestions here?

[2021-10-13 17:03] Colin-Holehouse commented on #640
You can try out if setting ::halo is working by calling `pdngen::get_default_halo`
This should always return a 4 valued expressing the halo in db units

[code]

[2021-10-13 17:41] dineshannayya commented on #640
Thanks Colin, Issue resolved after defining ::halo before specif_grid_macro

![pdn_halo_fix](https://user-images.githubusercontent.com/8286294/137184703-ceac3595-8d05-4d2f-ba90-fd10f84291d1.png)

Issue need to fixed in sky130  PDK file : sky130A/libs.tech/openlane/common_pdn.tcl
Is this possible to share this issue with them ?

[2021-10-13 18:00] maliberty commented on #640
So this issue needs to be resolved by OL so back to @donn

[2021-10-14 15:29] dineshannayya opened #647 "Unable to rebuild the openroad application using make build-openroad_app command"
I am trying to rebuild the latest openroad tools using command : make build-openroad_app

Under folder: make build-openroad_app

Command Return with below error

<pre>make export-openroad_app
make[1]: Entering directory &apos;/home/dinesha/workarea/efabless/MPW-3/openlane/docker_build&apos;
rm -f tar/openroad_app.tar.gz &amp;&amp; echo &quot;Deleted existing tar/openroad_app.tar.gz&quot;
Deleted e

[2021-10-16 09:09] vijayank88 commented on #647
@dineshannayya Have you used
#git checkout master
#git pull
followed by your make command.
Or else list detailed steps what you used.

[2021-10-16 13:06] dineshannayya commented on #647
@vijayank88
My project is targeted to Efabless MPW-3 Shuttle and using openlane tag: 2021.09.19_20.25.16
Here is the git status
<pre><font color="#C4A000">commit 6905a12d2efe18502c37c3207b5ee84cdf720d9c (</font><font color="#3465A4"><b>grafted</b></font><font color="#C4A000">, </font><font color="#06989A"><b>HEAD</b></font><font color="#C4A000">, </font><font color="#C4A000"><b>tag: 2021.09.19_20.

[2021-10-16 16:53] donn commented on #647
Sorry... if you wanna build OpenROAD you're gonna have to move beyond the MPW3 version. A critical fix was merged lo, two days ago.

[2021-10-16 16:53] #647 closed

[2021-10-19 00:25] oharboe opened #652 "Include PDK into alternative docker image"
### Prompt
OpenROAD has the capability to include the PDK into the docker image, this is a nice deployment feature.

### Proposal
Two docker images should be built, one with and one without the PDK files

### Alternatives
Deployment for pre-built OpenLane is trickier without this feature. The user already has a transport mechanism for the Docker image, now he needs a second to download the PDK.

[2021-10-19 09:01] donn commented on #652
I actually want to do this, not as an "alternative image," but all images period. For context, the reason we don't include it is that the final built PDK is relatively large. The downside to not including it here is that the PDK also takes forever to build (and is finicky to hook up). It's essentially a tradeoff between pull/clone time and compute time, but honestly, I'm leaning towards just throw

[2021-10-19 11:02] mattvenn commented on #640
this also seems to result in the PDN being routed such that 1 in every 4 vertical straps (VSSD1) goes right up to the edge of the macro.

[2021-10-20 14:05] BYCakar opened #655 "Diode Insertion Problem at TritonRoute"
### Description
To reduce antenna violations, I tried the configuration DIODE_INSERTION_STRATEGY = 5. When I did that, I got an error message in detailed routing phase. The log file is full of these warning messages, which can be seen in attachments.
[code]
Flow successfully finishes when DIODE_INSERTION_STRATEGY = 3. In that case there is no diode usage. It seems like the problem is with diode us

[2021-10-20 15:00] maliberty opened #656 "provide tarball instructions"
The current issue template for bug has:

### Reproduction Material
* Upload a tarball containing the relevant design.
* List the commands used to run the design.

Please put a description of how to run the tarball generator in OL so people create proper reports.  Mostly people just link to their github repo which puts too much burden on the developer to recreate the problem (eg #655)

[2021-10-20 16:17] nguyendao-uom opened #657 "Global Placement error: RePlAce diverged at newStepLength"
### Description
I got the [ERROR GPL-0305] RePlAce diverged at newStepLength during Global Placement. I've tried all of the following options but still got the error:
The DIE_AREA is set much larger than the core area (macros + std_cells)
Tested with the `set env::(PL_TARGET_DENSITY)` = 0.3, 0.2 or 0.65
Set Halo to 50 (FP_HORIZONTAL_HALO, FP_VERTICAL_HALO) and channel width (between macros) to 5,

[2021-10-20 19:31] donn commented on #656
Aye aye.

[2021-10-20 19:36] #640 closed

[2021-10-21 06:23] dineshannayya opened #658 "CTS:: run_resizer_timing stage over-write the Synthesis netlist"
During Synthesis **Output** =>  results/synthesis/*.synthesis_optimized.v
CTS  :: **run_cts** stage Output =>  results/synthesis/*.synthesis_cts.v
CTS ::  "run_resizer_timing" **Output**=> results/synthesis/*.synthesis_optimized.v  <= This over-write the Previous Synthesis netlist

The issue look to be due to File: scripts/tcl_commands/placement.tcl
proc run_resizer_timing {args} {
...
...
**write

[2021-10-21 07:38] vijayank88 commented on #658
@dineshannayya Just modify as per your need this write_verilog $::env(yosys_result_file_tag)_optimized.v to each stage and read same tag in next stage of flow.
Current stage CTS mean update to: write_verilog $::env(cts_result_file_tag)_optimized.v
But make sure reading same tag in next stage, by default scripts look for write_verilog $::env(yosys_result_file_tag)_optimized.v

[2021-10-21 08:24] donn commented on #655
What version of OpenLane are you using?

[2021-10-21 10:55] vijayank88 commented on #658
@dineshannayya Understood your query.
In automated flow during placement read_verilog points synthesis.v. Post placement optimization write_verilog saved in _optimized.v. This is your CURRENT_NETLIST
While run_cts step verilog file written in _cts.v and this is your current netlist. Post CTS optimization i.e run_resizer_timing write_verilog happening and overwritten _optimized.v again.
Refer logs/

[2021-10-21 10:56] dineshannayya opened #671 "High Clk Skew number observed with Latest OpenRoad CTS Tool"
Openroad version:  v2.0-1424-gf864efbae

I am trying to harden small design with Openlane flow with MPW-3 Tag.  I see  Clk Skew number in order of 2.33ns.
If if use the same design in Openlane:RC7 tag the skew number are with-in 0.12ns or 130ps

1) Here is the Clock Skew Number with Openroad version:  v2.0-1424-gf864efbae
<pre>Clock bist_clk
Latency      CRPR       Skew
_1822_/CLK ^            3.6

[2021-10-21 11:02] dineshannayya commented on #658
Yes vijayank, I was bit confused with your previous comment: "follow instructions and share tar ball here" I thought you are looking for example setup from my side,

[2021-10-21 11:39] vijayank88 commented on #658
@dineshannayya  if your query resolved mean close this issue.

[2021-10-21 13:11] oharboe opened #660 "Expired certificate from klayout.org"
### Description

[code]

[2021-10-21 17:04] dralabeing commented on #626
@vijayank88 This time it fails in detailed placement not in DRT as previously reported? Please share details of your problem and debugging flow to show root cause.

[2021-10-21 18:18] dralabeing commented on #660
@vijayank88 Could you please check if this is a Centos 7 specific issue or something related only to a docker build ?

[2021-10-21 18:21] donn commented on #660
I've already addressed this issue in an upcoming branch: @vvbandeira already figured out a fix that we use for building OpenROAD, namely, `yum update ca-certificates`.

Bypassing SSL is setting off an unbelievable amount of alarms for me. We'll wait for a proper fix to be merged.

[2021-10-21 18:24] oharboe commented on #660
Very good!

Yes: don't merge my hack, it was labled as "DO NOT MERGE".... It was just to test something locally and verify that I had identified all the problems.

[2021-10-22 03:24] maliberty commented on #657
The challenge is that there is no placement sites in the channel so some instances coming from global placement are nowhere near a legal site.  Our usual strategy of just pushing instance off of any overlapping macro doesn't work as there are no nearby sites.

I'll work on an detailed placer enhancement to find a nearest site to seed the search.  In the meantime you could make your channels wide e

[2021-10-22 09:37] oharboe opened #666 "Add asap7 pdk"
### Prompt
Add asap7 pdk to the build process

### Proposal

```make pdk``` should install asap7 pdk

[2021-10-22 14:16] donn opened #669 "Update Yosys"
### Prompt
OpenLane’s SystemVerilog support is restricted by its older version of Yosys.

### Proposal
Yosys should be updated. The issue here is though is that some designs break for reasons I cannot yet discern. This isn’t an MPW3 merge window thing, obviously.

[2021-10-23 12:30] cloudxcc opened #670 "Max fanout default considered ?"
I'm wondering if the max fanout default = 5 setting is considered at all. For example, the default regression output of the zipdiv design shows fanouts > 10 (for all synthesis results, including zipdiv.synthesis_preroute.v):

Report: _0081_: 32
Report: pre_sign: 68
Report: r_busy: 65

It can be verified by running the design and by making a grep of the above signals on the synthesis results netlis

[2021-10-30 10:05] dineshannayya commented on #671
@donn I have cross-checked the setup in https://github.com/efabless/openlane, with mpw-3a tag.  I still see large Clock Skew of 1.74 ns which looks to be in the high end.
<pre>Clock bist_clk
Latency      CRPR       Skew
_2021_/CLK ^    3.86
_2039_/CLK ^      2.12
                          0.00       1.74
</pre>

When i report timing on these highest skew reporting path, it looks to be around 0.51n

[2021-10-30 10:33] donn commented on #671
@Manarabdelaty fyi

[2021-10-30 13:27] d-m-bailey opened #683 "flow.tcl no longer handles multiple simulation libraries."
### Description
An attempt to copy `LIB_SYNTH_COMPLETE` as a file fails because it may be a list of files.
In `scripts/tcl_commands/all.tcl`
[code]
For reference, here is how `SYNTH_LIB_COMPLETE` is handled in `scripts/tcl_commands/synthesis.tcl`
[code]
From slack thread started by Sribooshan Srinivasan
https://skywater-pdk.slack.com/archives/C016H8WJMBR/p1635575865070700

### Environment
The actu

[2021-11-01 14:20] abdullahyildiz opened #688 "How to fix hold violations"
I get the following output while running the flow:

[code]

Is there any configuration variable to add into config.tcl to fix these violations?

[2021-11-01 15:49] nguyendao-uom commented on #657
@maliberty Have you got any update on "detailed placer enhancement to find a nearest site to seed the search" as mentioned?
It's weird that some buffers were placed in the channel (see picture below), which expected to be empty with `FP_HORIZONTAL_HALO` and `FP_VERTICAL_HALO`?
Also, when I made the channel wider, it passed the placement but got routing congestion. Do you have any idea/suggestions

[2021-11-01 15:52] maliberty commented on #657
Sorry some other interrupts took priority.   I think the interesting case is with wider channels and global routing.  The global router is tuned to more general routing and likely overestimates congestion for this specialized case.  You might try -allow_overflow as a workaround.

[2021-11-01 15:59] maliberty commented on #657
The narrower channels will require enhancing the detailed placer (it assumes there will be sites in between macros in its current heuristics).  However do you have a strategy to handle the tapcell rules with these channels as no tapcells can be inserted into the channels?

[2021-11-01 16:00] donn commented on #688
https://docs.google.com/document/d/13J1AY1zhzxur8vaFs3rRW9ZWX113rSDs63LezOOoXZ8/edit?usp=sharing

[2021-11-01 16:00] #688 closed

[2021-11-01 16:14] nguyendao-uom commented on #657
You mean the distance between the tapcells? they are in all the macros with sufficient offsets and distances, adding a narrow channel should be fine (I expect).

[2021-11-01 16:41] maliberty commented on #657
It depends how wide the channels are and how close to the macro edge the tapcells are.

[2021-11-02 19:46] KHermanUBB opened #690 "Flow fails at Antenna Violations repair"
### Description
Flow fails at Antenna Violations repair using options of GLB_RT_MAX_DIODE_INS_ITERS 2-5.
If the GLB_RT_MAX_DIODE_INS_ITERS  is equal to 0 or 1 the flow passes, however, reports few antenna violations.
Number of pins violated: 8
Number of nets violated: 8

### Environment
[code]

### Reproduction Material
The design is here:
https://github.com/KHermanUBB/SSCS-SoC

### Expected behav

[2021-11-04 14:55] dineshannayya opened #692 "PL_TIME_DRIVEN=1 mode is broken"
For future searchers: the workaround is to add:

`set ::env(SYNTH_DRIVING_CELL) "sky130_fd_sc_hd__inv_2"`

to your design's config.

Original issue as follows:
---
Time Driven Placement mode is broken in openlane setup  (script: or_replace.tcl)

Run fails with below error message,

<pre>[INFO ODB-0134] Finished DEF file: input/6-pdn.def
[ERROR STA-0573] &apos;sky130_fd_sc_hd__inv_1&apos; not found

[2021-11-04 16:45] donn commented on #692
Issue template.

[2021-11-04 17:25] dineshannayya commented on #692
@donn not clear on the response .. Is issue is in my script ?

[2021-11-04 17:26] donn commented on #692
To file issues on the OpenLane repository, you need to adhere to the bug report template GitHub provides.

[2021-11-05 10:15] vijayank88 commented on #683
@donn @d-m-bailey
While executing
Executing "/openLANE_flow/scripts/libtrim.pl { /home/vijayan/OPEN_LANE_FLOW/7c395e1_OPENLANE_Au15/OpenLane/pdks/sky130A/libs.ref/sky130_fd_sc_hvl/lib/sky130_fd_sc_hvl__tt_025C_3v30.lib /home/vijayan/OPEN_LANE_FLOW/7c395e1_OPENLANE_Au15/OpenLane/pdks/sky130A/libs.ref/sky130_fd_sc_hvl/lib/sky130_fd_sc_hvl__tt_025C_3v30_lv1v80.lib } /openLANE_flow/designs/spm/runs/sc

[2021-11-05 11:17] vijayank88 commented on #692
@dineshannayya
Provide survey details by using below command in $OPENLANE_FLOW directory
python3 ./env.py issue-survey

@donn
This issue is easily reproducible with just adding PL_TIME_DRIVEN=1 in config.tcl of test designs

[2021-11-05 12:07] dineshannayya commented on #692
@vijayank88 My design is not within Opelane Design folder and it's of Efabless MPW-3 Shuttle directory structure.
As you pointed test fails in any design with just adding PL_TIME_DRIVEN=1 in config.tcl

[2021-11-06 01:04] PhilipCJ20 opened #693 "make test not sucessfull"
$ git clone https://github.com/The-OpenROAD-Project/OpenLane.git
$ cd OpenLane/
$ make openlane
$ make full -pdk
$ make test
I have followed the steps provided in the githhub. I am using a tensor book (lambda with ubuntu 20, latest version). Also provided the absolute path to the pdks. Below i have attached the terminal screen showing openlane unsuccessful. Please help. I do not know what is the r

[2021-11-06 01:14] dralabeing commented on #671
@dineshannayya Can your try with the MPW-3a release tag? This is most likely fixed.

[2021-11-06 02:43] d-m-bailey commented on #693
@PhilipCJ20 This appears to be caused by an older version of openroad being used. These kind of problems are usually automatically resolved in a day or two when programs are synced.

I manually updated openroad and `make test` ran to completion.

In `dependencies/tool_metadata.yml` change the openroad commit.
[code]
Then
[code]

[2021-11-06 03:02] dineshannayya commented on #692
@donn Here is the issue survey report generated at my openlane folder.

[issue.survey.rpt.gz](https://github.com/The-OpenROAD-Project/OpenLane/files/7489766/issue.survey.rpt.gz)

[2021-11-06 09:17] PhilipCJ20 commented on #693
@d-m-bailey , i followed the same commands but its still returning the error. Please have a look.
make test
cd /home/philip/Philip/Studies/VLSI_Open_source_tools/vsdflow/work/tools/OpenLane && \
	docker run --rm -v /home/philip/Philip/Studies/VLSI_Open_source_tools/vsdflow/work/tools/OpenLane:/openlane -v /home/philip/Philip/Studies/VLSI_Open_source_tools/vsdflow/work/tools/OpenLane/pdks:/home/phi

[2021-11-06 21:30] PhilipCJ20 commented on #693
@d-m-bailey
Thanks a lot Bailey. it worked with the new change you mentioned. Please have a look into the terminal.

make test
cd /home/philip/Philip/Studies/VLSI_Open_source_tools/vsdflow/work/tools/OpenLane && \
	docker run --rm -v /home/philip/Philip/Studies/VLSI_Open_source_tools/vsdflow/work/tools/OpenLane:/openlane -v /home/philip/Philip/Studies/VLSI_Open_source_tools/vsdflow/work/tools/Open

[2021-11-07 09:27] #660 closed

[2021-11-07 09:40] donn commented on #692
Thanks, we'll investigate.

[2021-11-07 15:28] vvbandeira opened #694 "Building docker image ignores build-arg"
https://github.com/The-OpenROAD-Project/OpenLane/blob/18a17f40742879c88cd6393e540f148a8738102e/docker_build/docker/openroad_app/Dockerfile#L47-L48

I think these arguments need to be globally defined. See similar issue [here](https://github.com/moby/moby/issues/38379#issuecomment-448445652).

I have noticed that in our Jenkins pipeline we pass the correct commit hash:
[code]

But during the build,

[2021-11-07 18:24] donn commented on #694
Can you verify that? The Docker log will always show the default value for the ARG when it's time to print the step. Please check the commit of the actual OpenROAD binary produced.

[2021-11-07 18:24] #693 closed

[2021-11-07 20:23] vvbandeira commented on #694
Yeah, sorry. I had a similar issue with build-args and just assumed here.
Looks like PR #630 broke our Jenkins script when `CURRENT_TAG -> OPENLANE_TAG`, but since make does not warn or error out when passing garbage the CI kept green.

[2021-11-07 20:23] #694 closed

[2021-11-08 09:39] nguyendao-uom commented on #657
@maliberty can we set a Halo just for a particular block in Openlane? Btw, any chance for an Openlane update to resolve this issue (wrong placement when the channel is narrow) by this week? We actually keen to have open everything for the mpw-3 shuttle run. Thanks

[2021-11-08 11:39] dineshannayya commented on #692
@donn

I see issue resolved once i update the driving cell from sky130_fd_sc_hd__inv_1 to sky130_fd_sc_hd__inv_2 in the SDC

Look like new STA tool may be moved the Warning to ERROR for Missing cells.

I feel OPELANE default value of of SYNTH_DRIVING_CELL need to changes
set ::env(SYNTH_DRIVING_CELL) "sky130_fd_sc_hd__inv_1"
                          to
set ::env(SYNTH_DRIVING_CELL) "sky130_fd_sc_

[2021-11-08 16:55] maliberty commented on #657
OR allows per block halos, not sure about the OL interface to do so.

I'll give it higher priority since you are in mpw-3.  Given the short time I think it is best to stick with the bigger channels for now and focus on the routing issues.

[2021-11-08 17:05] nguyendao-uom commented on #657
Thanks @maliberty. I don't see the option for a single block halo in OL?
Do we also have set_dont_touch constraint for the net in OL? I just want to tool do not insert buffers between macro's IOs.
In the mean time, I'll try abutting pin option and/or widening the channels

[2021-11-09 03:23] dineshannayya opened #695 "Magic LEF/DEF Based DRC check fails where as GDS DRC check passes"
### Description

Openlane support two way of MAGIC DRC check 1) LEF/DEF and 2) GDS using the environmental variable MAGIC_DRC_USE_GDS
I see GDS base DRC check passes, while as LEF/DEF based DRC fails with Error

### Environment
[code]

### Reproduction Material
1. make sure that $PDK_ROOT is configure to PDK path where Sky130A installed
2. Use run command to reproduce the issue: run_cmd
[exp2.tar.

[2021-11-09 12:10] vasanthramuk opened #696 "run_time error during routing"
[temp_digital_or_droute_packaged.tar.gz](https://github.com/The-OpenROAD-Project/OpenLane/files/7504510/temp_digital_or_droute_packaged.tar.gz)

### Description
I am using sky130 as PDK with OpenLane. During the flow, I encountered an error in routing. It reports "[ERROR DRT-0073] No ap for _535_/SET_B" where SET_B is a not a Macro port but a standard cell's port.

### Environment
[code]

### Expe

[2021-11-09 13:15] vijayank88 commented on #696
I ran user source verilog code directly in openlane flow got stopped with below error:
[code]

[2021-11-09 20:05] maliberty opened #697 "rewrite or_replace.tcl to use global_placement command not low-level swig"
### Description
In or_replace.tcl you should be using the global_placement command not mucking around with the swig layer.  The current code for PL_ROUTABILITY_DRIVEN is wrong and routability can't be turned off.  Please replace all this with a proper command invocation.

### Environment
latest

### Reproduction Material
any design

### Expected behavior
match OR

### Logs
None

[2021-11-09 23:31] ghost opened #698 "new custom pdk integration to openlane"
Is it possible to make designs with a custom pdk on this platform and to do that what should be done if yes?

[2021-11-10 00:45] dralabeing commented on #642
@donn Could you please provide an ETA on this? GUI is becoming increasingly important based on several user requests

[2021-11-10 00:51] dralabeing commented on #692
@donn looks this issue can be closed with the user suggestion of setting default value for SYNTH_DRIVING_CELL

[2021-11-10 00:58] dralabeing commented on #683
@vijayank88 Please test the version of the script or_replace.tcl to see what string format is accepted for the trimmed.lib and suggest changes to fiz.

[2021-11-10 06:40] vijayank88 commented on #696
@Stephanommg  if you need source verilog code let me know. I will share with you. Thanks

[2021-11-10 07:33] vijayank88 commented on #692
@dralabeing  as per default setting in Openlane SYNTH_DRIVING_CELL set to sky130_fd_sc_hd__inv_8
sky130_fd_sc_hd__inv_1 is in no_synth_cells list.

For MPW 3 openlane SYNTH_DRIVING_CELL set to sky130_fd_sc_hd__inv_1. Also sky130_fd_sc_hd__inv_1 is in no_synth_cells list.

Is that root cause for problem?

[2021-11-10 09:48] dineshannayya commented on #692
@vijayank88
Using MPW-3 Openlane , I see generated config file has
set ::env(SYNTH_DRIVING_CELL) "sky130_fd_sc_hd__inv_1"
Not sure where it controlled the default setting inside the openlane script folder ?

[2021-11-10 10:36] donn commented on #692
I must admit I'm a bit out of my depth on this matter. @Manarabdelaty weigh in?

[2021-11-10 14:51] RTimothyEdwards commented on #695
I would like to add that the specific problem here is that the OpenROAD router appears not to honor the wide-spacing rules between the routes and the obstruction layers defined in the macros.  There happen not to be any actual DRC errors because the obstruction layers extend out further than any of the internal routes, but that does not invalidate the issue, since the router should be maintaining

[2021-11-10 16:58] nguyendao-uom commented on #657
Hi @maliberty, Have you tried to resolve the placement issue for the narrow channel? I have tried abutting the pins and seems all the pins are well aligned. That will resolve the issue of overestimates congestion.
But again, the wrong placement is preventing us to stitch the tiles using OL. It would be great if we can fix this issue soon.
Thanks

![fabric_wrong_placement](https://user-images.githu

[2021-11-10 17:56] dralabeing commented on #696
@vijayank88 You were able to run this successfully in ORFS right?

[2021-11-10 17:56] maliberty commented on #657
You can work around the detailed placement problem for now by using -max_displacement.  I found on your case 2000 removed the failures.  It will slow down placement but for this small designs it is ok.

[2021-11-10 18:36] nguyendao-uom commented on #657
Where should I add that option to? Thanks

[2021-11-10 18:49] maliberty commented on #657
The detailed_placement command.

[2021-11-10 19:33] donn commented on #626
For timing violations, please follow Dr. Shalan's timing document: https://docs.google.com/document/d/13J1AY1zhzxur8vaFs3rRW9ZWX113rSDs63LezOOoXZ8/edit#heading=h.9y68197ebff7

This is not a bug with OpenLane. This is something that will need some experimentation to achieve closure.

[2021-11-10 19:33] #626 closed

[2021-11-10 19:37] donn commented on #696
Tracking this in #618. This isn't an issue with OpenLane or OpenROAD per se, it's with the sky130 PDK.

[2021-11-10 19:37] #696 closed

[2021-11-10 19:59] donn opened #699 "Designs failing in extended test set"
### Description
A number of designs are failing in the extended test set.

SHA512 has... issues but the hold violations need timing... massaging.

- aes_cipher: hold violations
- ldpcenc: hold violations
- aes_core: hold violations
- aes128: hold violations
- sha512: lvs failure

### Environment
[code]

### Reproduction Material
N/A

### Expected behavior
They should succeed.

### Logs
[code]

[2021-11-10 20:11] Stephanommg commented on #696
I actually discovered the bug and it is because the router understands that all ports of a pin should have some access point, but this is not correct (AFAIK), we need at least one port with some access point.

[2021-11-10 21:15] maliberty commented on #696
@Stephanommg  This is a standard cell with multiple PORTS in LEF?

[2021-11-10 21:16] maliberty commented on #696
@donn how do you know this is the same as #618 ?

[2021-11-10 21:21] maliberty commented on #657
FYI, the detailed placement problem is addressed in https://github.com/The-OpenROAD-Project/OpenROAD/pull/1292 (pending code review).

[2021-11-10 21:23] donn commented on #657
If it's not too much of a hassle, drop me a slack message when it's merged?

[2021-11-10 22:52] antonblanchard commented on #697
I submitted https://github.com/The-OpenROAD-Project/OpenLane/pull/700 before I noticed this, which is obviously the better path to take.

FYI that isn't the only issue, @jjcherry56 points out the timing driven mode is missing wire RC values: https://github.com/The-OpenROAD-Project/OpenROAD/issues/1271#issuecomment-964694950

[2021-11-11 00:21] antonblanchard commented on #697
It looks like [or_groute.tcl](https://github.com/The-OpenROAD-Project/OpenLane/blob/master/scripts/openroad/or_groute.tcl) should be updated as well.

[2021-11-11 00:48] jjcherry56 commented on #697
I don't a problem in or_groute.tcl because it is using global routing parasitics.

[2021-11-11 01:55] dralabeing commented on #655
@vijayank88 - Can you run this test case and check to see if the antenna violations persist with the latest OL Tag?

[2021-11-11 02:04] dralabeing commented on #692
@vijayank88 can you test this with a different setting for the SYNTH_DRIVING_CELL  to a cell that is is not in the no_synth_cells list and see if this passes the flow

[2021-11-11 03:39] dineshannayya commented on #692
@dralabeing  Yes issue is due the SYNTH_DRIVING_CELL set to sky130_fd_sc_hd__inv_1 and which intern make generated SDC with driving cell set to sky130_fd_sc_hd__inv_1.

Run with PL_TIME_DRIVEN=1 mode fails with below ERROR

[INFO ODB-0134] Finished DEF file: input/6-pdn.def
[ERROR STA-0573] 'sky130_fd_sc_hd__inv_1' not found.
Error: 3-verilog2def.sdc, 153 STA-0573

Issue resolved once i changed th

[2021-11-11 06:06] vijayank88 commented on #692
@dralabeing  @donn Only this issue comes with caravel platform mpw-3a tag with PL_TIME_DRIVEN=1.
Option 1: Workaround is make this as document
[code]
Option 2: configuration/README.md:| `SYNTH_DRIVING_CELL`  | The cell to drive the input ports. <br>(Default: `sky130_fd_sc_hd__inv_1`)| change it to default sky130_fd_sc_hd__inv_8 as we followed in OpenLane repo.

[2021-11-11 06:19] vijayank88 commented on #683
@dralabeing  @donn
With openlane sky130_fd_sc_hd STD_CELL_LIBRARY by default LIB_SYNTH set to sky130_fd_sc_hd__tt_025C_1v80.lib. See doc reference:
[code]
If user changing STD_CELL_LIBRARY to sky130_fd_sc_hvl user has to select LIB_SYNTH for PVT corner by setting below as one example. Like this user can select any available PVT libraries.
[code]
User has to take care of this setting. Also this sho

[2021-11-11 09:58] vijayank88 commented on #696
yes. I am able to complete the flow with ORFS

[2021-11-11 10:22] vijayank88 commented on #655
@dralabeing yes with latest OL tag 2021.10.25_20.35.00-11-g18a17f4 got same issue as user reported.

@BYCakar  with default DIODE_INSERTION technique passed flow successfully, why you're trying DIODE_INSERTION_STRATEGY = 5 again. Can your share number of antenna violation left with DIODE_INSERTION_STRATEGY = 3 and flow_summary.log to understand your issue?

[2021-11-11 10:51] nguyendao-uom commented on #657
Thanks @maliberty. That works for the overlapping errors. That option also is needed when running cts for placing the clock buffers.
Now it's stuck at routing step caused by "out of memory". I have tried with `$export DOCKER_SWAP=-1` and`$export DOCKER_MEMORY=64gb` but does not work.
Any suggestions to resolve it?

[code]

[2021-11-11 13:03] Stephanommg commented on #696
yes

[2021-11-11 14:57] maliberty commented on #657
"/openLANE_flow/designs/eFPGA_top/runs/std_mux4/tmp/routing/17-fastroute.def does not exist."  doesn't seem to be a out of memory issue.  What makes you say it is oom?

[2021-11-11 14:58] BYCakar commented on #655
I've updated my design but same problem still exists. Thus I uploaded my latest run's antenna report and flow summary files.
[antenna_and_summary.zip](https://github.com/The-OpenROAD-Project/OpenLane/files/7521230/antenna_and_summary.zip)

[2021-11-11 15:00] maliberty commented on #657
@donn merged The-OpenROAD-Project/OpenROAD#1292

[2021-11-11 15:01] maliberty commented on #696
@Stephanommg what cell / pin is this?

[2021-11-11 15:03] maliberty commented on #655
This still needs a packaged test case in order to make any progress.  Logs & reports are not enough.

[2021-11-11 15:08] nguyendao-uom commented on #657
It showed in log file above, the first error

[2021-11-11 15:39] Stephanommg commented on #696
inst: _523_
term: SET_B

[2021-11-11 16:41] maliberty commented on #657
@donn the flow should not continue after a step fails due to oom

@nguyendao-uom would you package this at the global_route step?

[2021-11-11 17:22] nguyendao-uom commented on #657
@maliberty Please check this
[std_mux4_or_groute_packaged.tar.gz](https://github.com/The-OpenROAD-Project/OpenLane/files/7522157/std_mux4_or_groute_packaged.tar.gz)

[2021-11-11 17:37] #655 closed

[2021-11-11 17:43] dralabeing commented on #683
@donn can you role this fix for or_replace.tcl for the changes you plan to make or should @vijayank88 make a pr?

[2021-11-11 17:51] donn commented on #683
pr

[2021-11-11 18:21] maliberty commented on #696
File https://github.com/google/skywater-pdk/issues/343

[2021-11-12 05:18] maliberty commented on #657
@eder-matheus would you take a look at this newest groute issue.  I see grt stays at <1G mem through routing but the memory starts shooting up during antenna fixing.

[2021-11-12 07:59] vijayank88 commented on #683
@donn  @dralabeing I've missed "$::env(PDK_ROOT)/$::env(PDK)/libs.tech/openlane/$::env(STD_CELL_LIBRARY)/config.tcl" is the file having LIB_SYNTH library to read.
sky130_fd_sc_hd/hs/ms/ls/hdll all point to single LIB_SYNTH file. Only sky130_fd_sc_hvl has two LIB_SYNTH file.
[code]

OL flow works fine for single LIB_SYNTH with file copy. If more then one library, it should merged into single librar

[2021-11-12 11:16] #642 closed, assigned to donn

[2021-11-12 12:16] donn opened #704 "Floorplanning logs still call some steps verilog2def"
### Prompt
Title.

### Proposal
Rename the logs to something more appropriate.

[2021-11-12 17:38] dralabeing commented on #683
@vijayank88 thanks for the investigation. Best that an OL team member fixes this based on the above

[2021-11-13 09:05] donn commented on #704
#709

[2021-11-13 09:05] #704 closed

[2021-11-13 14:43] KHermanUBB opened #710 "Flow crashed at STA Multicorner - segmentation fault in the newest docker image tag: 2021.11.13_01.43.55"
### Description
Happy to see that there is a multi-corner analysis however it fails on the SS corner

### Environment
[code]

### Reproduction Material
https://github.com/KHermanUBB/cup-eco.git

### Expected behavior
Clean pass

### Logs
[code]

[2021-11-13 15:14] donn commented on #710
Thank you for the report- we'll investigate.

[2021-11-15 13:25] vijayank88 commented on #698
@msaideroglu Refer the link https://github.com/The-OpenROAD-Project/OpenLane/blob/master/docs/source/PDK_STRUCTURE.md for an expected PDK structure by OpenLane flow.

[2021-11-17 05:47] vijayank88 commented on #683
#714 still not fixes this issue.
Error log:
[code]

How to reproduce:
set ::env(STD_CELL_LIBRARY) "sky130_fd_sc_hvl"
set above variable in designs/spm/config.tcl and execute
$./flow.tcl -design spm
Will reproduce same error as above

Requirement: Successful GDS generation

[2021-11-17 09:26] vijayank88 commented on #670
@cloudxcc as per zipdiv config.tcl fanout values are:
set ::env(CLOCK_BUFFER_FANOUT) "16"
set ::env(SYNTH_MAX_FANOUT) "6"
I checked fastroute.log and fanout values within this value only.
So closing this issue. If you've issue re-open this again with valid log file.

[2021-11-17 09:26] #670 closed

[2021-11-17 11:32] nguyendao-uom commented on #657
@eder-matheus any updates from your end? thanks

[2021-11-17 11:58] donn commented on #657
@maliberty @nguyendao-uom We're still blocked on a number of issues when it comes to merging the latest version of OpenROAD: Primarily, https://github.com/The-OpenROAD-Project/OpenROAD/issues/1309, but I'm not shocked if more pop up later…

[2021-11-17 15:39] cloudxcc commented on #670
I'm not a flow expert, but any netlist in the reports\synthesis results directory on any medium or larger size project I have been toying with so far has fanout violations, somtimes even > 100 depending on the RTL.

The zipdiv testcase is an example when you do a grep on the signal pre_sign.

So either the netlists are not the one implemented or the fanout.log file is wrong. But as I said, I'm not

[2021-11-17 15:54] dineshannayya opened #718 "Support for overriding the module parameter during synthesis"
### Prompt
When Generic IP which has multiple parameter over-ride option, it would be better to provide module parameter over-ride during synthesis.

Yosys supports the `chparam` command to override the module parameter.

[code]
This module parameter option is not supported in the OpenLane flow.

### Proposal
Add additional environmental variable like : SYNTH_PARAMS

[code]

[synth.txt](https://gi

[2021-11-17 19:29] donn commented on #602
@d-m-bailey Does https://github.com/The-OpenROAD-Project/OpenLane/pull/686 address this?

[2021-11-18 10:38] vijayank88 commented on #636
@mattvenn with suduku_puzzle design I'm able to complete the flow without any issue using openlane tag 2021.11.17_01.42.05.

[2021-11-20 14:37] msaideroglu opened #725 "getting Segmantation fault (core dumped) error during magic compile"
When I try to check spm design test results in /openlane/designs/spm/../results/magic, the result of "magic spm.mag", or "magic -rcfile sky130A.magicrc"
it gives -Segmentation fault (core dumped) error
->When I reinstall magic, it solved.

[2021-11-20 17:57] #725 closed

[2021-11-23 13:58] #303 closed

[2021-11-23 14:55] hpretl opened #727 "Flow fails when using inverter example with sky130_fd_sc_hvl"
### Description

Tried to run the stock `inverter` example, only changed the library in `config.tcl` to

`set ::env(STD_CELL_LIBRARY) "sky130_fd_sc_hvl"`

Run fails on step 2 with:

**Error: sta.tcl, 42 cannot read file  /usr/local/share/pdk/sky130A/libs.ref/sky130_fd_sc_hvl/lib/sky130_fd_sc_hvl__tt_025C_3v30.lib /usr/local/share/pdk/sky130A/libs.ref/sky130_fd_sc_hvl/lib/sky130_fd_sc_hvl__tt_025C_

[2021-11-23 15:06] d-m-bailey commented on #727
Possibly related to issue #683 which was supposed fixed by PR #714

[2021-11-23 16:53] hpretl opened #729 "read_lib fails when trimmed.lib contains two libraries"
### Description

After solving #727, the flow script fails further down at step 7. Here, the `read_lib $::env(LIB_SYNTH)` in `replace.tcl` fails, because the file `/openlane/designs/audiodac/runs/RUN_2021.11.23_16.42.33/tmp/trimmed.lib` contains two `library` entries:

[code]

and

[code]

### Environment

See #727

### Reproduction Material

See #727

### Expected behavior

Not crashing with erro

[2021-11-23 18:08] #727 closed

[2021-11-23 18:10] donn commented on #718
Agreed. It would speed things up if you create a PR, but this is definitely a much-needed enhancement.

[2021-11-23 18:11] donn commented on #298
No reply for 60+ days: assuming this one is resolved.

[2021-11-23 18:11] #298 closed

[2021-11-23 18:11] #426 closed

[2021-11-23 18:14] #590 closed

[2021-11-24 00:44] antonblanchard opened #733 "Artifact reorganisation creates bad path during synthesis"
After updating Openlane I hit the following error during synthesis:

[code]

synth_report_prefix and synthesis_reports are indeed bad:

[code]

It does look like an issue if we call run_yosys twice:

[code]

[2021-11-24 15:39] rahulrbharadwaj opened #735 "DRC violations"
### Description
I have an analog module which I have layed out in hand using the latest version of magic with no DRC violations. I have called this analog module as a macro in openlane and the ran the flow. At the end of the flow there are DRC violations. The DRC violations are on the standard cells that are already layed out.

### Environment
[code]

### Reproduction Material

[Openlane.zip](http

[2021-11-24 18:03] dralabeing commented on #683
@vijayank88 Could you retest and see if the above problem is now fixed?

[2021-11-24 19:00] donn commented on #733
So er, wait, I'm confused. Does synthesizing twice cause this issue?

[2021-11-24 19:33] donn opened #736 "Add mechanism to create OpenROAD reproducibles on failure automatically"
### Prompt
I am physically aging trying to get the reproducible for https://github.com/The-OpenROAD-Project/OpenLane/issues/710.

### Proposal
`try_catch openroad` failures should be automatically detected, and if they happen, or_issue.py should be called to create a reproducible that can be uploaded immediately instead of having to rely on the user to package it or an OpenLane maintainer to do so

[2021-11-24 19:44] donn commented on #710
I cloned your repo. Works fine on master.

[2021-11-24 19:44] #710 closed

[2021-11-24 23:14] antonblanchard commented on #733
I presume it's because my design has this:

[code]

Which makes us call `run_yosys` a second time:

[code]

[2021-11-25 04:57] vijayank88 commented on #683
@dralabeing PR not updated yet. seems work in  progress

[2021-11-25 10:51] nguyendao-uom commented on #657
@donn any updates yet?

[2021-11-25 10:58] vijayank88 commented on #735
@rahulrbharadwaj
follow instruction properly and add your tar file to reproduce the issue.
Given Reproduction Material link is empty.

[2021-11-25 11:08] rahulrbharadwaj commented on #735
@vijayank88 can you view the files now?

[2021-11-25 12:51] donn commented on #657
Yeah, it's been merged yesterday. Thank you for your patience.

[2021-11-25 12:51] #657 closed

[2021-11-25 12:53] vijayank88 opened #737 "make pull-openlane failed"
### Description
Not able to update latest openlane commit.

### Environment
[code]

### Reproduction Material
[code]

### Expected behavior
complete make pull-openlane complete successfully.

### Logs
[code]

[2021-11-25 13:25] donn commented on #733
Gotcha. I'll take a look.

[2021-11-25 13:36] donn commented on #733
Okay, sorry- oversight on my part. `synthesis_reports` should never be re-set. PR created, and it should close this issue once merged.

I'm terribly sorry for the inconvenience.

[2021-11-25 13:58] #733 closed

[2021-11-26 05:10] vijayank88 commented on #737
@donn even after sed its not worked. By setting IMAGE_NAME works.
[code]

[2021-11-26 15:55] donn commented on #737
Yeah, sorry, I have no idea how this is happening. The only thing that makes sense is an out of date python version.

[2021-11-26 16:22] maliberty commented on #737
@donn I'm not familiar with this python syntax "process_data: subprocess.CompletedProcess = subprocess.run" what does it mean?

[2021-11-26 18:00] donn commented on #737
The `: subprocess.CompletedProcess` is a typing hint. [PEP-0484](https://www.python.org/dev/peps/pep-0484/), implemented in Python 3.5+, allows for type hints to assist IDE or other utilities with autocomplete and/or enforcing some basic type safety.

The idea is, a typical Python interpreter would read and ignore this part: so functionally this would be `process_data = subprocess.run(...)`. Howev

[2021-11-26 18:15] maliberty commented on #737
@donn Perhaps you should check sys.version_info to ensure you have the minimal required version.

[2021-11-26 18:23] donn commented on #737
I do. As part of the environment survey that I ask people to run before submitting any issue, which is reporting Python 3.8 here.

[2021-11-27 07:17] vijayank88 commented on #737
@donn
In Makefile default python3 used. If I change it to python3.8 everything working fine.
I've 2.7,3.5,3.8 version in Ubuntu. As openlane supports 3.5+ above, change to 3.8 works for me.

[2021-11-27 15:59] donn commented on #737
I can't do that. People's setups range from Python 3.6 (centos) to Python 3.9 (my setup). Changing it to python3.8 would break unless someone specifically had Python3.8 installed. Not acceptable.

[2021-11-29 05:33] vijayank88 commented on #737
@donn  as problem comes from my python version, fixed myself and closing this issue.

[2021-11-29 05:33] #737 closed

[2021-12-01 00:15] donn commented on #735
Your environment survey is also pretty empty, only including the PDK part and nothing else. We need the whole thing.

[2021-12-01 09:36] #735 closed

[2021-12-02 09:50] stevvik opened #743 "Incorrect "Basic test failed" notification after 'make test'"
OpenLane installation with the latest tag 2021.12.01_01.29.55  fails at 'make test' step and returns error that "Basic test failed".
But test design passes successful!

Info from LOG:
--------------------------
make test
...
[SUCCESS]: Flow complete.
Basic test failed
-------------------------

The problem is that the path to resulted GDS file is changed in design directory structure (now it is lo

[2021-12-02 10:01] donn commented on #743
Fixed in https://github.com/The-OpenROAD-Project/OpenLane/pull/742.

[2021-12-02 10:01] #743 closed

[2021-12-03 12:18] waarrk opened #746 "make openlane ends with an error"
### Description
make open lane exits with "executor failed running".

### Environment
[code]

### Reproduction Material
`make openlane`

### Expected behavior
https://repo.ius.io/7/arch64/repodata/repomd.xml
May not exist

### Logs
[code]

[2021-12-03 14:57] ratul619 opened #747 "Trying to install openlane locally"
hi ,
triying to install openlane locally , but seems stuck. No idea why the issue is happening.

Collecting kiwisolver>=1.0.1
  Using cached kiwisolver-1.3.2-cp38-cp38-manylinux_2_5_x86_64.manylinux1_x86_64.whl (1.2 MB)
Collecting setuptools-scm>=4
  Using cached setuptools_scm-6.3.2-py3-none-any.whl (33 kB)
Collecting fonttools>=4.22.0
  Using cached fonttools-4.28.3-py3-none-any.whl (884 kB)
Col

[2021-12-03 14:57] ratul619 commented on #747
command run is  "

python3 ./env.py local-install

[2021-12-05 11:20] ratul619 commented on #747
The whole issue was trying to install in local directory named 'y' ....

Closing

[2021-12-05 11:20] #747 closed

[2021-12-05 18:04] donn commented on #146
December 2021 Status Update

* There's a common centos7 base image for all tools now, but sadly, by the looks of it, aarch64 doesn't appear to be supported in centos7: https://github.com/The-OpenROAD-Project/OpenLane/issues/146
* Given that the CentOS project is dead, it might be prudent to just rebase to Debian.

If you're using an aarch64 Mac you may have to build the tools and images manually,

[2021-12-05 18:07] donn commented on #746
There is no current native aarch64 for OpenLane. It's something of a long-standing issue. https://github.com/The-OpenROAD-Project/OpenLane/issues/146

To build the x86 Docker container, you need to use a number of special commands: https://blog.jaimyn.dev/how-to-build-multi-architecture-docker-images-on-an-m1-mac/

I can't add these commands to the Makefile for the simple reason that nobody on the

[2021-12-05 18:07] #746 closed

[2021-12-05 19:22] robtaylor commented on #146
See my branch above in this thread for centos8 & aarch64 work. It's probably bitrotted a little, but a lot of work was done and you should have plenty to go on.

[2021-12-05 21:15] donn commented on #146
Yeah, that'll definitely be my starting point once I get my hands on an aarch64 device. Hopefully Rocky Linux is a decent drop-in substitute for centos8.

[2021-12-06 00:45] robtaylor commented on #146
Worth spinning up an AWS graviton instance!

On Sun, 5 Dec 2021 at 21:15, Donn ***@***.***> wrote:

[2021-12-08 05:17] ratul619 opened #750 "Failure at cts step"
Hi ,

While running any design , see that cts is getting exited with below message :

-----------------------------------------------------------------------

set_driving_cell -lib_cell sky130_fd_sc_hd__inv_2 -pin {Y} -input_transition_rise 0.0000 -input_transition_fall 0.0000 [get_ports {write_data[2]}]
set_driving_cell -lib_cell sky130_fd_sc_hd__inv_2 -pin {Y} -input_transition_rise 0.0000 -inpu

[2021-12-08 08:57] vijayank88 commented on #750
@ratul619
run
[code]
provide the details

[2021-12-08 14:45] vvbandeira opened #751 "Fail to create base image"
### Description
`make -C docker base_image` fails on the master branch.

### Environment
[code]

### Reproduction Material
Unmodified master branch.

### Expected behavior
Generate base image without error.

### Logs
[code]
Complete log file: [log.txt](https://github.com/The-OpenROAD-Project/OpenLane/files/7676755/log.txt)

@maliberty FYI

[2021-12-08 16:27] maliberty commented on #751
@donn this breaks our OL CI test so please give it priority.

[2021-12-08 16:34] donn commented on #751
here u go

[2021-12-08 17:14] #751 closed

[2021-12-08 18:56] maliberty opened #753 "Changes in odb API require script updates in OL"
### Description
In https://github.com/The-OpenROAD-Project/OpenROAD/pull/1392 there were some API changes in odb.  This means that code that code will need to be update for dbITerm connect/disconnect:

odb.dbITerm_disconnect(iterm)  -> iterm disconnect
odb.dbITerm_connect(iterm, net) -> iterm connect net

This occurs in contextualize.py, dont_buffer.py, label_macro_pins.py, place_diodes.py, power_

[2021-12-08 18:57] maliberty commented on #753
@vvbandeira FYI

[2021-12-09 09:29] progirep opened #754 "Segfault in one of OpenLane's steps (or_replace.tcl)"
### Description
I'm getting a segfault in one of OpenLane's steps, but can't see what a possible reason for this could be (sorry, I don't "speak" TCL nor do I use docker for my own work - I'm only doing a few assembler styles, C, C++, Python, Java, some HDL, and CS Theory).

The project on which the problem occurs is a test project for integrating OpenRAM blocks into a design - it is a shortened v

[2021-12-09 09:47] vijayank88 commented on #754
@progirep mpw-3b is right version for caravel project. Try with mpw-3b tag

[2021-12-09 10:08] progirep commented on #754
Thanks, I will try that and report back in ~2-8 hours.

[2021-12-09 10:55] donn commented on #753
I'm supposed to be off this week, y'all. Can you try your hand at fixing these?

[2021-12-09 12:31] vijayank88 commented on #754
@donn  this issue reproduced with mpw-3b tag as well

[2021-12-09 13:04] donn commented on #754
@vijayank88 Really not much I can do other than or_issue the reproducible and try it with the latest version of OpenROAD. However, I'm off this week, so that'll have to wait until Monday.

[2021-12-09 13:16] donn opened #755 "`run_designs.py` should exit with a nonzero code if a design fails"
### Prompt
`run_designs.py`, `make test_design_list` and its derivatives, `make fastest_test_set` and `make extended_test_set`, all exit with a zero exit code even if any of the designs fail. This aliases failures on the OpenROAD team's Jenkins CI, as they don't use `.github/scripts/run_tests.py`.

### Proposal
A flag should be added to `run_designs.py` for a nonzero exit, and this flag should be

[2021-12-09 13:26] progirep commented on #754
Ok, I've just checked with the "mpw-3b" version of the docker container. The segfault occurs as well, and the stack trace is the same up to the memory addresses (which are unlikely to be the same because of address space randomization).

The problem does not occur for the design from which my test design is forked. I'll have a look if there is something to be seen from the differences between the

[2021-12-09 13:34] vvbandeira commented on #755
@maliberty FYI, this will fix the false positives you flagged.

[2021-12-09 14:10] donn commented on #754
@progirep This failure occurs inside the OpenROAD app specifically, so there's not much we can do on our side but package the issue and pass it on to the OpenROAD team. Likely there's a corner case exposed by your design that's just not handled properly.

[2021-12-09 16:46] maliberty commented on #753
I didn't realize you are off.  It can wait or you can reassign it.  I'm not sure how changing this in master works as it depends on an OR update as well.

[2021-12-09 17:35] donn commented on #753
The idea is you create a branch where you update the OpenROAD app and the variables together, then PR that.

[2021-12-10 00:08] mithro commented on #755
Is there any reason you would want to keep the exisiting zero exit code on failure behaviour?

[2021-12-10 05:19] vijayank88 commented on #754
@progirep
follow the instruction in https://github.com/The-OpenROAD-Project/OpenLane/blob/master/docs/source/using_or_issue.md and provide tar file to resolve it

[2021-12-10 12:45] vijayank88 commented on #754
@progirep segfault error comes openlane/Makefile.
Refer https://skywater-pdk.slack.com/archives/C016H8WJMBR/p1636840104299800?thread_ts=1636753036.268100&cid=C016H8WJMBR.
Solution is :+1:
change /openLANE_flow  to /openlane in openlane/Makefile

[2021-12-11 23:39] progirep commented on #754
Ok, so I've attached the tar file for reproducing the issue built according to the using_or_issue.md document:
[user_project_wrapper_or_replace_packaged.tar.gz](https://github.com/The-OpenROAD-Project/OpenLane/files/7697883/user_project_wrapper_or_replace_packaged.tar.gz)

The proposal to change the Makefile didn't work for me. It had no effect on the error. If I get it correctly, the change is fo

[2021-12-12 04:06] maliberty commented on #754
Your packaged testcase suggests you are using an old version of openlane.  What commit are you on?

[2021-12-12 13:12] donn commented on #755
run_designs is definitely used in other places in the codebase that do not expect this behavior, and while I intend to alter these as well, I'm unsure if run_designs is also used by other codebases. A flag is easier than a full audit.

[2021-12-12 13:14] donn commented on #671
Staled out.

[2021-12-12 13:14] #671 closed

[2021-12-12 13:37] donn commented on #159
Done.

[2021-12-12 13:37] #159 closed

[2021-12-12 13:38] donn commented on #493
Think this should be fine now, I just made all variables use `{}`.

If you have a variable with `{}` that's your problem.

[2021-12-12 13:38] #493 closed

[2021-12-12 13:40] donn commented on #467
Sorry for the extremely late reply- a lot has changed and OpenLane has not been v0.9 for a year now. I would kindly ask you to re-make the issue if it persists.

[2021-12-12 13:40] #467 closed

[2021-12-12 13:42] donn commented on #542
Staled out.

[2021-12-12 13:42] #542 closed

[2021-12-12 13:42] donn commented on #576
Staled out.

[2021-12-12 13:42] #576 closed

[2021-12-12 13:43] donn commented on #596
Staled out.

[2021-12-12 13:43] #596 closed

[2021-12-12 13:43] donn commented on #484
Addressed in #740 I guess

[2021-12-12 13:43] #484 closed

[2021-12-13 11:55] donn commented on #754
I can't reproduce the issue with a later version of OpenROAD. Meaning that this issue is waiting on #756.

[2021-12-13 14:58] donn commented on #754
No problem! Just happy we could help.

[2021-12-13 14:58] #754 closed

[2021-12-14 13:09] donn commented on #753
Fixed in #756.

[2021-12-14 13:10] #753 closed

[2021-12-15 09:59] kauser-rl commented on #669
This is going to get critical for a project we are considering. Any ETA on when this update is likely? Workarounds exists, but they are painful and not reliable.

[2021-12-15 11:09] donn commented on #669
Thanks for the heads up, I'll prioritize it.

[2021-12-15 13:00] donn commented on #669
Appears yosys is exposing a corner case in OpenROAD: https://github.com/The-OpenROAD-Project/OpenROAD/issues/1428

[2021-12-15 17:02] mithro commented on #669
https://antmicro.com/blog/2021/10/openlane-asic-build-flow-with-systemverliog-support/

[2021-12-15 17:08] kauser-rl commented on #669
Thanks. I have come across this blog and while it claims to give instructions on how to support the latest version of Yosys, it really isn't clear. I have no way to know which is the Docker image I need to point to. I also find it less validated in the Openlane environment, so by having Openlane bump up the version of Yosys, I would get more confidence this works.

[2021-12-15 18:17] kgugala commented on #669
hi @kauser-rl you need to point to a docker image built in the `make merge` step. By default it is `efabless/openlane:current` (see: https://github.com/antmicro/openlane/blob/use-yosys-uhdm-plugin/docker_build/Makefile#L4), but you can change it to any name you want (but you need to use this name consecutively)

try this flow:
[code]

I'll update the blog note so it is more clear. Thanks for the f

[2021-12-16 14:06] kauser-rl commented on #669
Hi @kgugala, thanks for the instructions. I gave it a go in my `Ubuntu 20.04` machine and got the below error. I'm assuming this has been tested on CentOS and not Ubuntu?

[code]

[2021-12-16 14:17] donn commented on #669
This is tested daily on Ubuntu via the CI that updates Yosys- so no, that's not it.

yum runs over http and not https, make it vulnerable to all sorts of DNS misconfigs, ISP http hijacking, etc. I would try a VPN.

[2021-12-16 16:35] #736 closed

[2021-12-16 17:32] #656 closed

[2021-12-16 17:34] #508 closed

[2021-12-16 17:35] donn commented on #476
Done.

[2021-12-16 17:35] #476 closed

[2021-12-16 19:48] maliberty opened #766 "avoid li routing"
### Description
OL should avoid routing on the li layer in detailed routing.   Add ""-bottom_routing_layer met1" to the droute.tcl invocation of detailed route (or whatever variable holds met1).

### Environment
Head of master

### Reproduction Material
Inspect the script

### Expected behavior
As above

[2021-12-16 20:45] mithro commented on #476
@donn Great work here!

[2021-12-17 04:45] donghl17 opened #768 "Routing Timing Reports"
### Prompt
We noticed that the generate_routing_report function is removed in the latest OL. Is there a way we can get access to the multi_corner timing reports (like the older versions do)? We are a little bit confused about which part of the code generates the reports.

[2021-12-18 01:32] #766 closed

[2021-12-18 04:18] maliberty opened #769 "drop -clk_nets in cts.tcl"
### Description
In cts.tcl you have:
clock_tree_synthesis {*}arg_list\
...
    -clk_nets $::env(CLOCK_NET)\

-clk_nets isn't needed if the clocks are defined in SDC.  CTS will automatically find the clock nets from STA.

### Environment
master

### Reproduction Material
any design

### Expected behavior
simpler flow

[2021-12-18 06:27] donn commented on #769
not sure how this affects a situation where someone skips sta but performs cts

[2021-12-18 06:35] maliberty commented on #769
Given that you have "read_sdc -echo $::env(CURRENT_SDC)" it hard to see how they avoid it.

[2021-12-18 06:40] donn commented on #769
touche. let me look into this further monday

[2021-12-19 15:43] microSharjeel opened #770 "How can I pass verilog header files to OpenLane"
### Prompt
A clear and concise description of what shortcoming you feel OpenLane has.
How can I pass verilog header files to OpenLane. OpenLane should recognize the .vh files as verilog header files.
Kindly, guide me how to add the verilog header files in OpenLane in interactive mode.
### Proposal
A clear and concise description of what you want to happen.
I have no idea
### Alternatives
A clear a

[2021-12-19 17:58] ratul619 commented on #750
Using docker - issue is no longer there/

[2021-12-19 17:58] #750 closed

[2021-12-19 20:42] jaquerinte opened #772 "OpenLane "child process exited abnormally""
### Description
When I launch my project, OpenLane crash with the error "child process exited abnormally".
Note that in my config.tlc. The CLOCK_PORT and CLOCK_NET is the same port, because, yosys simplifies the net.

### Environment
[code]

### Reproduction Material
* https://github.com/jaquerinte/space_controller/tree/4de4e18cf8117fdb59c9daad2f8f1f983a1ef04c
* command:
make user_proj_example

##

[2021-12-20 05:13] vijayank88 commented on #770
@microSharjeel
In the respective verilog file you just include
[code]
Yosys will handle automatically.

[2021-12-20 10:50] ratul619 opened #773 "Run stopping at global placement for blackbox based macro run :"
Hi ,

I am just running blackbox based run - where one instance in the verilog is blackbox with .lib and .lef.
The XYZ is just connected to the  inout pins.  So added below on confile file :

-------------------------------------------------------------------
# Design
set ::env(DESIGN_NAME) "xyz_wrapper"

set ::env(VERILOG_FILES) [glob ./designs/xyz_wrapper/src/*.v]

set ::env(CLOCK_PERIOD) "10.00

[2021-12-20 10:57] vijayank88 commented on #773
@ratul619
attach `/openlane/designs/xyz/runs/RUN_2021.12.20_10.40.30/logs/placement/5-global.log"`
Also you clk port and in config.tcl why its disabled?

[2021-12-20 11:00] ratul619 commented on #773
i dont have any sequential logic. So disabled the clk port. But if i enable it , during sta run also its failing

WARNING ORD-1011] LEF master RRAM has no liberty cell.
[WARNING ORD-1011] LEF master sky130_fd_sc_hd__and2_2 has no liberty cell.
[WARNING ORD-1011] LEF master sky130_fd_sc_hd__buf_1 has no liberty cell.
[ERROR]: during executing: "openroad -exit /openlane/scripts/openroad/sta.tcl |& t

[2021-12-20 11:02] ratul619 commented on #773
Pasting the global placement log :

OpenROAD b79f266fe41540eabc064bcaddfe19ed715ac5c2
This program is licensed under the BSD-3 license. See the LICENSE file for details.
Components of this program may be licensed under more restrictive licenses which must be honored.
[INFO ODB-0222] Reading LEF file: /openlane/designs/rram_wrapper/runs/RUN_2021.12.20_11.01.25/tmp/merged_unpadded.lef
[WARNING ODB-0

[2021-12-20 17:26] donn commented on #770
Correct. We currently don't have any special way of treating verilog headers... You just \`include them.

[2021-12-20 17:26] #770 closed

[2021-12-20 17:27] donn commented on #772
Can you please try on the current version of OpenLane?

[2021-12-20 17:30] donn commented on #773
As Vijayan mentioned, we do have an issue structure you need to adhere to. There are relatively few OpenLane contributors and wildly formatted issues affect our ability to help you.

[2021-12-20 17:30] #773 closed

[2021-12-20 17:35] donn opened #774 "Google-Style Copyright Assignment For Contributions"
### Prompt
Currently, our copyrights are a bit of a mess. Situations such as #771 come to mind, where people don't know what the proper copyright assignment is.

### Proposal
I find @google's way of doing things uniquely sober: https://opensource.google/docs/releasing/authors/

Essentially, we are to replace the copyright headers with `The OpenLane Authors`. The file already has a link to a list o

[2021-12-20 17:41] maliberty commented on #774
The link you provide states "This information is in addition to go/releasing/contributions. It does not replace it.".   The go link requires a CLA which is rather onerous.

[2021-12-20 17:41] donn opened #775 "Require `black` linting for all Python code"
### Prompt
Python code formatting in this codebase is rather inconsistent and contributors can't figure out what the proper way of doing things is.

### Proposal
[black](https://github.com/psf/black) is a very opinionated Python code formatter that I frankly like a lot. I'm wondering if it's a good fit for our project. I have used it before in this codebase iirc.

### Alternatives
A style guide. B

[2021-12-20 17:44] donn commented on #774
That... is true. Gah.

Well I'm at a bit of a loss frankly, as the situation is currently a bit muddy: there are contributors who, despite legally having copyright over their changes, chose to not add their names to headers. So this whole thing is a bit of a gray area.

[2021-12-20 18:43] microSharjeel commented on #770
thanks for help it is resolved
I am stating the solution for anyone who needs help!
To include the Verilog headers just
include all verilog source files in VERILOG_FILES variable in config.tcl and
include them in verilog source files and put the header files in same src folder as the .v files are. yosys will find them.
cheers!

[2021-12-21 11:03] jaquerinte commented on #772
Ok, now in the new version is fix.
Thanks

[2021-12-21 11:03] #772 closed

[2021-12-21 15:53] ratul619 opened #779 "Skipping few steps"
hi ,

I need to skip some steps in openlane , because i have an analog macro which i want to package .

1) For ONLY analog block - do we need to run openlane ? Or is there a direct way to package in caravel ?
2) if not , then how to skip PDN and CTS steps ?

Thanks

[2021-12-21 20:59] roman3017 opened #781 "Segmentation violation in sta_multi_corner.tcl"
### Description
When running user_project_wrapper design I encounter segmentation violation error.

### Environment
[code]

### Reproduction Material
[openroad_issue_reproducible.tar.gz](https://github.com/The-OpenROAD-Project/OpenLane/files/7758193/openroad_issue_reproducible.tar.gz)

### Expected behavior
Succesful temination without segmentation violation.

### Logs
[code]

[2021-12-21 21:09] roman3017 commented on #781
[openroad_issue_reproducible.tar.gz](https://github.com/The-OpenROAD-Project/OpenLane/files/7758193/openroad_issue_reproducible.tar.gz)

[2021-12-22 04:01] msaligane opened #784 "Timing Signoff: SS corner seems to be the worst-case corner for hold violations"
### Description
We have noticed during the timing validation of the [LiteX management core](https://github.com/efabless/caravel_mgmt_soc_litex/releases) that min timing checks has an unexpected trend where `sky130_fd_sc_hd__ss_100C_1v60.lib` seems to be showing the worst case slack.
Based on my checks of the openlane flow, the following libs are used for multi-corner checks:
[code]
We have compile

[2021-12-22 04:35] maliberty commented on #784
The first odd thing I see is that the .lib are characterized over different input ranges:

tt:
                cell_fall ("del_1_7_7") {
                    index_1("0.0100000000, 0.0230506000, 0.0531329000, 0.1224740000, 0.2823110000, 0.6507430000, 1.5000000000");
                    index_2("0.0005000000, 0.0013283400, 0.0035289500, 0.0093752600, 0.0249070000, 0.0661697000, 0.1757910000");
ff:

[2021-12-22 04:37] maliberty commented on #784
Power is even odder - is ss really 1000X leakier?

ff:
    cell ("sky130_fd_sc_hd__a2111o_1") {
        leakage_power () {
            value : 0.0003327000;
            when : "A1&A2&B1&!C1&!D1";
        }
tt:
    cell ("sky130_fd_sc_hd__a2111o_1") {
        leakage_power () {
            value : 0.0017945000;
            when : "!A1&!A2&!B1&!C1&D1";
        }
ss:
    cell ("sky130_fd_sc_hd__a2111

[2021-12-22 04:45] msaligane commented on #784
I think you ll need to open github issues about those. I am also planning to do that regarding the ccsnoise models which are randomly included in specific corners. I am starting to think the reason might be in .libs.

@maliberty Do you think you can run AES in ORFS and check if you see the same behavior?

[2021-12-22 05:07] donghl17 opened #785 "Unable to run "make pdk""
### Description
I am not able to run make pdk to update the pdk version because of the following error:
[code]

### Environment
[code]

[2021-12-22 05:53] maliberty commented on #784
In ORFS for slack:

     min     max
ff -0.15    0.05
tt -0.19   -2.05
ss -0.22   -7.49

[2021-12-22 06:13] vijayank88 commented on #785
@donghl17
Provide full log, OS details, steps you followed

[2021-12-22 06:25] msaligane commented on #784
max timing seems to make sense (also the close timing between ff and tt would be explained by your comment [here](https://github.com/The-OpenROAD-Project/OpenLane/issues/784#issuecomment-999280227). Since you can timing getting worse as you go from ff to ss.

However, min timing seems weird in ORFS as well. Maybe because latency is increasing / skew is increasing in ss, then hold is worse?

[2021-12-22 06:31] maliberty commented on #784
The hold path is very short and is dominated by clock tree delay.  It looks like both launch and capture branches slow symmetrically on the worst path.  Worst skew does increase ff->tt->ss but not worst hold slack.

[2021-12-22 08:04] d-m-bailey opened #786 "sram macros don't install as expected"
### Description
`open_pdks`'s `sky130/scripts/configure` allows for the following `--enable-sram-sky130` options

`--enable-sram-sky130="yes"` or `--enable-sram-sky130="YES"` : sets source directory to `../sources/sky130_sram_macros`
`--enable-sram-sky130="no"` or `--enable-sram-sky130="NO"` : sets source directory to `""`
`--enable-sram-sky130=some-directory` : sets source directory to `some-dire

[2021-12-22 11:29] d-m-bailey commented on #786
The code snippet was actually from the `efabless/openlane` fork and has already been partially fixed here.

[2021-12-22 15:15] ufukyill opened #789 "OpenLane flow get stuck at yosys part "Continuing TECHMAP pass""
Hi
I was trying to run my verilog code which is about 2k rows through OpenLane in order to get a gds file.
(Im using ubuntu 18.04 via virtualBox.) When i run the command :  "/.flow.tcl -design top_level" the flow stucks at ,exact same step, "Continuing TECHMAP pass" on every try and the virtual machine does not responds in anyway. Screenshot of log file is attached below.
(I was able to get a gds

[2021-12-22 16:02] vijayank88 commented on #789
@ufukyill
check how much used for yosys running

[2021-12-22 17:03] ufukyill commented on #789
After posting i have already increase the RAM of virtual machine and it kept continue. But now i having this error at "Continuing TECHMAP pass" step :
![WhatsApp Image 2021-12-22 at 19 56 20](https://user-images.githubusercontent.com/92793136/147128832-505f8aad-f6e0-441a-a7d6-ce7e7123e406.jpeg)

[2021-12-22 18:05] donn commented on #789
The issue template is mandatory.

[2021-12-22 18:05] #789 closed

[2021-12-22 18:06] donn commented on #669
Yosys will be updated after mpw-4 is tagged.

[2021-12-22 18:06] #669 closed

[2021-12-22 18:08] donn commented on #779
1. For caravel help, please try the sky130 slack community. We can't help you much here.
2. You can't skip steps per se. You can run OpenLane in interactive mode by invoking `flow.tcl -interactive` and then you can run steps manually if you'd need to.

[2021-12-22 18:08] #779 closed

[2021-12-22 18:10] donn commented on #785
The issue template is mandatory.

[2021-12-22 18:10] #785 closed

[2021-12-22 18:11] donn commented on #786
I'll merge this after mpw-4 is tagged. Thanks, Mitch.

[2021-12-22 18:53] ufukyill opened #793 "Error at "Continuing TECHMAP pass" step while while running OpenLane"
Hi
I was trying to run my verilog code which is about 2k rows through OpenLane in order to get a gds file. I was able to get a gds file when i ran flow for some modules seperately. Then i put together these modules in a .v file which is compiled and tested. Now it gives this error which is given below as screenshot.
![WhatsApp Image 2021-12-22 at 19 56 20](https://user-images.githubusercontent.com

[2021-12-22 19:04] donn commented on #793
The issue template is mandatory, @ufukyill. We can't help you if you delete everything and just upload a screenshot.

[2021-12-22 19:04] #793 closed

[2021-12-22 19:06] donn commented on #784
@RTimothyEdwards Thoughts?

[2021-12-22 20:18] #786 closed

[2021-12-22 22:51] jjcherry56 commented on #781
There are a number of problems with scripts/openroad/sta_multi_corner.tcl.
It reads liberty files for EXTRA_LIBS before calling define_corners, which is not supported.
OpenSTA has to know the corners before any liberty files are read.
Secondly, it makes no attempt to read corner specific  liberty files for EXTRA_LIBS (which is why it seg faulted
looking for the corner data for a ram).

I will make

[2021-12-23 00:15] roman3017 commented on #781
Is there a way to disable it then? This check/crash is blocking my progress at the moment and there is just few days left for TO deadline.

[2021-12-23 01:34] RTimothyEdwards commented on #784
You should normally expect worst case setup violations at slow-low-hot and worst case hold violations at high-fast-cold.  If you are seeing hold violations at slow-low-hot that aren't there at typ-typ-typ, there's some chance that you're looking at a false path.  But a hold violation just means that a downstream clock arrived after the transistioning data .  You can get the same hold violation by

[2021-12-23 03:57] d-m-bailey opened #796 "Allow cell flattening in magic extraction"
### Prompt
Currently, magic extracts each layout cell separately. This can lead to confusing netlists with unnecessary hierarchies when using parameterized layout cells from GDS. For example, `nmos_m10_w7_000_sli_dli_da_p` in the openram macros.

### Proposal
Allow user specified flattening of cells when reading GDS.
For example, executing these preprocessing commands before GDS input.
[code]
This

[2021-12-23 06:45] donn commented on #796
Ah, god, no eval. This codebase is a security nightmare as is.

But this is a reasonable ask.

[2021-12-23 07:19] d-m-bailey commented on #796
How about a list of cells to flatten?
Example:
[code]
Then programmatically loop through the list adding `gds flatten`.
[code]

[2021-12-24 05:30] jjcherry56 commented on #781
If you remove EXTRA_LIBS you will be missing any paths from/to the sram instances.
There is nothing inherently multi-corner in the analysis; it is really just running three different
corners at the same time and printing the results separately.
The simple work around is to rewrite the script into 3 different scripts, one for each corner.

The correct solution is to rewrite the script to read the s

[2021-12-24 11:11] donn commented on #146
If I may, what was your solution for Klayout? Building it from source is a certifiable PITA and they don't appear to be doing aarch64 Klayout binaries.

[2021-12-24 12:58] ufukyill commented on #793
Which template exactly? Should i choose a bug report or smth? I'm a newbie so do not mind me.

[2021-12-24 13:26] donn commented on #793
Yes, you should choose "bug report."

[2021-12-24 14:11] ufukyill opened #802 "Run floorplan error"
### Description
I am trying to run the flow of my design interactively on OpenLane. On the synthesis stage my flow does not complete itself so synthesised the design seperately on Yosys and copied the netlist verilog file to run path as runs/run3/results/synthesis/top_level.v.
then as the next step of the flow, I am trying to run floorplan but I get an error like this;

![Screenshot_6](https://use

[2021-12-24 21:53] maliberty commented on #802
A reg statement isn't structural verilog so whatever you did in yosys didn't work correctly.

[2021-12-25 04:12] robtaylor commented on #146
From branch feature/multiarch in https://github.com/robtaylor/openlane

It was a while ago, so this may have broken since then…

‘’’
##################### klayout #######################
FROM base AS klayout

# install klayout
RUN yum install -y qt5-devel ccache
RUN git config --global http.postBuffer 524288000
RUN git clone https://github.com/KLayout/klayout.git && \
    cd klayout && \
    git c

[2021-12-25 08:09] roman3017 commented on #781
Thanks, I will try.

[2021-12-25 09:52] quantrpeter opened #804 "docker not running"
Hi All
     I can make mount and get inside the vm. But i can't see anything running by "docker ps", why?

[code]

thanks

[2021-12-25 13:25] quantrpeter opened #805 "run yosys stage only"
Hi, i only want to run yosys stage but failed, any hints please?

[code]

thanks

[2021-12-25 18:07] maliberty commented on #804
When you exit the container it is no longer running so there is nothing to see in ps.

[2021-12-25 18:52] quantrpeter opened #806 "PDK Building Fails Intermittently"
Hi All
   When i "make pdk", i got:

[code]

cat /Users/peter/workspace/OpenLane/pdks/skywater-pdk/env/conda/.condarc
[code]

[2021-12-26 04:06] quantrpeter commented on #804
thank you hero @maliberty

[2021-12-26 04:06] #804 closed

[2021-12-27 07:20] donn commented on #802
Your issue template is still wrong, but also, what matt said.

[2021-12-27 07:20] donn commented on #805
Well, typically I'd appreciate the issue template, except I know exactly what the problems here are.

A. The step is called "synthesis", not "yosys." That's on you.
B. The SPEF_TYPICAL thing is on me. It's an issue I'll have to address soon.

[2021-12-27 07:23] donn commented on #806
Issue template would have, once again, been appreciated, but I know this issue. This is a spurious issue that's also been plaguing our CI for a hot minute.

It comes from upstream skywater-pdk's insistence on using conda, which a monolithic and unwieldy piece of software, for configuring the Python environment. This is not the first time we've had a trouble spot with this software.

A simple retry

[2021-12-27 07:25] donn commented on #806
Oh, also, this is not Mac-specific.

[2021-12-27 10:05] #805 closed

[2021-12-27 16:48] ufukyill opened #810 "Error at placement phase"
### Description
Hi
I'm trying to run my rtl code through OpenLane flow interactively. "run_synthesis" and "run_floorplan" phases were successful. But at
"run_placement" phase getting this error :
![image](https://user-images.githubusercontent.com/92793136/147489580-bd843612-86de-4013-b710-f6d9c2b08832.png)
(My rtl code is in Verilog HDL which is about 2k rows. Im not sure about whether this effect

[2021-12-27 17:52] maliberty commented on #810
You need to upload the issue reproducer.  @donn what is the path to the generated file?

[2021-12-27 18:16] ufukyill commented on #810
What do you mean by saying issue reproducer? Do you mean netlist file by saying generated file ? I'm new to all of these so don't mind me please.

[2021-12-27 18:28] maliberty commented on #810
I mean https://github.com/The-OpenROAD-Project/OpenLane/blob/master/docs/source/using_or_issue.md but I think it is autogenerated now but I don't recall where.

[2021-12-27 18:31] maliberty commented on #810
Your run should have issued this message:
 "Reproducible packaged: Please tarball and upload $reproducible_dir_relative if you're going to submit an issue."

with the path in it.   If you look for openroad_issue_reproducible I think you'll find it.

[2021-12-27 19:02] ufukyill commented on #810
Thanks. Editted by adding tarball.

[2021-12-27 21:12] maliberty commented on #810
@donn I see scripts/openroad/opendp.tcl:
`set_placement_padding -global -right $::env(CELL_PAD)
`
but not in scripts/openroad/replace.tcl.  I makes no sense to apply padding during detailed placement that wasn't applied during global placement.

[2021-12-28 07:51] donn commented on #810
#811. Do you believe this is the only issue here? @maliberty

[2021-12-28 13:06] dave-roo commented on #806
I am having the same problem on a fresh ubuntu 20 install.

[2021-12-28 16:45] maliberty commented on #810
@donn I suspect so but I can't tell until the change goes through.

[2021-12-28 16:53] Louis-DR opened #815 "Could not remove or rename CA certificates during installation"
Hello,
I'm facing issues installing OpenLane with the skywater130 package.
I'm trying to install it using the procedure explained in the README. I'm using Ubuntu in WSL2.
When running either `sudo make pdk` or `sudo make full-pdk` I run into the same issue :
<details>
<summary>Error</summary>

[code]

</details>

This CA certificate file is created during the flow and I could not locate where to a

[2021-12-28 22:13] vvbandeira opened #816 "Cannot build new docker image"
### Description
Cannot create OpenLane docker image with updated OR version.

### Environment
[code]

### Reproduction Material
[code]

### Expected behavior
Create OL docker image.

### Logs
[code]

I think the argument for click choice [here](https://github.com/The-OpenROAD-Project/OpenLane/blob/80c55b0c253359543a03193368d6e81be6430100/docker/utils.py#L31) should be a list, not a string.

[2021-12-29 01:58] quantrpeter commented on #806
I rerun it, it works, i believe is parallelism tasks problem

[2021-12-29 04:19] donn commented on #810
Well, the relevant change has gone through. I'm going to close this for now and if it resurfaces, @ufukyill please feel free to reopen.

[2021-12-29 04:21] donn commented on #815
See #806

[2021-12-29 04:21] #815 closed

[2021-12-29 04:22] donn commented on #816
You would be correct. Weird. CI should've 100% caught that. Guessing there's a slight variation here between versions of Click.

[2021-12-29 04:32] #629 closed

[2021-12-29 04:43] #457 closed

[2021-12-29 04:44] #547 closed

[2021-12-29 04:44] #628 closed

[2021-12-29 06:37] #802 closed

[2021-12-29 06:38] #699 closed

[2021-12-29 07:49] lakshmi-sathi opened #824 "Multiple designs with Sky130 fakerams/SRAMs face 'routing congestion too high' error at Global Routing step"
### Description
Designs ([BSG manycore_proc_vanilla](https://github.com/The-OpenROAD-Project/OpenLane/files/7787765/bsg_manycore_proc_vanilla_fakeram.tar.gz), [BlackParrot frontend](https://github.com/The-OpenROAD-Project/OpenLane/files/7787768/bp_fe.tar.gz)) face 'routing congestion too high' error at Global Routing Step. This congestion issue has been occurring on many designs using sky130 faker

[2021-12-29 09:24] #769 closed

[2021-12-29 10:54] ufukyill commented on #810
Should i update the OpenLane or smth?

[2021-12-29 11:25] #781 closed

[2021-12-29 11:55] donn commented on #810
Yup, you should.

[2021-12-29 13:29] #816 closed

[2021-12-29 17:38] maliberty commented on #810
Please provide an updated testcase

[2021-12-29 17:44] yurivict opened #828 "[question] How to set up OpenLane without Docker?"
Docket isn't available for my platform.

Are there instructions how to set up OpenLane without it?

[2021-12-29 17:49] ufukyill commented on #810
https://github.com/ufukyill/Issue-submit/blob/main/V2openroad_issue_reproducible.tar.xz

[2021-12-30 05:32] vijayank88 commented on #828
@yurivict
refer this https://github.com/The-OpenROAD-Project/OpenLane/blob/master/docs/source/local_installs.md

[2021-12-30 12:30] quantrpeter commented on #806
@dave-roo , yes, your solution works

[2021-12-30 12:44] donn commented on #828
@yurivict Also, feel free to ask us anything if your intent here is to get OpenLane running on FreeBSD. We already try to avoid GNU-specific APIs but there may be one or two corner cases.

[2021-12-30 13:52] ufukyill commented on #810
Any suggestions ?

[2021-12-30 14:22] quantrpeter opened #829 "[ERROR GPL-0302] Use a higher -density or re-floorplan with a larger core area."
Hi All
   1. I am following this https://www.youtube.com/watch?v=d0hPdkYg5QI&t=3171s to run a small example
   2. I created my_design.v and init the project by command : **flow.tcl -design my_design -src my_sources/my_design.v -init_design_config**
   3. run the openlane by : **flow.tcl -design my_design -tag first_run**
   4. Then I got this error

[code]

[code]

Please help
thanks

[2021-12-30 14:28] vijayank88 commented on #829
@quantrpeter
share your config.tcl

[2021-12-30 14:33] vijayank88 commented on #829
also try built-in designs from the directory openlane/designs/
Different example configuration explained here

[2021-12-30 14:39] vijayank88 commented on #829
for tiny design try below format config.tcl
[code]

[2021-12-30 14:39] #829 closed

[2021-12-30 14:53] quantrpeter commented on #829
After i add, it works. If this line is a must, flow.tcl should add it automatically?
set ::env(PL_TARGET_DENSITY) "0.7"

below is the original file generated by the flow.tcl

[code]

[2021-12-30 16:02] vijayank88 commented on #829
@quantrpeter  learn flow variables which you can tweak to resolve your errors. Go through documentation for details

[2021-12-30 17:11] yurivict commented on #828
Yes, I am trying to run OpenLane on FreeBSD. Thank you.

Trying to port the dependencies.
So far I found that ```cugr``` doesn't build on non-Linux OSes because it contains pre-built static libraries libdef.a and liblef.a that are only for Linux.

It seems that the the ```rsyn``` project should be able to install these libraries but it doesn't build: https://github.com/RsynTeam/rsyn-x/issues/28

T

[2021-12-30 17:16] donn commented on #828
cugr/drcu are not 100% required, they are simply alternatives to using the global and detailed routers in OpenROAD. The local installer should make no attempt to install them in fact.

[2021-12-30 18:24] maliberty commented on #810
I just opened it and the design still looks very dense.  Are you sure this is with padding in global placement?

[2021-12-30 18:24] maliberty commented on #810
are you using the default density?

[2021-12-30 19:24] ufukyill commented on #810
I exported  CELL_PAD=0 in openlane after "make mount" in last case but density was default. I have already tried as everything is default then i did some changes on config.tcl. Here have a look : https://github.com/ufukyill/Issue-submit/blob/main/config.tcl
Source RTL :  https://github.com/ufukyill/Issue-submit/blob/main/top_level.v
On the other hand, the reason that i run flow interactively is th

[2021-12-30 21:56] antonblanchard opened #832 "Openlane should have way to specify size of placement halo around macros"
I'm having global routing issues around some hard macros in Microwatt. On the OpenROAD flow, you can specify a placement halo around macros, giving more resources to route out of them. I can't find a way to do this in Openlane.

[2021-12-30 22:02] maliberty commented on #810
Is there a reason you need PAD=0?
In the test case provided you have: export CELL_PAD='4';

[2021-12-30 22:54] maliberty commented on #810
If I use CELL_PAD='1';  it goes through with no problem.  I suspect you ran global placement with 0 padding and detailed placement with 4 padding which won't work.

[2021-12-31 05:58] quantrpeter opened #833 "fork project and pull-openlane"
Hi
   I forked the project and do "make pull-openlane", error occurs:
[code]
thanks
Peter

[2021-12-31 06:02] vijayank88 commented on #833
@quantrpeter For any issue file, survey must
[code]

[2021-12-31 09:47] quantrpeter commented on #833
[code]

[2021-12-31 09:58] quantrpeter commented on #829
thanks a lot @vijayank88

[2021-12-31 10:59] vijayank88 commented on #833
@quantrpeter Have you installed
Prerequisites

At a minimum:

    Docker 19.03.12+
    GNU Make
    Python 3.6+ with PIP
    Click, Pyyaml: python3 -m pip install pyyaml click

[2021-12-31 11:18] vijayank88 opened #834 "Yosys Synthesis returns zero standard cells"
### Description
no standard cell found after synthesis in design statistics.  Reported in slack channel https://skywater-pdk.slack.com/archives/C016UL7AQ73/p1640850070331700
[openroad_issue_reproducible.zip](https://github.com/The-OpenROAD-Project/OpenLane/files/7796024/openroad_issue_reproducible.zip)

### Environment
[code]

### Reproduction Material
* tar file attached. verilog source attached

[2021-12-31 12:24] donn commented on #832
Will look into it- do you have a link to the requisite variable(s) in ORFS?

[2022-01-01 01:56] quantrpeter commented on #833
@vijayank88 yes, i did

[2022-01-01 04:56] maliberty commented on #832
MACRO_PLACE_HALO & MACRO_PLACE_CHANNEL

[2022-01-01 15:11] quantrpeter opened #835 "local install not working"
Hi, i am using ubuntu 20.04 lts, i have manually built opensta and it still saying opentimer not found. At the end it also throw exception that i can't understand, thanks

[code]

[2022-01-02 09:22] ufukyill commented on #810
I exported CELL_PAD='1' and changed it in the config.tcl too. Using config.tcl given below and as i increased my VM RAM to about 11 gb, i passed placement phase without problem.
Thanks a lot for assistance to @maliberty @donn .
config :
`set ::env(DESIGN_NAME) top_level

set ::env(VERILOG_FILES) "$::env(DESIGN_DIR)/src/top_level.v"

set ::env(CLOCK_PERIOD) "10.0"
set ::env(CLOCK_PORT) "clock50MHz"

[2022-01-02 09:22] #810 closed

[2022-01-02 15:11] FaragElsayed2 commented on #835
Hi @quantrpeter

This error due to old "./dependencies/tool_metadata.yml" file, as  vlogtoverilog target has been changed to vlog2Verilog

[2022-01-02 16:41] donn commented on #835
The tool manifest is not out of date, but the build instructions in it are.

[2022-01-02 16:52] donn commented on #835
The PR is out. Unfortunately, as it is the weekend, I can't get any approvals, so it'll have to be merged tomorrow.

Apologies for the inconvenience.

[2022-01-03 00:05] #835 closed

[2022-01-03 10:43] donn commented on #834
Reproducible is insufficient- the OpenROAD issue reproducible means nothing as the failure appears to be in Yosys. Please upload a full OpenLane design.

[2022-01-03 10:44] donn commented on #833
@vijayank88 For the future, you can check for this info using the issue survey, that's what it's for:

[code]

@quantrpeter I'm investigating.

[2022-01-03 10:48] vijayank88 commented on #834
@donn
design file available in src_verilog/main.v

[2022-01-03 10:53] donn commented on #834
... `tar -czvf ./design.tar.gz <path/to/design>`

[2022-01-03 11:06] vijayank88 commented on #834
[main.tar.gz](https://github.com/The-OpenROAD-Project/OpenLane/files/7801555/main.tar.gz)
 My run directory attached

[2022-01-03 11:29] donn commented on #834
The module has ***no*** outputs, only two inputs, clk and rst.

Being that the module has no outputs, it has no functionality, so any synthesizer will optimize the whole thing out for efficiency's sake. This is not OpenLane specific: a synthesis script as simple as `yosys -p "read_verilog src/risc32.v; hierarchy -top main; synth"` will do the exact same thing.

I would recommend the designer eithe

[2022-01-03 11:29] #834 closed

[2022-01-03 12:40] EmJunaid commented on #834
@donn yes you are right, design does not has any output because it's very basic level single cycle processor that's just executing instructions and as memories are also part of core so even data is also not an output. I'm working on implementation of some peripherals like, UART, SPI, RAM etc. I just try this design to understand the flow of Openlane. so if I just add a dummy output variable, will

[2022-01-03 13:41] donn commented on #834
As discussed on slack, no. The output variable has to be part of your code path.

Yosys finds codepaths with no output and nukes them. This is to save chip space.

[2022-01-03 14:33] donn commented on #156
I think I can safely say this reached master at some point.

[2022-01-03 14:33] #156 closed

[2022-01-03 14:34] #462 closed

[2022-01-03 14:35] #320 closed

[2022-01-03 14:36] #567 closed

[2022-01-03 14:36] #480 closed

[2022-01-03 14:37] #632 closed

[2022-01-03 14:40] #541 closed

[2022-01-03 16:53] #832 closed

[2022-01-03 20:01] antonblanchard commented on #832
Thanks @donn. However what happens if we are manually placing macros (`MACRO_PLACEMENT_CFG`)? `manual_macro_place.py` inserts macros directly into the database, and doesn't use openroad.

[2022-01-03 20:02] antonblanchard commented on #832
The syntax for the Openroad and Openlane manual macro placement files is different unfortunately.

[2022-01-05 00:04] #582 closed

[2022-01-05 00:06] donn commented on #652
So... https://github.com/The-OpenROAD-Project/OpenLane/pull/846 was supposed to do it, except the final image is 5 gigabytes and takes like a good 30 minutes to build on an 8-core machine, which means our CI is going to blow a gasket.

Read the PR's writeup for more info.

[2022-01-05 15:05] donn commented on #833
`make pull-openlane` won't work on GitHub forks.

You'd need to:

[code]

then export `export OPENLANE_IMAGE_NAME=quantrpeter/openlane:current` before all invocations.

[2022-01-05 15:05] #833 closed

[2022-01-05 17:37] olofk commented on #652
How often are these images updated? All I need is a published and tagged image every once in a while. As a regular user there is no need for me to have the latest of everything. So perhaps you could just do a tagged release with the bundled PDK which is updated when needed (e.g. before a MPW run or whenever major bugs are found) and then you can disable the PDK bundling for your internal CI.

[2022-01-05 17:58] donn commented on #652
Daily. We'll have to take a look- too many people are typing in "make openlane" and expecting things to work as is, so I'm not hot on the idea of multiple images.

[2022-01-05 18:08] olofk commented on #652
Well, my hope is that no one will have to download the openlane repo and type make openlane at all unless they have a very specific reason. I just want openlane it to be available and ready to use, like the rest of my EDA tools. Just as a reference, here's a launcher script I'm shipping with Edalize https://github.com/olofk/edalize/blob/master/scripts/el_docker This allows me to seamlessly run mos

[2022-01-05 18:35] maliberty commented on #652
@donn bear in mind that you will likely have to support many PDKs in the future.  I don't think you want to put them all into a single mega-image that will be enormous and the end user may only want a small fraction of.

[2022-01-05 18:41] maliberty commented on #652
I think of it like:
![image](https://user-images.githubusercontent.com/761514/148270838-ad7acf86-baa2-47b2-b3b7-0b25797e0f8f.png)
orange PDKs have low frequency of change and are large.  Blue is high frequency of change.  Green is also high but just combines other images so is quick to build and limited in size to one PDK.

[2022-01-05 18:43] olofk commented on #652
Fair point to consider. A slightly different route to go would be to just have the pre-built PDK available as a blob. That's pretty much the approach I used for my first integration attempt where I just dumped the build results in a [github repo](https://github.com/olofk/pdklite) so that my [image generation script](https://github.com/fusesoc/docker-openlane-sky130/blob/main/Dockerfile) could pick

[2022-01-05 19:07] tspyrou commented on #784
@msaligane what do you think. Are you satisfied with this explanation?

[2022-01-05 19:12] tspyrou commented on #824
Propagate macro_extension from openroad to openlane as shown in the pull request.

[2022-01-05 19:27] tspyrou opened #848 "Update PDK parameters for global placement and global routing"
### Prompt

Update PDK parameters for global placement and global routing

### Proposal

[Efabless should study these changes to the default parameters in global placement padding fastroute parameters which we found improve results.](https://github.com/The-OpenROAD-Project/OpenROAD-flow-scripts/commit/05ac93113f01a496c29f51775595cc5727dc5c62)

### Alternatives

None

[2022-01-05 19:58] maliberty opened #849 "enhance issue template to describe use of or_issue.py"
### Prompt
User issues often don't use well packaged test cases and users don't know of the existanceof or_issue.

### Proposal
Include text telling users to use or_issue.py and a link to the docs (or where to find already packaged issues if autogenerated).

### Alternatives
Continue suffering...

[2022-01-05 19:59] maliberty commented on #849
Example: https://github.com/The-OpenROAD-Project/OpenROAD/issues/1514#issuecomment-1006020733

[2022-01-06 03:08] msaligane commented on #784
@RTimothyEdwards Sure, there might be false paths. I have ran now a couple designs in openlane and ss is the worst case (consistently).

My initial theory is that we have a huge latency and skew on the clock tree? which might explain the ss being an issue but we still should see ff trigger MIN violations.

@tspyrou This is existing in ORFS as well so we need to go and check it closely. When the EC

[2022-01-06 03:27] mithro commented on #784
Here is Mehdi's data presented in a form which makes it easier to understand
![Screenshot from 2022-01-05 19-21-30](https://user-images.githubusercontent.com/21212/148323612-16459cda-7618-407f-873f-0cf2f70816dd.png)

[2022-01-06 03:34] mithro commented on #784
@RTimothyEdwards is asserting that;

A ~30ns change in Max Slack on the LiteX Management Core is not a "small / random in appearance change" category. Something is clearly wrong there -- but there is no evidence if this is being caused by the analysis or a real effect.

Maybe the <4ns change in Min Slack for both the LiteX Management Core and the AES Core does fit the "small / random in appearance

[2022-01-06 03:36] mithro commented on #784
However, as @RTimothyEdwards points out -- a ~30ns change if you are using a ~20ns clock period does feel like more likely a mistake rather than something that is real....

[2022-01-06 14:20] donn opened #850 "Keep Track Of Warnings"
Reported by @kareefardi

### Prompt
Warnings are printed mid-flow, where they can easily be ignored.

### Proposal
Warnings should be also be stored in an individual log file and printed at the very end.

[2022-01-06 14:51] donn opened #851 "SDC File Not Read Automatically"
Reported by @Manarabdelaty

### Prompt
Some scripts do not read the the SDC file.

### Proposal
Read the SDC file

[2022-01-06 18:56] mithro commented on #652
The build output of @RTimothyEdwards' https://github.com/RTimothyEdwards/open_pdks for SKY130 is being generated and pushed to https://foss-eda-tools.googlesource.com/skywater-pdk/output/ however that discovered https://github.com/RTimothyEdwards/open_pdks/issues/195

[2022-01-07 13:22] microSharjeel opened #852 "Macro not found in Macro placement"
Hi,
I am trying to place a already hardened Macro in my design. I have followed the manual_macro_placement_test design example and am encountering the following error
Traceback (most recent call last):
  File "/openLANE_flow/scripts/manual_macro_place.py", line 119, in <module>
    assert not macros, ("Macros not found:", macros)
AssertionError: ('Macros not found:', {'ram': ['5590', '168230', 'N'

[2022-01-07 13:35] vijayank88 commented on #852
environment survey must and re-producible tar file must to debug the issue

[2022-01-07 13:38] vijayank88 commented on #852
@microSharjeel  are you trying built-in example or your own design?
If its your own design mean need re-producible tar file needed with environment survey

[2022-01-07 14:18] microSharjeel commented on #852
Thanks for reply
I am attaching the tar of the design since the design is my own.  I am just trying to place macros of an SRAM in my design the .gds and .lef files are there in the Macros
regard
[iob_sp_ram_be.zip](https://github.com/The-OpenROAD-Project/OpenLane/files/7829292/iob_sp_ram_be.zip)
s

[2022-01-07 16:27] microSharjeel commented on #852
Are you able to reproduce the error
best regards

[2022-01-07 16:44] vijayank88 commented on #852
@microSharjeel
Refer built-in example manual_macro_placement design from openlane, it will work.
From your config.tcl dont use both DIE_AREA and FP_CORE_UTIL...
Next src/*.v add (*blackbox*) before module definition. Format available in built-in example

[2022-01-08 00:40] maliberty commented on #852
Test cases should be packaged with https://github.com/The-OpenROAD-Project/OpenLane/blob/master/docs/source/using_or_issue.md

[2022-01-08 19:40] #852 closed

[2022-01-08 19:40] microSharjeel commented on #852
This issue is resolved by following the built in example of OpenLane

[2022-01-08 23:16] dralabeing commented on #850
@donn Does OpenLane use a logger like spdlog (like OpenROAD- https://openroad.readthedocs.io/en/latest/contrib/Logger.html?highlight=logger)

[2022-01-09 09:10] quantrpeter opened #853 "relationship between openroad and openlane"
Hi All
    Am I correct? openroad provide all components to convert Verilog into GDS, but it doesn't have an automated tool, and openlane is script to automate the whole process, right?
thanks

[2022-01-09 13:24] maliberty commented on #853
rtl to gds requires yosys + openroad + klayout (or magic).  So an set of wrapper scripts are needed.  OpenLane is one such and https://github.com/The-OpenROAD-Project-private/OpenROAD-flow-scripts is another.  The former is from efabless and is required for the google mpw program.  The later is developed by the openroad team.  There is a long term direction towards unifying on openlane but it is p

[2022-01-09 16:07] quantrpeter commented on #853
thanks you

[2022-01-09 16:07] #853 closed

[2022-01-09 19:29] donn commented on #850
We do not, no.

[2022-01-10 03:11] #849 closed

[2022-01-10 08:38] 0616ygh opened #857 "[ERROR MPL-0004] No macros found."
When I run Openlane for my RTL design, the tool generated an error log:
[ERROR MPL-0004] No macros found.
Error: basic_mp.tcl, 28 MPL-0004
and I found the "basic_mp.tcl",line 28 is:macro_placement -channel {0 0} -halo {0 0}
I don't know why this bug occurs....

[2022-01-10 09:35] vijayank88 commented on #857
@0616ygh
Refer built-in example manual_macro_placement design from openlane, it will work.
If still error repeats, provide test cases should be packaged with https://github.com/The-OpenROAD-Project/OpenLane/blob/master/docs/source/using_or_issue.md

[2022-01-10 09:38] 0616ygh commented on #857
Thank you a lot ! I will try your method and debug for it. Thank you a lot

[2022-01-10 09:38] #857 closed

[2022-01-10 09:44] ufukyill opened #858 "[ERROR GRT-0229] Vertical edge usage exceeds the maximum allowed. Error: groute.tcl, 71 GRT-0229"
### Description
I was running my rtl code interactively  through openlane which is about 1.5k row . run_synthesis,run_floorplan,run_placement and run_cts was successfull. While run_routing i faced with this error. Btw i have updated openlane just before the run.

### Environment
[code]

### Reproduction Material
* Upload a tarball containing the relevant design.
 https://github.com/ufukyill/Issue-

[2022-01-10 11:49] vijayank88 commented on #858
@ufukyill
update your config.tcl following variables and run the flow, working fine at my end
[code]

[2022-01-10 12:15] donn commented on #858
I'll be honest, this issue's been affecting us and the OpenLane CI as well. I'm not sure when it showed up, but I don't like it.

[2022-01-10 12:22] ufukyill commented on #858
i updated config and reprep -design then run_rouing however still giving same error.

[2022-01-10 12:37] vijayank88 commented on #858
@ufukyill just run your test case alone with above update. See my tail of logs
[code]

[2022-01-10 12:42] ufukyill commented on #858
@vijayank88 what do you mean by saying "just run test case alone" ? what should i do differently from i  said here?

[2022-01-10 12:57] vijayank88 commented on #858
From OpenLane docker you can launch openroad. goto your openroad-reproducible folder and run
openroad>source run.tcl

[2022-01-10 13:16] 0616ygh commented on #852
hello If possible, I would like to know how you finally solved this problem? I encountered the same error as you, also using openRAM using sky water130. Thanks a million!!

[2022-01-10 13:27] 0616ygh commented on #857
Thx you very much. But I find I don't have macro_placement.cfg and base.sdc I don't understand how these parameters are set
![1641821211551](https://user-images.githubusercontent.com/97427070/148773636-f73cedbf-d111-49d3-ae25-6c924f7fd32b.jpg)

[2022-01-10 13:51] microSharjeel commented on #852
@0616ygh  can we connect on google hangout etc I hope it will be mutually beneficial

[2022-01-10 14:21] 0616ygh commented on #852
@microSharjeel I'm sorry but I don't have a google hangout...I'm a student from China mainland, we don't have hangout QAQ
My question is that after I read Openlane->design->manual_macro_placement_test, I find I don't have :

set ::env(MACRO_PLACEMENT_CFG) $::env(DESIGN_DIR)/macro_placement.cfg
set ::env(BASE_SDC_FILE) $::env(DESIGN_DIR)/base.sdc

these 2 files can't be found in OpenRAM package...

[2022-01-10 14:21] 0616ygh commented on #852
@microSharjeel Thx for your reply~

[2022-01-10 15:08] ufukyill commented on #858
I have created a new run afted updating config. now its still running. How can i use the next command ?
(`write_powered_verilog` followed by `set_netlist $::env(routing_logs)/$::env(DESIGN_NAME).powered.v` )

[2022-01-10 15:30] maliberty commented on #857
Just because you can work around the issue with manual macro placement doesn't mean there isn't a problem with automatic macro placement.  If you want that looked at your should provide a test case.  If you need further info you should reopen the issue.

[2022-01-10 17:35] maliberty commented on #858
I ran your testcase with the original strategy without any error in the latest OR (ddbc2abd9cb7f29bc07fd9a2192ed5b2523075af).

[2022-01-11 05:50] ufukyill commented on #858
I encountered an error without any specific error code at the 1st optimization iteration. Here is end of the log :
[code]
Here is the tarball : https://github.com/ufukyill/Issue-submit/blob/main/1001_1_2nd_openroad_issue_reproducible.tar.xz
Due to ram is not enough i guess, isn't it?

[2022-01-11 06:10] vijayank88 commented on #858
@ufukyill
we both following this past two weeks. I mentioned clearly you need sufficient RAM to run this. 12GB RAM you mentioned it I think.
@donn is this enough to run this design in OpenLane?

[2022-01-11 06:13] ufukyill commented on #858
10.8 gb RAM sharing with virtual machine right now.

[2022-01-11 06:13] vijayank88 commented on #858
@ufukyill Last try increase your VM RAM to 14GB and try it.

[2022-01-11 06:21] ufukyill commented on #858
Then computer might not be able to run the virtualBox and system itself etc. (Total 16gb) Once i have increased about 13.5 gb however then computer did not respond me again.

[2022-01-11 06:26] vijayank88 commented on #858
@ufukyill  why can't use your local machine to utilize full RAM?

[2022-01-11 06:45] ufukyill commented on #858
I don't have enough time to build dual boot and openlane again i guess.

[2022-01-11 06:45] maliberty commented on #858
are you using virtual box or docker?

Btw, this issue has no connection to the original report and now the title is irrelevant.  It would have been better to close this and open a new one for the unrelated dr problem.

[2022-01-11 06:47] ufukyill commented on #858
Im using Oracle VM VirtualBox

[2022-01-11 14:32] ufukyill opened #859 "Illegal Overlaps in the Design"
### Description

When running a flow interactively on the OpenLane, at the run_magic_spice_export stage, I have faced an error like;
[ERROR]: There are illegal overlaps (e.g., routes over obstructions) in your design.

### Environment
[code]

### Reproduction Material

* List the commands used to run the design.
...
run_routing
write_powered_verilog
set_netlist $::env(routing_logs)/$::env(DESIGN_N

[2022-01-11 15:28] donn opened #860 "Disabling hold timing violations fixing for inputs and outputs"
Reported by @shalan

### Prompt
The ECO flow currently attempts to fix hold timing violations on inputs and outputs, which won't really work if there are timing constraints.

### Proposal
Show how to use the ECO flow to disable hold timing violation fixing for IOs. If the feature doesn't exist, it should be surfaced.

[2022-01-11 15:42] msaligane commented on #860
Yes, we identified that. we will add an option to skip pin-to-reg fixes.

[2022-01-11 16:34] maliberty commented on #858
I see the virtual size hitting 13.4 in my run

[2022-01-11 16:45] maliberty commented on #858
Docker tends to be lighter weight fwiw.  Your design is quite dense and I ran it overnight and it is still going.   Did you increase the placement density?

[2022-01-11 16:53] maliberty commented on #859
You'll need to package the routing step with https://github.com/The-OpenROAD-Project/OpenLane/blob/master/docs/source/using_or_issue.md.

It would also be helpful to have a screenshot of the design open in the GUI to see what these routes look like.

[2022-01-12 00:03] #850 closed

[2022-01-12 17:43] donn commented on #848
Routing adjustments added to #856, cell pad thing I think needs a dedicated PR

[2022-01-12 17:50] #824 closed

[2022-01-12 20:00] tspyrou commented on #784
@msaligane if the set of meetings convinces you that there is no problem, please close this. If not, please make a testcase with a report_checks path that shows the problem and assign it to me.

[2022-01-12 20:43] msaligane commented on #784
I think I know what is happening - most of the paths that are failing hold are pin-to-reg and give different results across corners because the sdc (input_delay) isn't updated to slower/faster corner. When I filter down all the reports generated by openlane (group_path: `async_default`). We see that the failing paths are in ff as expected.

So I will close this.

[2022-01-12 20:43] #784 closed

[2022-01-13 04:29] msaligane commented on #860
#863 should fix this.

[2022-01-13 23:17] maliberty opened #865 "upgrade track.info to new format"
### Prompt
The current OL uses new_tracks.py to convert tracks.info to the new style.  The tracks.info format is insufficient for asap7 as the x_offset != y_offset and it only has a single offset.

### Proposal
Remove new_tracks.py and tracks.info and replace it with a tracks.tcl.  This should be a one time conversion cost.

[2022-01-13 23:25] maliberty commented on #865
I see I misunderstood the format as it is possible to have X & Y separately specified.   However it would still be good to convert to allow tcl expressions when needed (eg 1X vs 4X in asap7).  Its not a blocker.

[2022-01-14 02:14] donghl17 opened #866 "Detailed placement fails when inserting buffers"
### Description
I was trying to insert buffers into the design, but it dies within `detailed_placement` command.
After the routing step, I placed several buffers into the APU using opendb commands. Then I ran the detailed placement, but it reported an error.
Is there an environment variable that can avoid this error?

### Environment
[code]

### Logs
[code]

[2022-01-14 04:20] maliberty commented on #866
No there is no variable; you need to provide a test case.  Its certainly possible you placed too many instances in an area without enough room to legalize them.

[2022-01-14 15:48] donghl17 commented on #866
I tested it on APU, and I am even not able to insert just one buffer.  Is there a way to make the original placement sparser?

[2022-01-14 18:03] maliberty commented on #866
PL_TARGET_DENSITY
see https://github.com/The-OpenROAD-Project/OpenLane/blob/master/configuration/README.md

[2022-01-15 03:19] msaligane commented on #866
@donghl17 why is there no testcase attached...

[2022-01-15 03:45] msaligane commented on #866
@maliberty I am suspecting that as well. But I think there is now a new timing optimization step in detail route which might be also contributing to this.

[2022-01-15 04:47] maliberty commented on #866
@msaligane I don't know what "new timing optimization step in detail route" is.  Would you expand or provide a pointer?

[2022-01-15 09:06] donn commented on #865
The format is in open_pdks. https://github.com/RTimothyEdwards/open_pdks/blob/master/sky130/openlane/sky130_fd_sc_hd/tracks.info

[2022-01-15 13:08] 28aashish commented on #852
@microSharjeel,
 I am getting errors after Resizer Timing Optimizations

"[ERROR GRT-0029] Pin ctrlStorage/dout0[0] does not have geometries below the max routing layer (met5).
"
 Description of my design:-
"Designing a controller with custom size memory.SRAM Memory was created with the help of OpenRAM "

[2022-01-16 00:31] donghl17 commented on #866
@maliberty We first thought the optimization step inside `resizer_timing` made the detailed placement fail. But it was actually the `ins_fill_cells` step inside routing that would fill all the free space with filler cells. https://github.com/The-OpenROAD-Project/OpenLane/blob/c01e53ac54644f2551740e28529aedd23dc12114/scripts/tcl_commands/routing.tcl#L426
That's why we were not able to insert buffer

[2022-01-16 03:05] donghl17 commented on #866
We just pushed a new PR #868 where we fix the problem:
- change the execution order of ECO and Ins_fill_cells to avoid detailed placement errors
- maintain how the openlane flow is constructed, so ECO is transparent to openlane

This issue can be closed now.

[2022-01-16 03:08] msaligane commented on #866
Great! thanks @donghl17

[2022-01-16 03:08] #866 closed

[2022-01-17 10:19] armleo opened #869 "Specifying FP_DEF_TEMPLATE crashes the flow."
### Description
Specifying FP_DEF_TEMPLATE crashes the flow. Issue traced to: `apply_def_template.py`. The bug is that click converts arguments cases to lowercase, but the CLI def expects templateDEF and userDEF. Tried manually fixing this. But instead got another bug of the same nature in defutils. Didnt debug further, decided to report.

You might be interested, in this too. If I fix this bug an

[2022-01-18 04:26] antonblanchard opened #870 "Fan out issues with muxes uncovers various bugs"
This all began when I started to wonder why I had large fan outs on a simple register file:

[code]

[code]

The potential amount of fan out is enormous (1x10^17?). We should have been able to handle this with a few stages of fan out, not 11.

The first thing I noticed is that yosys buffering doesn't work with manually tech mapped instances (eg our muxes in Openlane). We ask yosys for a max fanout

[2022-01-18 05:01] armleo commented on #869
UPD: Last issue was caused by out of memory. So only two above mentioned bugs exist right now. Hopefully will make a .def based design that can be added to list of designs to properly test this kind of bugs.

[2022-01-18 07:45] antonblanchard commented on #870
Another thought - my timing constraints might need to be tightened to force the resizer to work harder.

[2022-01-18 23:20] maliberty commented on #870
The rsz will buffer large nets but not necessarily optimally.  It doesn't insert buffer trees but just tries to fix violations which will result in a bunch of buffering.

[2022-01-19 16:16] #858 closed

[2022-01-20 18:41] marwaneltoukhy opened #875 "Timing report enhancement"
Some of the timing reports either don't make sense or needs to include more information; in `reports/routing` there's are two report `parasitics_sta.wns.rpt` and `parasitics_sta.worst_slack.rpt` that basically report the same thing, but the worst_slack report has more details on setup and hold slacks.

`parasitics_multi_corner_sta.worst_slack.rpt` should report the corner

`parasitics_sta.tns.rpt`

[2022-01-21 12:23] vijayank88 opened #877 "Yosys throws syntax error for "return result;" while reading package file"
### Description
In OpenLane while reading pkg file, yosys throws
[code]
### Environment
[code]

### Reproduction Material
prim_util_pkg.sv
[code]

### Expected behavior
Yosys should pass this pkg file read

### Logs
[code]

[2022-01-22 08:20] donn commented on #877
Relevant code is SystemVerilog: See #492.

[2022-01-22 08:20] #877 closed

[2022-01-22 15:56] armleo commented on #869
Looks like #864 by @donn fixes this issue, can the pull request be merged?

[2022-01-22 16:01] armleo opened #878 "Hi-Z outputs are connected to ground."
### Description
Imagine we have a macro1, which has inout and it connects it's output to one. Then there is macro2 which is made using OpenLane which has inout and there is macro3 which tries to read the inout wire's value but gets X.

After debugging it seems, that macro2, which has been made using OpenLane connects the inout pin to CONB's LO pin which is tie-hi/low cell and the LO is tie-low pin

[2022-01-22 16:03] armleo commented on #878
Hmm... Wait wrong file attached, one moment will reupload

[2022-01-22 16:08] armleo commented on #878
[hiz_bugreport.zip](https://github.com/The-OpenROAD-Project/OpenLane/files/7918704/hiz_bugreport.zip)

[2022-01-22 17:03] donn commented on #869
Not yet, no. It's not ready. I'll push a more granular fix for this on Monday.

[2022-01-22 17:11] armleo commented on #869
New update: Looks like the first issue, with userDEF and templateDEF is not fixed by the pull request. IDK why it's not reprudicble in the CI, I assume, because of Click version mismatch?

[2022-01-22 18:09] armleo opened #879 "Small die areas crashes the flow"
### Description
Setting a small die area crashes the flow, as the minimized PDN has pitch smaller than 2 x (width + spacing). Maybe a relevant warning can be added? An error when the run is just starting stating that the die area too small, should do fine. Perfectly a fix of this.

### Environment
[code]

### Reproduction Material
[small_die_test.zip](https://github.com/The-OpenROAD-Project/OpenLa

[2022-01-22 19:41] armleo opened #881 "[Idea, Q&A] Add issue regression tests"
### Prompt
Currently only perfomance benchmarks are done and no compatability/feature tests are done.

For example

1. if you try to run a design wtih FP_DEF_TEMPLATE specified, it crashes, see: https://github.com/The-OpenROAD-Project/OpenLane/issues/869.

2. There is also other issues caused by a lot of reworks in the python scripts like defutil.py.

3. There is cases where small die areas crash

[2022-01-22 19:50] armleo commented on #881
For example: Specifying the def currently causes the flow to not crash (with applied relevant fixes to above mentioned issues), however the floorplan's pin and macro locations dont match the specified def. This was not the case with v0.23.

If I added my def_test as a part of bug regression testing, this would allow me to create a test script which compares the flows reports and defs/gds to what s

[2022-01-23 05:14] donn commented on #870
I'm... not really sure what's actionable here

[2022-01-23 05:17] donn commented on #879
We'll see. Convenience issues are not really high priority given that there's one of me.

[2022-01-23 05:19] donn commented on #881
100% agreed. If you can get something implemented, please, by all means.

[2022-01-23 05:19] #851 closed

[2022-01-23 10:13] armleo commented on #881
Let me know what you think about my idea of implementing this.

Modify flow.tcl to source checks/post_run_hooks.tcl which will do the checking. This will allow to add a just any forms of checks in the flow, without introducing too much new code.

Then for issues, we will have minimal designs which reproduce this issues and checks can be added to checks/post_run_hooks.tcl that make sure that issue

[2022-01-23 13:54] donn commented on #881
Sober, but perhaps hide this feature behind a flag. For security purposes. The `config.tcl` is already enough a security headache as is.

[2022-01-23 15:45] armleo commented on #881
Following does not generate an stdout, coudl you help me debug it?

exec $::env(OPENROAD_BIN) -python $::env(DESIGN_DIR)/hooks/post_run.py

[2022-01-24 05:38] antonblanchard commented on #870
I opened https://github.com/The-OpenROAD-Project/OpenROAD-flow-scripts/issues/323 to track the ORFS suggestion.

[2022-01-24 05:40] antonblanchard commented on #870
@donn I've now opened bugs against both yosys and ORFS, and we've fixed the mux tech map issue, so I think we can close this.

[2022-01-24 05:40] #870 closed

[2022-01-24 05:43] antonblanchard commented on #859
Not sure if it is related, but we are chasing a similar error at https://github.com/RTimothyEdwards/open_pdks/issues/209

[2022-01-24 12:22] #775 closed

[2022-01-24 14:25] armleo commented on #881
Currently I don't know how to fill the regression_tests csvs, so my def_test design will be there and will not crash the flow.

[2022-01-24 22:34] RTimothyEdwards commented on #859
As mentioned in the open_pdks issue cited above by @antonblanchard , I discovered that seven of the cells in the HD library have labeling of power and ground done slightly differently than all the others;  this difference, along with an error in magic when handling labels when analyzing the layout for LEF output, is causing a difference in the makeup of the VPWR and VGND pins in the LEF view of th

[2022-01-25 10:58] olofk commented on #652
@mithro Is it possible to access the build results as tarballs instead of a git repo to save a bit of bandwidth?

Looking at https://github.com/RTimothyEdwards/open_pdks/actions/runs/1744248303 I see @rtimothyedwards produces an archive for each library which is exactly what I'm looking for but hoping to find a way to get it without needing to go through the github api

[2022-01-25 11:08] olofk commented on #652
Relatedly, why does the directory structure at https://foss-eda-tools.googlesource.com/skywater-pdk/output/ look so different from when building open_pdks the normal way?

[2022-01-25 15:04] #729 closed

[2022-01-25 17:36] mithro commented on #652
The build artifacts are uploaded to Google Cloud (as specified in the commit message) -> https://console.cloud.google.com/storage/browser/open_pdks/skywater-pdk/artifacts/prod/foss-fpga-tools/skywater-pdk/open_pdks/continuous

See https://console.cloud.google.com/storage/browser/open_pdks/skywater-pdk/artifacts/prod/foss-fpga-tools/skywater-pdk/open_pdks/continuous/1640/20220125-082715 for example

[2022-01-25 17:40] mithro commented on #652
I'm not sure what you mean? You can find how the output here is built at https://foss-eda-tools.googlesource.com/skywater-pdk/builder/+/refs/heads/main/open_pdks/build-open_pdks.sh

The output is post processed with https://foss-eda-tools.googlesource.com/skywater-pdk/builder/+/refs/heads/main/open_pdks/post-open_pdks.sh and packaged up with the commands at https://foss-eda-tools.googlesource.com/

[2022-01-25 21:26] olofk commented on #652
I see. I missed the xz archives at GCP before. That answers my first question.

Regarding the different structure, the builds done by (I think)  @rtimothyedwards with the GitGub CI action produces six different tar balls (sky130_fd_sc_hd, sky130_fd_sc_hdll, sky130_fd_sc_hs, sky130_fd_sc_hvl, sky130_fd_sc_ls, sky130_fd_sc_ms) with `libs.ref` and `libs.tech` in the root directory.

The builds at GCP

[2022-01-25 22:13] mithro commented on #652
The GitHub Actions CI at https://github.com/RTimothyEdwards/open_pdks is support to test that `open_pdks` is working correctly. GitHub Actions CI has generous but limited resources which means trying to do all the libraries at the same time means runs it out of disk space.

The continuous builder at https://foss-eda-tools.googlesource.com/skywater-pdk/builder was designed to test the current combi

[2022-01-25 22:16] mithro commented on #652
I was initially hoping with the big builder to generate a build asset for each supported tool (see the loop at https://foss-eda-tools.googlesource.com/skywater-pdk/builder/+/refs/heads/main/open_pdks/build-open_pdks.sh#26). However, I discovered that the `--enable-XXXX` and other flags don't seem to do anything and then we also discovered the non-determinism.

[2022-01-25 22:21] mithro commented on #652
We can also make the builder run all the libraries - currently it just does https://foss-eda-tools.googlesource.com/skywater-pdk/builder/+/refs/heads/main/open_pdks/build-skywater-pdk.sh

[2022-01-25 22:44] olofk commented on #652
@mithro Having the GCP builder machines doing this makes sense if they are beefier and we can also store the artifacts with a public URL. My preference would be then to change that `build-skywater-pdk.sh`script to create individual tar balls like the github CI action does. But maybe just start with adding the missing libraries to the script and do a single tar ball if that isn't too large. Once we

[2022-01-26 01:10] mithro commented on #652
We can build each separately and build a single tarball too.

[2022-01-26 08:17] olofk commented on #652
Even better. Can I send patches somewhere or should someone on your side modify this?

[2022-01-26 10:13] microSharjeel opened #884 "Manual macro placement for a module other than top level"
### Prompt
Manual macro placement only works when the module that is black box is in the top level of the rtl design. I have design in which I am supposed to place macro for SRAM and that SRAM is deep in the design and not in the top level. OpenLane gives an error (Macro not found when the black box to be place is not in the top level). Is there any solution for this or if this can be enhanced in

[2022-01-26 10:48] vijayank88 commented on #884
@microSharjeel
Please provide issue_survey and reproducible tar file

[2022-01-26 13:28] vijayank88 opened #885 "Unable to resume my run where I stopped with OpenLane flow"
### Description
I have killed my flow during routing. Later I want to resume my run from routing again. Used
[code]
But OpenLane flow unable to run the flow. Failed to start routing stage.

### Environment
[code]

### Reproduction Material
* Upload a tarball containing the relevant design:  openroad_reproducible.zip attached [openroad_issue_reproducible.zip](https://github.com/The-OpenROAD-Project

[2022-01-26 14:04] armleo commented on #885
Can confirm. Issue reproducible on my side

[2022-01-26 14:05] armleo commented on #884
Had the same issue. Was caused by misconfiguration and Verilog RTL issue.

[2022-01-26 15:44] microSharjeel commented on #884
@armleo  if you solved it ? if so then can you help ?

[2022-01-26 15:48] armleo commented on #884
My issue was that the sram was not recognized as blackbox. Check synthesis verilog, it should have the balckbox cell.

Check the name too. I made an mistake where the name was incorrect. Check the floorplan def + synthesis netlist for that one.

[2022-01-26 15:56] microSharjeel commented on #884
@armleo  Also idk, how to properly escape the name. This might be most likely cause.> ? can not understand
I want to place Macro from openRAM. I am using the .lef and .gds files from OpenRAM and the name that I use for blackbox is the same name that is there in the .LEF file

[2022-01-26 15:58] microSharjeel commented on #884
@armleo  Have  you placed macro in your design at a level other than top level ? If this is the exact scenario then I would like to know about your config.tcl file if you can share that

[2022-01-26 16:07] armleo commented on #884
Unfortunately I cant share it.

The most likely cause is that the name of macro does not exactly match the name in sybthesised netlist. If the synthesis netlist has hierarchy, then the name of the cell has to be escaped according to hierarchy.

[2022-01-26 16:34] microSharjeel commented on #884
![Screenshot from 2022-01-26 21-33-18](https://user-images.githubusercontent.com/52481908/151205432-00657ea6-ac32-43ac-ab3c-02d296a47bc4.png)

[2022-01-26 16:35] microSharjeel commented on #884
The name of the macro is in highlight
sram_32_128_sky130A

[2022-01-26 16:49] mithro commented on #652
At the moment there is no easy way to send a pull request to the builder repo. Can you push a copy of the git repository with the changes somewhere and tell me to pull the changes into the foss-eda-tools repository?

[2022-01-26 17:03] microSharjeel commented on #884
I have used the hierarchical name from the synthesized netlist. I want to write this for anyone who wants to place macro in RTL design at a level other than top level. In this case the hierarchical name of the macro should be used. This issue is now resolved and i will close it
@armleo  Thanks a lot for help

[2022-01-26 17:03] #884 closed

[2022-01-26 18:20] olofk commented on #652
I'll try to do that starting with an extended version of build-skywater-pdk.sh that builds all the libs

[2022-01-26 20:13] mithro commented on #652
SGTM - Thanks!

[2022-01-27 14:43] donn commented on #870
Hey anton, mind telling us where you got the commands from? We're curious.

[2022-01-27 16:06] donn commented on #768
Think you added a script for that already with the ECO flow.

[2022-01-27 16:06] #768 closed

[2022-01-27 16:53] dralabeing commented on #683
@vijayank88 Please test and respond

[2022-01-27 17:12] vijayank88 commented on #683
@donn  @dralabeing
Failed at synthesis ABC mapping itself.
[code]

[2022-01-27 17:18] donn commented on #683
That's it, I'm done. If anyone wants this fixed they can package an example for me to test.

[2022-01-27 17:18] #683 closed

[2022-01-27 17:41] vijayank88 commented on #683
@donn
Test spm built-in design: https://github.com/The-OpenROAD-Project/OpenLane/tree/master/designs/spm
Update config.tcl as follows and flow should complete successfully.
[code]

[2022-01-27 19:23] antonblanchard commented on #870
I pulled it out of ORFS:

https://github.com/The-OpenROAD-Project/OpenROAD-flow-scripts/blob/master/flow/scripts/abc_speed.script

We should probably talk to the abc maintainer. There's a boatload of different parameters in the Openroad abc script (I wonder where they came from), as well as the fan out issue with tech mapped things we uncovered recently.

[2022-01-27 20:20] donn commented on #683
Appears to be an isolated incident with the spm crashing abc- APU works fine.

[2022-01-27 21:09] armleo opened #892 "DEF pin locations are not applied properly"
### Description
DEF pins locations are not used FP_DEF_TEMPLATE. Also the location of the component is not used from DEF. This might cause confusion, as FP_DEF_TEMPLATE's names assume that components locations are also used, but there is no proper documentation regarding the priority over manual macro placement.

Keep in mind #891 DOES NOT fix this. It just resurfaces it. If you use my branch you

[2022-01-28 06:11] vijayank88 opened #893 "spm design fails during Synthesis ABC mapping with set ::env(STD_CELL_LIBRARY) "sky130_fd_sc_hvl""
### Description
spm design fails if I use `set ::env(STD_CELL_LIBRARY) "sky130_fd_sc_hvl"` in config.tcl

### Environment
[code]

### Reproduction Material
* spm built-in design: https://github.com/The-OpenROAD-Project/OpenLane/tree/master/designs/spm
Update config.tcl as follows
[code]
Inside OpenLane Directory:
$make mount
$./flow.tcl -design spm -tag hvlTest

### Expected behavior
Successful fl

[2022-01-28 06:19] vijayank88 commented on #683
@donn  please refer #893 for spm fails with hvl library.

[2022-01-28 09:12] armleo commented on #892
I am trying to fix defutil.py

Does anybody know how to define new Pins using opendb? Or maybe any documentation regarding the python API of OpenDB?

[2022-01-28 12:01] #690 closed

[2022-02-01 12:57] #869 closed

[2022-02-01 12:59] armleo commented on #892
Figured out, the integration tests show how its done, and the API is the same in python.

Currently trying to copy all the pins from one def to another, while filtering the ones that are in the first def.

[2022-02-02 12:28] maliberty commented on #878
Same as https://github.com/YosysHQ/yosys/issues/511 which is open since 2018

[2022-02-02 12:33] armleo commented on #878
Workaround idea: Add a cell which has dummy pin, unconnected to anything and force yosys to connect unconnected pins to this instance using the command mentioned in yosys issue.

In further stages we may just remove the unstance and all it's nets. Should pass lvs because no transistors are inside the cell in question.

Didnt investigate further. If somebody knows how to do this, it would be great

[2022-02-02 12:46] maliberty commented on #878
Another idea is to manually instantiate a tristate driver and tie its enable to the off state.  It would waste a bit of area/power but at least it would be correct.

[2022-02-02 12:48] armleo commented on #878
That does not solve the problem with io_analog and gpio_noesd signals, as this inouts cant be connected to any gates.

This is why I am proposing adding a special cell, which us removed before placement, so not a single wire will go into chip area.

[2022-02-02 13:33] maliberty commented on #878
Your idea wouldn't be hard to implement.   You could manually tie it off with a sky130_fd_sc_hd__conb of a known name in the verilog.  Later you can just script an opendb step to delete the instance.

Alternatively you could leave the verilog alone and have a step to delete any instance attached to a port of a known name using opendb.

[2022-02-02 13:36] armleo commented on #878
Only issue: It wont pass lvs.

[2022-02-02 13:54] maliberty commented on #878
What about a cell type that lvs usually ignores like decap?  I'm not enough of an LVS expert to know how to work around that.

[2022-02-03 00:11] maliberty commented on #878
@rtimothyedwards any thoughts on an LVS workaround?

[2022-02-03 00:59] RTimothyEdwards commented on #878
@maliberty :  That's a case similar to doing a metal mask fix.  My usual approach is to hand-edit (or script-edit) both the netlist and the layout.  This adds a certain amount of risk, but as long as you carefully check both netlists before you run LVS, you should be able to confirm that the substitution was made correctly and so the LVS result can be trusted.

[2022-02-03 05:26] armleo commented on #878
I will work on this later, but currently I am thinking about follower ng:

1. iopadmap yosys to tristate buffer with enable tied to zero. (should be easy), and can be used to implement tristate in/outs from top level.
2. Find from netlist buffers connected to io that have enables tied to zero and remove them (Some python and opendb magic ✨)
3. maybe have a list of block terminals (ports) that has

[2022-02-03 18:49] antonblanchard opened #898 "Update netgen and magic"
There have been some big improvements to netgen performance over the last month, and it would be good to get them into openlane. Magic has had a number of fixes too, including for an LVS issue I'm hitting quite a lot on openlane.